@import './base';

.container-feature {
  h2 {
    margin-top: 0;
  }
}

.small-fdroid img {
  height: 80px;
}

.industrie {
  img {
    height: 80px;
    margin-top: 2rem;
  }
}

#main {
  .arianna, .kgeotag {
    color: black;
    background-color: #f4f8ea;
    h2, h3 {
      color: #46417a !important;
    }
    a {
      color: #024673 !important;
    }
  }
}

#features-hero {
  background: url('/for/embedded/background.jpg');
  background-size: cover;
  background-position: bottom;
}
