
<div id="bar">
    <table class="bar-top" width="100%">
        <tr>
            <td class="pe-1" id="bar_goal1">{{ i18n "plasma6member-goal1" }}</td>
            <td class="pe-1" id="bar_goal2">{{ i18n "plasma6member-goal2" }}</td>
            <td class="pe-1" id="bar_goal3">{{ i18n "plasma6member-goal3" }}</td>
            <td id="bar_rest"></td>
        </tr>
    </table>

    <div id="bar_outline">
        <div id="bar_inline">
            <div id="bar_fill">
                <div id="bar_text"></div>
            </div>
        </div>
    </div>
    <div class="pe-1" id="bar_amount" data-progress="{{ i18n "plasma6member-progress" }}"></div>
</div>
<div class="pb-5" style="font-size: 10px;">
    {{ i18n "plasma6member-updated" | safeHTML }}
</div>
