<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/akonadi-23.08.2.tar.xz">akonadi-23.08.2</a></td>
   <td align="right">1623kB</td>
   <td><tt>5f665bad3fb418d572ca491188ca1d994c72e848162521a78e46616fe797cea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/akonadi-calendar-23.08.2.tar.xz">akonadi-calendar-23.08.2</a></td>
   <td align="right">462kB</td>
   <td><tt>ee8eda2de6b5fe27a82f9d2965ec784295dcd9269df8d7fde3e77b1a2deef2d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/akonadi-calendar-tools-23.08.2.tar.xz">akonadi-calendar-tools-23.08.2</a></td>
   <td align="right">248kB</td>
   <td><tt>8ad52efd87566de6914af9e0113df7b8fb71a12530f562e587682e773e348507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/akonadiconsole-23.08.2.tar.xz">akonadiconsole-23.08.2</a></td>
   <td align="right">275kB</td>
   <td><tt>d7ca8debe5cc317d0b83e58d775867e931a51fb2530d9f78942ae248d6456c4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/akonadi-contacts-23.08.2.tar.xz">akonadi-contacts-23.08.2</a></td>
   <td align="right">411kB</td>
   <td><tt>729f2523e9223dd4b34c9bd87f3ebf11f1404be12c733b1b04765a7eaa46aaff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/akonadi-import-wizard-23.08.2.tar.xz">akonadi-import-wizard-23.08.2</a></td>
   <td align="right">503kB</td>
   <td><tt>7ed628a0639f16900a136511928aebe1327b50880a7c0e4654584153647dae8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/akonadi-mime-23.08.2.tar.xz">akonadi-mime-23.08.2</a></td>
   <td align="right">162kB</td>
   <td><tt>d1ebf37ebcb3cbedb8e400f80d8c3af7772df28a4f348a7877f9016f01ac1728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/akonadi-notes-23.08.2.tar.xz">akonadi-notes-23.08.2</a></td>
   <td align="right">27kB</td>
   <td><tt>0788386935013743e52413debc4d6005972da9c86539e376895bfefcc5c77df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/akonadi-search-23.08.2.tar.xz">akonadi-search-23.08.2</a></td>
   <td align="right">107kB</td>
   <td><tt>3a7fabea987cf4492b21546574c6c1771718e1da7dace682a168d848b12482fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/akregator-23.08.2.tar.xz">akregator-23.08.2</a></td>
   <td align="right">2266kB</td>
   <td><tt>38317d50350174fa172607d60d3eb1a40832be649ced085680b70c507f2f06ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/alligator-23.08.2.tar.xz">alligator-23.08.2</a></td>
   <td align="right">187kB</td>
   <td><tt>b7ad5dacf1085ff60feff8ce161c53acd43c7c0ade39ee30c32734109f5892d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/analitza-23.08.2.tar.xz">analitza-23.08.2</a></td>
   <td align="right">344kB</td>
   <td><tt>5266340e06d574487a284c0f873874b001c1841245ac7efe3b9f02fde230874d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/angelfish-23.08.2.tar.xz">angelfish-23.08.2</a></td>
   <td align="right">241kB</td>
   <td><tt>a7f68e425d8b392762b228314eb6aa63a57a0742fb1c15c2f38538820faf5d19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/arianna-23.08.2.tar.xz">arianna-23.08.2</a></td>
   <td align="right">793kB</td>
   <td><tt>84abd45e04194e5e3d9ddb102a7ab7c81e0d273fa9d38ba2ee256cf40c6e5fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ark-23.08.2.tar.xz">ark-23.08.2</a></td>
   <td align="right">2946kB</td>
   <td><tt>3112e6be5eae476c851ece194b2b68888d29b167b7ec1b3a8754a8838ee72b6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/artikulate-23.08.2.tar.xz">artikulate-23.08.2</a></td>
   <td align="right">1069kB</td>
   <td><tt>3a86fbdbaab8c663704a05931f16c3901c78cec31a031643be9ca2639348e2d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/audiocd-kio-23.08.2.tar.xz">audiocd-kio-23.08.2</a></td>
   <td align="right">550kB</td>
   <td><tt>4ea38c1c80222e9cbd8f715a0fa0f2595b45e1330e86ffc2c481615fbc9cc056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/audiotube-23.08.2.tar.xz">audiotube-23.08.2</a></td>
   <td align="right">143kB</td>
   <td><tt>a91dfb18f11414f79cad9c5d5966a995d52ec9b864fabc352dc01b2c1fe98147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/baloo-widgets-23.08.2.tar.xz">baloo-widgets-23.08.2</a></td>
   <td align="right">270kB</td>
   <td><tt>68750f8132e9c46bdce66ee9e22c493ece650b387740c47ade4201615f1aa6b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/blinken-23.08.2.tar.xz">blinken-23.08.2</a></td>
   <td align="right">2661kB</td>
   <td><tt>45319b702ad46631aacad5e5c88f964046e1e8892dff861991bbb368cb893a5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/bomber-23.08.2.tar.xz">bomber-23.08.2</a></td>
   <td align="right">820kB</td>
   <td><tt>891b745773b1cc813499168d42dc01282f8a0332ec23b970a43ac21212d355ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/bovo-23.08.2.tar.xz">bovo-23.08.2</a></td>
   <td align="right">211kB</td>
   <td><tt>bab0d819aba946dd64a670959b1efa5ec265d7afc183e8abcbc349320551e9ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/calendarsupport-23.08.2.tar.xz">calendarsupport-23.08.2</a></td>
   <td align="right">968kB</td>
   <td><tt>14222b9ddf30a17d1639e90d762c0783a6abcce408d16d1ac381f44bf05a8298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/calindori-23.08.2.tar.xz">calindori-23.08.2</a></td>
   <td align="right">374kB</td>
   <td><tt>89bc627efb9afd2a19eb8f2471f025e4bf842595f0b4715051a81a58afeb9fe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/cantor-23.08.2.tar.xz">cantor-23.08.2</a></td>
   <td align="right">9065kB</td>
   <td><tt>1cc1f68ad6277bbb22472bdf868966506a02098f0100ec1bfb0e0f88b31fb961</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/cervisia-23.08.2.tar.xz">cervisia-23.08.2</a></td>
   <td align="right">1900kB</td>
   <td><tt>a45699a7a72203b453a358e99f0b1d3861f8327aa8d41b78e4057fbce43cc712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/colord-kde-23.08.2.tar.xz">colord-kde-23.08.2</a></td>
   <td align="right">106kB</td>
   <td><tt>9da7f30013bb12aeb41cf0e49846933523872516124856b46a14206994dc252c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/dolphin-23.08.2.tar.xz">dolphin-23.08.2</a></td>
   <td align="right">5624kB</td>
   <td><tt>0bca082410c4a1ab0ac60f76b0fbefa31c749dabe8a57cb53a33806cf53f6b2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/dolphin-plugins-23.08.2.tar.xz">dolphin-plugins-23.08.2</a></td>
   <td align="right">266kB</td>
   <td><tt>10ed409555472af476474892a255bebfea34d3581baffd020e252c38c87cb08e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/dragon-23.08.2.tar.xz">dragon-23.08.2</a></td>
   <td align="right">1630kB</td>
   <td><tt>f8ca748ab8616d8dae2e5928d7387ff1b96083588480103389b6652dcd43b864</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/elisa-23.08.2.tar.xz">elisa-23.08.2</a></td>
   <td align="right">1770kB</td>
   <td><tt>06b576b6c339ce7fe298e5bdc53107c7f84f2d30faae7f43ede56d726d350be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/eventviews-23.08.2.tar.xz">eventviews-23.08.2</a></td>
   <td align="right">453kB</td>
   <td><tt>a2ec98ce3580685993c2ec109dd0a46d686e75c3434b5dfb386451a4ecac3dae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/falkon-23.08.2.tar.xz">falkon-23.08.2</a></td>
   <td align="right">2512kB</td>
   <td><tt>57975a9be20e5c19eb9a0cc41b7eec53652e60a89b9dbc32b4d9fc1bbf4c7f6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ffmpegthumbs-23.08.2.tar.xz">ffmpegthumbs-23.08.2</a></td>
   <td align="right">32kB</td>
   <td><tt>fec345266151ecd428d8001e9e6eb7ddf199c2da8448e5f0542bf59a6f307cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/filelight-23.08.2.tar.xz">filelight-23.08.2</a></td>
   <td align="right">682kB</td>
   <td><tt>1680907aead8d2ba367ae368c628ee664c007e7105ba664100c9e764145f5fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ghostwriter-23.08.2.tar.xz">ghostwriter-23.08.2</a></td>
   <td align="right">3539kB</td>
   <td><tt>31b0380c6e36776cfb73d17aae2d7d2105dc3b163516a9541dcef99a3051b001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/granatier-23.08.2.tar.xz">granatier-23.08.2</a></td>
   <td align="right">2063kB</td>
   <td><tt>0e5ec3900dbfac23985f4935f0dacad292353e41aed6247fea83b43e35cbe584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/grantlee-editor-23.08.2.tar.xz">grantlee-editor-23.08.2</a></td>
   <td align="right">114kB</td>
   <td><tt>d2647c5c2ef69b2814c5903a3029f86c8c2952ca07e85054ca734350a675025c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/grantleetheme-23.08.2.tar.xz">grantleetheme-23.08.2</a></td>
   <td align="right">61kB</td>
   <td><tt>e3462374798ba61df20fae915907fb196c1b906cdac1fce5ccd2f63f02f91c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/gwenview-23.08.2.tar.xz">gwenview-23.08.2</a></td>
   <td align="right">6740kB</td>
   <td><tt>b2cf1ff6f209e917330188db909cb5ba35812a23bff3830c6e66f1161a82cd08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/incidenceeditor-23.08.2.tar.xz">incidenceeditor-23.08.2</a></td>
   <td align="right">561kB</td>
   <td><tt>0136d9f977bc95ebdd42acc8ea9d2f4e3268be1db242a5006a2efaab188b0157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/itinerary-23.08.2.tar.xz">itinerary-23.08.2</a></td>
   <td align="right">622kB</td>
   <td><tt>4bb97da33884dbd3d4ad09dbbb6c19f2a07c568618f1393d26c9c8227b53bdef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/juk-23.08.2.tar.xz">juk-23.08.2</a></td>
   <td align="right">2031kB</td>
   <td><tt>99f53a3846adcd8216c2036af68c4c4d75b538a8a0031c1d5c8fc229f0f356c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/k3b-23.08.2.tar.xz">k3b-23.08.2</a></td>
   <td align="right">10709kB</td>
   <td><tt>daba1cdfb94e48e9c3176ff76ad652df7f350352ac9badca86e295c183ec3417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kaccounts-integration-23.08.2.tar.xz">kaccounts-integration-23.08.2</a></td>
   <td align="right">86kB</td>
   <td><tt>cc1e2642a25a5aab1ee861e1c3e11f21dcf59afb8f1a4f24193ec44522d7fd45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kaccounts-providers-23.08.2.tar.xz">kaccounts-providers-23.08.2</a></td>
   <td align="right">64kB</td>
   <td><tt>73afca8058be9d130d550d498d9610155191ecc674e144116c000bd224ff3f69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kaddressbook-23.08.2.tar.xz">kaddressbook-23.08.2</a></td>
   <td align="right">3375kB</td>
   <td><tt>6bc57c611139f9919db11ed174fc41ac13e8b2b477f65e68cf117480c6614c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kajongg-23.08.2.tar.xz">kajongg-23.08.2</a></td>
   <td align="right">4473kB</td>
   <td><tt>99a9d50bbc8122225570c4d9145ec24e9d71b6d7e54d6843223e158873c4e29f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kalarm-23.08.2.tar.xz">kalarm-23.08.2</a></td>
   <td align="right">2541kB</td>
   <td><tt>6f0807ef01690a3e3f9afe0b69a67ce8a4662b8fc7606b602dd4f0336cb9dbe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kalgebra-23.08.2.tar.xz">kalgebra-23.08.2</a></td>
   <td align="right">1013kB</td>
   <td><tt>352ef786e976dfb24d61c9cb2324dde45f8aed322e92ba7dc5fa9d3e87f5412f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kalk-23.08.2.tar.xz">kalk-23.08.2</a></td>
   <td align="right">82kB</td>
   <td><tt>1a5cfb3016d351d20ad80d9c2dbad8cdcb2b24f216e51cd95532c83873f578b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kalzium-23.08.2.tar.xz">kalzium-23.08.2</a></td>
   <td align="right">24064kB</td>
   <td><tt>9074ea7e74f0bd117565964c86de150b3b8fbf86fc0efb2cb44e63f5baa05f88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kamera-23.08.2.tar.xz">kamera-23.08.2</a></td>
   <td align="right">127kB</td>
   <td><tt>7e3cc27df04e039d69120d2805693e4e43db3dbcdcc4a4b85b2c3bfc72c71148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kamoso-23.08.2.tar.xz">kamoso-23.08.2</a></td>
   <td align="right">226kB</td>
   <td><tt>453bbf1590e526401dcd1dee2837d841042e4805fc9e81f60daaa403e6d84bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kanagram-23.08.2.tar.xz">kanagram-23.08.2</a></td>
   <td align="right">7877kB</td>
   <td><tt>8a495b22b90dfb7c2a8b92e8c5cf9a667ff31e93d5f17c3668cd013467673ba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kapman-23.08.2.tar.xz">kapman-23.08.2</a></td>
   <td align="right">2423kB</td>
   <td><tt>d6b4a28df43072636237e02cbfbfbe31dda6ae80764ac54a0c6a6bab8abfd60b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kapptemplate-23.08.2.tar.xz">kapptemplate-23.08.2</a></td>
   <td align="right">331kB</td>
   <td><tt>acd25602f20bf17dcf67c765d5f64c7ff552b17302028516a36383868bca56a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kasts-23.08.2.tar.xz">kasts-23.08.2</a></td>
   <td align="right">555kB</td>
   <td><tt>dd52cb8034b1478efbfb1040c600f9127991e4e3e6cddadd40a78ea41ba20fd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kate-23.08.2.tar.xz">kate-23.08.2</a></td>
   <td align="right">7849kB</td>
   <td><tt>974716631e6e94e8dfe5a4d58c5080524ce9291ab50d4ade231ebb5d5b341259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/katomic-23.08.2.tar.xz">katomic-23.08.2</a></td>
   <td align="right">1417kB</td>
   <td><tt>cd9642c8cca2be4df6f06972dd6ccb8688e6127b2558d182bb5bdc57e5d90646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kbackup-23.08.2.tar.xz">kbackup-23.08.2</a></td>
   <td align="right">389kB</td>
   <td><tt>5c607c4a6600cd7006c463fa70989aff7f31de011803efc3d97b8b07d871adfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kblackbox-23.08.2.tar.xz">kblackbox-23.08.2</a></td>
   <td align="right">541kB</td>
   <td><tt>225836298e9f7da3aa1a7869b58ae2f21e734ef416ebdd0a9ece1b1a0e45dc44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kblocks-23.08.2.tar.xz">kblocks-23.08.2</a></td>
   <td align="right">2058kB</td>
   <td><tt>c45c7fa6034a96f1a3698e90abf584cfc320948cccb1e52f3451669bbf7e8939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kbounce-23.08.2.tar.xz">kbounce-23.08.2</a></td>
   <td align="right">3461kB</td>
   <td><tt>1fd6eff9d78dafabe8d13f43436e7cee2ea0e71146e08df313067129a566ca70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kbreakout-23.08.2.tar.xz">kbreakout-23.08.2</a></td>
   <td align="right">2499kB</td>
   <td><tt>43b311faab50ec80bede505752f64988d03a463079061c724eaa17fad64a7cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kbruch-23.08.2.tar.xz">kbruch-23.08.2</a></td>
   <td align="right">5526kB</td>
   <td><tt>af499a20b3e36f8a11a5df8f8bff2f415d8cac956554fad533a04e8494655bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kcachegrind-23.08.2.tar.xz">kcachegrind-23.08.2</a></td>
   <td align="right">900kB</td>
   <td><tt>9a94125b7a2dcd11253c2361b19e04ec44008ad3e4be1982094849d411936d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kcalc-23.08.2.tar.xz">kcalc-23.08.2</a></td>
   <td align="right">428kB</td>
   <td><tt>e3ea2dd2c32788ae327ab2e354307aba3475640cf60cfbe5df137c659db01f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kcalutils-23.08.2.tar.xz">kcalutils-23.08.2</a></td>
   <td align="right">345kB</td>
   <td><tt>c7678b9f2cac356ee11153b53b692427cae97980ab927617498e159c36bf3fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kcharselect-23.08.2.tar.xz">kcharselect-23.08.2</a></td>
   <td align="right">374kB</td>
   <td><tt>56a65448f459dc475f68d25b2e3f10b5bd0e2fe251b05cce09014c56f3d6dad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kclock-23.08.2.tar.xz">kclock-23.08.2</a></td>
   <td align="right">624kB</td>
   <td><tt>aba4f4ee64285100594e8a12fe4dd23351873464f6927911657d26a6ae3bae41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kcolorchooser-23.08.2.tar.xz">kcolorchooser-23.08.2</a></td>
   <td align="right">32kB</td>
   <td><tt>b9f721660defc59b0894369e29f5a0e6fcdb438dc73e3742f65006b9e6fcb084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kcron-23.08.2.tar.xz">kcron-23.08.2</a></td>
   <td align="right">919kB</td>
   <td><tt>d410b61592f263b3cf42231735ef37fccb050f09637ab0fd0b5f54d526b05817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdebugsettings-23.08.2.tar.xz">kdebugsettings-23.08.2</a></td>
   <td align="right">104kB</td>
   <td><tt>c135c333fa73562a9b9ee271949c1d3dbe94640f61bcc9bee0e50f6711e096c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdeconnect-kde-23.08.2.tar.xz">kdeconnect-kde-23.08.2</a></td>
   <td align="right">638kB</td>
   <td><tt>36621b8aac77e36b2650c0daf8376004f889d924eadf457d5d02a4d7b0013bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kde-dev-scripts-23.08.2.tar.xz">kde-dev-scripts-23.08.2</a></td>
   <td align="right">365kB</td>
   <td><tt>45fbf1668c2825e7123a801ffdb4117cb93cdf5d87610b7800a9ff421466e758</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kde-dev-utils-23.08.2.tar.xz">kde-dev-utils-23.08.2</a></td>
   <td align="right">72kB</td>
   <td><tt>9856979e681b2ba328132c91300252ad09a0a42a5c960561a7e3ca806f0624a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdeedu-data-23.08.2.tar.xz">kdeedu-data-23.08.2</a></td>
   <td align="right">325kB</td>
   <td><tt>ae28139a13c33737ff5fae0ea68f9dc826a1d6ccd21729e9e32d6f36fb40bc99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdegraphics-mobipocket-23.08.2.tar.xz">kdegraphics-mobipocket-23.08.2</a></td>
   <td align="right">12kB</td>
   <td><tt>0af40344918b85519f9cae631b24015c2ef365c2f2ee6960827d819d267474b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdegraphics-thumbnailers-23.08.2.tar.xz">kdegraphics-thumbnailers-23.08.2</a></td>
   <td align="right">48kB</td>
   <td><tt>1fde8fb9f287de2e479fef94cc72dd679ac93eedcbbbe60c2d7e63e64d6efdc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kde-inotify-survey-23.08.2.tar.xz">kde-inotify-survey-23.08.2</a></td>
   <td align="right">224kB</td>
   <td><tt>7f2edba2225b015cd3cb8283b5038c970d1f2e513c131710fd5c2f1109233dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdenetwork-filesharing-23.08.2.tar.xz">kdenetwork-filesharing-23.08.2</a></td>
   <td align="right">469kB</td>
   <td><tt>00ced240fc79b5a925be108ab726dfe722765e7ea147c9983769c6b4badd4624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdenlive-23.08.2.tar.xz">kdenlive-23.08.2</a></td>
   <td align="right">12397kB</td>
   <td><tt>f64350cd6453b4f5a75014357532ec9c987247a0b2bda9595d1ca948c8149b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdepim-addons-23.08.2.tar.xz">kdepim-addons-23.08.2</a></td>
   <td align="right">2587kB</td>
   <td><tt>6da538cce64e7166376c9862016d02474ecdd0ce475e4c88199be32a5524e68b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdepim-runtime-23.08.2.tar.xz">kdepim-runtime-23.08.2</a></td>
   <td align="right">1824kB</td>
   <td><tt>5075af770f3d24a5c598e3b660645d42b8466b87859e7e8854d10afffcdead84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdesdk-kio-23.08.2.tar.xz">kdesdk-kio-23.08.2</a></td>
   <td align="right">39kB</td>
   <td><tt>aaa1099354eec3a6c389330c6a87ff660824b2fed250f29c85a4f42de2a50d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdesdk-thumbnailers-23.08.2.tar.xz">kdesdk-thumbnailers-23.08.2</a></td>
   <td align="right">26kB</td>
   <td><tt>7b152ca2d39363a5c1b7e4c502b69b9c0be0decec7726672c5f6eda06f9bfec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdevelop-23.08.2.tar.xz">kdevelop-23.08.2</a></td>
   <td align="right">8501kB</td>
   <td><tt>577715eeb0d6bce068987a7e66988616e9b483e8ad384901e90254fd209cc513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdev-php-23.08.2.tar.xz">kdev-php-23.08.2</a></td>
   <td align="right">1062kB</td>
   <td><tt>943e5a5b00ec1ad2f786145febd3673c8dce73972bfec8db1ad1782ee54038a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdev-python-23.08.2.tar.xz">kdev-python-23.08.2</a></td>
   <td align="right">1071kB</td>
   <td><tt>c408f9f8c94271b4cd9bce861c4f069dcd2df7833652c1f82aff399ec05e41a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdf-23.08.2.tar.xz">kdf-23.08.2</a></td>
   <td align="right">482kB</td>
   <td><tt>9089e2c4adfb4321120e7ba343cc6ee9796a2616196c0080bac3ae0c2b0c4881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdialog-23.08.2.tar.xz">kdialog-23.08.2</a></td>
   <td align="right">139kB</td>
   <td><tt>2686d8e1c64801c0e537c5cfcba093f3a57359a696182dc9f976abf0d306fdf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kdiamond-23.08.2.tar.xz">kdiamond-23.08.2</a></td>
   <td align="right">4598kB</td>
   <td><tt>88cb220a938d0f7a0f7bbd1b5a7e058a7bec7e93276e15e346c4c214c281ef8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/keditbookmarks-23.08.2.tar.xz">keditbookmarks-23.08.2</a></td>
   <td align="right">233kB</td>
   <td><tt>1578dbe3f9891b2ea7171cc91026d2f13a8bd8af69f654c8a834a0ad7b6f9349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/keysmith-23.08.2.tar.xz">keysmith-23.08.2</a></td>
   <td align="right">159kB</td>
   <td><tt>b52140bdbdabafded55dfdb42774229410ac26b21078e233c137b9bb4463a5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kfind-23.08.2.tar.xz">kfind-23.08.2</a></td>
   <td align="right">335kB</td>
   <td><tt>2f13e0cff198888a0fcd85cd049096c4d0530b447389d479eed4e70062e89227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kfourinline-23.08.2.tar.xz">kfourinline-23.08.2</a></td>
   <td align="right">721kB</td>
   <td><tt>ccfceea0dfb99587728dddfe854f700a85f6b1e1fc3ff852c8fcdece277bacdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kgeography-23.08.2.tar.xz">kgeography-23.08.2</a></td>
   <td align="right">12256kB</td>
   <td><tt>3c6b888fbf8d5ac0347b5d742479bec8b502e78ca0548a211e8c770df616925b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kget-23.08.2.tar.xz">kget-23.08.2</a></td>
   <td align="right">5433kB</td>
   <td><tt>a6507a3e5a37879e83384ab9f852a521f8e04a6d5552244492c09ef23fd5f47a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kgoldrunner-23.08.2.tar.xz">kgoldrunner-23.08.2</a></td>
   <td align="right">4802kB</td>
   <td><tt>b1f8cf04c44c22e2ff954b57cc321fd4e3c236a07a2613248b8f087a5255eac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kgpg-23.08.2.tar.xz">kgpg-23.08.2</a></td>
   <td align="right">2974kB</td>
   <td><tt>4de7b4b2879f2ae5cbcb3152246e607304aa4dac1da875b1da491908cf9100f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/khangman-23.08.2.tar.xz">khangman-23.08.2</a></td>
   <td align="right">7269kB</td>
   <td><tt>1ea7b3cb1db530d238b69ae49292480b59a4b403a2ea7066562553a79fcf052e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/khelpcenter-23.08.2.tar.xz">khelpcenter-23.08.2</a></td>
   <td align="right">4265kB</td>
   <td><tt>65a570008084a5873ab58c703b9ec7ec6990adbdccf6b9f7b55e78e18577eccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kidentitymanagement-23.08.2.tar.xz">kidentitymanagement-23.08.2</a></td>
   <td align="right">160kB</td>
   <td><tt>134bcb3d958fcbd94b66e023223a04b15f4053023f8d80bed96e1d6bf6c959fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kig-23.08.2.tar.xz">kig-23.08.2</a></td>
   <td align="right">3220kB</td>
   <td><tt>c98d14d4c43ce3d47d0050bd48a8bedccd2e853db14e74a53b73cca2be03128f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kigo-23.08.2.tar.xz">kigo-23.08.2</a></td>
   <td align="right">5143kB</td>
   <td><tt>43eadadb5f5eb1523886976f30d36f45b365907cfbb218237863432d682cb2e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/killbots-23.08.2.tar.xz">killbots-23.08.2</a></td>
   <td align="right">1176kB</td>
   <td><tt>95f8d3dc7e79c14fa039b33a0d367bbf05280564f643557244a0fbfc3cb2e82d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kimagemapeditor-23.08.2.tar.xz">kimagemapeditor-23.08.2</a></td>
   <td align="right">1078kB</td>
   <td><tt>d26d96e55b2924d595e9a4a1fe41d41cc64ed0a00cf8ad2ff79e23976d0d3fcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kimap-23.08.2.tar.xz">kimap-23.08.2</a></td>
   <td align="right">127kB</td>
   <td><tt>aedab9cd0b7c6011c8a7c1f32b323bdb5b11e80edaacc31d12b09acd48de67c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kio-admin-23.08.2.tar.xz">kio-admin-23.08.2</a></td>
   <td align="right">34kB</td>
   <td><tt>806d3a79aea1e9d26bbfbe123c87b88300717bda2803352cfca76c75de582c7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kio-extras-23.08.2.tar.xz">kio-extras-23.08.2</a></td>
   <td align="right">1454kB</td>
   <td><tt>2b98c6432587286dbf98eeacf03af3cadea267e60f21f7cf445a0c27e94fcc43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kio-gdrive-23.08.2.tar.xz">kio-gdrive-23.08.2</a></td>
   <td align="right">77kB</td>
   <td><tt>8c08d3c911ba81e239f76067e8da83aba36ecfda079427d6eaba4faa776a487f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kio-zeroconf-23.08.2.tar.xz">kio-zeroconf-23.08.2</a></td>
   <td align="right">43kB</td>
   <td><tt>95ff4d05c41f7f85ba119e00d8012e074fcbf927d61d9abf38887ac01deddceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kipi-plugins-23.08.2.tar.xz">kipi-plugins-23.08.2</a></td>
   <td align="right">1527kB</td>
   <td><tt>aea836c95835bbee5945d9b7202d06421e396c8cd0ec219de2ab93fd6a6aae29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kirigami-gallery-23.08.2.tar.xz">kirigami-gallery-23.08.2</a></td>
   <td align="right">342kB</td>
   <td><tt>3ffb95303330905184321c7e9ea340058d003940ff9763800901002ea92f181c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kiriki-23.08.2.tar.xz">kiriki-23.08.2</a></td>
   <td align="right">361kB</td>
   <td><tt>abd410a5b3d016662b4fe5ee5167bc36663a38930f18bb51d94a486d5c53ca0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kiten-23.08.2.tar.xz">kiten-23.08.2</a></td>
   <td align="right">11068kB</td>
   <td><tt>3b86bfad28d577a213e47df28bbf64e69f67b9eabe21a11cedbbbaa7f59068b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kitinerary-23.08.2.tar.xz">kitinerary-23.08.2</a></td>
   <td align="right">1879kB</td>
   <td><tt>99bda3fe00442bead2bdaed50ad83302d47719b63cf236ca5c3d7d9179d8b47e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kjournald-23.08.2.tar.xz">kjournald-23.08.2</a></td>
   <td align="right">502kB</td>
   <td><tt>44a3a1abbd18def9fffa6dc1ab5636f9983cf1fdca40cbed52ccd1d14fd34018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kjumpingcube-23.08.2.tar.xz">kjumpingcube-23.08.2</a></td>
   <td align="right">329kB</td>
   <td><tt>c278d2841fae5aae53f3af6555e651a78d1f9fea8308278923198c9019ec9df1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kldap-23.08.2.tar.xz">kldap-23.08.2</a></td>
   <td align="right">178kB</td>
   <td><tt>adc4475c3abe37381705d48aab349cdba240278ac9139a0cda105816d658cd03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kleopatra-23.08.2.tar.xz">kleopatra-23.08.2</a></td>
   <td align="right">2635kB</td>
   <td><tt>f3c023030d3af0987de964f10ea30452f93397654d0c27b11acb858b0dd64679</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/klettres-23.08.2.tar.xz">klettres-23.08.2</a></td>
   <td align="right">46720kB</td>
   <td><tt>a1f98f8d594374c015d2599aad4d24d736704ed906a57f28ea71d9e8cef97531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/klickety-23.08.2.tar.xz">klickety-23.08.2</a></td>
   <td align="right">1465kB</td>
   <td><tt>e377267894e402963ff06015a7a6a837152298e05c7dab7aeb2643e31fb5271b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/klines-23.08.2.tar.xz">klines-23.08.2</a></td>
   <td align="right">1698kB</td>
   <td><tt>38d1f0c46dfb562fb91410767e19e7b65f94972cfa17b5bafe5bbe15ade1a579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmag-23.08.2.tar.xz">kmag-23.08.2</a></td>
   <td align="right">707kB</td>
   <td><tt>162cfc66edfcd83dd6e24eeda07ecbe2fb628441423269e73c5bcfe94a60fde1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmahjongg-23.08.2.tar.xz">kmahjongg-23.08.2</a></td>
   <td align="right">4000kB</td>
   <td><tt>b146a1f5537ffc9fbba7a0256b6bd515252f64763ce89b7222e9ee3390712ed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmail-23.08.2.tar.xz">kmail-23.08.2</a></td>
   <td align="right">7484kB</td>
   <td><tt>70d333794dbfc28317049cf9c4999a8d5bfa5c85f8ecb7c41c60ff15a0e1b4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmail-account-wizard-23.08.2.tar.xz">kmail-account-wizard-23.08.2</a></td>
   <td align="right">180kB</td>
   <td><tt>bdba6ff05f671eea06800224b43040d8cd10ce1ebc371ad8e1614bfc6b987219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmailtransport-23.08.2.tar.xz">kmailtransport-23.08.2</a></td>
   <td align="right">170kB</td>
   <td><tt>b7eec9206985dba8b0880be5e97ecc18e206b2612db57f7c0f0da52916abd2c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmbox-23.08.2.tar.xz">kmbox-23.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>4bc54d1323f42f5898e12455b879d91d6c2fcf408e7b5f1559d8c0df3434cce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmime-23.08.2.tar.xz">kmime-23.08.2</a></td>
   <td align="right">159kB</td>
   <td><tt>0ffe6a7b3e17a17b8ea5560a080d0417e69ea55afde00271abf0781da4b7d24c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmines-23.08.2.tar.xz">kmines-23.08.2</a></td>
   <td align="right">985kB</td>
   <td><tt>b71d20c8064509d0b5ec8e2cadc5207c7bfd7f5058c88435df73a75e3b6f5d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmix-23.08.2.tar.xz">kmix-23.08.2</a></td>
   <td align="right">1180kB</td>
   <td><tt>303634134752a15cf1cce2b9d890281073cb2af9827eedd24f55dc6e78d39211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmousetool-23.08.2.tar.xz">kmousetool-23.08.2</a></td>
   <td align="right">126kB</td>
   <td><tt>c266d306b257fee4b112f5694e1cacecbde773fc2369dc360ed80863fc01c36c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmouth-23.08.2.tar.xz">kmouth-23.08.2</a></td>
   <td align="right">2041kB</td>
   <td><tt>8821fb3cf14248edcf423e5241912f58aeaf605128a059b613e915bb6e6558b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kmplot-23.08.2.tar.xz">kmplot-23.08.2</a></td>
   <td align="right">3026kB</td>
   <td><tt>4ff9ea2fd8e204ae6af30feebbfc9f0c148e33b81d9eb59b08adb92653150d04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/knavalbattle-23.08.2.tar.xz">knavalbattle-23.08.2</a></td>
   <td align="right">1367kB</td>
   <td><tt>1b078088abadb28d0d6e869a6b1cd3faa8f7f5eac850e3ee8060082b9a619779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/knetwalk-23.08.2.tar.xz">knetwalk-23.08.2</a></td>
   <td align="right">1079kB</td>
   <td><tt>9da0d3a395be15d8c2f2d0106c0961d0c582faa7fc0e739083ce9318d19e05ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/knights-23.08.2.tar.xz">knights-23.08.2</a></td>
   <td align="right">3251kB</td>
   <td><tt>21e74213fb370709fae006375c250415dc7fbff62004441e4036a2cd9be7ab86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/knotes-23.08.2.tar.xz">knotes-23.08.2</a></td>
   <td align="right">368kB</td>
   <td><tt>385ae55996643615a64aca500cf5cb4e44567895280bde2ab9783ee51c790580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/koko-23.08.2.tar.xz">koko-23.08.2</a></td>
   <td align="right">135kB</td>
   <td><tt>378d344d0bb78c87aae9244bb397fd5fc702d5b8117f038c7568874837832282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kolf-23.08.2.tar.xz">kolf-23.08.2</a></td>
   <td align="right">1048kB</td>
   <td><tt>9d534db6b7955c5fed53b57e711266cd0c2493a48986e0e33e2b6a8ccdd6e1e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kollision-23.08.2.tar.xz">kollision-23.08.2</a></td>
   <td align="right">300kB</td>
   <td><tt>2fcb9b50513f73bcf0487318ceb6a33dbd956510e6fe0e2e4b7bb65423ad5097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kolourpaint-23.08.2.tar.xz">kolourpaint-23.08.2</a></td>
   <td align="right">5650kB</td>
   <td><tt>0eb9d2acbefb4d764adbe686117b63ddb565d680906375264af78a4a14931cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kompare-23.08.2.tar.xz">kompare-23.08.2</a></td>
   <td align="right">960kB</td>
   <td><tt>4cf401149866f6b4ed5c97ded26d5b6cbfaabe7540cf18afc9254cbd56ab9ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kongress-23.08.2.tar.xz">kongress-23.08.2</a></td>
   <td align="right">575kB</td>
   <td><tt>453d6e4e90df45c10fecc74a19f60e3d4324c90ab302813be05fbaef79437738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/konqueror-23.08.2.tar.xz">konqueror-23.08.2</a></td>
   <td align="right">9832kB</td>
   <td><tt>6cd0dc4cd152b730d1e785fe08bea16c78e76ccd8ab5908f63e3ca747ab2bf47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/konquest-23.08.2.tar.xz">konquest-23.08.2</a></td>
   <td align="right">854kB</td>
   <td><tt>856192ad5df599229bcc30970d8eac8eeee2bd19b7aa552b10648455e1c8355f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/konsole-23.08.2.tar.xz">konsole-23.08.2</a></td>
   <td align="right">1785kB</td>
   <td><tt>51c48851ea2d7dd6959cdeb4d2b26f3c5b502f6e84d92c24ada2b93a46d1e9a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kontact-23.08.2.tar.xz">kontact-23.08.2</a></td>
   <td align="right">854kB</td>
   <td><tt>00467aa1e4440d7da87359dc3983fc21f59d6554250bee3769dd3ba206fca05f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kontactinterface-23.08.2.tar.xz">kontactinterface-23.08.2</a></td>
   <td align="right">39kB</td>
   <td><tt>bfb73dbbc31c351ba459719b81546298e5ab9790f6f1af84d6cfb23fe430f2d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kontrast-23.08.2.tar.xz">kontrast-23.08.2</a></td>
   <td align="right">204kB</td>
   <td><tt>78e8e97f23cb47e70200eb2d15c7ed1b9134a0ca30335186e7c7597f09b870bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/konversation-23.08.2.tar.xz">konversation-23.08.2</a></td>
   <td align="right">4372kB</td>
   <td><tt>2cb2fc15c7207538bc1200e24639a6791da99a0412a5d526d79a56c9409948c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kopeninghours-23.08.2.tar.xz">kopeninghours-23.08.2</a></td>
   <td align="right">70kB</td>
   <td><tt>ccc892fbef2ea04d08b9fa2070a144cc0760ee94cec5577660969ae28d1ca253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kopete-23.08.2.tar.xz">kopete-23.08.2</a></td>
   <td align="right">9906kB</td>
   <td><tt>41ec883ece16d6198d27f334c9626946e1070b35ec7eef81a84011b16777c23c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/korganizer-23.08.2.tar.xz">korganizer-23.08.2</a></td>
   <td align="right">2492kB</td>
   <td><tt>548c1ccc5f9efe308f04a5394670d344b9a4123e8c31428e2935d4c76e93a8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kosmindoormap-23.08.2.tar.xz">kosmindoormap-23.08.2</a></td>
   <td align="right">371kB</td>
   <td><tt>c95b05b7bea0fb527088404388a88b7d0d17651cfc831892f461280276b5e7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kpat-23.08.2.tar.xz">kpat-23.08.2</a></td>
   <td align="right">3665kB</td>
   <td><tt>7b58016455fafb33e2d9dc121644d0ad18e202d31f7065914006c9c28cd3756e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kpimtextedit-23.08.2.tar.xz">kpimtextedit-23.08.2</a></td>
   <td align="right">295kB</td>
   <td><tt>1ed552789a56ca706fcb88d7bc81f61055e098372f4aec461917fb31c16a369b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kpkpass-23.08.2.tar.xz">kpkpass-23.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>07a2f0d734905089c158a6eca7ac6f890affe292a48221f7a42851fbc6f98710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kpmcore-23.08.2.tar.xz">kpmcore-23.08.2</a></td>
   <td align="right">608kB</td>
   <td><tt>3ac0e40b6ed12f3097211942e6894a97f3b8ee55055a8ea6649dd0a337aaf654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kpublictransport-23.08.2.tar.xz">kpublictransport-23.08.2</a></td>
   <td align="right">555kB</td>
   <td><tt>14b83b3138798774cbf28f77f95b3fd69e34a31e7dbfea907c02704c0e81cb83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kqtquickcharts-23.08.2.tar.xz">kqtquickcharts-23.08.2</a></td>
   <td align="right">30kB</td>
   <td><tt>b2bbea7ed37a3bf377df29a2ad477150a34e4f41a6e101b525dc6bd9ddd1fa04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/krdc-23.08.2.tar.xz">krdc-23.08.2</a></td>
   <td align="right">1590kB</td>
   <td><tt>19be833de5f674127feb03d6c948c9669f7916c906318d112fd5db91fd325b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/krecorder-23.08.2.tar.xz">krecorder-23.08.2</a></td>
   <td align="right">157kB</td>
   <td><tt>9b32c8dd26c976518899383f855cf5f3af9309249d1ea921e1d11f2d3579cc29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kreversi-23.08.2.tar.xz">kreversi-23.08.2</a></td>
   <td align="right">1052kB</td>
   <td><tt>27b441dde225363b13e67815d97bce1a53f6a7df2181fa38b88c4eb0b7620c2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/krfb-23.08.2.tar.xz">krfb-23.08.2</a></td>
   <td align="right">1288kB</td>
   <td><tt>34264daf59b456057d6c63430d1b0e5a54ed244343ba324214d55a2ea64ebe1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kross-interpreters-23.08.2.tar.xz">kross-interpreters-23.08.2</a></td>
   <td align="right">148kB</td>
   <td><tt>6d86e32489497d95dc9e012c3b4d3333cc16ecefdfb9ca8570cb306b4d336120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kruler-23.08.2.tar.xz">kruler-23.08.2</a></td>
   <td align="right">280kB</td>
   <td><tt>0c0366cf9db1eaf1d8eddcf99e270a062ac435b05d91e3fc4fa70fbdc0a8cc0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ksanecore-23.08.2.tar.xz">ksanecore-23.08.2</a></td>
   <td align="right">48kB</td>
   <td><tt>a8ce64fede500d1d06da67cce450eeb2945a5f4a4586515cae496b327d179b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kshisen-23.08.2.tar.xz">kshisen-23.08.2</a></td>
   <td align="right">984kB</td>
   <td><tt>56ec03794fa50e57d7d5458c88c5be0855f4c446c8f8928f24884c2306156527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ksirk-23.08.2.tar.xz">ksirk-23.08.2</a></td>
   <td align="right">6901kB</td>
   <td><tt>fed876fc43ad46043c7a00f90820572cb38225927c80d19ab69baa33450f942e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ksmtp-23.08.2.tar.xz">ksmtp-23.08.2</a></td>
   <td align="right">49kB</td>
   <td><tt>7b5f25b1be49b31b12a84d069195e30d61c922b3ec7447d755dee7f425aefc64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ksnakeduel-23.08.2.tar.xz">ksnakeduel-23.08.2</a></td>
   <td align="right">588kB</td>
   <td><tt>c10d2eddcfb57957f7e2def352e9e7aa8d274935967c9345b9699a8d74eafbe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kspaceduel-23.08.2.tar.xz">kspaceduel-23.08.2</a></td>
   <td align="right">644kB</td>
   <td><tt>1299f00a3320586b57a09c08bb958daac1c4b40a0b49e48445bf2dbcbecf64c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ksquares-23.08.2.tar.xz">ksquares-23.08.2</a></td>
   <td align="right">305kB</td>
   <td><tt>3be560970c3c59461563a2979e72e8e670813e9bb38319de0e23d41de135da9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ksudoku-23.08.2.tar.xz">ksudoku-23.08.2</a></td>
   <td align="right">1665kB</td>
   <td><tt>8bec6a3b4462e6646f989ac24da3597bc00bdb11f8dcca6796e78be2a8bea0d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ksystemlog-23.08.2.tar.xz">ksystemlog-23.08.2</a></td>
   <td align="right">1960kB</td>
   <td><tt>32d07cae57384e97f67356b88995c66db2b88ebb43ac0f22c0624af68d705afc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kteatime-23.08.2.tar.xz">kteatime-23.08.2</a></td>
   <td align="right">306kB</td>
   <td><tt>b21d48621019018de0ffdc01a6edc395dbb20f29143b174772bc9d339b0a9b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ktimer-23.08.2.tar.xz">ktimer-23.08.2</a></td>
   <td align="right">395kB</td>
   <td><tt>2ff0c74781a760dc25fc7356f754668ca502ee69ba97a8d9bf5be7c361ebbd2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ktnef-23.08.2.tar.xz">ktnef-23.08.2</a></td>
   <td align="right">303kB</td>
   <td><tt>8ac18b0dc8fa61aa4eeb747e166475a9221d1de0199582f4f6cd189faf4e2b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ktorrent-23.08.2.tar.xz">ktorrent-23.08.2</a></td>
   <td align="right">2103kB</td>
   <td><tt>0a16cddf003f86e176b3f7659de217278397a15e9f04c2ca7bebeabf80f50533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ktouch-23.08.2.tar.xz">ktouch-23.08.2</a></td>
   <td align="right">4920kB</td>
   <td><tt>28fb2599bdf7b50bdaa0f25a2ff6271c3b365127f9ace4bb3f2a592fce8679ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ktrip-23.08.2.tar.xz">ktrip-23.08.2</a></td>
   <td align="right">248kB</td>
   <td><tt>a1e19ca04160a0848c54b19f4cad36829f6bf0d4d1f5c82779b02592d937d75b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/ktuberling-23.08.2.tar.xz">ktuberling-23.08.2</a></td>
   <td align="right">69742kB</td>
   <td><tt>3e7e0fe59a3cf3cc03fc924b8bb47ed9ad9c1d53be8b181a9f43907c969640f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kturtle-23.08.2.tar.xz">kturtle-23.08.2</a></td>
   <td align="right">2191kB</td>
   <td><tt>24549339ea98aefc6dee84d0a5ab76a3d660357dc9325299fd8a4b717b27aed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kubrick-23.08.2.tar.xz">kubrick-23.08.2</a></td>
   <td align="right">343kB</td>
   <td><tt>5c732768b8da52e65645917e8a1c3ea67b1ee19f2f2af9b939b490d04d02f95d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kwalletmanager-23.08.2.tar.xz">kwalletmanager-23.08.2</a></td>
   <td align="right">831kB</td>
   <td><tt>fb292b5b95182d08973b37946509299ebdbe738e0dd0eb5239d050b2235d6c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kwave-23.08.2.tar.xz">kwave-23.08.2</a></td>
   <td align="right">6801kB</td>
   <td><tt>198248a8686569aca15bec667f119b73beb8e6ccc77ee00c4d22b726f932b7e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kweather-23.08.2.tar.xz">kweather-23.08.2</a></td>
   <td align="right">923kB</td>
   <td><tt>0283866378671a30f02029efb47051deeac8bbff8202031f0aec76853e9d68ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/kwordquiz-23.08.2.tar.xz">kwordquiz-23.08.2</a></td>
   <td align="right">3975kB</td>
   <td><tt>78661636146e68d49a62d688f247daa41e3f0b67cf18285e3615134a3dc59740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libgravatar-23.08.2.tar.xz">libgravatar-23.08.2</a></td>
   <td align="right">35kB</td>
   <td><tt>4807a6979dacb16fdddea5caeca519966d2a997d566f9f0894672c162a125613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkcddb-23.08.2.tar.xz">libkcddb-23.08.2</a></td>
   <td align="right">440kB</td>
   <td><tt>fa27da9a80a7023be215e5b758fb6043a93526d358a6704b08e75013f9462345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkcompactdisc-23.08.2.tar.xz">libkcompactdisc-23.08.2</a></td>
   <td align="right">97kB</td>
   <td><tt>87fbab213367a30420a9140fb32f9954a62bf36fcd4896f3b33afb149b5564f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkdcraw-23.08.2.tar.xz">libkdcraw-23.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>9c22aa60ebbbe2538f9ab46875a2cee5b618cd574f63f3918533c3d85e4e4922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkdegames-23.08.2.tar.xz">libkdegames-23.08.2</a></td>
   <td align="right">5842kB</td>
   <td><tt>90ed864d292fc57a3e0760d87b9e835a5d5df171621f7b70292d9f0aa4a71ce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkdepim-23.08.2.tar.xz">libkdepim-23.08.2</a></td>
   <td align="right">278kB</td>
   <td><tt>08ac267a8838edf1fd7e6dcca78766ffc8e8cdbd17cc4dd67b1db5cd59852140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkeduvocdocument-23.08.2.tar.xz">libkeduvocdocument-23.08.2</a></td>
   <td align="right">223kB</td>
   <td><tt>24fe40ea72777deb147170f18848ba89245eaf3699dd73da4d22267de551b3ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkexiv2-23.08.2.tar.xz">libkexiv2-23.08.2</a></td>
   <td align="right">59kB</td>
   <td><tt>d06e36a408bf2e846a18056a1f15e61d981fa2a1fceb81f7c15136604319d033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkgapi-23.08.2.tar.xz">libkgapi-23.08.2</a></td>
   <td align="right">327kB</td>
   <td><tt>674b8033492d3c2a08623ff0d176cd2a68458d8b3b4e72fbea43048d91c03a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkipi-23.08.2.tar.xz">libkipi-23.08.2</a></td>
   <td align="right">86kB</td>
   <td><tt>96d789692ebbf55202c7a21535d594f11237427adfc5ea02c8c8bb4e1cd7ad17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkleo-23.08.2.tar.xz">libkleo-23.08.2</a></td>
   <td align="right">543kB</td>
   <td><tt>89dfaf72ed23a71ae3414a21bfc514f9a2f267ba2422cbe771cccd42edb63aad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkmahjongg-23.08.2.tar.xz">libkmahjongg-23.08.2</a></td>
   <td align="right">1648kB</td>
   <td><tt>7648b33208d6df4dadac1ecc4860d4368c45de98b456e6482bcb74909c9b0577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libkomparediff2-23.08.2.tar.xz">libkomparediff2-23.08.2</a></td>
   <td align="right">183kB</td>
   <td><tt>8b796da9c94d145bc57da619647a71acc88b6af035019375ea35e7ac9b87646a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libksane-23.08.2.tar.xz">libksane-23.08.2</a></td>
   <td align="right">151kB</td>
   <td><tt>44f8723b30b554df818d7dc67ef25c5d06d5f028795d3f3078a65e429dff9c31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libksieve-23.08.2.tar.xz">libksieve-23.08.2</a></td>
   <td align="right">552kB</td>
   <td><tt>399be607426d2f71f14157cf4179ee8bcaf0247b18e131e94af5a24489b6d1cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/libktorrent-23.08.2.tar.xz">libktorrent-23.08.2</a></td>
   <td align="right">589kB</td>
   <td><tt>3fac1bb7d34a326d58409f2d66e35d585d5dfae64210b925ecec978224da3723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/lokalize-23.08.2.tar.xz">lokalize-23.08.2</a></td>
   <td align="right">2090kB</td>
   <td><tt>80eede9b07c2507f4ff4d39d89dfe023a7010a9f922aaa5d1f7aba587d4a50d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/lskat-23.08.2.tar.xz">lskat-23.08.2</a></td>
   <td align="right">1219kB</td>
   <td><tt>59cce2a66c5e78b122ee953dc2c2f7fa87879382d91e44642406b47cebf89668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/mailcommon-23.08.2.tar.xz">mailcommon-23.08.2</a></td>
   <td align="right">745kB</td>
   <td><tt>6a62d61b555e8a5feca3bdfdffe4e0aa9335c8ec348b9853d9b48e6ac1a9245c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/mailimporter-23.08.2.tar.xz">mailimporter-23.08.2</a></td>
   <td align="right">579kB</td>
   <td><tt>1e048b96759ace4b8f04e03c02ca56f978314de518b5ff95fb32f7a731938810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/marble-23.08.2.tar.xz">marble-23.08.2</a></td>
   <td align="right">52525kB</td>
   <td><tt>aba39f07184f61c1e70f1c6b0d45aae035ce4afa3e650814bbfda0ca537dd57f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/markdownpart-23.08.2.tar.xz">markdownpart-23.08.2</a></td>
   <td align="right">30kB</td>
   <td><tt>18645852d4120b4a999251ae555c01d08894df63d7b5a1eb1dfd12da1fda5ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/mbox-importer-23.08.2.tar.xz">mbox-importer-23.08.2</a></td>
   <td align="right">29kB</td>
   <td><tt>0ee8423864e99f3c877556a845041f83dd12751fd496d00aa8c277c23f085534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/merkuro-23.08.2.tar.xz">merkuro-23.08.2</a></td>
   <td align="right">954kB</td>
   <td><tt>eb4e472681dab528a05641ed222073501c0f4dd20f7b3f6fc8c2b77834344f1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/messagelib-23.08.2.tar.xz">messagelib-23.08.2</a></td>
   <td align="right">11070kB</td>
   <td><tt>d00e6c8aba22bdadec28229e3feeb42245041d932c1e7b29336b9e23c650e3c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/minuet-23.08.2.tar.xz">minuet-23.08.2</a></td>
   <td align="right">27040kB</td>
   <td><tt>a8a48f657490ec3950848627c47f24a2b008bbacca0980984711fcb3cac0bf69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/neochat-23.08.2.tar.xz">neochat-23.08.2</a></td>
   <td align="right">763kB</td>
   <td><tt>5d292d1c9c7bf2d16cb002fa80b40c865251e3f4c39d1adcadf59c52fd6d1789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/okular-23.08.2.tar.xz">okular-23.08.2</a></td>
   <td align="right">8313kB</td>
   <td><tt>25a69e1e666925e52c57d1b09beb72ad3a61a61328daf042359c3f6a740f2edd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/palapeli-23.08.2.tar.xz">palapeli-23.08.2</a></td>
   <td align="right">2066kB</td>
   <td><tt>d9855a7249efa817d683222f74db5845e231a5609c93e269461f06b4fc84aff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/parley-23.08.2.tar.xz">parley-23.08.2</a></td>
   <td align="right">8399kB</td>
   <td><tt>cf157e9dd78acc845e7b8c5c11fae1d838465dbf39bee24e673698e4c6153509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/partitionmanager-23.08.2.tar.xz">partitionmanager-23.08.2</a></td>
   <td align="right">2097kB</td>
   <td><tt>12835695a1785c5f616cfedb67e0010cba659f151b94256e9b82a2805745b59f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/picmi-23.08.2.tar.xz">picmi-23.08.2</a></td>
   <td align="right">1504kB</td>
   <td><tt>ebed0cccdba763bf7ed48482d9f2ad7025c3606c5b7947d56e9c6332f8462cc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/pimcommon-23.08.2.tar.xz">pimcommon-23.08.2</a></td>
   <td align="right">340kB</td>
   <td><tt>4e04e02072113c37b10a19bf1cf9e743890470bec383e259f6130c37cc7a55c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/pim-data-exporter-23.08.2.tar.xz">pim-data-exporter-23.08.2</a></td>
   <td align="right">417kB</td>
   <td><tt>6d48e99952405cad2a76a4360982a6b09a92036c61d62073623b87ae851dc8be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/pim-sieve-editor-23.08.2.tar.xz">pim-sieve-editor-23.08.2</a></td>
   <td align="right">455kB</td>
   <td><tt>2aeb11362583cb6b0f86f60d5c28434aafcdea7b6549ac0b840274a7ba4c3be9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/plasmatube-23.08.2.tar.xz">plasmatube-23.08.2</a></td>
   <td align="right">81kB</td>
   <td><tt>0e718456d31dfb316dd4cddc01a3164ad9a819629375d16b776a28533b849cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/poxml-23.08.2.tar.xz">poxml-23.08.2</a></td>
   <td align="right">43kB</td>
   <td><tt>0c95d7876e6f867c051eca357f460cd5cedd58c139b9384fecadfff58685c036</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/print-manager-23.08.2.tar.xz">print-manager-23.08.2</a></td>
   <td align="right">282kB</td>
   <td><tt>e2558325ec6b0abfa5ad9af0d74c83d7728e4192220dc5d193b8822ff7a7b05d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/qmlkonsole-23.08.2.tar.xz">qmlkonsole-23.08.2</a></td>
   <td align="right">58kB</td>
   <td><tt>8118f1fcc4210ec34d3beeea6d57934571914e07e6031d834eb98b54a1ce74ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/rocs-23.08.2.tar.xz">rocs-23.08.2</a></td>
   <td align="right">1532kB</td>
   <td><tt>95939dee6f1e25038addf8387b5f94822a02062ec3e0f1f1791a04babfa3a7a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/signon-kwallet-extension-23.08.2.tar.xz">signon-kwallet-extension-23.08.2</a></td>
   <td align="right">10kB</td>
   <td><tt>c71259a3a2acdcfde58cff186bde2cb26d7d48f2167b6cd72729c590930f3ef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/skanlite-23.08.2.tar.xz">skanlite-23.08.2</a></td>
   <td align="right">2392kB</td>
   <td><tt>4fa05b15edaf4871498ff18ed87d254f64a7aa7fe331b6214cebf6fb19915d72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/skanpage-23.08.2.tar.xz">skanpage-23.08.2</a></td>
   <td align="right">1281kB</td>
   <td><tt>562c2a033c938599bcd9042f6ffcebf538b981d28d721228b0d557bd87f518d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/spectacle-23.08.2.tar.xz">spectacle-23.08.2</a></td>
   <td align="right">1319kB</td>
   <td><tt>9a4ea2403cee26aee6d37a4e59d7d93bfff45f1e7f545892abb06d54de7d2387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/step-23.08.2.tar.xz">step-23.08.2</a></td>
   <td align="right">971kB</td>
   <td><tt>a8da40fe090d6f45443fc0938401b424883c1ec991cfb392f6c4d961c25e5aaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/svgpart-23.08.2.tar.xz">svgpart-23.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>a4851be0aeb11666fc9cab175804c93d0bb689cbdf9e20d034d43cc51361e0af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/sweeper-23.08.2.tar.xz">sweeper-23.08.2</a></td>
   <td align="right">389kB</td>
   <td><tt>82c0246f2fe2bb8a95a578e4cf1349427982f944337580dbe89a425539ac83ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/telly-skout-23.08.2.tar.xz">telly-skout-23.08.2</a></td>
   <td align="right">94kB</td>
   <td><tt>36ab7d823d0f0b34878b501dc6fb678867fc646ad35fd698902013a12f9577e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/tokodon-23.08.2.tar.xz">tokodon-23.08.2</a></td>
   <td align="right">319kB</td>
   <td><tt>fa34661ba51df58b6db197e77c7362c6902990e7310514433469df9d5b3e0e26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/umbrello-23.08.2.tar.xz">umbrello-23.08.2</a></td>
   <td align="right">5638kB</td>
   <td><tt>d9fe4303c8ce04de7fccd8c3227660c813422bcf1ed266cd34853ac3be0ea5d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/yakuake-23.08.2.tar.xz">yakuake-23.08.2</a></td>
   <td align="right">421kB</td>
   <td><tt>117ca83c95547d01bce0ed36ea533907d88a409872fc8faa575bbef3560abfa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.2/src/zanshin-23.08.2.tar.xz">zanshin-23.08.2</a></td>
   <td align="right">353kB</td>
   <td><tt>105a73251fd26f8969638da6861b56bb10276f31049a2f07f6e0d6b2d2b70ea8</tt></td>
</tr>

</table>
