<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/bluedevil-5.20.3.tar.xz">bluedevil-5.20.3</a></td>
   <td align="right">155kB</td>
   <td><tt>59576ea2272b0284ffd8b1370502e4b92952cf3bd8b18921361eb7ad449f0698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/breeze-5.20.3.tar.xz">breeze-5.20.3</a></td>
   <td align="right">14MB</td>
   <td><tt>c949bc5683ec0f4f3c4c6e412f71369a9a4e96101c4927c9e9b3b26dca89bc3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/breeze-grub-5.20.3.tar.xz">breeze-grub-5.20.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>53736a94d38a04abde64dd7c78d3293f987fae9d561755c3af084f5c32b63e69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/breeze-gtk-5.20.3.tar.xz">breeze-gtk-5.20.3</a></td>
   <td align="right">42kB</td>
   <td><tt>5e470b55482880e5ac0e7bf8f0d0ede72ea0338b4d7e1a4f10488bf838a60a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/breeze-plymouth-5.20.3.tar.xz">breeze-plymouth-5.20.3</a></td>
   <td align="right">106kB</td>
   <td><tt>abb13d40fb388dc5423dbd2829746d8bd8fe2454e6ef229dc1c4088d623c810d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/discover-5.20.3.tar.xz">discover-5.20.3</a></td>
   <td align="right">9.8MB</td>
   <td><tt>7999c3aa6d8f0abceed2571df2e3e19323c01a7cae0e1510d1f1a68dbe79c01c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/drkonqi-5.20.3.tar.xz">drkonqi-5.20.3</a></td>
   <td align="right">736kB</td>
   <td><tt>9a0e9c3632ab4c6e7b0dc01b549b24b051cb65c9d11be00166661c6dd5bbdaf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kactivitymanagerd-5.20.3.tar.xz">kactivitymanagerd-5.20.3</a></td>
   <td align="right">92kB</td>
   <td><tt>f1d86ab5f92d79f1249aa2e5207fa2d3e4a91e583661f9c3ee778ede46eb50fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kde-cli-tools-5.20.3.tar.xz">kde-cli-tools-5.20.3</a></td>
   <td align="right">587kB</td>
   <td><tt>4e258f6ed63cfd37a357cfbe15fe06015086cef593d961913c328c3a4b2a866c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kdecoration-5.20.3.tar.xz">kdecoration-5.20.3</a></td>
   <td align="right">44kB</td>
   <td><tt>0d7d9ef1596fd1835705f50dcce68ba9fba9ff531f365023764229c99c5c6382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kde-gtk-config-5.20.3.tar.xz">kde-gtk-config-5.20.3</a></td>
   <td align="right">66kB</td>
   <td><tt>1b3ae2cd35c410b9ae874999c009ce18c594943b40b40a8e6ec58398d07124a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kdeplasma-addons-5.20.3.tar.xz">kdeplasma-addons-5.20.3</a></td>
   <td align="right">619kB</td>
   <td><tt>2ea7bbcb69f9dd8048d7e50435cfcacec56ca63c1ec9cb46822fd42ff5483c08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kgamma5-5.20.3.tar.xz">kgamma5-5.20.3</a></td>
   <td align="right">79kB</td>
   <td><tt>6b1b1fbf0ee1af586c8d2d4168ef26e3b3499a1fbb87a0355684c0a5f27187dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/khotkeys-5.20.3.tar.xz">khotkeys-5.20.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>343bd0493e7862ab24e44adeb196a5bb5f2757c962e66ef0e946fab280be3ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kinfocenter-5.20.3.tar.xz">kinfocenter-5.20.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>131b857fc403cc048b311a6f7c0fb6fdc90f5de1b7b98a3d30075b86519219d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kmenuedit-5.20.3.tar.xz">kmenuedit-5.20.3</a></td>
   <td align="right">872kB</td>
   <td><tt>cfb5d051de0c291c4d735d33bbfe754f1a3348340b320629b30c934226e9e7f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kscreen-5.20.3.tar.xz">kscreen-5.20.3</a></td>
   <td align="right">111kB</td>
   <td><tt>124593bea59efd44b6209b22636205796e6e07f573c9e002c1548b66027f7303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kscreenlocker-5.20.3.tar.xz">kscreenlocker-5.20.3</a></td>
   <td align="right">112kB</td>
   <td><tt>18e3041efd17efaadd38e27561fec6a3c1d3adaa45c6432fdcfc178c4b35a808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/ksshaskpass-5.20.3.tar.xz">ksshaskpass-5.20.3</a></td>
   <td align="right">22kB</td>
   <td><tt>04f8ea3162fa3c89946d4083863baa9598b6bb85687b4ac2e10057205a616ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/ksysguard-5.20.3.tar.xz">ksysguard-5.20.3</a></td>
   <td align="right">549kB</td>
   <td><tt>47df189285df9952f833b25293bdcc39a40cd33581cfb8cb5de7ac488f9f9ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kwallet-pam-5.20.3.tar.xz">kwallet-pam-5.20.3</a></td>
   <td align="right">19kB</td>
   <td><tt>44a4b49442dd6b9a313bf2fbe21d6e42fc7dff01fd99ccb166edfbafc277fc02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kwayland-integration-5.20.3.tar.xz">kwayland-integration-5.20.3</a></td>
   <td align="right">20kB</td>
   <td><tt>2edf886c38583d56ba4322e25970dec1f1beb37c484515f74524e7972405c431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kwayland-server-5.20.3.tar.xz">kwayland-server-5.20.3</a></td>
   <td align="right">215kB</td>
   <td><tt>ba8faa6f6cfc0081d0a2b875dcd95208223c334aa9e1e39da7fcea84c6ce27c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kwin-5.20.3.tar.xz">kwin-5.20.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>3bfe2a3991575328badc960e99812b36c1242c667407c377d23cc064e0bacde8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/kwrited-5.20.3.tar.xz">kwrited-5.20.3</a></td>
   <td align="right">19kB</td>
   <td><tt>456b3583f6da4be4b8996c75a9709def8aefbe2d4e71fb50fcaed35a0d1d112e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/libkscreen-5.20.3.tar.xz">libkscreen-5.20.3</a></td>
   <td align="right">83kB</td>
   <td><tt>19b7af7601b8063d485ccb1c9061abcc2c6f32e43cbaf65cbf98831a3af5fbc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/libksysguard-5.20.3.tar.xz">libksysguard-5.20.3</a></td>
   <td align="right">677kB</td>
   <td><tt>98d85bc9db01f77586701386e1612194df0b4fab8d650833aa4f0f13956fc830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/milou-5.20.3.tar.xz">milou-5.20.3</a></td>
   <td align="right">54kB</td>
   <td><tt>9aaad267274c9cb868687955dba30e007be7ae16656f5e0f659d2ae5003c3584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/oxygen-5.20.3.tar.xz">oxygen-5.20.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>8c6c5068065f3989d836770ec677d883b0650afdeb2e495d49c9c0adf6e834ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-browser-integration-5.20.3.tar.xz">plasma-browser-integration-5.20.3</a></td>
   <td align="right">188kB</td>
   <td><tt>524442333abcb9e7751afc210f98b98e3f11a1aa389d2bd8ba0cb0d8b1b543a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-desktop-5.20.3.tar.xz">plasma-desktop-5.20.3</a></td>
   <td align="right">15MB</td>
   <td><tt>d78ce0d288bb657b1e417179fc5b28bb291b44df7b7840400f034243d4e10b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-disks-5.20.3.tar.xz">plasma-disks-5.20.3</a></td>
   <td align="right">62kB</td>
   <td><tt>2d1d0d3bf0085d0a80ca24a28125a37eba18ea2a352e39871e85b728ff465f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-integration-5.20.3.tar.xz">plasma-integration-5.20.3</a></td>
   <td align="right">58kB</td>
   <td><tt>621864e59ee583d0e21ffbebba881198ace728c12694606ed8ff180549f314fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-nano-5.20.3.tar.xz">plasma-nano-5.20.3</a></td>
   <td align="right">33kB</td>
   <td><tt>714d13c048f8858924a2db3a2845aae2cdfbffe919fa09000df589441039dcb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-nm-5.20.3.tar.xz">plasma-nm-5.20.3</a></td>
   <td align="right">838kB</td>
   <td><tt>3f204840874e7e2234950ba4980bb2d3f6f08a6cfa16cd83b277d77c2adaf6ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-pa-5.20.3.tar.xz">plasma-pa-5.20.3</a></td>
   <td align="right">111kB</td>
   <td><tt>626de3f2b217ee3b62e896691e8551e393673a60892ed040b422e2da674fb1ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-phone-components-5.20.3.tar.xz">plasma-phone-components-5.20.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5b854c547b32e8657366f7c957b2a1e0fa103f6ca1e7f43183f49de819bd3855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-sdk-5.20.3.tar.xz">plasma-sdk-5.20.3</a></td>
   <td align="right">260kB</td>
   <td><tt>d2da1b234b17553536ed64d74dc5632adcad9aff4dc6f2b33d4b0f7e128d5301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-tests-5.20.3.tar.xz">plasma-tests-5.20.3</a></td>
   <td align="right">1kB</td>
   <td><tt>4a0af3f7e19325162b243926960768a34f29de0306aa9a664a53801faf42ce28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-thunderbolt-5.20.3.tar.xz">plasma-thunderbolt-5.20.3</a></td>
   <td align="right">55kB</td>
   <td><tt>d285896b5879e8895da112950e8a0c9bcbf78ed9e135d268b5e729eb02feef0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-vault-5.20.3.tar.xz">plasma-vault-5.20.3</a></td>
   <td align="right">154kB</td>
   <td><tt>53e67798ae324ef3c2048bdabe1331f5a17c6e046aaf35b8a1742561714fb031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-workspace-5.20.3.tar.xz">plasma-workspace-5.20.3</a></td>
   <td align="right">8.6MB</td>
   <td><tt>47466ec788bb8e6295dbacc34eefb0912e712aeed9924ce025dd48aa61cf9f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plasma-workspace-wallpapers-5.20.3.tar.xz">plasma-workspace-wallpapers-5.20.3</a></td>
   <td align="right">43MB</td>
   <td><tt>a7521cbdbd39161a1ce2bb393b0b25057ed1a6dd876c4e948ee0dd3316c04663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/plymouth-kcm-5.20.3.tar.xz">plymouth-kcm-5.20.3</a></td>
   <td align="right">42kB</td>
   <td><tt>164c9eccaedb830f140c393e88d8c30fa128edaaf2e9815eb5d98d87f97b68de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/polkit-kde-agent-1-5.20.3.tar.xz">polkit-kde-agent-1-5.20.3</a></td>
   <td align="right">43kB</td>
   <td><tt>d68d05ea03a839cfa9853ce58720b7e53bab8f14f15731b97d2fdb6422e705cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/powerdevil-5.20.3.tar.xz">powerdevil-5.20.3</a></td>
   <td align="right">595kB</td>
   <td><tt>693c49d46f4f04318f86468987e5d043d8409e418811d8265cd89ace0cf591ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/sddm-kcm-5.20.3.tar.xz">sddm-kcm-5.20.3</a></td>
   <td align="right">63kB</td>
   <td><tt>0cfbc85d829612d81c1337a9e4dd1271fcf8d2307ba84134700be8c3927fd924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/systemsettings-5.20.3.tar.xz">systemsettings-5.20.3</a></td>
   <td align="right">189kB</td>
   <td><tt>c380df3cedf14ed11d313b10eba22824cad2aaa3460e0d30336c454eba5c823a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.3/xdg-desktop-portal-kde-5.20.3.tar.xz">xdg-desktop-portal-kde-5.20.3</a></td>
   <td align="right">79kB</td>
   <td><tt>565b4a1075de484a9c371d9812fb9c3d2006c3f65fe3433feb7aa3e4779048ca</tt></td>
</tr>

</table>
