<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/bluedevil-5.14.5.tar.xz">bluedevil-5.14.5</a></td>
   <td align="right">154kB</td>
   <td><tt>e79f4c0b2b1ac0a039e697413ffe809d6932770e21fc54cb2b8eedab42e018ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/breeze-5.14.5.tar.xz">breeze-5.14.5</a></td>
   <td align="right">23MB</td>
   <td><tt>e78e6eec31cf8fb7c6d1d823e07bebcabf978ba94772081490a38a5ac5871796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/breeze-grub-5.14.5.tar.xz">breeze-grub-5.14.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3d3ee2d23381b65b67e31498a48a618c9f1c99525cf7dc184645b7405d576a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/breeze-gtk-5.14.5.tar.xz">breeze-gtk-5.14.5</a></td>
   <td align="right">197kB</td>
   <td><tt>15ac26cbf7e1a39912fbd1c67b385ac6644aa9693f94463959b0e2d507c2da2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/breeze-plymouth-5.14.5.tar.xz">breeze-plymouth-5.14.5</a></td>
   <td align="right">102kB</td>
   <td><tt>2635babc2edf2baae1e40fd0107ffaf239f02545b38d7d8238b12abad3bf6de5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/discover-5.14.5.1.tar.xz">discover-5.14.5.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>3b201f9e56b89284092087d05171cefeb495a3002982a0dc7e7def407fd5debf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/drkonqi-5.14.5.tar.xz">drkonqi-5.14.5</a></td>
   <td align="right">720kB</td>
   <td><tt>e8a3d1912d5358eb4041ae959bde41923590aa09fbba04250f222787cca8fe75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kactivitymanagerd-5.14.5.tar.xz">kactivitymanagerd-5.14.5</a></td>
   <td align="right">82kB</td>
   <td><tt>87fa3dae3a8383f4e676faef3f5dcdb39de7094c868df497a533031daf4dba7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kde-cli-tools-5.14.5.tar.xz">kde-cli-tools-5.14.5</a></td>
   <td align="right">571kB</td>
   <td><tt>9626655df213c3b386f4ba0d16ab523bc97d05b6a1dcb02c3b001345b1b4b906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kde-gtk-config-5.14.5.tar.xz">kde-gtk-config-5.14.5</a></td>
   <td align="right">153kB</td>
   <td><tt>b54d41fde56d9bd7f420f69dd7c04ba3f99c838d18d9938d63d50a28273f8688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kdecoration-5.14.5.tar.xz">kdecoration-5.14.5</a></td>
   <td align="right">41kB</td>
   <td><tt>361eac4fa240208628ca689a8de614eb9dc79c41283cad24e814a98b41a4b784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kdeplasma-addons-5.14.5.1.tar.xz">kdeplasma-addons-5.14.5.1</a></td>
   <td align="right">589kB</td>
   <td><tt>9beda8d4eb60d0ca1df3d4c4d4146efe6a55071c912cc58c04549da755ab992e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kgamma5-5.14.5.tar.xz">kgamma5-5.14.5</a></td>
   <td align="right">77kB</td>
   <td><tt>c03be017517be1aa291741341f97541c5f47df3c1a4f66dc587652e579cb559f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/khotkeys-5.14.5.tar.xz">khotkeys-5.14.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4460c6b5a4a01c11517399d1c10b567ff86e5726a95440fc239d29b8de95e214</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kinfocenter-5.14.5.tar.xz">kinfocenter-5.14.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>cc66c15522ce1698e2f170339701d9e2866fc8becd28f74ab46db121d24b31fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kmenuedit-5.14.5.tar.xz">kmenuedit-5.14.5</a></td>
   <td align="right">753kB</td>
   <td><tt>2d941202a98bd4b5496388109be021ec1be1ff6dae5688107384c0a2cb5044a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kscreen-5.14.5.tar.xz">kscreen-5.14.5</a></td>
   <td align="right">121kB</td>
   <td><tt>d1239c5ce84d335fdee36ba77c974833bae5b95abd9ae016552f91ce9ef661d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kscreenlocker-5.14.5.tar.xz">kscreenlocker-5.14.5</a></td>
   <td align="right">119kB</td>
   <td><tt>d594896c8d7c5181f157b2f2eb25b0b4063d221696b730e72edc4cf0efc95599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/ksshaskpass-5.14.5.tar.xz">ksshaskpass-5.14.5</a></td>
   <td align="right">20kB</td>
   <td><tt>b29987093aea1fae79f7d724daaf5137c83ab2cdb352ded6a5c74f320f11796a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/ksysguard-5.14.5.tar.xz">ksysguard-5.14.5</a></td>
   <td align="right">489kB</td>
   <td><tt>0bdd4d30a400ecb5a562c11801ce49f1a36e006dbe2c92739e192040a9817d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kwallet-pam-5.14.5.tar.xz">kwallet-pam-5.14.5</a></td>
   <td align="right">18kB</td>
   <td><tt>68de718cd52b2117f46aa0049136a9f8bffc6f52d4453bc2e8c5e189109372d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kwayland-integration-5.14.5.tar.xz">kwayland-integration-5.14.5</a></td>
   <td align="right">18kB</td>
   <td><tt>7400869e31eb397d626d5857dffe91542010721ef0818e62da3dc65116eca065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kwin-5.14.5.tar.xz">kwin-5.14.5</a></td>
   <td align="right">6.2MB</td>
   <td><tt>447e7d269627f4e7354b206248a3ef393463f4dca688f95b5cb9f9c1bfa5cd45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/kwrited-5.14.5.tar.xz">kwrited-5.14.5</a></td>
   <td align="right">19kB</td>
   <td><tt>d06283cdfdb6ab1323e45a8e36b8bf119ffba523bc138ee081a4289499c62504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/libkscreen-5.14.5.tar.xz">libkscreen-5.14.5</a></td>
   <td align="right">78kB</td>
   <td><tt>fee8f08814213575187895572db9056dfa252215c9dbd862e251a7ab0aadcaef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/libksysguard-5.14.5.tar.xz">libksysguard-5.14.5</a></td>
   <td align="right">562kB</td>
   <td><tt>ca571491fbc71a12c39247d25b4474dabd5d08894a1f05b67efb6edcce03df86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/milou-5.14.5.tar.xz">milou-5.14.5</a></td>
   <td align="right">56kB</td>
   <td><tt>0315e73b9c9ba568b09fa13c0bd75c5fa5d36a18e5e1567fde8c57580321e69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/oxygen-5.14.5.tar.xz">oxygen-5.14.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>684edb853905bbb0b14c99673bb8857d6ddb66685759f3809fed27e3d499e040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plasma-browser-integration-5.14.5.tar.xz">plasma-browser-integration-5.14.5</a></td>
   <td align="right">107kB</td>
   <td><tt>5a44d8c22be7fcf5166be5123760bf2122e281055a9f20199c6b3e007581c088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plasma-desktop-5.14.5.1.tar.xz">plasma-desktop-5.14.5.1</a></td>
   <td align="right">8.7MB</td>
   <td><tt>78997ec7436cf426b539bc69569f608f10c42b4c021990a691eb13d85f9d8344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plasma-integration-5.14.5.tar.xz">plasma-integration-5.14.5</a></td>
   <td align="right">52kB</td>
   <td><tt>ba8d9fec80227c016ee2703dac3b27921ee4045e3d0727c2e992919823cdd096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plasma-nm-5.14.5.tar.xz">plasma-nm-5.14.5</a></td>
   <td align="right">704kB</td>
   <td><tt>a276a73216a6903f92849fc1e3acb2bb6bbf01b78550c20504ce314a1343c9c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plasma-pa-5.14.5.tar.xz">plasma-pa-5.14.5</a></td>
   <td align="right">92kB</td>
   <td><tt>0f4735d97950921517d96f3bd24753c6e6416384e7a010ed77317852cfc3e47c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plasma-sdk-5.14.5.tar.xz">plasma-sdk-5.14.5</a></td>
   <td align="right">244kB</td>
   <td><tt>21f77a9b2e4b019de80e5f07df60b64f4ee738a8a36904bf6e5765e8cdb4206d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plasma-tests-5.14.5.tar.xz">plasma-tests-5.14.5</a></td>
   <td align="right">1kB</td>
   <td><tt>d04b22f45c86ee2127a292d272d41d3376249f33b6faa6433b0644637b42080e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plasma-vault-5.14.5.tar.xz">plasma-vault-5.14.5</a></td>
   <td align="right">118kB</td>
   <td><tt>23d6626918b4b0114e928b2bbb5f2a55a0dd919e270d27a7138cb3598125249f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plasma-workspace-5.14.5.1.tar.xz">plasma-workspace-5.14.5.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b0019036fd17fa17534f8fd73b00d520a110bfccbfbb8112cbba69e45d8686be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plasma-workspace-wallpapers-5.14.5.tar.xz">plasma-workspace-wallpapers-5.14.5</a></td>
   <td align="right">43MB</td>
   <td><tt>3885dfd118b5889e2473d846a0ff44854c45cc416bc498298cc708120b32009f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/plymouth-kcm-5.14.5.tar.xz">plymouth-kcm-5.14.5</a></td>
   <td align="right">38kB</td>
   <td><tt>f31cdb8d02558b19018b2f3cc45523d7ba68e1e982a2a14837891006f39d95b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/polkit-kde-agent-1-5.14.5.tar.xz">polkit-kde-agent-1-5.14.5</a></td>
   <td align="right">41kB</td>
   <td><tt>4f896546dd0305df990d5603cf9ee3604ce6cd4cb3a01d5e51db6a2ff027fcd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/powerdevil-5.14.5.tar.xz">powerdevil-5.14.5</a></td>
   <td align="right">585kB</td>
   <td><tt>45627ec4c93806ccb653a1c6d63e901931646cef53a117be8e2cac75a691b965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/sddm-kcm-5.14.5.tar.xz">sddm-kcm-5.14.5</a></td>
   <td align="right">59kB</td>
   <td><tt>a1220ef49e57a5b0f63a01501d2d5d57c704f0869db7c53a465c40c1f2133d2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/systemsettings-5.14.5.tar.xz">systemsettings-5.14.5</a></td>
   <td align="right">175kB</td>
   <td><tt>fca73e90c509f899878170d2ae06751b42c2f3aa7830af88d11ab6b9c98131e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/user-manager-5.14.5.tar.xz">user-manager-5.14.5</a></td>
   <td align="right">533kB</td>
   <td><tt>5bb2f76b467fdcdaa1f6fdecebd0494534307859d1a6d747fff9909204d0822b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.5/xdg-desktop-portal-kde-5.14.5.tar.xz">xdg-desktop-portal-kde-5.14.5</a></td>
   <td align="right">51kB</td>
   <td><tt>b8b57d8035aa5e4195b1fd655ef9f62a9971c61ce7a8afa49328b9e9d26cd040</tt></td>
</tr>

</table>
