<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/aura-browser-5.26.5.tar.xz">aura-browser-5.26.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d146c85ed27a1b8a227376dae8cdec5719585beae636c9a097e714b851011236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/bluedevil-5.26.5.tar.xz">bluedevil-5.26.5</a></td>
   <td align="right">311kB</td>
   <td><tt>3e9de875b0f04a0aea78db174d3d6e60d8b3659bd6b23f4e9bd7ae0f88d53019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/breeze-5.26.5.tar.xz">breeze-5.26.5</a></td>
   <td align="right">55MB</td>
   <td><tt>1e9d3b40728fbf213998f63e4610a07944feb31cead514a05f2458250758ff03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/breeze-grub-5.26.5.tar.xz">breeze-grub-5.26.5</a></td>
   <td align="right">3.0MB</td>
   <td><tt>9cbcacd6676893b27207b4795ae66632455acad6a543599ca424620fcdc67245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/breeze-gtk-5.26.5.tar.xz">breeze-gtk-5.26.5</a></td>
   <td align="right">39kB</td>
   <td><tt>1147ca2228144a0e6f939ca952007218b505307f0d62db3da8a92f66766633cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/breeze-plymouth-5.26.5.tar.xz">breeze-plymouth-5.26.5</a></td>
   <td align="right">108kB</td>
   <td><tt>3bc57ef7732aa97a0a25b4d280485031376c1a0401dba3c695269b684f8c716a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/discover-5.26.5.tar.xz">discover-5.26.5</a></td>
   <td align="right">651kB</td>
   <td><tt>a6babe848fe25395688bf48417aa95781e61a23e07f61df374f6e36d8f23cda5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/drkonqi-5.26.5.tar.xz">drkonqi-5.26.5</a></td>
   <td align="right">495kB</td>
   <td><tt>07f0c9fe9d03f3b6c6b86930f01f57ec04a0143596d237ca6af2f343353ad4eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kactivitymanagerd-5.26.5.tar.xz">kactivitymanagerd-5.26.5</a></td>
   <td align="right">106kB</td>
   <td><tt>0a0aceb612694098cd4a067535b4e955690649d6885913df43dcb14b07b4f67a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kde-cli-tools-5.26.5.tar.xz">kde-cli-tools-5.26.5</a></td>
   <td align="right">615kB</td>
   <td><tt>79660c20973616eb7a13dd6a9730e1a3eb61cd35939af95edd9ac0385bc75d36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kdecoration-5.26.5.tar.xz">kdecoration-5.26.5</a></td>
   <td align="right">50kB</td>
   <td><tt>a2fd0f06060635eec1bdec5abbd7a476b4c84dab125391248db5f322e2c7f7b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kde-gtk-config-5.26.5.tar.xz">kde-gtk-config-5.26.5</a></td>
   <td align="right">72kB</td>
   <td><tt>f674007c0fc60cf99a9e18742d47da6835ce55c942bd987d011012d0ee9b2483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kdeplasma-addons-5.26.5.tar.xz">kdeplasma-addons-5.26.5</a></td>
   <td align="right">674kB</td>
   <td><tt>58fae65bc00b3b4c583f35508aedf0e3627e34469700b81e1a9bb8f8a26d799f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kgamma5-5.26.5.tar.xz">kgamma5-5.26.5</a></td>
   <td align="right">85kB</td>
   <td><tt>a841d4470cb4ebc8a3819582f0a0622ad0c6d62cc2c28c73e0616cad44bd996c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/khotkeys-5.26.5.tar.xz">khotkeys-5.26.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>88533dfe85fc1cf1212e4daa64e8c447a476fe0f735a4d6a6fb94e736c817552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kinfocenter-5.26.5.tar.xz">kinfocenter-5.26.5</a></td>
   <td align="right">718kB</td>
   <td><tt>9d786692be2bcdcbdf6db438428b76e6b2c7751a383446c79ef18b7caa136a66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kmenuedit-5.26.5.tar.xz">kmenuedit-5.26.5</a></td>
   <td align="right">884kB</td>
   <td><tt>f73c167a3c5059a77068f67794301695ac10c2dece8944654f978655cf993e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kpipewire-5.26.5.tar.xz">kpipewire-5.26.5</a></td>
   <td align="right">51kB</td>
   <td><tt>3bb77c2aeb51267578d2fe8c46dcc9d0e51f9702abc5c1dd4f1b574430af1efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kscreen-5.26.5.tar.xz">kscreen-5.26.5</a></td>
   <td align="right">150kB</td>
   <td><tt>3df884e30189121203f9aaec4f4e1052d4f545cdd42431b23e7a88fceecf1e71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kscreenlocker-5.26.5.tar.xz">kscreenlocker-5.26.5</a></td>
   <td align="right">113kB</td>
   <td><tt>4f70a3647fbc68240ac104ee1f596eca2558ba98d38e4a4e42a784b9561f9653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/ksshaskpass-5.26.5.tar.xz">ksshaskpass-5.26.5</a></td>
   <td align="right">26kB</td>
   <td><tt>a0438ca0dd28bb2187a35106a599f3cf3c3ef4f8be7f056d892584ade6ea124c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/ksystemstats-5.26.5.tar.xz">ksystemstats-5.26.5</a></td>
   <td align="right">104kB</td>
   <td><tt>71e5ec962256e84f7e1933c97ad64c9d008a555e78979739e215afb70d174aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kwallet-pam-5.26.5.tar.xz">kwallet-pam-5.26.5</a></td>
   <td align="right">22kB</td>
   <td><tt>dd27775cdc630592f2f7f88c7eb75e093fb774770eb9864fa30fb48860fcb7b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kwayland-integration-5.26.5.tar.xz">kwayland-integration-5.26.5</a></td>
   <td align="right">26kB</td>
   <td><tt>9daa3367091b7bc3c1156879f34da81ba994dbbee7613ed4c1100481a909f833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kwin-5.26.5.tar.xz">kwin-5.26.5</a></td>
   <td align="right">6.3MB</td>
   <td><tt>13e0818ffc2a9b2038a9638b0413c14070be6d86abfcf6b8d188263d4a011bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/kwrited-5.26.5.tar.xz">kwrited-5.26.5</a></td>
   <td align="right">22kB</td>
   <td><tt>a9d66d664baecad2898f624c097f4283dea49dca376ea00f08a54fee17dd4a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/layer-shell-qt-5.26.5.tar.xz">layer-shell-qt-5.26.5</a></td>
   <td align="right">17kB</td>
   <td><tt>496529d2736a1ae07f5206b9a65f26f929ee07e8519da645aa130a163d6be9cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/libkscreen-5.26.5.tar.xz">libkscreen-5.26.5</a></td>
   <td align="right">103kB</td>
   <td><tt>a591d20167eb64552658e0d40c6fcbc0aabaced3ad4984744b20d9bbe57f526d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/libksysguard-5.26.5.tar.xz">libksysguard-5.26.5</a></td>
   <td align="right">777kB</td>
   <td><tt>17e5372eca2ad162e82a892b1cb2c9a3d1d124489ac7d2b0fc34a4f04de54105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/milou-5.26.5.tar.xz">milou-5.26.5</a></td>
   <td align="right">49kB</td>
   <td><tt>68ffe39bd59f8ba0c0d4a74c92f969d321ad4a2e86ede91fac60691f8825bfde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/oxygen-5.26.5.tar.xz">oxygen-5.26.5</a></td>
   <td align="right">2.6MB</td>
   <td><tt>f8997511ba31211e7ac24876f21797f32413643828a950a2fcfb5faca2859472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/oxygen-sounds-5.26.5.tar.xz">oxygen-sounds-5.26.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>def2b25b973de875bb19131b75c51f1dadfeabed209a368d31556461b55e46f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plank-player-5.26.5.tar.xz">plank-player-5.26.5</a></td>
   <td align="right">153kB</td>
   <td><tt>7aed93e0f6c40b5e64977476743cf222479a03693a5410f47d1134862b39dca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-bigscreen-5.26.5.tar.xz">plasma-bigscreen-5.26.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e57425a13d7fd6d5ecf3bddabbfb13915c4e4510e992159f3934e0d7f8b32321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-browser-integration-5.26.5.tar.xz">plasma-browser-integration-5.26.5</a></td>
   <td align="right">232kB</td>
   <td><tt>9478549b87e1021d8b7d4ea42f637dc891e857340f2c548e8c12a2b68b82dfad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-desktop-5.26.5.tar.xz">plasma-desktop-5.26.5</a></td>
   <td align="right">6.0MB</td>
   <td><tt>c6fe5d3bd37c6e5ae355dddf7e5ffaff4df5cb3e9a9170190b4cf851952e6c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-disks-5.26.5.tar.xz">plasma-disks-5.26.5</a></td>
   <td align="right">90kB</td>
   <td><tt>60c082d4d077557c80ade742cdb93f20f9c370178f4457f3361b0b4f2921f38c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-firewall-5.26.5.tar.xz">plasma-firewall-5.26.5</a></td>
   <td align="right">350kB</td>
   <td><tt>66d07130c8c75d5e6df6999528e6505204a1b53b5a426409b9a24b6f713cd7a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-integration-5.26.5.tar.xz">plasma-integration-5.26.5</a></td>
   <td align="right">86kB</td>
   <td><tt>2f541aec1e951bb6f62aee6201857e382037850b4870c3748aead48ae1cfe72a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-mobile-5.26.5.tar.xz">plasma-mobile-5.26.5</a></td>
   <td align="right">3.2MB</td>
   <td><tt>726b8c858749dd21ec98a37a9c3f43fefeef6ef29027f677adb827f52a52f019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-nano-5.26.5.tar.xz">plasma-nano-5.26.5</a></td>
   <td align="right">70kB</td>
   <td><tt>d25665758dd72de3cb16701374058e05b835c6a55381aa7b970fd137d9523a98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-nm-5.26.5.tar.xz">plasma-nm-5.26.5</a></td>
   <td align="right">950kB</td>
   <td><tt>c4cc53ce708bf5373f44c3fdbff346191c2dd3adb84fee0c4c625d38214d51d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-pa-5.26.5.tar.xz">plasma-pa-5.26.5</a></td>
   <td align="right">139kB</td>
   <td><tt>0582c5dc260ff51540d15e71d1ce82d9c439fd4d57e5bb69d4c8fc28d58d29a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-remotecontrollers-5.26.5.tar.xz">plasma-remotecontrollers-5.26.5</a></td>
   <td align="right">69kB</td>
   <td><tt>a00b7cff051ebfa67d42aaf20514ff3d66b2eec2c4d2a9f1c4dc8e0b990c55b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-sdk-5.26.5.tar.xz">plasma-sdk-5.26.5</a></td>
   <td align="right">268kB</td>
   <td><tt>361dff77d1e040f329a5169211a88eb008b37a440873242464a1ed7299d0405c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-systemmonitor-5.26.5.tar.xz">plasma-systemmonitor-5.26.5</a></td>
   <td align="right">164kB</td>
   <td><tt>01affc9972589f6841b8e1c17187b34e0077e414fb472c52b8e04054e9d7f075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-tests-5.26.5.tar.xz">plasma-tests-5.26.5</a></td>
   <td align="right">1kB</td>
   <td><tt>d981fee29a726e03a4c7b287ce711ea93d551420ac943d28cce736f9b28d0cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-thunderbolt-5.26.5.tar.xz">plasma-thunderbolt-5.26.5</a></td>
   <td align="right">70kB</td>
   <td><tt>c59b08303b17586afeeeccb28336614b03ac5e2c79fa81d976a39231451df2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-vault-5.26.5.tar.xz">plasma-vault-5.26.5</a></td>
   <td align="right">182kB</td>
   <td><tt>4ac2caaf2af0df1ee6cbedfe2fad5bce53eaecccab7ca819ab65a395afd18c80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-workspace-5.26.5.tar.xz">plasma-workspace-5.26.5</a></td>
   <td align="right">16MB</td>
   <td><tt>4cb2926fcd661ab827205b76a3f29efd820b9a787fd9707d5d88dcf530b55220</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plasma-workspace-wallpapers-5.26.5.tar.xz">plasma-workspace-wallpapers-5.26.5</a></td>
   <td align="right">80MB</td>
   <td><tt>11bda15301f2881497f78a8cf32471d652c4ad0b0ac797f775f8904465b1f41d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/plymouth-kcm-5.26.5.tar.xz">plymouth-kcm-5.26.5</a></td>
   <td align="right">42kB</td>
   <td><tt>4166ab4f36fa4b25c6b6312de94bacc3bf569f48693021686b62a9d59fd15dc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/polkit-kde-agent-1-5.26.5.tar.xz">polkit-kde-agent-1-5.26.5</a></td>
   <td align="right">48kB</td>
   <td><tt>71244256cbeef3859f104030eb3b1c00adea405d2b9e593087e6a10a489759a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/powerdevil-5.26.5.tar.xz">powerdevil-5.26.5</a></td>
   <td align="right">627kB</td>
   <td><tt>773bddb2a38ee6dfb490df5a81ed0b76de9df4e3b2b2773fe66cea6b1bc76b18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/qqc2-breeze-style-5.26.5.tar.xz">qqc2-breeze-style-5.26.5</a></td>
   <td align="right">64kB</td>
   <td><tt>b926c8e6b2ce43681bd36373b4fd509bcb1fd5570ee0cf10528897f0a8241bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/sddm-kcm-5.26.5.tar.xz">sddm-kcm-5.26.5</a></td>
   <td align="right">81kB</td>
   <td><tt>bb33f4d7d64d51d32abb110ff9b560d7e19dbbf321bdb70abd6d66bedb59f431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/systemsettings-5.26.5.tar.xz">systemsettings-5.26.5</a></td>
   <td align="right">200kB</td>
   <td><tt>da8e25bfbee7c7131e38337334ee419b5d1692b2f8cff1de3e00bf31926961c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.26.5/xdg-desktop-portal-kde-5.26.5.tar.xz">xdg-desktop-portal-kde-5.26.5</a></td>
   <td align="right">107kB</td>
   <td><tt>52ff8564201b7693cc3ea0fc93e7bfe307fe55c98661a2a5e5ba8f0612f5f6c3</tt></td>
</tr>

</table>
