
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/attica-5.101.0.tar.xz">attica-5.101.0</a></td>
   <td align="right">67kB</td>
   <td><tt>73e60844451f9a8e7069d83cf5959b1f4e2b3bb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/baloo-5.101.0.tar.xz">baloo-5.101.0</a></td>
   <td align="right">294kB</td>
   <td><tt>df90da5febe15e775872febc6df4354bf3c9c280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/bluez-qt-5.101.0.tar.xz">bluez-qt-5.101.0</a></td>
   <td align="right">111kB</td>
   <td><tt>f364a75057eefa6abc032b58846856da40fe924d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/breeze-icons-5.101.0.tar.xz">breeze-icons-5.101.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3a9ff9dcd11d5aeb612f421d27f02709df782e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/extra-cmake-modules-5.101.0.tar.xz">extra-cmake-modules-5.101.0</a></td>
   <td align="right">324kB</td>
   <td><tt>60659656937a2e2c039f5fe9f870c46630b88a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/frameworkintegration-5.101.0.tar.xz">frameworkintegration-5.101.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9b22d2c23108b916121a85c83f9aaf72a3e0db06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kactivities-5.101.0.tar.xz">kactivities-5.101.0</a></td>
   <td align="right">71kB</td>
   <td><tt>c4cd8d7993bbd8fd644f58c742dde78820bef364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kactivities-stats-5.101.0.tar.xz">kactivities-stats-5.101.0</a></td>
   <td align="right">82kB</td>
   <td><tt>ce5f24ffb84b713cdd354e62e8320b65080347d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kapidox-5.101.0.tar.xz">kapidox-5.101.0</a></td>
   <td align="right">193kB</td>
   <td><tt>2bae89ac9a619ca2d5923cf8674c68cad1f35445</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/karchive-5.101.0.tar.xz">karchive-5.101.0</a></td>
   <td align="right">980kB</td>
   <td><tt>2e774062a0e4900119867923adb1c9b2358dbbf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kauth-5.101.0.tar.xz">kauth-5.101.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>942cb9cb617546766264bb272755c11eabfd1f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kbookmarks-5.101.0.tar.xz">kbookmarks-5.101.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a1a429b8cc19d6821d0c933960a7dececcf4fd3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kcalendarcore-5.101.0.tar.xz">kcalendarcore-5.101.0</a></td>
   <td align="right">261kB</td>
   <td><tt>2ca950d3e980a538662217bd4e0d7745b516b8e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kcmutils-5.101.0.tar.xz">kcmutils-5.101.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>de7f772ae80742e8e5839e1223d1a19f642b8eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kcodecs-5.101.0.tar.xz">kcodecs-5.101.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>92ab09d259fff1f882f920d06c57ff41ba1c2caa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kcompletion-5.101.0.tar.xz">kcompletion-5.101.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1862ffe22e70c300310f4931f2a794dfa96f10ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kconfig-5.101.0.tar.xz">kconfig-5.101.0</a></td>
   <td align="right">284kB</td>
   <td><tt>45d85f015dd47330b65650317b6cc261cfdf1716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kconfigwidgets-5.101.0.tar.xz">kconfigwidgets-5.101.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6f744166b087109f3ecf4f3f58a0230be69858f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kcontacts-5.101.0.tar.xz">kcontacts-5.101.0</a></td>
   <td align="right">207kB</td>
   <td><tt>8e16c4d7a33ac770460cf18eede5428400d193b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kcoreaddons-5.101.0.tar.xz">kcoreaddons-5.101.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>4f5d58248e57baeef86c80adac35fe152c086ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kcrash-5.101.0.tar.xz">kcrash-5.101.0</a></td>
   <td align="right">27kB</td>
   <td><tt>3cfa54ad75514290aca86101dc227e0e5b3e8d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kdav-5.101.0.tar.xz">kdav-5.101.0</a></td>
   <td align="right">64kB</td>
   <td><tt>7084b701754c34fb2bffa3ae34169f94177ec439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kdbusaddons-5.101.0.tar.xz">kdbusaddons-5.101.0</a></td>
   <td align="right">47kB</td>
   <td><tt>ce1c84597c2a7e2a01c5e40e9e8e9d154ec5752e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kdeclarative-5.101.0.tar.xz">kdeclarative-5.101.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b23a9013f15276bff329f524e9f7c719f9ed39ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kded-5.101.0.tar.xz">kded-5.101.0</a></td>
   <td align="right">40kB</td>
   <td><tt>d76c828765f8a5fc74f15e91220671545c75fa84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kdesu-5.101.0.tar.xz">kdesu-5.101.0</a></td>
   <td align="right">54kB</td>
   <td><tt>eddaa6bda4118dd8a7ee8b4dae2f18dc419949f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kdnssd-5.101.0.tar.xz">kdnssd-5.101.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>36909199bddfbeaf03ee6197aeac54e8caf53137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kdoctools-5.101.0.tar.xz">kdoctools-5.101.0</a></td>
   <td align="right">451kB</td>
   <td><tt>f79c480ea08404a8bdf24fcc07b3230e7e2797ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kemoticons-5.101.0.tar.xz">kemoticons-5.101.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bbe706ec3df90d01df3b8d02b47e7bacc5ac42ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kfilemetadata-5.101.0.tar.xz">kfilemetadata-5.101.0</a></td>
   <td align="right">449kB</td>
   <td><tt>03809d6311f7bbdf50af303031c588615594b970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kglobalaccel-5.101.0.tar.xz">kglobalaccel-5.101.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>2cf99f7d8a2b3a0c9380a001c3f1dc403839b644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kguiaddons-5.101.0.tar.xz">kguiaddons-5.101.0</a></td>
   <td align="right">75kB</td>
   <td><tt>f63c1aeaa9354633e509cf613c15b27b554cd9aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kholidays-5.101.0.tar.xz">kholidays-5.101.0</a></td>
   <td align="right">245kB</td>
   <td><tt>70f7aa242710f405c7218c5eff21e5810e640189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/ki18n-5.101.0.tar.xz">ki18n-5.101.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>91897e53a32f452667fc4cf7335b370a3fe8aa53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kiconthemes-5.101.0.tar.xz">kiconthemes-5.101.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8f08c75a9e01db51c1bfd45667a1900df14ceee9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kidletime-5.101.0.tar.xz">kidletime-5.101.0</a></td>
   <td align="right">30kB</td>
   <td><tt>426e4f66409f41e11698e6e7841d08585ca438e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kimageformats-5.101.0.tar.xz">kimageformats-5.101.0</a></td>
   <td align="right">12MB</td>
   <td><tt>a2546806f75eaf898b8dec3fc4871f048cd53db5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kinit-5.101.0.tar.xz">kinit-5.101.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>74310940e9ee45f4226e8efd340e9b78a4fc08cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kio-5.101.0.tar.xz">kio-5.101.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>21fc0377cf436c317795a8e4c7ac48e90a0591b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kirigami2-5.101.0.tar.xz">kirigami2-5.101.0</a></td>
   <td align="right">360kB</td>
   <td><tt>846d3510378bc16e3d979175ea152bd0259950e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kitemmodels-5.101.0.tar.xz">kitemmodels-5.101.0</a></td>
   <td align="right">397kB</td>
   <td><tt>36988a8d4a7233253c81ae4455c1dabae682127b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kitemviews-5.101.0.tar.xz">kitemviews-5.101.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1a8b75c9dfe3bb1c160fc4cb4636cb09f96fc535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kjobwidgets-5.101.0.tar.xz">kjobwidgets-5.101.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>bdf4e4ef011c3b797fbd766bfe8e9e9badfe5b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/knewstuff-5.101.0.tar.xz">knewstuff-5.101.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>8ea7f88983d47b046aa18e36abc3a0eccc4d900d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/knotifications-5.101.0.tar.xz">knotifications-5.101.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>ffd08eacf9b34fa5fd42a1be264ca2117944ff09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/knotifyconfig-5.101.0.tar.xz">knotifyconfig-5.101.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3318c20a5f28c25544bcc985222057f085d37cb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kpackage-5.101.0.tar.xz">kpackage-5.101.0</a></td>
   <td align="right">182kB</td>
   <td><tt>ebfbe47f7bd4bfb0a1a6acc7ff8f72d0f8a81625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kparts-5.101.0.tar.xz">kparts-5.101.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b6e33cac7425d7d3b72dff52267c9e6855cd12a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kpeople-5.101.0.tar.xz">kpeople-5.101.0</a></td>
   <td align="right">61kB</td>
   <td><tt>53568ff8d3528c16a260b8502c53177f3e7752c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kplotting-5.101.0.tar.xz">kplotting-5.101.0</a></td>
   <td align="right">32kB</td>
   <td><tt>190facfa5272ed932f495ad442ed8b255b66f216</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kpty-5.101.0.tar.xz">kpty-5.101.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5f8371235911f4a071cfd7f576c765ff9ef9073c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kquickcharts-5.101.0.tar.xz">kquickcharts-5.101.0</a></td>
   <td align="right">110kB</td>
   <td><tt>697a6e928f52ffa366fbd93ee98ba54849acbe61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/krunner-5.101.0.tar.xz">krunner-5.101.0</a></td>
   <td align="right">86kB</td>
   <td><tt>79b316077e753bbc51d0e2a6574e8dafbfe86ac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kservice-5.101.0.tar.xz">kservice-5.101.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2645b36356813e1d4b81b812905c91adcc919cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/ktexteditor-5.101.0.tar.xz">ktexteditor-5.101.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d66111e695bce0ee194bd2efb3b092bc85c0ba64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/ktextwidgets-5.101.0.tar.xz">ktextwidgets-5.101.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6acfa54997039a27e1360919821f4eac32e413d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kunitconversion-5.101.0.tar.xz">kunitconversion-5.101.0</a></td>
   <td align="right">894kB</td>
   <td><tt>39f24dcb30f60a7a68982737e6054a31adfb7fb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kwallet-5.101.0.tar.xz">kwallet-5.101.0</a></td>
   <td align="right">339kB</td>
   <td><tt>759a34ca25f4b279081304d0ac5e8d4c655a5704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kwayland-5.101.0.tar.xz">kwayland-5.101.0</a></td>
   <td align="right">328kB</td>
   <td><tt>875fad99697cda649211babb08a5638f33c4371b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kwidgetsaddons-5.101.0.tar.xz">kwidgetsaddons-5.101.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>b8880f57a4c959794d23a38fc0e4aaa4e0c67c51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kwindowsystem-5.101.0.tar.xz">kwindowsystem-5.101.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1f1560f58d6ca508dd23c4762df059f46176ff26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/kxmlgui-5.101.0.tar.xz">kxmlgui-5.101.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a3d5651f7dfa19b180b7d6a6cd7e37342943051a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/modemmanager-qt-5.101.0.tar.xz">modemmanager-qt-5.101.0</a></td>
   <td align="right">118kB</td>
   <td><tt>5216097c6c287a570139333e9f501d22c9a9888d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/networkmanager-qt-5.101.0.tar.xz">networkmanager-qt-5.101.0</a></td>
   <td align="right">193kB</td>
   <td><tt>d6fd3a13ffdd2987bc169b2f9d40a224da3d01e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/oxygen-icons5-5.101.0.tar.xz">oxygen-icons5-5.101.0</a></td>
   <td align="right">227MB</td>
   <td><tt>8b1df5217a81160e86250aed5d09a5c0c6bfe3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/plasma-framework-5.101.0.tar.xz">plasma-framework-5.101.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>4587f6c041f35e7d6602caafb0629dad53f36eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/prison-5.101.0.tar.xz">prison-5.101.0</a></td>
   <td align="right">53kB</td>
   <td><tt>537b441b060f4ff6d4d4179f21a664957be3b4c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/purpose-5.101.0.tar.xz">purpose-5.101.0</a></td>
   <td align="right">172kB</td>
   <td><tt>c25660da751ebacb313b82533c36a393ca81b064</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/qqc2-desktop-style-5.101.0.tar.xz">qqc2-desktop-style-5.101.0</a></td>
   <td align="right">66kB</td>
   <td><tt>e61d6bf8fabdf8b0166b7270f33dd0e85711679c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/solid-5.101.0.tar.xz">solid-5.101.0</a></td>
   <td align="right">295kB</td>
   <td><tt>6e4ba00a54459c04eb433fe052ac94fe680f7a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/sonnet-5.101.0.tar.xz">sonnet-5.101.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>45cee0d29fa80cb049bc0b53ed62a1cc4dbcf568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/syndication-5.101.0.tar.xz">syndication-5.101.0</a></td>
   <td align="right">498kB</td>
   <td><tt>48647e817d13ed4f491d6a2152ee3aaf01899db6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/syntax-highlighting-5.101.0.tar.xz">syntax-highlighting-5.101.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>282a60401088ac0e2bd01201d4033e41828fff55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.101/threadweaver-5.101.0.tar.xz">threadweaver-5.101.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9bea2f171ddb69c1bde80e0dcd58fe7414768033</tt></td>
</tr>

</table>
