<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/aura-browser-5.27.7.tar.xz">aura-browser-5.27.7</a></td>
   <td align="right">2.9MB</td>
   <td><tt>b900d163bebb9a74cd92ed2091363a1a14c266849d339f586b3a618c1f1feb5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/bluedevil-5.27.7.tar.xz">bluedevil-5.27.7</a></td>
   <td align="right">356kB</td>
   <td><tt>cbc1aea8cceefd68a015098101de669df9a4d619a7a7baeb823b1b60b362bf35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/breeze-5.27.7.tar.xz">breeze-5.27.7</a></td>
   <td align="right">83MB</td>
   <td><tt>bffdcf314009b6fcb0202a58e48b3e62a4cbf741f5f299c257998f46dea4ccf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/breeze-grub-5.27.7.tar.xz">breeze-grub-5.27.7</a></td>
   <td align="right">3.0MB</td>
   <td><tt>3539bac5f153ac360c90458b5f431510cff804187fae9be3c815fa72ba4900b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/breeze-gtk-5.27.7.tar.xz">breeze-gtk-5.27.7</a></td>
   <td align="right">39kB</td>
   <td><tt>293294ed0b51c07496fe8c2ede841eb6e2ef41926725e11658c7208543d958e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/breeze-plymouth-5.27.7.tar.xz">breeze-plymouth-5.27.7</a></td>
   <td align="right">108kB</td>
   <td><tt>bfb58d6354243e79e375658558cb89e1a9742e1c99bc42dc2d492a65621ba3ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/discover-5.27.7.tar.xz">discover-5.27.7</a></td>
   <td align="right">848kB</td>
   <td><tt>a9eca14bb4cf3094d5c4df7975f1a793fca8fb4018ca1252d1e1230c79784500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/drkonqi-5.27.7.tar.xz">drkonqi-5.27.7</a></td>
   <td align="right">841kB</td>
   <td><tt>e82716415c22a3d6cf90e2380a64cbf5d7d171ab32d02cd29056bced0b9221d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/flatpak-kcm-5.27.7.tar.xz">flatpak-kcm-5.27.7</a></td>
   <td align="right">224kB</td>
   <td><tt>a2ec35e31524c21f377a3687bd8c419765570e35299ecb3f5351a26eddee32b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kactivitymanagerd-5.27.7.tar.xz">kactivitymanagerd-5.27.7</a></td>
   <td align="right">124kB</td>
   <td><tt>2df245330612d79090980269ad7c4e776150598e583761ac83f628cc1ffafbb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kde-cli-tools-5.27.7.tar.xz">kde-cli-tools-5.27.7</a></td>
   <td align="right">651kB</td>
   <td><tt>aadb24e6153451111c22574ee27b1e562ba5e923f0a260a817ed58a2168a21af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kdecoration-5.27.7.tar.xz">kdecoration-5.27.7</a></td>
   <td align="right">51kB</td>
   <td><tt>ef26a499d51f4da9e6c25a0209d08b5e8dcedddc86e066537f46f20f001f7294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kde-gtk-config-5.27.7.tar.xz">kde-gtk-config-5.27.7</a></td>
   <td align="right">75kB</td>
   <td><tt>ae2a1e468f4132a8efcf61818847d453e73f8b7010d900a6a1406fd7de901c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kdeplasma-addons-5.27.7.tar.xz">kdeplasma-addons-5.27.7</a></td>
   <td align="right">802kB</td>
   <td><tt>51c73d8872fce7f3bc54a8fbf480a40c0178d63f703fe696721d046f3a25ef50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kgamma5-5.27.7.tar.xz">kgamma5-5.27.7</a></td>
   <td align="right">86kB</td>
   <td><tt>d45e88d4ee1c6cffa0b5ef085c4a7d028ade37e2daa72253e74941d9bcf5ae6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/khotkeys-5.27.7.tar.xz">khotkeys-5.27.7</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6d85041dc59a4e0c6726c97c3f30caf6d22b8f960bcfc39fcdd294f16538efc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kinfocenter-5.27.7.tar.xz">kinfocenter-5.27.7</a></td>
   <td align="right">992kB</td>
   <td><tt>72ee8872213f08c2d910e82712db2d24773c28701cdbb9e7d23f671791401596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kmenuedit-5.27.7.tar.xz">kmenuedit-5.27.7</a></td>
   <td align="right">910kB</td>
   <td><tt>67abf2bf9166c0c7797442edcfc5d6f7eba4a575ac689859b651eac509f9c058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kpipewire-5.27.7.tar.xz">kpipewire-5.27.7</a></td>
   <td align="right">58kB</td>
   <td><tt>0ad273b8875c0472e0b4f4332c9f1a5d93dca6533f978fd0606094bd91d24782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kscreen-5.27.7.tar.xz">kscreen-5.27.7</a></td>
   <td align="right">180kB</td>
   <td><tt>38d755e1b01584e1c21a925b2ab046c0f8f977bb1c4e75d436ebc9c633160a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kscreenlocker-5.27.7.tar.xz">kscreenlocker-5.27.7</a></td>
   <td align="right">157kB</td>
   <td><tt>c2013b510ed714b0f2544b37393b82cb1d6699dec829c8906d10dd249a9ec387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/ksshaskpass-5.27.7.tar.xz">ksshaskpass-5.27.7</a></td>
   <td align="right">27kB</td>
   <td><tt>e13175acf1ac1eb95a2454ab30b57e1e829a32145a7acf931f892546e46ebe6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/ksystemstats-5.27.7.tar.xz">ksystemstats-5.27.7</a></td>
   <td align="right">113kB</td>
   <td><tt>7c3f8998e6f5abd1adfd22fe6272b9f178bb4db716a3d8dfc162f46e4c59a5bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kwallet-pam-5.27.7.tar.xz">kwallet-pam-5.27.7</a></td>
   <td align="right">22kB</td>
   <td><tt>2b3bf57d4d1108c64fdaee7b3b14008636ff8316d9dd8325206f47fc2f8680a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kwayland-integration-5.27.7.tar.xz">kwayland-integration-5.27.7</a></td>
   <td align="right">25kB</td>
   <td><tt>1e7997688a329563f62ce7534e82326a4317d9ecf12403d12e70d4d237316ebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kwin-5.27.7.tar.xz">kwin-5.27.7</a></td>
   <td align="right">7.2MB</td>
   <td><tt>cbff55ba018463bc05ba286663aea1d7b0f48993dc3c778b5514e34fcdb95a2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/kwrited-5.27.7.tar.xz">kwrited-5.27.7</a></td>
   <td align="right">22kB</td>
   <td><tt>16ec41745cbbe5c162d5808ab24663dc74248c719d324c81047fd1657d018fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/layer-shell-qt-5.27.7.tar.xz">layer-shell-qt-5.27.7</a></td>
   <td align="right">18kB</td>
   <td><tt>27c44e7db73bf2aa6728719e8bb848c1b0c1c7a704c86349a419577920c6f421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/libkscreen-5.27.7.tar.xz">libkscreen-5.27.7</a></td>
   <td align="right">113kB</td>
   <td><tt>86b51bf3406c353afd7a2e1f47e2511d060313d8bd8a2ef7fa73a3bf153e3eab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/libksysguard-5.27.7.tar.xz">libksysguard-5.27.7</a></td>
   <td align="right">859kB</td>
   <td><tt>682a939252e35a52b7f95a6f5bfcc7cb983fa3b5275ae3b377ab8040b292cb18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/milou-5.27.7.tar.xz">milou-5.27.7</a></td>
   <td align="right">57kB</td>
   <td><tt>81690bffc9d58445c09af64670d80cd53735db2f0da36a4847d3466ec5a90853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/oxygen-5.27.7.tar.xz">oxygen-5.27.7</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a218fc2f2f7b297de56b75f413c5acab0398f8c4a7a043a1b99b99d15256398d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/oxygen-sounds-5.27.7.tar.xz">oxygen-sounds-5.27.7</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f8897cfd85fe1e7c6a0d8b9ce9fdafe1cb878112e30467663713c9eb9652528c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plank-player-5.27.7.tar.xz">plank-player-5.27.7</a></td>
   <td align="right">155kB</td>
   <td><tt>96ccdec90516e0ba0b135095bcb0465be07fa961f4b44a8d5286f2419d53c00c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-bigscreen-5.27.7.tar.xz">plasma-bigscreen-5.27.7</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2ba028fe522e29bdc45a928fc41d92b9ba0471600ddb40d5a952e8c04b035c2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-browser-integration-5.27.7.tar.xz">plasma-browser-integration-5.27.7</a></td>
   <td align="right">206kB</td>
   <td><tt>3ee5b893a210f84849612c48c03c544b611800edbc1ed6ae5ca2100a69bb6030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-desktop-5.27.7.1.tar.xz">plasma-desktop-5.27.7.1</a></td>
   <td align="right">14MB</td>
   <td><tt>51626674ce4324ac424fded716862da967e6b33a898108b49fa27a7896d1bec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-disks-5.27.7.tar.xz">plasma-disks-5.27.7</a></td>
   <td align="right">91kB</td>
   <td><tt>3ba9b69e269420f73fecf894e65061b36a75d197a29fca04e5b0069581d8924b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-firewall-5.27.7.tar.xz">plasma-firewall-5.27.7</a></td>
   <td align="right">354kB</td>
   <td><tt>cdc6c3b422def13de2df5f5cad9f004efd3210a61aeaccafc2a633d8fc94b4d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-integration-5.27.7.tar.xz">plasma-integration-5.27.7</a></td>
   <td align="right">87kB</td>
   <td><tt>e3f266c60efb3d96f3a22782ba81b7c7071b010484ea717a169327c3f6641faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-mobile-5.27.7.tar.xz">plasma-mobile-5.27.7</a></td>
   <td align="right">3.2MB</td>
   <td><tt>16d8c782efff20843f9150169411be9e7187bba8bc6a0edb4dc889b193ec6238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-nano-5.27.7.tar.xz">plasma-nano-5.27.7</a></td>
   <td align="right">72kB</td>
   <td><tt>d32a4a833f39c94c53bf3c64174338c226582e42eb93ff42f9a071db97398c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-nm-5.27.7.tar.xz">plasma-nm-5.27.7</a></td>
   <td align="right">1.1MB</td>
   <td><tt>488a34118e6070fab5005cf092d9332bbc6c415dab6aa8387e08560123653ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-pa-5.27.7.tar.xz">plasma-pa-5.27.7</a></td>
   <td align="right">159kB</td>
   <td><tt>4c73fb72af73a5258fb7d384eea65084b76341ae9c55652a491e1163cb46e2ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-remotecontrollers-5.27.7.tar.xz">plasma-remotecontrollers-5.27.7</a></td>
   <td align="right">79kB</td>
   <td><tt>50ad6f6fdc7a0899a6d8e4544b1668a2957bd8bc8fa8e2b7ddc5c191de945c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-sdk-5.27.7.1.tar.xz">plasma-sdk-5.27.7.1</a></td>
   <td align="right">313kB</td>
   <td><tt>d310a81eed68334886a7e7767bce9066c6ccb07087aa77d04b73acf41a5426a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-systemmonitor-5.27.7.tar.xz">plasma-systemmonitor-5.27.7</a></td>
   <td align="right">169kB</td>
   <td><tt>14611b425b1817743acaf594005f16a6ae347b063182fec0ee1f8676589e28e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-thunderbolt-5.27.7.tar.xz">plasma-thunderbolt-5.27.7</a></td>
   <td align="right">70kB</td>
   <td><tt>d60ac7888f5b11e53573c41617588bbc5120bc23ac4377265c20a6ebd42df069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-vault-5.27.7.tar.xz">plasma-vault-5.27.7</a></td>
   <td align="right">182kB</td>
   <td><tt>181aba6b37ee065f7354c5df2963db68eb01400da8531cda62a0acaa682eb5dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-welcome-5.27.7.tar.xz">plasma-welcome-5.27.7</a></td>
   <td align="right">812kB</td>
   <td><tt>3de80966c3bd5cf885a7f49288861cde0d0ab4396a4c53971ef46d5b7e87e15b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-workspace-5.27.7.tar.xz">plasma-workspace-5.27.7</a></td>
   <td align="right">18MB</td>
   <td><tt>0642941dcdf513ac201494897e2c5097a2f2db8be6dcdb597cae1a43d82ece5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plasma-workspace-wallpapers-5.27.7.tar.xz">plasma-workspace-wallpapers-5.27.7</a></td>
   <td align="right">89MB</td>
   <td><tt>dec571ce370ea344a70d82f16af82e8197c8afc098c0e7d47fbe8d5b6b0538a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/plymouth-kcm-5.27.7.tar.xz">plymouth-kcm-5.27.7</a></td>
   <td align="right">44kB</td>
   <td><tt>5ca7ad123117cb3957b21fb985ac1c3c4e62c22dd717a3a98e20e4c8c182eaf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/polkit-kde-agent-1-5.27.7.tar.xz">polkit-kde-agent-1-5.27.7</a></td>
   <td align="right">51kB</td>
   <td><tt>8c4906f13f0a8b31423f6e2eb42163fea3a9517adec518b3f165d99acab6cf5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/powerdevil-5.27.7.tar.xz">powerdevil-5.27.7</a></td>
   <td align="right">768kB</td>
   <td><tt>c08084238b8e2225dcaf36226e69476e7ce0d427597708e598720c59dc853894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/qqc2-breeze-style-5.27.7.tar.xz">qqc2-breeze-style-5.27.7</a></td>
   <td align="right">64kB</td>
   <td><tt>04b4f54a175f9725d2f0f8f795a97ed09ab2fa07432171bb4c4bf288a4955932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/sddm-kcm-5.27.7.tar.xz">sddm-kcm-5.27.7</a></td>
   <td align="right">91kB</td>
   <td><tt>0645f5511c99cd2f01963cf0e01ccfe248bbca33daf349c729f0fe0ca3103c43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/systemsettings-5.27.7.tar.xz">systemsettings-5.27.7</a></td>
   <td align="right">220kB</td>
   <td><tt>7c1dda144c7bcd6468331895a37df19d352cc84732a3d60bd62741a6c9aa6c6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.7/xdg-desktop-portal-kde-5.27.7.tar.xz">xdg-desktop-portal-kde-5.27.7</a></td>
   <td align="right">138kB</td>
   <td><tt>ccdbf9bad6465de934c4dc30a6fb4d4376872caf0014b91c3749e27140fe08cd</tt></td>
</tr>

</table>
