<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/akonadi-24.01.95.tar.xz">akonadi-24.01.95</a></td>
   <td align="right">1645kB</td>
   <td><tt>8ed67982986872af252c1e02514675a12e801856d3d1b249e00a3b5f3505e8ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/akonadi-calendar-24.01.95.tar.xz">akonadi-calendar-24.01.95</a></td>
   <td align="right">477kB</td>
   <td><tt>2a4978bd356c31763e066d7a4925a7af441102eb448207c2ba2c57d9c5fae542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/akonadi-calendar-tools-24.01.95.tar.xz">akonadi-calendar-tools-24.01.95</a></td>
   <td align="right">253kB</td>
   <td><tt>a33339ec6532bcbe19e61c0e81c34710a699c6feeb6954efa7fa45c54c9a70a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/akonadiconsole-24.01.95.tar.xz">akonadiconsole-24.01.95</a></td>
   <td align="right">287kB</td>
   <td><tt>6c4b933350598e13a3b49ac79083cd52ec501feafd3d88f6548c5ddb1f1c9425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/akonadi-contacts-24.01.95.tar.xz">akonadi-contacts-24.01.95</a></td>
   <td align="right">415kB</td>
   <td><tt>b0528bcfba402e98c92778d99024ed44cec9b10268d0b4f675823c3cabd918c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/akonadi-import-wizard-24.01.95.tar.xz">akonadi-import-wizard-24.01.95</a></td>
   <td align="right">504kB</td>
   <td><tt>be69598b20268ba49327c54d1b3a87b9ab73f20ac345a7ff7ace4be42e4bc5a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/akonadi-mime-24.01.95.tar.xz">akonadi-mime-24.01.95</a></td>
   <td align="right">164kB</td>
   <td><tt>49ff1125b223440e5c915317f1c9feb842f45258d1e6bb5ffde8b35fd7afe644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/akonadi-notes-24.01.95.tar.xz">akonadi-notes-24.01.95</a></td>
   <td align="right">27kB</td>
   <td><tt>01f837c21593b19bf160745518d0861ed616a79da0c080bcfb1c96f869fde06b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/akonadi-search-24.01.95.tar.xz">akonadi-search-24.01.95</a></td>
   <td align="right">108kB</td>
   <td><tt>3019e21f7c5690e0c435de9469991dc88a6ef21905394b202ca7f2a679ed9161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/akregator-24.01.95.tar.xz">akregator-24.01.95</a></td>
   <td align="right">2273kB</td>
   <td><tt>b504101895f1320f487f420f3100b068315c848b19dd1e922476fc8499a2f34c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/alligator-24.01.95.tar.xz">alligator-24.01.95</a></td>
   <td align="right">187kB</td>
   <td><tt>3f9681ce0da5bcb9e22ba6e4e9a6ecd9c4258b166d68136af4c1a769f702d866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/analitza-24.01.95.tar.xz">analitza-24.01.95</a></td>
   <td align="right">350kB</td>
   <td><tt>ad8abd9fe484edf190d004da149254bcf18bfdc7c93565da1d3e4c2bc74828d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/angelfish-24.01.95.tar.xz">angelfish-24.01.95</a></td>
   <td align="right">257kB</td>
   <td><tt>afd1d9cf43b70dbe51e23b4bdd6af7bd321f87b944680382d35b21274ff66ef0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/arianna-24.01.95.tar.xz">arianna-24.01.95</a></td>
   <td align="right">797kB</td>
   <td><tt>38d67e6eb6d333d47b41ac4061d2b2a616a22deaa782762f0d97313e0dfe8dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ark-24.01.95.tar.xz">ark-24.01.95</a></td>
   <td align="right">2945kB</td>
   <td><tt>f3ea9b572cc905d8ad83a4a048c21a6404cc9ec143a5c9a0a063ee8ddb05f848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/artikulate-24.01.95.tar.xz">artikulate-24.01.95</a></td>
   <td align="right">1068kB</td>
   <td><tt>0b0dcbfde37d3f071530b364d0117900adf5c6bc8b517a3b9b90a11629fc3a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/audiocd-kio-24.01.95.tar.xz">audiocd-kio-24.01.95</a></td>
   <td align="right">557kB</td>
   <td><tt>9e1d2fec465867699520a24b7534ca444b3cfb4145c67fec0a2b7593b9abe713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/audiotube-24.01.95.tar.xz">audiotube-24.01.95</a></td>
   <td align="right">148kB</td>
   <td><tt>2fa011988a0e1477599214d1ffb97eecfad78ef338b692b57985ea41bdf89cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/baloo-widgets-24.01.95.tar.xz">baloo-widgets-24.01.95</a></td>
   <td align="right">270kB</td>
   <td><tt>d62c54815b771f834fde63d6d8047f7af495ee1675afe1824122c07dc199a85d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/blinken-24.01.95.tar.xz">blinken-24.01.95</a></td>
   <td align="right">2661kB</td>
   <td><tt>2c2749dadcd190e3996e001c9fd46f075359fef151ed1cbb27413d0cbfdd8652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/bomber-24.01.95.tar.xz">bomber-24.01.95</a></td>
   <td align="right">820kB</td>
   <td><tt>b5226d9ca240000ebf67e9fdd6424699d3f3489206dddb75d7c9135a0d8a528e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/bovo-24.01.95.tar.xz">bovo-24.01.95</a></td>
   <td align="right">210kB</td>
   <td><tt>54a8ddcfd563c7b8e4e79339e129a6fe52c1810f5b433f20b9e8a22250285e9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/calendarsupport-24.01.95.tar.xz">calendarsupport-24.01.95</a></td>
   <td align="right">974kB</td>
   <td><tt>9475794ff5c994b4c1f282377789d5100105b5aeace874918affc922ffd8626f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/calindori-24.01.95.tar.xz">calindori-24.01.95</a></td>
   <td align="right">378kB</td>
   <td><tt>5f1c8b8ca772fc48319f546c5225d05c04ed453cded466d6ba4aa1bc463d9766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/cantor-24.01.95.tar.xz">cantor-24.01.95</a></td>
   <td align="right">9079kB</td>
   <td><tt>ffc82a6883eb8d47d351619b6859ce6fdc4026454cfcae598d55c7ac68f542a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/cervisia-24.01.95.tar.xz">cervisia-24.01.95</a></td>
   <td align="right">1902kB</td>
   <td><tt>2f8fab52399d5a8f2aff9eb9e029ce246f732702cd317d5e678215c6691b775f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/colord-kde-24.01.95.tar.xz">colord-kde-24.01.95</a></td>
   <td align="right">107kB</td>
   <td><tt>e597e4a97dbd34e1005bd72f83e3171cb4f59ba86323f40a7f25e7f9ec548955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/dolphin-24.01.95.tar.xz">dolphin-24.01.95</a></td>
   <td align="right">5670kB</td>
   <td><tt>022e8cbf4a1b09797d49b62407b0bb88c92170ff3594663fd51038b059a2bbc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/dolphin-plugins-24.01.95.tar.xz">dolphin-plugins-24.01.95</a></td>
   <td align="right">286kB</td>
   <td><tt>ab9ed7bb92e27fde0a74e764254a433689487552a9e3260436e2a4c989e8f0d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/dragon-24.01.95.tar.xz">dragon-24.01.95</a></td>
   <td align="right">1631kB</td>
   <td><tt>923756f90871ceb9e5744f5c73a55d72a117ff1e69f3eee826f3514f58643466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/elisa-24.01.95.tar.xz">elisa-24.01.95</a></td>
   <td align="right">1786kB</td>
   <td><tt>938bf7be4bce4efb9c7b8f9ba1865ed9d0dd08de8ea4eee45a2cda18c3522c4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/eventviews-24.01.95.tar.xz">eventviews-24.01.95</a></td>
   <td align="right">462kB</td>
   <td><tt>e58c5fb069d5a5abb687e5856aa01732cc8d72f1e9024463fb5fe50cf3365534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/falkon-24.01.95.tar.xz">falkon-24.01.95</a></td>
   <td align="right">2522kB</td>
   <td><tt>28ae17f3d3cdac237acdd206563a905650574a239f3f23cb368ca63ed28d08b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ffmpegthumbs-24.01.95.tar.xz">ffmpegthumbs-24.01.95</a></td>
   <td align="right">32kB</td>
   <td><tt>94a98323052ad5985022a860f288d9c301593b1e0c81b59c2cb953f4b245fe75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/filelight-24.01.95.tar.xz">filelight-24.01.95</a></td>
   <td align="right">687kB</td>
   <td><tt>0491f55d210eb3638a5f4c7f0506f59f79a341058ff7abd7412fa9e8f516b66f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ghostwriter-24.01.95.tar.xz">ghostwriter-24.01.95</a></td>
   <td align="right">3543kB</td>
   <td><tt>a04d8ec4a9e1f914d7d08a0d4a06fdddaf0c772f9e6537e9d09f7dc76b2428c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/granatier-24.01.95.tar.xz">granatier-24.01.95</a></td>
   <td align="right">2064kB</td>
   <td><tt>427c48d27c6c13ff018d9dcc08e53b1f06003a2ac77139f66bb13e411943aefb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/grantlee-editor-24.01.95.tar.xz">grantlee-editor-24.01.95</a></td>
   <td align="right">116kB</td>
   <td><tt>292e10146e1317fae6617cadb1aed7ac2c468f01214ed49677d9a378bc9c6a89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/grantleetheme-24.01.95.tar.xz">grantleetheme-24.01.95</a></td>
   <td align="right">60kB</td>
   <td><tt>9156f13722b055d359488488fe73f8b9a71e7238cf93687112085a34839b2054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/gwenview-24.01.95.tar.xz">gwenview-24.01.95</a></td>
   <td align="right">6753kB</td>
   <td><tt>ee0aee8fcc2a36e38b2f5d324476f11b508234f61ac81c9e321988249a1eddda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/incidenceeditor-24.01.95.tar.xz">incidenceeditor-24.01.95</a></td>
   <td align="right">569kB</td>
   <td><tt>aa14d960c293d392785cf2cb75f7f2557c53697c7b308b56a7421c771c7d7537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/isoimagewriter-24.01.95.tar.xz">isoimagewriter-24.01.95</a></td>
   <td align="right">448kB</td>
   <td><tt>bdae14dd6e28835b2c3ef415ce3b6f84f5ce956ce9dfa4519dab84448ca2b826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/itinerary-24.01.95.tar.xz">itinerary-24.01.95</a></td>
   <td align="right">666kB</td>
   <td><tt>8a9094b8ef633b23fda4da1e446fe8dc0580a75509e5e86553a72ca427287984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/juk-24.01.95.tar.xz">juk-24.01.95</a></td>
   <td align="right">1971kB</td>
   <td><tt>6581f5c327775d62ae757b49d626e729d234e4d6fbb1cd4ebaa3aa309c9f8359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/k3b-24.01.95.tar.xz">k3b-24.01.95</a></td>
   <td align="right">10711kB</td>
   <td><tt>ae54bbb66f98aed12d789a3cae5424c5c79c33516c99e736db87d541f6fc6068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kaccounts-integration-24.01.95.tar.xz">kaccounts-integration-24.01.95</a></td>
   <td align="right">88kB</td>
   <td><tt>13014d41f9b1ee17b84c4690549677bec0145e944d9a762ac851c894ddd7cca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kaccounts-providers-24.01.95.tar.xz">kaccounts-providers-24.01.95</a></td>
   <td align="right">65kB</td>
   <td><tt>db01e5869a17f2b2414e71c65b1ba90f42696287bba7e151117b37b03e66f8fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kaddressbook-24.01.95.tar.xz">kaddressbook-24.01.95</a></td>
   <td align="right">3379kB</td>
   <td><tt>e8c4e3751819d73871af1208bd31480b1080fcffdddaa072682fca6951edfef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kajongg-24.01.95.tar.xz">kajongg-24.01.95</a></td>
   <td align="right">4483kB</td>
   <td><tt>18c28d05514b838df6fa9c5050dae84dc78ff746720b68addd26f994a518fee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kalarm-24.01.95.tar.xz">kalarm-24.01.95</a></td>
   <td align="right">2567kB</td>
   <td><tt>c03a1d7cc0949b4aaaf87d131bc8b8a94accf6685ad69bf3649a7566991a5a33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kalgebra-24.01.95.tar.xz">kalgebra-24.01.95</a></td>
   <td align="right">1022kB</td>
   <td><tt>afcfcd333ec9c93a201787e18a74b36137c805f3995ab72ef65977acb24072a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kalk-24.01.95.tar.xz">kalk-24.01.95</a></td>
   <td align="right">70kB</td>
   <td><tt>9eb2e26708d6ba6b64652ce65e58cb47ba1a8839d1a07997f74b6133436d71e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kalzium-24.01.95.tar.xz">kalzium-24.01.95</a></td>
   <td align="right">24068kB</td>
   <td><tt>a6f56523453a411ece2accfae44b0fb159179ae856d1a96a9b643fb04dccc8ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kamera-24.01.95.tar.xz">kamera-24.01.95</a></td>
   <td align="right">127kB</td>
   <td><tt>9e5865d1fce75b675fc65a750e85a2210fd9818ee45bb4d7fc859792fda1d00a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kamoso-24.01.95.tar.xz">kamoso-24.01.95</a></td>
   <td align="right">195kB</td>
   <td><tt>69eae045d21b24e5a32f20ec2826963e09cbc68b97e895407b767c8498363716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kanagram-24.01.95.tar.xz">kanagram-24.01.95</a></td>
   <td align="right">7879kB</td>
   <td><tt>0594e408b62158058cfc54b93356052d901c39923965ba359df194c610db62aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kapman-24.01.95.tar.xz">kapman-24.01.95</a></td>
   <td align="right">2141kB</td>
   <td><tt>5579de0fb3920182635fbdae11a6580a31d2d61628ab9efa85520257290c5b0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kapptemplate-24.01.95.tar.xz">kapptemplate-24.01.95</a></td>
   <td align="right">331kB</td>
   <td><tt>e8ce9fcff9245d49de461e0214cf882aec8c0411dff1a0f253f44337e57f4959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kasts-24.01.95.tar.xz">kasts-24.01.95</a></td>
   <td align="right">573kB</td>
   <td><tt>33443a399d4417ecaabd9f2948fc58678b9bf45bd6adba7121b4de648f937a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kate-24.01.95.tar.xz">kate-24.01.95</a></td>
   <td align="right">8197kB</td>
   <td><tt>74d6dcc0b77c9f66645454c0f796d57f856fb8b51825299d9aa6cb8ea20697d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/katomic-24.01.95.tar.xz">katomic-24.01.95</a></td>
   <td align="right">1420kB</td>
   <td><tt>1c813e3b0f6733f73cde30a5fbf7d0be1bb0e2de27788ea6408ca44312bd76ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kbackup-24.01.95.tar.xz">kbackup-24.01.95</a></td>
   <td align="right">399kB</td>
   <td><tt>c175cfcdec53a143536c2a3ca920520728fbdf454348a1ae3ef3b03f1fd4e499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kblackbox-24.01.95.tar.xz">kblackbox-24.01.95</a></td>
   <td align="right">542kB</td>
   <td><tt>00e3f27d297c5a235c69b150e86e6d0596d5a4f476dce5cd07d7204b79da03e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kblocks-24.01.95.tar.xz">kblocks-24.01.95</a></td>
   <td align="right">2058kB</td>
   <td><tt>7a53450b34b6b47db8e36d9036aba0df44969baab080be3c65657f06ac77491b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kbounce-24.01.95.tar.xz">kbounce-24.01.95</a></td>
   <td align="right">3465kB</td>
   <td><tt>c2173d0476952918cb465d4e4699a698490ac250885f8494294926326b9fa6e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kbreakout-24.01.95.tar.xz">kbreakout-24.01.95</a></td>
   <td align="right">2500kB</td>
   <td><tt>7dd88bd5bd5f32722c6744862c326458470615ce376ae29c2a8cbed40998d28b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kbruch-24.01.95.tar.xz">kbruch-24.01.95</a></td>
   <td align="right">5529kB</td>
   <td><tt>250038e3e3a74a35fff363920719dc58d62e723364265a25122f1f8d32517f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kcachegrind-24.01.95.tar.xz">kcachegrind-24.01.95</a></td>
   <td align="right">914kB</td>
   <td><tt>90d29312a4bf942c4462b825897c3a2288c3a070aed646a69b154f544d205fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kcalc-24.01.95.tar.xz">kcalc-24.01.95</a></td>
   <td align="right">433kB</td>
   <td><tt>5d3fea04a53fc5fb1ca8d0ca70953bc463bd0ec4ef8e02055a988911f60f2ad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kcalutils-24.01.95.tar.xz">kcalutils-24.01.95</a></td>
   <td align="right">346kB</td>
   <td><tt>73e6e322ad17b8087e753ad462ac823c325ca0ab4b00267f70f5aa69ff2697c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kcharselect-24.01.95.tar.xz">kcharselect-24.01.95</a></td>
   <td align="right">376kB</td>
   <td><tt>76ed4a26d899ded09e9e62e7841c357d137600620b3462939b7345fd5772576d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kclock-24.01.95.tar.xz">kclock-24.01.95</a></td>
   <td align="right">631kB</td>
   <td><tt>edd0ecf55550e4554d1a84e8dda2b279aa669a0edd5e323bfb4a7ae411a5a2f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kcolorchooser-24.01.95.tar.xz">kcolorchooser-24.01.95</a></td>
   <td align="right">33kB</td>
   <td><tt>94a3c9633862afbd720fdf8fd430cd513a8497c71864ec28f1486fe6ec5d814d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kcron-24.01.95.tar.xz">kcron-24.01.95</a></td>
   <td align="right">920kB</td>
   <td><tt>3841b2d2a84c132bc3b6a233ffa3320f02fb08871257dc37a1df1ca949f154c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdebugsettings-24.01.95.tar.xz">kdebugsettings-24.01.95</a></td>
   <td align="right">106kB</td>
   <td><tt>75684fc92cb40c5483683b2c2a987867964cc404afce85c640e908cdbb81f21f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdeconnect-kde-24.01.95.tar.xz">kdeconnect-kde-24.01.95</a></td>
   <td align="right">661kB</td>
   <td><tt>1143e6bbb7ae8db35a5d7a62e3b98ce99dbd184124259e2813e42986da42c586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kde-dev-scripts-24.01.95.tar.xz">kde-dev-scripts-24.01.95</a></td>
   <td align="right">363kB</td>
   <td><tt>02d95305dcccade3468215160aad73cf3e7c08a6681fe5e6879a3a9563feabaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kde-dev-utils-24.01.95.tar.xz">kde-dev-utils-24.01.95</a></td>
   <td align="right">71kB</td>
   <td><tt>500bce4e297a1606e48e4e7dffbdc0a6342e4331e3fb6431b5557ac463ddba83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdeedu-data-24.01.95.tar.xz">kdeedu-data-24.01.95</a></td>
   <td align="right">330kB</td>
   <td><tt>67610639bbf92c2ee92677c436a2083890f651c6ab4d7a5a064981daa28eed3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdegraphics-mobipocket-24.01.95.tar.xz">kdegraphics-mobipocket-24.01.95</a></td>
   <td align="right">12kB</td>
   <td><tt>46fe3b47b36f61c15484372a1d678da4b1343414be9d461a39668a315bc705c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdegraphics-thumbnailers-24.01.95.tar.xz">kdegraphics-thumbnailers-24.01.95</a></td>
   <td align="right">47kB</td>
   <td><tt>655d773c01584d85ac9db506f34341066f60e3e9725a9f1e9da40f15976fe1b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kde-inotify-survey-24.01.95.tar.xz">kde-inotify-survey-24.01.95</a></td>
   <td align="right">225kB</td>
   <td><tt>b7ed49ddaa06c4cd9a8fe766d670982258c8f515b2dc03ca3ccc36a8eee1036b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdenetwork-filesharing-24.01.95.tar.xz">kdenetwork-filesharing-24.01.95</a></td>
   <td align="right">476kB</td>
   <td><tt>b11cc634df2ab202d09005c1b20e54259f4982da9e4724688f0dc34ef4523aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdenlive-24.01.95.tar.xz">kdenlive-24.01.95</a></td>
   <td align="right">12510kB</td>
   <td><tt>45bdfa9863681ffccaf14d4ea812fc95a7d9dc76f030a1d450115bdf8666420c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdepim-addons-24.01.95.tar.xz">kdepim-addons-24.01.95</a></td>
   <td align="right">2587kB</td>
   <td><tt>f1cde197de1e28a6f13f4e65df170fc45ef1e2bdf960fa59f74fdbc6eb26d235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdepim-runtime-24.01.95.tar.xz">kdepim-runtime-24.01.95</a></td>
   <td align="right">1635kB</td>
   <td><tt>5c810d7127929eaf8a2653cfc9fe88d22628bc7b496f726c0b5722f5e3c848a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdesdk-kio-24.01.95.tar.xz">kdesdk-kio-24.01.95</a></td>
   <td align="right">39kB</td>
   <td><tt>b9d8ba17d2b557553094a8a25c0c60724f4d901fef8820ef32ff028666db0108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdesdk-thumbnailers-24.01.95.tar.xz">kdesdk-thumbnailers-24.01.95</a></td>
   <td align="right">26kB</td>
   <td><tt>8c81b7c2e466045db2cd34c54affbf7dd7068bc056c32577d81200118dbcaecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdevelop-24.01.95.tar.xz">kdevelop-24.01.95</a></td>
   <td align="right">8547kB</td>
   <td><tt>5024fdf7e35307d76295d48e8e43f21fc54ccac6d5a37f210e0ca8212d26e032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdev-php-24.01.95.tar.xz">kdev-php-24.01.95</a></td>
   <td align="right">1064kB</td>
   <td><tt>9683a69fb340de6c903846b4fb9dae23cac2589d022d4285d3c946c973538cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdev-python-24.01.95.tar.xz">kdev-python-24.01.95</a></td>
   <td align="right">1072kB</td>
   <td><tt>3505dc7fdfb3471678a671fccf4353413f91b741fa684a1581bc368b74ad8d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdf-24.01.95.tar.xz">kdf-24.01.95</a></td>
   <td align="right">482kB</td>
   <td><tt>8b6afdf9e89439416302e3d9afe77604185ef715a704e1f132c4316350ed0df0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdialog-24.01.95.tar.xz">kdialog-24.01.95</a></td>
   <td align="right">140kB</td>
   <td><tt>6510553ec55058817079bdbb28ea88477191c37f1bd1e7a40b6fc960ff10c979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kdiamond-24.01.95.tar.xz">kdiamond-24.01.95</a></td>
   <td align="right">4558kB</td>
   <td><tt>856e20d66c682b74bf85e78a06e5532c557a2d4037b80bfd76eb49615f67db76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/keditbookmarks-24.01.95.tar.xz">keditbookmarks-24.01.95</a></td>
   <td align="right">238kB</td>
   <td><tt>3340008e86c2ef1624474d98840726c4b9e45da35f80ac603fc4286bdd2554d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/keysmith-24.01.95.tar.xz">keysmith-24.01.95</a></td>
   <td align="right">165kB</td>
   <td><tt>3df40756e7b6e868558c5fc5c8084ec87eb602ae8cc1a7705640e0d010779e0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kfind-24.01.95.tar.xz">kfind-24.01.95</a></td>
   <td align="right">315kB</td>
   <td><tt>641029492ce9ee4f5d26a81d20c4fc7dad782d014f677b7c92f66ae4abe8d3e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kfourinline-24.01.95.tar.xz">kfourinline-24.01.95</a></td>
   <td align="right">723kB</td>
   <td><tt>ebb200ba26765690fde78910bcaab65572ebe4facb2952991d0001cf3b4cbf5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kgeography-24.01.95.tar.xz">kgeography-24.01.95</a></td>
   <td align="right">12317kB</td>
   <td><tt>93129e15a3d40933c399c7c629bf3985e5f6782534569b1e30c7dbed04558371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kget-24.01.95.tar.xz">kget-24.01.95</a></td>
   <td align="right">5435kB</td>
   <td><tt>84a608b01e1391b8249bb175178a39a780f852d29ac11504d3bce5ebb54f629b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kgoldrunner-24.01.95.tar.xz">kgoldrunner-24.01.95</a></td>
   <td align="right">4265kB</td>
   <td><tt>3a52145ee5017b2dd0b18218afc9c5c707361f933709f569811f3914c2447a75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kgpg-24.01.95.tar.xz">kgpg-24.01.95</a></td>
   <td align="right">2994kB</td>
   <td><tt>638c10fa6a0d0ce88a7678848cc7323125b372b0b6493e8a06cca40a30dabfce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/khangman-24.01.95.tar.xz">khangman-24.01.95</a></td>
   <td align="right">7192kB</td>
   <td><tt>605e41587b1d433b3eaf9f7b5f27cac491e2540ac1a08b9cc73a45ce161eca23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/khealthcertificate-24.01.95.tar.xz">khealthcertificate-24.01.95</a></td>
   <td align="right">502kB</td>
   <td><tt>0b7e982c2a3503feb8d55da4521d9d007ef7cf73c02ef0022f82d685ff838b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/khelpcenter-24.01.95.tar.xz">khelpcenter-24.01.95</a></td>
   <td align="right">4283kB</td>
   <td><tt>c2b2b87baa4169007caf70ff39410000f3872c7e12a589804dea5113cb8b6e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kidentitymanagement-24.01.95.tar.xz">kidentitymanagement-24.01.95</a></td>
   <td align="right">176kB</td>
   <td><tt>d1b42746a7ee66f38dacdd88202dedf201de8a1970f8e982816e7a09c4baf5fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kig-24.01.95.tar.xz">kig-24.01.95</a></td>
   <td align="right">3220kB</td>
   <td><tt>80081e0065d222fcaad9681fc56d25b3dd3ec33300a9b840e235f92bfb68d42c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kigo-24.01.95.tar.xz">kigo-24.01.95</a></td>
   <td align="right">5036kB</td>
   <td><tt>435c9eb66b90832e61b918d052226237d5c4a441b4a2af6e7de712c32255e147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/killbots-24.01.95.tar.xz">killbots-24.01.95</a></td>
   <td align="right">1135kB</td>
   <td><tt>1e9841df8cc9d7402bd95864e8c246fc1419e7d3026a9b0b878ec1d026aa09b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kimagemapeditor-24.01.95.tar.xz">kimagemapeditor-24.01.95</a></td>
   <td align="right">1080kB</td>
   <td><tt>87d825f4592d443250b7e76bb9042ce85bd7d28bbad739fb0c96761c7892aed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kimap-24.01.95.tar.xz">kimap-24.01.95</a></td>
   <td align="right">127kB</td>
   <td><tt>eaa6cfa379aa38599c3ff503c324fbc7eec4425278dc9cd467eff2939b760b72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kio-admin-24.01.95.tar.xz">kio-admin-24.01.95</a></td>
   <td align="right">35kB</td>
   <td><tt>36f8d54c436a497aa20aaf43eb02ee26cd5565359209a1707de7c350724aa649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kio-extras-24.01.95.tar.xz">kio-extras-24.01.95</a></td>
   <td align="right">3469kB</td>
   <td><tt>1b4c28eec6cf60979d6a8b908c67b9ef8fc561a06abc19aa11e7a34113a3aca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kio-extras-kf5-24.01.95.tar.xz">kio-extras-kf5-24.01.95</a></td>
   <td align="right">1431kB</td>
   <td><tt>8da2868f4dbd77735443d9551c126acefd8e1b6efc312ad507cf20fc5545fe60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kio-gdrive-24.01.95.tar.xz">kio-gdrive-24.01.95</a></td>
   <td align="right">78kB</td>
   <td><tt>a9e127e17edca84b12937da38ef506134ea6e2c8187845802fe7dd792bf98d5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kio-zeroconf-24.01.95.tar.xz">kio-zeroconf-24.01.95</a></td>
   <td align="right">43kB</td>
   <td><tt>cfe36a1332f7e5c4f206ef846f657f25a78037b50f9c56e6186da6d282d6839f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kipi-plugins-24.01.95.tar.xz">kipi-plugins-24.01.95</a></td>
   <td align="right">1533kB</td>
   <td><tt>e397719428605b1bb740d915222d0625c178bf60854769ef88cb7851150ed2ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kirigami-gallery-24.01.95.tar.xz">kirigami-gallery-24.01.95</a></td>
   <td align="right">344kB</td>
   <td><tt>fceade13b4c8c30917d81fddf646ab6dcf67a416ac7962fe844b45ef666fabb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kiriki-24.01.95.tar.xz">kiriki-24.01.95</a></td>
   <td align="right">361kB</td>
   <td><tt>35b13d05288c7f5a43ca20874e5b4559a9583a35b2c38d973d3781c94c42e762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kiten-24.01.95.tar.xz">kiten-24.01.95</a></td>
   <td align="right">11066kB</td>
   <td><tt>3e82b923c7a711f9c8400905c6feb465ed26446dba4f9dcaf1ce5e86e32360c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kitinerary-24.01.95.tar.xz">kitinerary-24.01.95</a></td>
   <td align="right">1911kB</td>
   <td><tt>73c787fd28a7ca3f7d47f1568a43602d6457d213239d8d6680c17fa1b03edb76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kjournald-24.01.95.tar.xz">kjournald-24.01.95</a></td>
   <td align="right">504kB</td>
   <td><tt>bd705ebe9a9c92eb877a915492515f850ebcfd15c1405350c13ee7a1ee6b556c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kjumpingcube-24.01.95.tar.xz">kjumpingcube-24.01.95</a></td>
   <td align="right">330kB</td>
   <td><tt>b5b5f406e617bc8ac7a953a31ece2808e84af9c9ee0d6f5c9f014deb04b616ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kldap-24.01.95.tar.xz">kldap-24.01.95</a></td>
   <td align="right">178kB</td>
   <td><tt>86ebe1a37ec207864a33bd35b080fccd23967b5a10da720bb7c2d0208a2c7f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kleopatra-24.01.95.tar.xz">kleopatra-24.01.95</a></td>
   <td align="right">2715kB</td>
   <td><tt>bfa0c57975cd9e8ab7b0efb7e39efa18003957251ec387c87b9f7429707b150e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/klettres-24.01.95.tar.xz">klettres-24.01.95</a></td>
   <td align="right">46724kB</td>
   <td><tt>41a31b719059d4fb1fd182a5e90b3666dd5bd681ea6714182de4a6f2e25e77e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/klickety-24.01.95.tar.xz">klickety-24.01.95</a></td>
   <td align="right">1466kB</td>
   <td><tt>73d18180fd27507b748f9e5a01a686f2bbacf9a77839cf79c96d23ae600915d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/klines-24.01.95.tar.xz">klines-24.01.95</a></td>
   <td align="right">1698kB</td>
   <td><tt>16d286975fcfd80075e337f39ca86ec0cc5fe44898499be7dbba11c2db8b78fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmag-24.01.95.tar.xz">kmag-24.01.95</a></td>
   <td align="right">709kB</td>
   <td><tt>91d2635b5d1406ae4821c07031e5def34ad7ea1022b138b802b3aafa1c0fd795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmahjongg-24.01.95.tar.xz">kmahjongg-24.01.95</a></td>
   <td align="right">4004kB</td>
   <td><tt>75b51da0994b31aa6a1e1da52d7530c0a6247a9a0104dd6e05de26a428c8a77a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmail-24.01.95.tar.xz">kmail-24.01.95</a></td>
   <td align="right">7514kB</td>
   <td><tt>9693862724da263af59cb948aa61373539c20a3621aa61358a51c5add99bdc66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmail-account-wizard-24.01.95.tar.xz">kmail-account-wizard-24.01.95</a></td>
   <td align="right">164kB</td>
   <td><tt>8acfd11352a091b5d70bd4baf6b63b0313a00dbb1f3e1ef30f3ea6a75ea436d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmailtransport-24.01.95.tar.xz">kmailtransport-24.01.95</a></td>
   <td align="right">168kB</td>
   <td><tt>75439582afa0c714892f793553861b027c71b227144caffcdb220cce7f70ed4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmbox-24.01.95.tar.xz">kmbox-24.01.95</a></td>
   <td align="right">28kB</td>
   <td><tt>ef7e25c0da1a74ebd53e9325149dfb2bb1949c645ec562e10dd68ccf2d517caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmime-24.01.95.tar.xz">kmime-24.01.95</a></td>
   <td align="right">157kB</td>
   <td><tt>202f1b65b63ed2af59d17e9e4cf3808ce61e1da8c2f8c3aea65dadf4b4383d12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmines-24.01.95.tar.xz">kmines-24.01.95</a></td>
   <td align="right">1065kB</td>
   <td><tt>2adefcf669232f8be07551d770b25b5d87b883c7b85475fa76ce09bab6333393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmix-24.01.95.tar.xz">kmix-24.01.95</a></td>
   <td align="right">1181kB</td>
   <td><tt>ee63ea69aa5b0c13857d7ea94a14a7c36988f4f6b24e7c27c5437967088956c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmousetool-24.01.95.tar.xz">kmousetool-24.01.95</a></td>
   <td align="right">126kB</td>
   <td><tt>ed1bc68be5c9e43cd8f77c3a1116a2b8a4eba7d33728c0f9a61ab62c1905675e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmouth-24.01.95.tar.xz">kmouth-24.01.95</a></td>
   <td align="right">2041kB</td>
   <td><tt>66b03e1b2d9dead09df9fd41ea46fa619b47bce03b2e82b289fa0b26a39b76cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kmplot-24.01.95.tar.xz">kmplot-24.01.95</a></td>
   <td align="right">3027kB</td>
   <td><tt>3296af93ec3fc4e509e123f1c1f0bb54cca069226bf21688c9e90460d4ac9e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/knavalbattle-24.01.95.tar.xz">knavalbattle-24.01.95</a></td>
   <td align="right">1367kB</td>
   <td><tt>4831bfb133a92a755939f52a87e32d6ea82388a8bf0d916d1ef72357ee79de6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/knetwalk-24.01.95.tar.xz">knetwalk-24.01.95</a></td>
   <td align="right">1036kB</td>
   <td><tt>bb65e7a95060949971aa563c7de0eda04a4c2636a2b6b5a256569edfa858b869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/knights-24.01.95.tar.xz">knights-24.01.95</a></td>
   <td align="right">2441kB</td>
   <td><tt>50f6b9c44d6e76385a95c0966efa1d9d63d6cdd9bc35afd96f66e48372ec0b8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/knotes-24.01.95.tar.xz">knotes-24.01.95</a></td>
   <td align="right">371kB</td>
   <td><tt>ad1b908f234ec3ebc5d51655fb178a970b10621156f389bad9bf64778560de17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/koko-24.01.95.tar.xz">koko-24.01.95</a></td>
   <td align="right">8328kB</td>
   <td><tt>5745e658d117ab3650d77f0e36b53e1ff1c60ef1c3aad96f3040713ff9b636e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kolf-24.01.95.tar.xz">kolf-24.01.95</a></td>
   <td align="right">1051kB</td>
   <td><tt>03fe0898209ee12ac7bca1b38151bf8c9eec9862a3941c98d5a53474b4f827ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kollision-24.01.95.tar.xz">kollision-24.01.95</a></td>
   <td align="right">300kB</td>
   <td><tt>a3626b6b3bfae5ceaad222f5544d257004ebd7367446e197fec6b6c6e7064906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kolourpaint-24.01.95.tar.xz">kolourpaint-24.01.95</a></td>
   <td align="right">5660kB</td>
   <td><tt>c962ba8a65ec00ac3aff7b6cc42c7160fbb0bd61091a975589a9e1d0c5904539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kompare-24.01.95.tar.xz">kompare-24.01.95</a></td>
   <td align="right">960kB</td>
   <td><tt>78d2a7377c91b997da7c90a9ebf959d8246cd327d64b267aec0e68e40624644e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kongress-24.01.95.tar.xz">kongress-24.01.95</a></td>
   <td align="right">577kB</td>
   <td><tt>e44a257880fb4b189f9374b9217b0ec9bb08f7c7511b405c8595acd8bab6113e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/konqueror-24.01.95.tar.xz">konqueror-24.01.95</a></td>
   <td align="right">9900kB</td>
   <td><tt>6cb7001a2c02ab66828cdda06ac074f1c8d75a3d6f1366f97f36834227224e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/konquest-24.01.95.tar.xz">konquest-24.01.95</a></td>
   <td align="right">855kB</td>
   <td><tt>dc9c61f5f7c419d6c9162917dfa65f94721ef420cb960b32c1475827a9c1a529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/konsole-24.01.95.tar.xz">konsole-24.01.95</a></td>
   <td align="right">1709kB</td>
   <td><tt>8468e7042df2b3c53ae7de4ffbe2c20c38d2d586d8cd07a97bc0c1e7fa9ca882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kontact-24.01.95.tar.xz">kontact-24.01.95</a></td>
   <td align="right">839kB</td>
   <td><tt>74aeb2a99c2daa0a25050dbe698fc965dbe0387b3b5ca69e224babb58fad6b37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kontactinterface-24.01.95.tar.xz">kontactinterface-24.01.95</a></td>
   <td align="right">39kB</td>
   <td><tt>75b7eb9893fc72ca7b1ad76f5f2ac3aa7dd1527077507f94a605cbdd677f5033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kontrast-24.01.95.tar.xz">kontrast-24.01.95</a></td>
   <td align="right">206kB</td>
   <td><tt>198ae8ce4796668cb06e7bf92f70d27df5286f1f95a8e014b9a80098df210968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/konversation-24.01.95.tar.xz">konversation-24.01.95</a></td>
   <td align="right">4317kB</td>
   <td><tt>dc65ddb63bfa7fb0e8b9997226781297a4aaca108365caf483af17a35f260cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kopeninghours-24.01.95.tar.xz">kopeninghours-24.01.95</a></td>
   <td align="right">70kB</td>
   <td><tt>89234731f95594884515bd90fdfef8e0a2774add35e23bedee906d22c7d34b21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/korganizer-24.01.95.tar.xz">korganizer-24.01.95</a></td>
   <td align="right">2512kB</td>
   <td><tt>4bca523137045fe00afa730ab33448df7f42b15b6f478d82c4319be19adafe90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kosmindoormap-24.01.95.tar.xz">kosmindoormap-24.01.95</a></td>
   <td align="right">617kB</td>
   <td><tt>9175588baecc036d8e1d87204da05d7fe3dc5b9bfe117fcf26727605fe39a8d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kpat-24.01.95.tar.xz">kpat-24.01.95</a></td>
   <td align="right">3626kB</td>
   <td><tt>484cd7db8a5ba418a59fd400884a069919e69c479b7216ba800ed6bc25b713ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kpimtextedit-24.01.95.tar.xz">kpimtextedit-24.01.95</a></td>
   <td align="right">163kB</td>
   <td><tt>453566396f97e162acbb4580bdbe20fd884eb15b003a701529268d9c7da18184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kpkpass-24.01.95.tar.xz">kpkpass-24.01.95</a></td>
   <td align="right">28kB</td>
   <td><tt>e366f5b8becf40c1325e8fd196130466dc24dc6d4651e78cb9df7a6961423203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kpmcore-24.01.95.tar.xz">kpmcore-24.01.95</a></td>
   <td align="right">617kB</td>
   <td><tt>4d4fcf92b86ce6d60e05fd5cc16270f828b2b31ac495411134f372e3efb01854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kpublictransport-24.01.95.tar.xz">kpublictransport-24.01.95</a></td>
   <td align="right">590kB</td>
   <td><tt>6b84498853561154c48033a93f2b2b9d4c975981a84ad28fdddb66cb5ccd4e8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kqtquickcharts-24.01.95.tar.xz">kqtquickcharts-24.01.95</a></td>
   <td align="right">30kB</td>
   <td><tt>9602d71d95bfcb5a6c4069ee01c3d73021733907218273901e90737b29810fa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/krdc-24.01.95.tar.xz">krdc-24.01.95</a></td>
   <td align="right">1605kB</td>
   <td><tt>c64ae9cddd59542596baadc0de61c337118c94a4b738b64b98f3b2f3672bd840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/krecorder-24.01.95.tar.xz">krecorder-24.01.95</a></td>
   <td align="right">159kB</td>
   <td><tt>862789433487975efd3ba10da85a3f0aa6a2f692d4f24a9cddb2401d48f3e99b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kreversi-24.01.95.tar.xz">kreversi-24.01.95</a></td>
   <td align="right">1054kB</td>
   <td><tt>bbaf601d8409ef3dfc1cc69e4f56587b26599706ae84d3b9e961e005415e6a15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/krfb-24.01.95.tar.xz">krfb-24.01.95</a></td>
   <td align="right">1289kB</td>
   <td><tt>620a3ffc44705e5dbb8ad9645731684aacc5f978af797ec3ac849aac6ebd1c43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kross-interpreters-24.01.95.tar.xz">kross-interpreters-24.01.95</a></td>
   <td align="right">148kB</td>
   <td><tt>27c6cb53031cc72a18e534af93ab1f574ba3e7c4e5e5a6fc7cff9bfb2ca99933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kruler-24.01.95.tar.xz">kruler-24.01.95</a></td>
   <td align="right">283kB</td>
   <td><tt>b0cdda75ede22cc934861e62651ea4a3ab60be38633579e18570700eb103eb5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ksanecore-24.01.95.tar.xz">ksanecore-24.01.95</a></td>
   <td align="right">51kB</td>
   <td><tt>dc65aee13c2172e7125e5b220b2424b8607ca2acfc37c7203f3859931af2423a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kshisen-24.01.95.tar.xz">kshisen-24.01.95</a></td>
   <td align="right">985kB</td>
   <td><tt>d6e063e0ae8ea80473a94cdad08efbf933622eda157e768bf94eb517873d5d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ksirk-24.01.95.tar.xz">ksirk-24.01.95</a></td>
   <td align="right">6911kB</td>
   <td><tt>d7327fcee018c76864f4f2d7f49992e799482ce49702ff407959d808cb9ad11c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ksmtp-24.01.95.tar.xz">ksmtp-24.01.95</a></td>
   <td align="right">50kB</td>
   <td><tt>f63151f3a6c6327be4fffa40aace6ebadf75e6fd6aac945a3249fb5583a94c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ksnakeduel-24.01.95.tar.xz">ksnakeduel-24.01.95</a></td>
   <td align="right">589kB</td>
   <td><tt>b09bd7d6677e759bd5d5e7f3ae0b4ffbe508c94961a6ab4d8f859737f51f76c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kspaceduel-24.01.95.tar.xz">kspaceduel-24.01.95</a></td>
   <td align="right">645kB</td>
   <td><tt>2aa4c2324059165ae2a9ecfb76345323bb40e8ba0b52bf7be8e2e671ce899fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ksquares-24.01.95.tar.xz">ksquares-24.01.95</a></td>
   <td align="right">310kB</td>
   <td><tt>61f1d618495814b6e27129fcaad9f79f608bdf5a1677e87d9ba7e310ab108f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ksudoku-24.01.95.tar.xz">ksudoku-24.01.95</a></td>
   <td align="right">1669kB</td>
   <td><tt>e224552bcad99b49d30c5b9916355f268b19de9d6c45fdb32f29c9e77d294171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ksystemlog-24.01.95.tar.xz">ksystemlog-24.01.95</a></td>
   <td align="right">1966kB</td>
   <td><tt>ea391d1a3556b384909f82a00216835986d0ccbc6e1d79418e222d9956ab30e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kteatime-24.01.95.tar.xz">kteatime-24.01.95</a></td>
   <td align="right">307kB</td>
   <td><tt>20a538c80a3892bc9248324c8dd6b4f93c9444aed7c9bab863fd48e8c6a81569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ktimer-24.01.95.tar.xz">ktimer-24.01.95</a></td>
   <td align="right">397kB</td>
   <td><tt>d7e3ea83cad763280e772194f1c9315180e10511125c5d5011be757975c0a67a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ktnef-24.01.95.tar.xz">ktnef-24.01.95</a></td>
   <td align="right">303kB</td>
   <td><tt>f4bfb537ae606eb88ac4b4137763218b102adbdeff0058ea33784e5060b2a4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ktorrent-24.01.95.tar.xz">ktorrent-24.01.95</a></td>
   <td align="right">2122kB</td>
   <td><tt>b4ec56f6eef29de2aebf08379eed76ad703266471e9f020e97022cf5f607f74c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ktouch-24.01.95.tar.xz">ktouch-24.01.95</a></td>
   <td align="right">4922kB</td>
   <td><tt>5f025d19939cee20c9eda83ee15302f5cba42388f284a565a500d102363836dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ktrip-24.01.95.tar.xz">ktrip-24.01.95</a></td>
   <td align="right">249kB</td>
   <td><tt>8afb9b3d3f1e716d3a47427a8b7be7423a875eb595faa80bbb835aea48aa6e05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/ktuberling-24.01.95.tar.xz">ktuberling-24.01.95</a></td>
   <td align="right">69901kB</td>
   <td><tt>247ff17c83048f218e57917daf62d6f0890393c4ce018ae361f794588e340fe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kturtle-24.01.95.tar.xz">kturtle-24.01.95</a></td>
   <td align="right">2195kB</td>
   <td><tt>47d68f57fe2a6be02a652bf27b4c00faa9484d633cec6e5db41ac18537e0561d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kubrick-24.01.95.tar.xz">kubrick-24.01.95</a></td>
   <td align="right">346kB</td>
   <td><tt>a13a1671b0279d345ed62eafdaf56146488dd9f9e9031049c57a20405b06a529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kwalletmanager-24.01.95.tar.xz">kwalletmanager-24.01.95</a></td>
   <td align="right">836kB</td>
   <td><tt>0e338cf413f105b6f2ef9c351a7c8cf93b91c19237ba832dfa56e1a59036487d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kwave-24.01.95.tar.xz">kwave-24.01.95</a></td>
   <td align="right">6816kB</td>
   <td><tt>f888b47ff4e606904b34385d6ae8e14504eb8acca31d28c0e212d16d30546350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kweather-24.01.95.tar.xz">kweather-24.01.95</a></td>
   <td align="right">924kB</td>
   <td><tt>bdbaca80ca3cd79a60e7ab5c73029ede5f1fd93776ef6ae81f8dc8ce4b8ae39a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/kwordquiz-24.01.95.tar.xz">kwordquiz-24.01.95</a></td>
   <td align="right">3977kB</td>
   <td><tt>da21190f0c598b87ea2141c3c920200f4aeec44f479bec1769e90c74f8607f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libgravatar-24.01.95.tar.xz">libgravatar-24.01.95</a></td>
   <td align="right">35kB</td>
   <td><tt>1dd577cc697f1803bc130cd1d06625c0c8d64945b35e134c60a7d9cbbbe2dfaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkcddb-24.01.95.tar.xz">libkcddb-24.01.95</a></td>
   <td align="right">441kB</td>
   <td><tt>8cc27fd4f157d6275c302fcd90e058363423f65408421c5f0a17769ed9c010d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkcompactdisc-24.01.95.tar.xz">libkcompactdisc-24.01.95</a></td>
   <td align="right">97kB</td>
   <td><tt>0327b52082d3be1ffae490ddac5064f40c3c4ce0d2702ab827a0a7de23ddbae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkdcraw-24.01.95.tar.xz">libkdcraw-24.01.95</a></td>
   <td align="right">36kB</td>
   <td><tt>a19116e9219bc7ab7c8b199ab5a7abfd7106b0274722488cf33d220c6c9868d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkdegames-24.01.95.tar.xz">libkdegames-24.01.95</a></td>
   <td align="right">5850kB</td>
   <td><tt>849e8c05f5b7ec0c87ad7c0db4122b25337f841bb9336e88acfdc70af9b4507f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkdepim-24.01.95.tar.xz">libkdepim-24.01.95</a></td>
   <td align="right">278kB</td>
   <td><tt>e73257f673a9d4aabc50996c5dab2156a42795edcb1be44e488636f8f9238719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkeduvocdocument-24.01.95.tar.xz">libkeduvocdocument-24.01.95</a></td>
   <td align="right">224kB</td>
   <td><tt>ef6bed5ef9fb46faf28c30e4997ec05030472450321d8cd8850656976234a46a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkexiv2-24.01.95.tar.xz">libkexiv2-24.01.95</a></td>
   <td align="right">59kB</td>
   <td><tt>c405da05f219c1c56b18cb7511654453d2e11999fa5af54cd61e9f1b46ca8889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkgapi-24.01.95.tar.xz">libkgapi-24.01.95</a></td>
   <td align="right">327kB</td>
   <td><tt>52436173def4d16d4e86f4daa9ab0f59435284b9ce98971def6c88a2c7bbfaae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkipi-24.01.95.tar.xz">libkipi-24.01.95</a></td>
   <td align="right">86kB</td>
   <td><tt>10589c187015620ec98108519c9ec797ceab7de3f389fc36b7a8a7f4338e0c80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkleo-24.01.95.tar.xz">libkleo-24.01.95</a></td>
   <td align="right">556kB</td>
   <td><tt>bfa4718350d5cbcb8c11e9e2cf33301746b58a49bdbbd0cbd4d1ef6ef9fd2043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkmahjongg-24.01.95.tar.xz">libkmahjongg-24.01.95</a></td>
   <td align="right">1652kB</td>
   <td><tt>ea56b4e32db11b24f4de17965c4b8da005b219544287d9482ae5b9cbab32b0bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libkomparediff2-24.01.95.tar.xz">libkomparediff2-24.01.95</a></td>
   <td align="right">183kB</td>
   <td><tt>d78369e465b70315f35e0a6981c6bf1b527906c44c0a18667676d5f9eb43838f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libksane-24.01.95.tar.xz">libksane-24.01.95</a></td>
   <td align="right">150kB</td>
   <td><tt>2e2b1697e32035601fafc968848c16b3f14e6bb25d90823d65a62ad73414ff67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libksieve-24.01.95.tar.xz">libksieve-24.01.95</a></td>
   <td align="right">569kB</td>
   <td><tt>7ba98cc531014b9bbb9ff234dc9fc723f829fbdc36152b4bf5bd864afff491c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/libktorrent-24.01.95.tar.xz">libktorrent-24.01.95</a></td>
   <td align="right">588kB</td>
   <td><tt>b8fbc7b9ccc17858a9110c3b77d84538f26619678342e0d489d49c7ec5e9dd98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/lokalize-24.01.95.tar.xz">lokalize-24.01.95</a></td>
   <td align="right">2090kB</td>
   <td><tt>5b539042f020c150ff9511df71cc0a3bb291183382a6fbe3cb08720506be2ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/lskat-24.01.95.tar.xz">lskat-24.01.95</a></td>
   <td align="right">1221kB</td>
   <td><tt>d38bbff8d3b6c96eefbe40ecffe25673fab8672f7ee7a855004c15cbc478bbbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/mailcommon-24.01.95.tar.xz">mailcommon-24.01.95</a></td>
   <td align="right">753kB</td>
   <td><tt>3f32af3357978af494650de438c7e55c60abcc9f60074153c7f21cfc55f6dffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/mailimporter-24.01.95.tar.xz">mailimporter-24.01.95</a></td>
   <td align="right">579kB</td>
   <td><tt>87fe9a7e0e4ca6074459be1dafed3c876ea848f15b722f2539f0e2721afcc8ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/marble-24.01.95.tar.xz">marble-24.01.95</a></td>
   <td align="right">52572kB</td>
   <td><tt>23f25f438c6f690331e354f4bf361c3731cbb90ca4ab6278f956719cd05bdaf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/markdownpart-24.01.95.tar.xz">markdownpart-24.01.95</a></td>
   <td align="right">31kB</td>
   <td><tt>051060b6fce1fcdde123043e1f890468c0b734437b714eed2401b4fd4fa88246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/mbox-importer-24.01.95.tar.xz">mbox-importer-24.01.95</a></td>
   <td align="right">29kB</td>
   <td><tt>39828d6bc6330a66dadfdaf48d5cf105f106838af6d5d0bb53c94c44df9fbc91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/merkuro-24.01.95.tar.xz">merkuro-24.01.95</a></td>
   <td align="right">712kB</td>
   <td><tt>72ca5d7064f1bc0ee0da6449f6403eb024cb7f58283f9398904e43fd25e4ddd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/messagelib-24.01.95.tar.xz">messagelib-24.01.95</a></td>
   <td align="right">11031kB</td>
   <td><tt>cb115d772f06efcef19224237d75bc2a5d0d7ca0df7c4d472b824a134b33137f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/mimetreeparser-24.01.95.tar.xz">mimetreeparser-24.01.95</a></td>
   <td align="right">618kB</td>
   <td><tt>50876b969dd79e0df7a0caa41bd8caf6d145709403e37d99b365350add2b33cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/minuet-24.01.95.tar.xz">minuet-24.01.95</a></td>
   <td align="right">27050kB</td>
   <td><tt>64c7f88d72f4c1f2d67c4a753b77a4b308fdcdea1b501f1f6b1b0209d4a66fc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/neochat-24.01.95.tar.xz">neochat-24.01.95</a></td>
   <td align="right">859kB</td>
   <td><tt>8b1d30b400bf8a84bc1beb254889142afb72652e057f632f46941fc0a37492dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/okular-24.01.95.tar.xz">okular-24.01.95</a></td>
   <td align="right">8349kB</td>
   <td><tt>9126047e0123a358fa45a2e3b1a25630a9461acfed7ace86ec46155e5637856b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/palapeli-24.01.95.tar.xz">palapeli-24.01.95</a></td>
   <td align="right">2070kB</td>
   <td><tt>e172466070d709e24d997844485703e662050ab72ff3e410900810b9d508ebc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/parley-24.01.95.tar.xz">parley-24.01.95</a></td>
   <td align="right">8414kB</td>
   <td><tt>e6b20652c19419c0cb70c1b700123bb17b1978337865b992e22fd707e0029ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/partitionmanager-24.01.95.tar.xz">partitionmanager-24.01.95</a></td>
   <td align="right">2096kB</td>
   <td><tt>6772041936587d53c01fc5bbc1d845201f34efbe1ca42f421ce6f863cae258a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/picmi-24.01.95.tar.xz">picmi-24.01.95</a></td>
   <td align="right">1505kB</td>
   <td><tt>e952ee785433c30f6b3daa51e69f3e60cefdb5b52e764b432da3e7b06c06fd68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/pimcommon-24.01.95.tar.xz">pimcommon-24.01.95</a></td>
   <td align="right">339kB</td>
   <td><tt>5ea0ff97cf644a21182ed41a542afb6798d2fde4621481fd92df3c2eb038a8a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/pim-data-exporter-24.01.95.tar.xz">pim-data-exporter-24.01.95</a></td>
   <td align="right">417kB</td>
   <td><tt>39f3cd6693085973b99198f2cffff5568a8a3ef9a21a95b2725087190321f7de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/pim-sieve-editor-24.01.95.tar.xz">pim-sieve-editor-24.01.95</a></td>
   <td align="right">464kB</td>
   <td><tt>894d081cfad5a2f41e8e9a054fbeb19cab73570041185c218d70ca172b64b1b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/plasmatube-24.01.95.tar.xz">plasmatube-24.01.95</a></td>
   <td align="right">130kB</td>
   <td><tt>85f1b82f875503b0fed61c49507eb3767b8cc362671e1c0071c059a9c6aba395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/poxml-24.01.95.tar.xz">poxml-24.01.95</a></td>
   <td align="right">43kB</td>
   <td><tt>7b6a7d090b0ccbdcb9edbba636f3a58039a572752ac4d767a516d070051de7bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/qmlkonsole-24.01.95.tar.xz">qmlkonsole-24.01.95</a></td>
   <td align="right">189kB</td>
   <td><tt>cc4f6e32892b0503b86e76bb52585b44c30f147b73f60f7e1342bcd8d7853b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/rocs-24.01.95.tar.xz">rocs-24.01.95</a></td>
   <td align="right">1533kB</td>
   <td><tt>01cd736708f8d5d6251a98b4220d7caa34fb094ed218f5696eba8dd749f5099c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/signon-kwallet-extension-24.01.95.tar.xz">signon-kwallet-extension-24.01.95</a></td>
   <td align="right">10kB</td>
   <td><tt>b779682b4a2d09f5b07722126ab2653f20948d9c99ee41fefe5eff9a1f32673a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/skanlite-24.01.95.tar.xz">skanlite-24.01.95</a></td>
   <td align="right">2393kB</td>
   <td><tt>6a97bbd4a4cfb639918a948fdad8c08c9ae9e33958d18059e8196020532109c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/skanpage-24.01.95.tar.xz">skanpage-24.01.95</a></td>
   <td align="right">1291kB</td>
   <td><tt>03c7dd2999c2a2e2c8823c229cf0d855e616b65b24465babe91839c56a05a4fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/spectacle-24.01.95.tar.xz">spectacle-24.01.95</a></td>
   <td align="right">1372kB</td>
   <td><tt>98b2b3425baaf093c23a025cbed91742b57c54de01f8d7723bf549becf7d02ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/step-24.01.95.tar.xz">step-24.01.95</a></td>
   <td align="right">972kB</td>
   <td><tt>cc9638768de49675abc77aaa1dba87defe4bb5e0da802b0f25b3af5eb6116f56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/svgpart-24.01.95.tar.xz">svgpart-24.01.95</a></td>
   <td align="right">28kB</td>
   <td><tt>95ac790d814440a41ae02545873d6e4e4949c2a19790e78aca9dfedb41dc7b2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/sweeper-24.01.95.tar.xz">sweeper-24.01.95</a></td>
   <td align="right">390kB</td>
   <td><tt>dcdbab8ed7a387dd59a6adf5c281a72e89c199fd7fa1fcd06c7b962897ee2903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/telly-skout-24.01.95.tar.xz">telly-skout-24.01.95</a></td>
   <td align="right">94kB</td>
   <td><tt>626fc9c2df9908793ce34d374e0c552f60d5a3c857a61e38ccf2f5165ad43d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/tokodon-24.01.95.tar.xz">tokodon-24.01.95</a></td>
   <td align="right">502kB</td>
   <td><tt>173016739fbbadf390d2b88cc4974531e2fe02b0026e13a9121d90a8176b7de1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/umbrello-24.01.95.tar.xz">umbrello-24.01.95</a></td>
   <td align="right">5641kB</td>
   <td><tt>e3f1f366e99293a95e1ac4294bcdade49133416d1974e21f2e0bf86b6045d36e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/yakuake-24.01.95.tar.xz">yakuake-24.01.95</a></td>
   <td align="right">429kB</td>
   <td><tt>d986488b1a1bb4ecb2655c2196f9053b78b72bcb8d2afbeecf7b8068c7a6e919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.01.95/src/zanshin-24.01.95.tar.xz">zanshin-24.01.95</a></td>
   <td align="right">362kB</td>
   <td><tt>99e330a822175ee9c7d03b0ee2b3aaddf731847fcc1600a4f6542ec575f42661</tt></td>
</tr>

</table>
