<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/accessibility-inspector-24.04.80.tar.xz">accessibility-inspector-24.04.80</a></td>
   <td align="right">78kB</td>
   <td><tt>f21ac5d87ae6e0f865c29a98db8fe5f896564398a0660a202a4ea17b50891d38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/akonadi-24.04.80.tar.xz">akonadi-24.04.80</a></td>
   <td align="right">1661kB</td>
   <td><tt>eddd06324a19a5c1630f862395f66f5363669d9b6b75e2b11482002af97a9bb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/akonadi-calendar-24.04.80.tar.xz">akonadi-calendar-24.04.80</a></td>
   <td align="right">497kB</td>
   <td><tt>ca0c2a54461c2ea84b04639fc16b8ed70c81107036d3f4d9a4f0b32d62370685</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/akonadi-calendar-tools-24.04.80.tar.xz">akonadi-calendar-tools-24.04.80</a></td>
   <td align="right">258kB</td>
   <td><tt>fb7cdeab9b3457dab3ddb189070d5af5f102173d073174b749f2db0b6e5870b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/akonadiconsole-24.04.80.tar.xz">akonadiconsole-24.04.80</a></td>
   <td align="right">290kB</td>
   <td><tt>1d29bc6572d938259292c9322e1f1c8ecd64fdbe15327d5c340e435f4e633839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/akonadi-contacts-24.04.80.tar.xz">akonadi-contacts-24.04.80</a></td>
   <td align="right">417kB</td>
   <td><tt>132b3b26627c0d908624ae53cfcb7b854e2c31263b2e4055b18704d1bef21fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/akonadi-import-wizard-24.04.80.tar.xz">akonadi-import-wizard-24.04.80</a></td>
   <td align="right">476kB</td>
   <td><tt>6a7a7560b5d8db080b94f647740213040cac98821f093111aca50c1d89bb8c79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/akonadi-mime-24.04.80.tar.xz">akonadi-mime-24.04.80</a></td>
   <td align="right">168kB</td>
   <td><tt>84eab9411db9faf0731fc23bcb5842d9f3525621a901a2ec3e66ba7c8855a53b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/akonadi-notes-24.04.80.tar.xz">akonadi-notes-24.04.80</a></td>
   <td align="right">27kB</td>
   <td><tt>0d91ac92676022dfdab2d59feb8d22926936363535c46849f810dcb7d7363f64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/akonadi-search-24.04.80.tar.xz">akonadi-search-24.04.80</a></td>
   <td align="right">109kB</td>
   <td><tt>6bfa79253ac09ab148b847bfaa5030ab2f32d256af7114270dd9554b588274a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/akregator-24.04.80.tar.xz">akregator-24.04.80</a></td>
   <td align="right">2061kB</td>
   <td><tt>3c8c14e15df014564236b4d792552e3f5395f2f38a694d2086db9c6ee75e9d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/alligator-24.04.80.tar.xz">alligator-24.04.80</a></td>
   <td align="right">189kB</td>
   <td><tt>26a06d10fb5f9315fbf9b711208b4f0adc88a60a2c652fbb4b930a86aeb511e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/analitza-24.04.80.tar.xz">analitza-24.04.80</a></td>
   <td align="right">351kB</td>
   <td><tt>617dfb0993141a9eb2ae2781e33381f6266a89d27ade692301fced061a9094d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/angelfish-24.04.80.tar.xz">angelfish-24.04.80</a></td>
   <td align="right">263kB</td>
   <td><tt>37ec8c4e006a8110dd0306334c8456eaf5c69bca91da51ee42e1d3e5504cfd0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/arianna-24.04.80.tar.xz">arianna-24.04.80</a></td>
   <td align="right">799kB</td>
   <td><tt>747b25a21adf9fac78e26cc98e0de3a0ab452d1c0c772d51c90e13395d54213e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ark-24.04.80.tar.xz">ark-24.04.80</a></td>
   <td align="right">2931kB</td>
   <td><tt>c7fe47b43d376c41bf4d73d98901669547b6ab4b7c88a3918d316530ebd6a1a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/artikulate-24.04.80.tar.xz">artikulate-24.04.80</a></td>
   <td align="right">1027kB</td>
   <td><tt>9db1b58526a52d92036c03066f6427675974aa7cd48aef1de16a1aa3a808d7cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/audex-24.04.80.tar.xz">audex-24.04.80</a></td>
   <td align="right">677kB</td>
   <td><tt>093f2cacc305a874057dbe15ba02b37603f9d2d9b6d39d36257dbe74402331f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/audiocd-kio-24.04.80.tar.xz">audiocd-kio-24.04.80</a></td>
   <td align="right">557kB</td>
   <td><tt>bc25da7f35dcc3500d7e21b319534d060c05e04df34f4e134891f0393547940c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/audiotube-24.04.80.tar.xz">audiotube-24.04.80</a></td>
   <td align="right">149kB</td>
   <td><tt>fe4e6d5a846040aefde5eed4e29af034391dbf5413adb691b0a5405c633d1176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/baloo-widgets-24.04.80.tar.xz">baloo-widgets-24.04.80</a></td>
   <td align="right">270kB</td>
   <td><tt>61198dddafdd11c6db6b75d72d7c9e18dd2bb170161a9016b4cb429254a0249b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/blinken-24.04.80.tar.xz">blinken-24.04.80</a></td>
   <td align="right">2532kB</td>
   <td><tt>75e88b9c406d5d5b9de1dd8d3a0003fd55364e1fb3ce4f34bd38244119cd5843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/bomber-24.04.80.tar.xz">bomber-24.04.80</a></td>
   <td align="right">819kB</td>
   <td><tt>e956652bcc70bcddcf6c18ba1d168e8f7fb1c987da6e0d273294c92e3400919d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/bovo-24.04.80.tar.xz">bovo-24.04.80</a></td>
   <td align="right">211kB</td>
   <td><tt>19eac998edc04fed49adff4f194efaa53834abe8fc7fb51b06aa4cecb6e9fa59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/calendarsupport-24.04.80.tar.xz">calendarsupport-24.04.80</a></td>
   <td align="right">976kB</td>
   <td><tt>47fa25c40e8c390b8ad0c3970dfadbe1f17391e941ddccd66715cbfeddff38e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/calindori-24.04.80.tar.xz">calindori-24.04.80</a></td>
   <td align="right">380kB</td>
   <td><tt>d7d013b45e1a8d3de5206218e6a0a25578b80f54127f1cc91b678f5c5e04cbe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/cantor-24.04.80.tar.xz">cantor-24.04.80</a></td>
   <td align="right">8982kB</td>
   <td><tt>e500e8eda32f3921b8eb3e9007bbaf7f9d2e043c95d5323b510313a115d13e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/cervisia-24.04.80.tar.xz">cervisia-24.04.80</a></td>
   <td align="right">1767kB</td>
   <td><tt>bd1eeedc15d37b4c9bcf1c99e9fbf58e102554ded82338d68f2c9ec986d6a2b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/colord-kde-24.04.80.tar.xz">colord-kde-24.04.80</a></td>
   <td align="right">114kB</td>
   <td><tt>a2da31931451c84911724d59004d6c4db5c7bcfea4b967eb74be13afeaa10692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/dolphin-24.04.80.tar.xz">dolphin-24.04.80</a></td>
   <td align="right">5436kB</td>
   <td><tt>48a9ce26d9b9666ce1c30f06c3ca58f24ddb97af7bc038fb549618a47e30904b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/dolphin-plugins-24.04.80.tar.xz">dolphin-plugins-24.04.80</a></td>
   <td align="right">297kB</td>
   <td><tt>97f8aeb9e22b0103b35cc5e5b3984689810e0fe1e69ac4b6461a0784fb8a544c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/dragon-24.04.80.tar.xz">dragon-24.04.80</a></td>
   <td align="right">1785kB</td>
   <td><tt>9f9402de48ae7c3f75095b858baa9f24e3b813cd0ec1c078c0acf7827b1a2eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/elisa-24.04.80.tar.xz">elisa-24.04.80</a></td>
   <td align="right">2030kB</td>
   <td><tt>40d0d9018ee7067bb9941acd5b4f1b6154133b797f9fae893dc3b602c4fa47a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/eventviews-24.04.80.tar.xz">eventviews-24.04.80</a></td>
   <td align="right">462kB</td>
   <td><tt>c8c7906798a967a9e3384d6e5581de96e94105fbebafa4f02c4ac3bf567e380e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/falkon-24.04.80.tar.xz">falkon-24.04.80</a></td>
   <td align="right">2523kB</td>
   <td><tt>f7f6c39fd3873b3e886762f028d94f3b02c6b3339ad93668b44c6bf6768b4e31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ffmpegthumbs-24.04.80.tar.xz">ffmpegthumbs-24.04.80</a></td>
   <td align="right">32kB</td>
   <td><tt>6348547b8ac1efc0926e60b4e9b80fe682e87762df409351d129b31c01129a32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/filelight-24.04.80.tar.xz">filelight-24.04.80</a></td>
   <td align="right">664kB</td>
   <td><tt>4c85eec4145da673fd1ff8d28fcfe8ebcec20fdffe03359299384b447b0a7140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/francis-24.04.80.tar.xz">francis-24.04.80</a></td>
   <td align="right">97kB</td>
   <td><tt>1d62414c7aa1845f45d9f048363ac3feb44494221bc7fb6912f4b23eb5363f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ghostwriter-24.04.80.tar.xz">ghostwriter-24.04.80</a></td>
   <td align="right">3547kB</td>
   <td><tt>4c64732793257a40e2ea3b080e6066fbe5f29a22e2cb9a00dcf4baf774934cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/granatier-24.04.80.tar.xz">granatier-24.04.80</a></td>
   <td align="right">1961kB</td>
   <td><tt>3eb98f192b280005ee520034a9d38a84604309577f43534303aec75fbfc629a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/grantlee-editor-24.04.80.tar.xz">grantlee-editor-24.04.80</a></td>
   <td align="right">118kB</td>
   <td><tt>10aa27aee36eb26eec18fe11536464d32858492f76cc5b900e8183bee08c3f70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/grantleetheme-24.04.80.tar.xz">grantleetheme-24.04.80</a></td>
   <td align="right">61kB</td>
   <td><tt>0fd25e2ceeac3163742d835b911a3deac6001dfa3ffebcf4b7516a7628577472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/gwenview-24.04.80.tar.xz">gwenview-24.04.80</a></td>
   <td align="right">6360kB</td>
   <td><tt>e5c40d2470fc76a17877c6bfb14daa7966caeb5e889c4129124e80db00385a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/incidenceeditor-24.04.80.tar.xz">incidenceeditor-24.04.80</a></td>
   <td align="right">571kB</td>
   <td><tt>438001a0f1d605a4c97af4652edc0ec70daa0a437beac4d17ad7b61a03a0cf69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/isoimagewriter-24.04.80.tar.xz">isoimagewriter-24.04.80</a></td>
   <td align="right">455kB</td>
   <td><tt>b03006edd04deb194e9a7241ee847c3fbde046af077b24b982092e4072589686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/itinerary-24.04.80.tar.xz">itinerary-24.04.80</a></td>
   <td align="right">695kB</td>
   <td><tt>def2ea1016e42017e6a8ab2b61fe3ca703a5e73cbfa630283cc161373de34787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/juk-24.04.80.tar.xz">juk-24.04.80</a></td>
   <td align="right">1854kB</td>
   <td><tt>1537266941e1ebfbe3f0e8ece6e9c268cfa9a5eb1d19e9671474ec730abc766c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/k3b-24.04.80.tar.xz">k3b-24.04.80</a></td>
   <td align="right">10432kB</td>
   <td><tt>1f4ba56dd2332436c7870d5d2d553bef6db01d54bda95b9434714bd75dcb8a47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kaccounts-integration-24.04.80.tar.xz">kaccounts-integration-24.04.80</a></td>
   <td align="right">90kB</td>
   <td><tt>2e62516d2c37a90c1356d8aa9096a1ca9f4fc11666a07f9bd20d20afc12fbf3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kaccounts-providers-24.04.80.tar.xz">kaccounts-providers-24.04.80</a></td>
   <td align="right">67kB</td>
   <td><tt>0061c3fad35203bb0a7103d006e7cdf24badac3b2c88517943aeebc46c7cb60a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kaddressbook-24.04.80.tar.xz">kaddressbook-24.04.80</a></td>
   <td align="right">3327kB</td>
   <td><tt>a7a8e1a548a612b428af3ae2c806f9c2c229eaceacdb176293f0fa441a4cdab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kajongg-24.04.80.tar.xz">kajongg-24.04.80</a></td>
   <td align="right">4493kB</td>
   <td><tt>b8c2a766da91d844ce819586907ad65b1ebebb5a633e676ce8f82bdd8d40ba18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kalarm-24.04.80.tar.xz">kalarm-24.04.80</a></td>
   <td align="right">2525kB</td>
   <td><tt>ba6d158713f397434a3dc9e5d9fb023da78da44965a2e478254d3f54ecb8b1ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kalgebra-24.04.80.tar.xz">kalgebra-24.04.80</a></td>
   <td align="right">921kB</td>
   <td><tt>795aa16de7dd48e51f0a3593202b928665c4d3593e1b069fd66860d1c46076cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kalk-24.04.80.tar.xz">kalk-24.04.80</a></td>
   <td align="right">74kB</td>
   <td><tt>38fbd2d56719f0eeb4b5f10d7e615e1d94b31e902914dce21175163f4448ef6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kalm-24.04.80.tar.xz">kalm-24.04.80</a></td>
   <td align="right">70kB</td>
   <td><tt>bb07548ddc983e51439b8d70c2561d8ba71c5fce530c44753b5eea63019bb935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kalzium-24.04.80.tar.xz">kalzium-24.04.80</a></td>
   <td align="right">22134kB</td>
   <td><tt>408202ba39e9d7ff322ad139951883d0f5b18c5abc128874b78befe8f4bd3994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kamera-24.04.80.tar.xz">kamera-24.04.80</a></td>
   <td align="right">128kB</td>
   <td><tt>b59daeee930b1a0b68a7da27358b7714b2d657496f832936da4eeba0841a1b2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kamoso-24.04.80.tar.xz">kamoso-24.04.80</a></td>
   <td align="right">227kB</td>
   <td><tt>3e9d05fd9afd8f537c77b9de1aa28b7c44be74d95d9d535cc5a1ce8a336c4114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kanagram-24.04.80.tar.xz">kanagram-24.04.80</a></td>
   <td align="right">7598kB</td>
   <td><tt>1561b0d167c5c188b684f9576c834b95517cb01d8a00d9b48a12238ee479430b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kapman-24.04.80.tar.xz">kapman-24.04.80</a></td>
   <td align="right">2093kB</td>
   <td><tt>1bbf0cbf271edac9b55a32ea03ec3b0e8bd30453421185131f3f9f7062d6afcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kapptemplate-24.04.80.tar.xz">kapptemplate-24.04.80</a></td>
   <td align="right">334kB</td>
   <td><tt>4fbccba8b1cf8832e3a57da11629880177b105e0ce0970a84c3af1743b490031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kasts-24.04.80.tar.xz">kasts-24.04.80</a></td>
   <td align="right">591kB</td>
   <td><tt>d4273ad442e361cfaf37a02ee9dc5c942fe00cafb83119fe0a292d7aea9d31aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kate-24.04.80.tar.xz">kate-24.04.80</a></td>
   <td align="right">7952kB</td>
   <td><tt>08d6ecfdaa0928eaa446b5e9445c1d894543668ec17c2dd2d88d124469d66fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/katomic-24.04.80.tar.xz">katomic-24.04.80</a></td>
   <td align="right">1408kB</td>
   <td><tt>960c508fa4436b9c03a34e80f083ffda7d723ea1fb53034ec8643a5017cb2bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kbackup-24.04.80.tar.xz">kbackup-24.04.80</a></td>
   <td align="right">365kB</td>
   <td><tt>3edfd4fce633c9baf14ab62d8663f26e568b6c7a3acbb46137e89e7601a93509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kblackbox-24.04.80.tar.xz">kblackbox-24.04.80</a></td>
   <td align="right">532kB</td>
   <td><tt>2aee2181a28d871a65bbd4c84c1a9f9311edae4a5173224ba13d572940f17a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kblocks-24.04.80.tar.xz">kblocks-24.04.80</a></td>
   <td align="right">2049kB</td>
   <td><tt>d42131c0359889d76c9e2a01f9a92a4b1c8d5669df12a8c3d8e50edffb30a547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kbounce-24.04.80.tar.xz">kbounce-24.04.80</a></td>
   <td align="right">3241kB</td>
   <td><tt>e31afc6eab231eb2992637e4d1d5d90b5fcdbb94e7e15d68493c30673ce071f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kbreakout-24.04.80.tar.xz">kbreakout-24.04.80</a></td>
   <td align="right">2491kB</td>
   <td><tt>99fbcdbf3197aac5bfe971d9c13e22224bb6253cbdc58e4e743b259c40f87806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kbruch-24.04.80.tar.xz">kbruch-24.04.80</a></td>
   <td align="right">5027kB</td>
   <td><tt>6a245aa7cca4f26c7605bf63547678ad13e4241788594c3cdb65bed58a28572f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kcachegrind-24.04.80.tar.xz">kcachegrind-24.04.80</a></td>
   <td align="right">913kB</td>
   <td><tt>4485c0eb14113d824fd3d31e746b2c3408097e3d3dce3adc4e4ceac22ea1811f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kcalc-24.04.80.tar.xz">kcalc-24.04.80</a></td>
   <td align="right">450kB</td>
   <td><tt>43ea25e555a4f03863d07eee0db153af1a0174f9d36e0a30dc1af202785c44e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kcalutils-24.04.80.tar.xz">kcalutils-24.04.80</a></td>
   <td align="right">346kB</td>
   <td><tt>5db418aaa5ee8eb4539a035c94b40bd957ef4981620fba0623547d1076c2a76f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kcharselect-24.04.80.tar.xz">kcharselect-24.04.80</a></td>
   <td align="right">462kB</td>
   <td><tt>aa905674494e63b467518812c122cd1b3592f03cc47f92f191918c8b534d9345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kclock-24.04.80.tar.xz">kclock-24.04.80</a></td>
   <td align="right">638kB</td>
   <td><tt>527594328cb0e4a6ac6668cd993fe13f2d6b82869b6e1d190207d008ebe83a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kcolorchooser-24.04.80.tar.xz">kcolorchooser-24.04.80</a></td>
   <td align="right">34kB</td>
   <td><tt>b3b40c611a1b681babf40d81816424b90c43d82b603542d9f32a28adda08be8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kcron-24.04.80.tar.xz">kcron-24.04.80</a></td>
   <td align="right">855kB</td>
   <td><tt>581d3ad4ea0bf1bef93c6da3ec73df9fdab4bb779d509195dbac7cd8f10e38c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdebugsettings-24.04.80.tar.xz">kdebugsettings-24.04.80</a></td>
   <td align="right">109kB</td>
   <td><tt>a30aeb2733d6e407d380e84f68fdf475f261e8778520d409fa4868852dff8e87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdeconnect-kde-24.04.80.tar.xz">kdeconnect-kde-24.04.80</a></td>
   <td align="right">678kB</td>
   <td><tt>5730649a4a1b82504a7594540dcdd0e17e16fd660b94dc86f707c95fa4394165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kde-dev-scripts-24.04.80.tar.xz">kde-dev-scripts-24.04.80</a></td>
   <td align="right">363kB</td>
   <td><tt>1acfe33619063ad5084a0cdee2a0a9743e4af451e2f06385397bb51d4eab3d40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kde-dev-utils-24.04.80.tar.xz">kde-dev-utils-24.04.80</a></td>
   <td align="right">73kB</td>
   <td><tt>47fb847817546d5240fcbdb09daf63e6c1b115a455bcd382e33bcba5b1a40a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdeedu-data-24.04.80.tar.xz">kdeedu-data-24.04.80</a></td>
   <td align="right">330kB</td>
   <td><tt>d7f4e269dfa2cadd395cb3a4924f264c02ecbc2cd3617299ee1c4bdf24676865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdegraphics-mobipocket-24.04.80.tar.xz">kdegraphics-mobipocket-24.04.80</a></td>
   <td align="right">12kB</td>
   <td><tt>1aab0d65a7f0c2d552a6321bcef73a05ad58349b04f1bf70b6477ba97cdeca1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdegraphics-thumbnailers-24.04.80.tar.xz">kdegraphics-thumbnailers-24.04.80</a></td>
   <td align="right">47kB</td>
   <td><tt>c1c3c5ae3390a0773ef106e735c9e4ad4d308584c3c9626b2dd2a3e0c5e6460a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kde-inotify-survey-24.04.80.tar.xz">kde-inotify-survey-24.04.80</a></td>
   <td align="right">229kB</td>
   <td><tt>50ae8c0ea80258c96588689716af517a90d47fc102d4cdabbb30dc0f1ea41331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdenetwork-filesharing-24.04.80.tar.xz">kdenetwork-filesharing-24.04.80</a></td>
   <td align="right">482kB</td>
   <td><tt>ef805ec6bf102868876785b83a0276b1518f0348748288004ef1cf0d684dcfd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdenlive-24.04.80.tar.xz">kdenlive-24.04.80</a></td>
   <td align="right">12590kB</td>
   <td><tt>a2f5760c7f4f3c16fe5aaa0ee6ccb644e040290adb8c3eecd7e12ba5e99c75e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdepim-addons-24.04.80.tar.xz">kdepim-addons-24.04.80</a></td>
   <td align="right">2577kB</td>
   <td><tt>080520c867ae628102f4fbd9c810a0707fdef2b004a30ce2d9b5945ac7302cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdepim-runtime-24.04.80.tar.xz">kdepim-runtime-24.04.80</a></td>
   <td align="right">1640kB</td>
   <td><tt>c369661414aa63a306aa9b70748f039d098c2596360c32f23076c05353ceac28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdesdk-kio-24.04.80.tar.xz">kdesdk-kio-24.04.80</a></td>
   <td align="right">40kB</td>
   <td><tt>49670598bc99ffc0881c57b27c01899df4f0a312a9ede797a3dc00b65e1610d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdesdk-thumbnailers-24.04.80.tar.xz">kdesdk-thumbnailers-24.04.80</a></td>
   <td align="right">26kB</td>
   <td><tt>d3dd14319e1ac577dbcd0c3fbcf0f000bc7b4432498ac6e10aff74c6d71511e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdevelop-24.04.80.tar.xz">kdevelop-24.04.80</a></td>
   <td align="right">8559kB</td>
   <td><tt>1dc51130b3666d253896d73e909f0a3dda6a7db7359af511e4b0f17fa43e4b25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdev-php-24.04.80.tar.xz">kdev-php-24.04.80</a></td>
   <td align="right">1064kB</td>
   <td><tt>753b3350926716c454d60e17a035d520171b0b2b755b752e41a8893421d1733c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdev-python-24.04.80.tar.xz">kdev-python-24.04.80</a></td>
   <td align="right">1072kB</td>
   <td><tt>ab07fafebedfac6f92a5382d33360fecc15afe402202f3b6bfddf573c7fe8d06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdf-24.04.80.tar.xz">kdf-24.04.80</a></td>
   <td align="right">466kB</td>
   <td><tt>45fd3a47623b8e1d399430223a0f02b4eda03c38e6cf0373c7f7279f27ee31c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdialog-24.04.80.tar.xz">kdialog-24.04.80</a></td>
   <td align="right">142kB</td>
   <td><tt>fb2f57d98a34985501f9435942e9626acd96ae4c1cf7f78845a7d201c91ad106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kdiamond-24.04.80.tar.xz">kdiamond-24.04.80</a></td>
   <td align="right">4559kB</td>
   <td><tt>bb69f1ab01e496ebc7c3cc62b8f302015fa14044ebfdb1d7380b1fcda4aaf222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/keditbookmarks-24.04.80.tar.xz">keditbookmarks-24.04.80</a></td>
   <td align="right">238kB</td>
   <td><tt>b313b4323641e81923babcf395d213977ca13bd88197edbf95ca12a65aea6c65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/keysmith-24.04.80.tar.xz">keysmith-24.04.80</a></td>
   <td align="right">167kB</td>
   <td><tt>312100e4f1036b26291dbd4b570d2a073504107fb4ff8d4987bae19d6f7f88c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kfind-24.04.80.tar.xz">kfind-24.04.80</a></td>
   <td align="right">316kB</td>
   <td><tt>8fd6cc4aa443eff1ec5d326d010001063d4ff5d0a629cb2f1287db156fe399cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kfourinline-24.04.80.tar.xz">kfourinline-24.04.80</a></td>
   <td align="right">721kB</td>
   <td><tt>f899941605d8fcd5a949d4ac5f52091fd2849397fe4bedcc5ee89562bfe457d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kgeography-24.04.80.tar.xz">kgeography-24.04.80</a></td>
   <td align="right">12145kB</td>
   <td><tt>17f0713e26b5d45714587144e3c3d21e9407f5008daf56b4dd6e7173c89503d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kget-24.04.80.tar.xz">kget-24.04.80</a></td>
   <td align="right">4793kB</td>
   <td><tt>20db9ab5c487ddd039f513e73e6e2a671692744e15eec8b1907604962a1e9326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kgoldrunner-24.04.80.tar.xz">kgoldrunner-24.04.80</a></td>
   <td align="right">4192kB</td>
   <td><tt>ec5e4937000cd57f05322d35df3ee26b8fa1bf9ca4595addec8d2f46bdec76b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kgpg-24.04.80.tar.xz">kgpg-24.04.80</a></td>
   <td align="right">2951kB</td>
   <td><tt>08f08ffdc5805f3f957826a753ffa258017f7fae3c3636176d6a450283f8fb70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/khangman-24.04.80.tar.xz">khangman-24.04.80</a></td>
   <td align="right">6853kB</td>
   <td><tt>cab6371fdfd433679c85d4b32917e0f135a25d2981a077a0d6e62577750532f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/khealthcertificate-24.04.80.tar.xz">khealthcertificate-24.04.80</a></td>
   <td align="right">502kB</td>
   <td><tt>6910fe83dde0d9cda8ec369744df2e1684df820a98fc4da335e0ca8c777f704b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/khelpcenter-24.04.80.tar.xz">khelpcenter-24.04.80</a></td>
   <td align="right">4121kB</td>
   <td><tt>7a59bcb70c64966b393b87d22ba239205c25c511b0a4c9e5f62aff18d8769b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kidentitymanagement-24.04.80.tar.xz">kidentitymanagement-24.04.80</a></td>
   <td align="right">189kB</td>
   <td><tt>2d01165507544a7ea3f265e61177e532b958c60f21d467fa8397f1d08a9dcdb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kig-24.04.80.tar.xz">kig-24.04.80</a></td>
   <td align="right">3174kB</td>
   <td><tt>66cc6d5ff83bb73f9e4c5d8865fbc8d801c909ee127319c219d4dfbab1155dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kigo-24.04.80.tar.xz">kigo-24.04.80</a></td>
   <td align="right">4712kB</td>
   <td><tt>bf16c22c18817040ab63425bf7ce11a1b8935149c3b8813bc7b9312bb41d99a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/killbots-24.04.80.tar.xz">killbots-24.04.80</a></td>
   <td align="right">1132kB</td>
   <td><tt>ceec74d501e89b259076893cf8d8b2225f184e82a3ec000012ced7f521c0f114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kimagemapeditor-24.04.80.tar.xz">kimagemapeditor-24.04.80</a></td>
   <td align="right">1043kB</td>
   <td><tt>90e58359832cb0bc9496621e160b32335569f5288b41d28788b8b97aa89a62d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kimap-24.04.80.tar.xz">kimap-24.04.80</a></td>
   <td align="right">128kB</td>
   <td><tt>873868750520697e87a9a1b3f6147628f064730137fb37f5a736276e69afe571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kio-admin-24.04.80.tar.xz">kio-admin-24.04.80</a></td>
   <td align="right">37kB</td>
   <td><tt>ba142756cd6f006764a53cae74ae1a61a79730eb91289f1a76eacd378010cfc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kio-extras-24.04.80.tar.xz">kio-extras-24.04.80</a></td>
   <td align="right">3389kB</td>
   <td><tt>e16461a6d185500ef3ac83b6a30c2525f6c4e8cdd4a073c30e39fb14a0890a2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kio-gdrive-24.04.80.tar.xz">kio-gdrive-24.04.80</a></td>
   <td align="right">78kB</td>
   <td><tt>1cfaef56a285879a27e58d4512ba482347434ed1edc7907c03b0e843ac16ce4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kio-zeroconf-24.04.80.tar.xz">kio-zeroconf-24.04.80</a></td>
   <td align="right">43kB</td>
   <td><tt>47c9f68a53788f08a1732dea47d1451011f08b7cab278d2b6c2c2fcbff8a344c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kipi-plugins-24.04.80.tar.xz">kipi-plugins-24.04.80</a></td>
   <td align="right">1536kB</td>
   <td><tt>38be32455824efb7507aa940251e07272f1f84e3887160c9ad5ded4048ab1c3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kirigami-gallery-24.04.80.tar.xz">kirigami-gallery-24.04.80</a></td>
   <td align="right">348kB</td>
   <td><tt>499da142eabd4bc015cecc4061a8dc66eb41c876e59b08f83c873e2699039b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kiriki-24.04.80.tar.xz">kiriki-24.04.80</a></td>
   <td align="right">359kB</td>
   <td><tt>bf6e31f6542bd381d345416601d6685149fc17a5f01cbbeb4ef3ef256bf4ce2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kiten-24.04.80.tar.xz">kiten-24.04.80</a></td>
   <td align="right">11043kB</td>
   <td><tt>e1468047a340a01561eb7102f7d523920f8c79204ba43e7205350a0f4bdd65e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kitinerary-24.04.80.tar.xz">kitinerary-24.04.80</a></td>
   <td align="right">1937kB</td>
   <td><tt>b70f1d19a1d46302241aa674585d0adb7b6a2d11aca6288ac7298dc9fe0410bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kjournald-24.04.80.tar.xz">kjournald-24.04.80</a></td>
   <td align="right">506kB</td>
   <td><tt>dc1927c1732d56fc16ca0532350ae3d80abfc97c34904fa29a29f6821f6c1371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kjumpingcube-24.04.80.tar.xz">kjumpingcube-24.04.80</a></td>
   <td align="right">331kB</td>
   <td><tt>a0574e870568ebe6c2b43d9312b6f47284ed91a9ef02fc461591825262f9bd73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kldap-24.04.80.tar.xz">kldap-24.04.80</a></td>
   <td align="right">180kB</td>
   <td><tt>a6c095280963d4906da46dde8ccb2a2b5abfc5ce52a5d074eef1acfb0b924daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kleopatra-24.04.80.tar.xz">kleopatra-24.04.80</a></td>
   <td align="right">2782kB</td>
   <td><tt>b06a71d6d05bf7bf68d4796660e6d1a0a0f0ee2f3c600151e2d17ea06f711e7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/klettres-24.04.80.tar.xz">klettres-24.04.80</a></td>
   <td align="right">46075kB</td>
   <td><tt>cb01790db43bb94ef0b555e3f84afd198fe9dcd5f2a1d4269b5a0ce67d17171b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/klickety-24.04.80.tar.xz">klickety-24.04.80</a></td>
   <td align="right">1348kB</td>
   <td><tt>51023ff252cf8dd5631a30ca73e9b75bdfc296062b93133b93f84268843d34d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/klines-24.04.80.tar.xz">klines-24.04.80</a></td>
   <td align="right">1629kB</td>
   <td><tt>a352dca665280662d61859ceac450860b2d2ebc9f34a3268d891ca685ca67dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmag-24.04.80.tar.xz">kmag-24.04.80</a></td>
   <td align="right">658kB</td>
   <td><tt>ebca4dbaea666ba32fccd4cc40a51384916054f40ddac9c956f566a67e485497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmahjongg-24.04.80.tar.xz">kmahjongg-24.04.80</a></td>
   <td align="right">3626kB</td>
   <td><tt>0db8313a0bfbbcf79bd58e0c842055698cec1b2976c33869cad6ae94a1f99ac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmail-24.04.80.tar.xz">kmail-24.04.80</a></td>
   <td align="right">8235kB</td>
   <td><tt>d220535fd224c1add1aeb2668382988ebe0b6d68e79f33e9d4bd6cdd04ba6f83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmail-account-wizard-24.04.80.tar.xz">kmail-account-wizard-24.04.80</a></td>
   <td align="right">158kB</td>
   <td><tt>f719603b006d4d6cdc7622f872632e038ea13f004d5c52680645a1580e759333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmailtransport-24.04.80.tar.xz">kmailtransport-24.04.80</a></td>
   <td align="right">181kB</td>
   <td><tt>0409383afd4e6adf0e7c9dc854571912fabeb633db46ca99bc6a645fbf634ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmbox-24.04.80.tar.xz">kmbox-24.04.80</a></td>
   <td align="right">28kB</td>
   <td><tt>1f001ab9eaee6e6eb309081210aac4c10570439b1d7b9717f1d6e8806effc178</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmime-24.04.80.tar.xz">kmime-24.04.80</a></td>
   <td align="right">157kB</td>
   <td><tt>0c750d9dd82b70513ad86b106258b329443649b0c4f2e3f5fc82dfc4eb4acafe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmines-24.04.80.tar.xz">kmines-24.04.80</a></td>
   <td align="right">921kB</td>
   <td><tt>cfcd2509ea4b7ce11f9b5af1051b1c418d0ccb08f4b35f4beab60d6b563f714d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmix-24.04.80.tar.xz">kmix-24.04.80</a></td>
   <td align="right">1137kB</td>
   <td><tt>5ca1dd73a3c4241ac9b005a21ef0cec464163a05885d4be580e6cfac8e99c49b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmousetool-24.04.80.tar.xz">kmousetool-24.04.80</a></td>
   <td align="right">127kB</td>
   <td><tt>65bda93fa44344304c4bb42b134623f0101acf8b3b17ff1414e0d92dc4a6ac36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmouth-24.04.80.tar.xz">kmouth-24.04.80</a></td>
   <td align="right">1890kB</td>
   <td><tt>8a425ff74a87438a989f1990733ef019369cfeab3b7b2fce4d578d3267bc7285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kmplot-24.04.80.tar.xz">kmplot-24.04.80</a></td>
   <td align="right">2933kB</td>
   <td><tt>56162db91853804f0f1a9a4d04d3bde724b60cf5f40ee6db7e890db30a56d7f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/knavalbattle-24.04.80.tar.xz">knavalbattle-24.04.80</a></td>
   <td align="right">1017kB</td>
   <td><tt>0d11f59c6778df752c429c7c10b12900eaca1c557643540176d7d9f11102efd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/knetwalk-24.04.80.tar.xz">knetwalk-24.04.80</a></td>
   <td align="right">986kB</td>
   <td><tt>bcf9580d844de61edf963a14496cacb95475fd282c72f8b8edb7668956c89e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/knights-24.04.80.tar.xz">knights-24.04.80</a></td>
   <td align="right">2413kB</td>
   <td><tt>6c3c0f8fca852bc628e02b97f30e64acea3b069acc9ae12715c917e0b8079fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/knotes-24.04.80.tar.xz">knotes-24.04.80</a></td>
   <td align="right">371kB</td>
   <td><tt>20263fa97063f6d2a7b4ec07c10cc51da96aba7243fd5b00ece33ab969edd4c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/koko-24.04.80.tar.xz">koko-24.04.80</a></td>
   <td align="right">8331kB</td>
   <td><tt>d0d4b96b74f214708d160290c2a0e77f3df5abba717dd93124e0b05251ab9c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kolf-24.04.80.tar.xz">kolf-24.04.80</a></td>
   <td align="right">1039kB</td>
   <td><tt>39d49218b3d0b60f232b58301dec2a1b755a69ce6bdd3cc8320e15d126fc240a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kollision-24.04.80.tar.xz">kollision-24.04.80</a></td>
   <td align="right">301kB</td>
   <td><tt>d46ab4244c10829f9ad15ee0c82e49786c49412d7fcc6786fd503a4fa29fe3c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kolourpaint-24.04.80.tar.xz">kolourpaint-24.04.80</a></td>
   <td align="right">5169kB</td>
   <td><tt>4fe66f7e2793014b483753cc23dfce45e638cdd3922ccb9b87a4dd33d7b1417e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kompare-24.04.80.tar.xz">kompare-24.04.80</a></td>
   <td align="right">920kB</td>
   <td><tt>7f700e76873c45e253e0f1e5ebf128d35313756e4aa770f5342c4305710a6988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kongress-24.04.80.tar.xz">kongress-24.04.80</a></td>
   <td align="right">579kB</td>
   <td><tt>3b5946a3f12980c5ecc42f5c5d8731038c78288989de8f16684dcb9cb62a33e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/konqueror-24.04.80.tar.xz">konqueror-24.04.80</a></td>
   <td align="right">9475kB</td>
   <td><tt>bf6d4f9996442dc9f2b196785b54850650dfef353498384de29d15a7e6d3cca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/konquest-24.04.80.tar.xz">konquest-24.04.80</a></td>
   <td align="right">834kB</td>
   <td><tt>9cab762f53df29ed8c009bc99bb6b2c31e907ce3059d675423abe743cd1bda7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/konsole-24.04.80.tar.xz">konsole-24.04.80</a></td>
   <td align="right">1727kB</td>
   <td><tt>67d51c92186da6a24b6ef1b0aba0f383340ebfe59bf07d4dbbeb801b5a0d7a55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kontact-24.04.80.tar.xz">kontact-24.04.80</a></td>
   <td align="right">842kB</td>
   <td><tt>72c7c48ca2031fb290850a3011c06b7e6b245184c1e13e700a199fc8f828b41d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kontactinterface-24.04.80.tar.xz">kontactinterface-24.04.80</a></td>
   <td align="right">39kB</td>
   <td><tt>31cacb5a9be290eb83927358884702d419a2b304196f1a6607ae15631e8d835d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kontrast-24.04.80.tar.xz">kontrast-24.04.80</a></td>
   <td align="right">209kB</td>
   <td><tt>4e9db436c75f7719c93407eff6fee69bb540006feb6dd682f0953657f7efe3d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/konversation-24.04.80.tar.xz">konversation-24.04.80</a></td>
   <td align="right">4284kB</td>
   <td><tt>ef12c9270cfc9fd910f9828b2542ad3e9e5af0bfb31fbffa5f6ea3dfa3e8fe57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kopeninghours-24.04.80.tar.xz">kopeninghours-24.04.80</a></td>
   <td align="right">72kB</td>
   <td><tt>3764f6322c9dc7c4f6992addbb6eb590410b81d7157e2b6943b727ac17e8719e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/korganizer-24.04.80.tar.xz">korganizer-24.04.80</a></td>
   <td align="right">2509kB</td>
   <td><tt>1851a15a5ca151fbf0d05624db8bb8e1c924df8d15a212455e5afdbd72162bbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kosmindoormap-24.04.80.tar.xz">kosmindoormap-24.04.80</a></td>
   <td align="right">630kB</td>
   <td><tt>f481b6485f82090941cc0bb77c4b428adc778b79c9dc587705ca3e8e61a50417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kpat-24.04.80.tar.xz">kpat-24.04.80</a></td>
   <td align="right">3629kB</td>
   <td><tt>ab6f0af5844d9784412306308e49e3cc219a81def67734dd51acf7121a300511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kpimtextedit-24.04.80.tar.xz">kpimtextedit-24.04.80</a></td>
   <td align="right">165kB</td>
   <td><tt>5308c44107dc5e42b904b0fbf6f8ba2ce41b0eb5e8465531006991dd58986a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kpkpass-24.04.80.tar.xz">kpkpass-24.04.80</a></td>
   <td align="right">28kB</td>
   <td><tt>8899da4be74c3dfc046fc5aa7cf72400d3145190db4b71f6211390ef2489c351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kpmcore-24.04.80.tar.xz">kpmcore-24.04.80</a></td>
   <td align="right">623kB</td>
   <td><tt>92b55eccae4383357c5b8d8dedc8e66507e41d6c2e1f097a750867a3df4345f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kpublictransport-24.04.80.tar.xz">kpublictransport-24.04.80</a></td>
   <td align="right">630kB</td>
   <td><tt>5023b9dc93ba6a84b00ffd188c0f042b41b1ed16416dac23a9af1a43ffb6fe21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kqtquickcharts-24.04.80.tar.xz">kqtquickcharts-24.04.80</a></td>
   <td align="right">30kB</td>
   <td><tt>25bf768df7d532e20b6f2ed7ff02e89968f72658b5b1eda12139c82d76727ec5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/krdc-24.04.80.tar.xz">krdc-24.04.80</a></td>
   <td align="right">1505kB</td>
   <td><tt>7a4ee841d972c516df684c2bc1c0a5fddfc69d3528e43dd3c76ba3faa1593a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/krecorder-24.04.80.tar.xz">krecorder-24.04.80</a></td>
   <td align="right">162kB</td>
   <td><tt>d1002b0d3fc58547a483f26543f1ef07300cce1347465985b52bd4edf46812eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kreversi-24.04.80.tar.xz">kreversi-24.04.80</a></td>
   <td align="right">1001kB</td>
   <td><tt>df7b6ee9893fdd9567f930c09bf7d795c25888e14e0963e5abcdc5eebdc7a2c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/krfb-24.04.80.tar.xz">krfb-24.04.80</a></td>
   <td align="right">1168kB</td>
   <td><tt>cc2db899d99fc5534eb96d747bd0fc5c3346477c22198164c7ea43b210abf9a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kross-interpreters-24.04.80.tar.xz">kross-interpreters-24.04.80</a></td>
   <td align="right">148kB</td>
   <td><tt>40cc432384e5cbeefd1acc4b943d0fe7b232b8e7edfa9493d291b3783aeb99cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kruler-24.04.80.tar.xz">kruler-24.04.80</a></td>
   <td align="right">277kB</td>
   <td><tt>998612a6a4377c810b5baa602839a5746269d3553ad9fc7202d2ff385886ee2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ksanecore-24.04.80.tar.xz">ksanecore-24.04.80</a></td>
   <td align="right">51kB</td>
   <td><tt>9a3073fcc7d1ddfb78e6ff19d6e253ce02d40488c2be46cc1ebbaba346848342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kshisen-24.04.80.tar.xz">kshisen-24.04.80</a></td>
   <td align="right">944kB</td>
   <td><tt>53dac3be818defb88ad6da9d24d0e79f73e1923c76af429d61515a8a16530521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ksirk-24.04.80.tar.xz">ksirk-24.04.80</a></td>
   <td align="right">6903kB</td>
   <td><tt>3ec33681c7ac3ae2cee8c899dc7601e3a4871cf7e03351c45f5b0f27d444ac30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ksmtp-24.04.80.tar.xz">ksmtp-24.04.80</a></td>
   <td align="right">51kB</td>
   <td><tt>39c3a8e93cfac6511a27ef71ceadd2985b8d7c136345d0d424b81ac911baf643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ksnakeduel-24.04.80.tar.xz">ksnakeduel-24.04.80</a></td>
   <td align="right">562kB</td>
   <td><tt>f1358c3d02041f4e1568ee2a2a8119c98cb4f7172f50ce36e17dcc4e84fb5875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kspaceduel-24.04.80.tar.xz">kspaceduel-24.04.80</a></td>
   <td align="right">613kB</td>
   <td><tt>62b33ee495fb756ed7e097ad3dd5ef2b55ba596c623e07fb5c5b52c8d45daecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ksquares-24.04.80.tar.xz">ksquares-24.04.80</a></td>
   <td align="right">310kB</td>
   <td><tt>53a19fbf66b41eeca9afcbef8afafb54f1f9b2672676c295eb94465226c1ae84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ksudoku-24.04.80.tar.xz">ksudoku-24.04.80</a></td>
   <td align="right">1678kB</td>
   <td><tt>88f9c828a51d4841e377ff14f560eddb1f35fe2df85247f819abc15122ea14d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ksystemlog-24.04.80.tar.xz">ksystemlog-24.04.80</a></td>
   <td align="right">1811kB</td>
   <td><tt>93f736c152f7e761915f90430c428ac919666bb5a71fef1a8bb340ce926c4ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kteatime-24.04.80.tar.xz">kteatime-24.04.80</a></td>
   <td align="right">300kB</td>
   <td><tt>72d4e16d7ea818c70f1b9cf095c81501ec5f5b36359b9628b382fedc10ae9c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ktimer-24.04.80.tar.xz">ktimer-24.04.80</a></td>
   <td align="right">440kB</td>
   <td><tt>1dec29def8a3d8088fe2e3daf2357d8b8310bf730f8068a585e79cb307f9a5fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ktnef-24.04.80.tar.xz">ktnef-24.04.80</a></td>
   <td align="right">304kB</td>
   <td><tt>8ad467afc9d0bde4fdd96e10edced001dc205f68b177ecac0cc2bdb9644b1d5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ktorrent-24.04.80.tar.xz">ktorrent-24.04.80</a></td>
   <td align="right">2131kB</td>
   <td><tt>69d0e6d7dbf077fda1aba6c071534921bbe03d7b66f9afc3719b4700a059cbbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ktouch-24.04.80.tar.xz">ktouch-24.04.80</a></td>
   <td align="right">4672kB</td>
   <td><tt>d9ca18a34e026953074d91cef77a7412b940ccae7f35757fdd59e9556e204a19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ktrip-24.04.80.tar.xz">ktrip-24.04.80</a></td>
   <td align="right">1013kB</td>
   <td><tt>e2f65c59de391a3beca86add650ba82f573546a2780691d06bcd84e131e6eb65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/ktuberling-24.04.80.tar.xz">ktuberling-24.04.80</a></td>
   <td align="right">69877kB</td>
   <td><tt>b2e51a3ec3b7bd9366de1bd3559c9f5ce70305ae524b0235b28f6c4a175cb831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kturtle-24.04.80.tar.xz">kturtle-24.04.80</a></td>
   <td align="right">2045kB</td>
   <td><tt>ff329c26827ce2e05d33b1c09d2305aa9606283f00d9f0e433986985f1085bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kubrick-24.04.80.tar.xz">kubrick-24.04.80</a></td>
   <td align="right">347kB</td>
   <td><tt>5c1b62230aae6f488a6489cf9f0693ecacc27b3160a77ab0a3948d04c5bbc514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kwalletmanager-24.04.80.tar.xz">kwalletmanager-24.04.80</a></td>
   <td align="right">1011kB</td>
   <td><tt>b63e3df4b2a6a59b460eb0559bd9e4fec4d657773cb2ba82ac7849a64513eac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kwave-24.04.80.tar.xz">kwave-24.04.80</a></td>
   <td align="right">6397kB</td>
   <td><tt>e586885f066d22facf1e7dad7ae2b93b4186ea67c39b0c6d122331ba3f68710b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kweather-24.04.80.tar.xz">kweather-24.04.80</a></td>
   <td align="right">926kB</td>
   <td><tt>96cf66c4e0c6e179f95ab6a880b0204046c46d8f0929e97b3f0d3359213f71d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/kwordquiz-24.04.80.tar.xz">kwordquiz-24.04.80</a></td>
   <td align="right">3682kB</td>
   <td><tt>34946f3041d83c4c8ffa5f9c419bf8661acdc780ec3896be4dd4c766640e9305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libgravatar-24.04.80.tar.xz">libgravatar-24.04.80</a></td>
   <td align="right">36kB</td>
   <td><tt>2ee8e4a3455fcfc90fab9aa7806d25a30ce67140bbcfc5c64f84f7c4c958a709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkcddb-24.04.80.tar.xz">libkcddb-24.04.80</a></td>
   <td align="right">439kB</td>
   <td><tt>c5461e199441bef5ccf015a7731b728b5d083e0613afaef7abd8ee62ec3365fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkcompactdisc-24.04.80.tar.xz">libkcompactdisc-24.04.80</a></td>
   <td align="right">97kB</td>
   <td><tt>d020c50bf714a65aff08c7f690818504d133dedd8c79b8485d7515755aae0911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkdcraw-24.04.80.tar.xz">libkdcraw-24.04.80</a></td>
   <td align="right">36kB</td>
   <td><tt>70646d0d12ea3c042a3689ad42a1fad951997d360c018fa3ad87b41cc130fca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkdegames-24.04.80.tar.xz">libkdegames-24.04.80</a></td>
   <td align="right">5834kB</td>
   <td><tt>76aca8d97c1fc1fc3a9618682f97d62ba33532312a8c1277f46fd043f0cb0dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkdepim-24.04.80.tar.xz">libkdepim-24.04.80</a></td>
   <td align="right">275kB</td>
   <td><tt>b47a9ca0a627efa9fe2f73f6e8104324f27d2848a92953137da5a8457d940a82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkeduvocdocument-24.04.80.tar.xz">libkeduvocdocument-24.04.80</a></td>
   <td align="right">222kB</td>
   <td><tt>9566a4f29fac877122a45b6d56318fa6816f8b395f1a3882d32ecc3b554db637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkexiv2-24.04.80.tar.xz">libkexiv2-24.04.80</a></td>
   <td align="right">59kB</td>
   <td><tt>52a98ef642f976d2aabd7d5f9e8df3f9a222252c0b828bb1190bf8fcca03b84d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkgapi-24.04.80.tar.xz">libkgapi-24.04.80</a></td>
   <td align="right">330kB</td>
   <td><tt>8f3d2c80a3db7fa7a67470c9f6e2ccfdd1fc5231e11fe6dfb5e64d90f6d69e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkipi-24.04.80.tar.xz">libkipi-24.04.80</a></td>
   <td align="right">86kB</td>
   <td><tt>9373426fa9bec5767c8cf339c3a31def2c7835323f2119d7f4891c478a8c253e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkleo-24.04.80.tar.xz">libkleo-24.04.80</a></td>
   <td align="right">572kB</td>
   <td><tt>2c797c6cc4aa2ea2d6d92e929650694efa15e27eb853f374ae0f58e1a204c9f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkmahjongg-24.04.80.tar.xz">libkmahjongg-24.04.80</a></td>
   <td align="right">1653kB</td>
   <td><tt>7f556f5ec3db378354068382ff4fa2651f1825b56431dec5f3ad6ec845daee50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libkomparediff2-24.04.80.tar.xz">libkomparediff2-24.04.80</a></td>
   <td align="right">184kB</td>
   <td><tt>44dc9b5d825fa77d9af7ee7aa5975e6923e0ee6bf43722aa71f9261b462a404d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libksane-24.04.80.tar.xz">libksane-24.04.80</a></td>
   <td align="right">150kB</td>
   <td><tt>0b45eaa6def68945851c5de5b59b189c2f17cf2e97c40d73d1b2cc8c3d800955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libksieve-24.04.80.tar.xz">libksieve-24.04.80</a></td>
   <td align="right">571kB</td>
   <td><tt>2374e2834d381b2d5d885725cd30c32cb8d6e3f4bf6f7a57e41f63501c32c704</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/libktorrent-24.04.80.tar.xz">libktorrent-24.04.80</a></td>
   <td align="right">591kB</td>
   <td><tt>6542ab28a6602307b6b2db999d560caf9175bcb775f24af1fa2eab8779eb752f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/lokalize-24.04.80.tar.xz">lokalize-24.04.80</a></td>
   <td align="right">2027kB</td>
   <td><tt>442cb60e1cff0e7761126317d1ed0925a5a6a7310e941d1efdef6164cbf2c5d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/lskat-24.04.80.tar.xz">lskat-24.04.80</a></td>
   <td align="right">1190kB</td>
   <td><tt>6d9be8af7f507b0b9868870f54ca29b4c4158dcf72cf3ce214b4013b45cfd022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/mailcommon-24.04.80.tar.xz">mailcommon-24.04.80</a></td>
   <td align="right">754kB</td>
   <td><tt>512ba4dff05455e372176c30d691633c1be919354de2b167c5bb4b384d445d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/mailimporter-24.04.80.tar.xz">mailimporter-24.04.80</a></td>
   <td align="right">581kB</td>
   <td><tt>801822e73d295c9b8fab16c818cfb6334112d9027a9138455aab8372ae536a26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/marble-24.04.80.tar.xz">marble-24.04.80</a></td>
   <td align="right">51225kB</td>
   <td><tt>958bc4ea67c111aafaae7d84d894fd5babe133cb4969cbd028c6f14c313eeb3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/markdownpart-24.04.80.tar.xz">markdownpart-24.04.80</a></td>
   <td align="right">33kB</td>
   <td><tt>e505c431dc7df2abefc9e89c042b83548e54c26fa66e4dada929904e7a72b831</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/mbox-importer-24.04.80.tar.xz">mbox-importer-24.04.80</a></td>
   <td align="right">30kB</td>
   <td><tt>e761d532b2a0c07714ce0825c43ca1687b721d8148e44b86808c732cf8423db4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/merkuro-24.04.80.tar.xz">merkuro-24.04.80</a></td>
   <td align="right">729kB</td>
   <td><tt>c6af79c0842a33d3b23a3c46610fac6c100a6021e13b6c0a19388f43b0e915c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/messagelib-24.04.80.tar.xz">messagelib-24.04.80</a></td>
   <td align="right">11084kB</td>
   <td><tt>dc550be29b2824218728c8310c8865bf041feffcb8f399409bf4e48bd4a29add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/mimetreeparser-24.04.80.tar.xz">mimetreeparser-24.04.80</a></td>
   <td align="right">624kB</td>
   <td><tt>e1803cc56d801a44536ee5fd30addb3f8cbe16bbf1ff477f711eebef44217755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/minuet-24.04.80.tar.xz">minuet-24.04.80</a></td>
   <td align="right">27040kB</td>
   <td><tt>d869e505327871dc7eb3585599406ab1da7105dfb327fab02ba8768864c9e123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/neochat-24.04.80.tar.xz">neochat-24.04.80</a></td>
   <td align="right">952kB</td>
   <td><tt>2098d0382d9e5d0ad136f0c9c0c596d8b2ff7ef8b7de55b62829f01c7f6c7922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/okular-24.04.80.tar.xz">okular-24.04.80</a></td>
   <td align="right">7829kB</td>
   <td><tt>4b8081b0b7531c8ef0d9f534be9693920cb893cd1952ee148f94d5f1770042fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/palapeli-24.04.80.tar.xz">palapeli-24.04.80</a></td>
   <td align="right">2065kB</td>
   <td><tt>6c54311ac8713db41cb31bdfc0c055e385babe92eac18b8d2806219f3620caab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/parley-24.04.80.tar.xz">parley-24.04.80</a></td>
   <td align="right">8223kB</td>
   <td><tt>5dc11ac17c4f8dfd3d561b6ee9b4fc465492fb7729d10151396f38fe490af560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/partitionmanager-24.04.80.tar.xz">partitionmanager-24.04.80</a></td>
   <td align="right">2259kB</td>
   <td><tt>6bb10260aee2f444609d2125c07c58aa995db2134cc7f2aa1f05f2644defed4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/picmi-24.04.80.tar.xz">picmi-24.04.80</a></td>
   <td align="right">1478kB</td>
   <td><tt>20d6e8add6bba26a538d1c6829ebd8622661963faa7fb21aee62ba163349d563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/pimcommon-24.04.80.tar.xz">pimcommon-24.04.80</a></td>
   <td align="right">340kB</td>
   <td><tt>3d8c33a76cd3d4294be4b6345bc5e1c4a229fb2f39f998c1e59a87c72d4fbb15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/pim-data-exporter-24.04.80.tar.xz">pim-data-exporter-24.04.80</a></td>
   <td align="right">411kB</td>
   <td><tt>8c7e546c589be4af064d9af9ad73f23bad7b4c63f91b274664dfb0097390209e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/pim-sieve-editor-24.04.80.tar.xz">pim-sieve-editor-24.04.80</a></td>
   <td align="right">453kB</td>
   <td><tt>7adcfdc8efe2507cf8e575b24ccb269589bde7887bed9c1f834bbb245355a1c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/plasmatube-24.04.80.tar.xz">plasmatube-24.04.80</a></td>
   <td align="right">187kB</td>
   <td><tt>27bdd8a16448d1af134f7075593b943a2536c37639a9b1700a3d81baafc72c73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/poxml-24.04.80.tar.xz">poxml-24.04.80</a></td>
   <td align="right">43kB</td>
   <td><tt>db043d69a97a4e8a75fde32ebf0c955bb19e2bc6bc763828bd3ec7fa988e2f5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/qmlkonsole-24.04.80.tar.xz">qmlkonsole-24.04.80</a></td>
   <td align="right">190kB</td>
   <td><tt>1819d0108c34951d2d5090da36e7c721cbc33513648bc034509f8f94d8c0dfda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/rocs-24.04.80.tar.xz">rocs-24.04.80</a></td>
   <td align="right">1529kB</td>
   <td><tt>770c301650ba42f62403515a3cbfb2f5eb656c463b6f941bd7920662356e61a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/signon-kwallet-extension-24.04.80.tar.xz">signon-kwallet-extension-24.04.80</a></td>
   <td align="right">11kB</td>
   <td><tt>3c3ed6f541516aba141a7f6ac962376fa1980d06df107072658bc6eae60b2431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/skanlite-24.04.80.tar.xz">skanlite-24.04.80</a></td>
   <td align="right">2327kB</td>
   <td><tt>bb7cfdc838da87df8423ccbac6a51b4f3cff0f2dda71d200661069aec283714a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/skanpage-24.04.80.tar.xz">skanpage-24.04.80</a></td>
   <td align="right">1300kB</td>
   <td><tt>03789bba6aa0b3e80604391ec042a9af414dfaf4ea1e6746639bb708aa1333e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/skladnik-24.04.80.tar.xz">skladnik-24.04.80</a></td>
   <td align="right">398kB</td>
   <td><tt>b3055eb0ab0fca19d235f39512d5935e4df43287af145f512fe4084e523015c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/spectacle-24.04.80.tar.xz">spectacle-24.04.80</a></td>
   <td align="right">1317kB</td>
   <td><tt>d7380a5926d4ec40361b885c0a33793b99ec89dbdeb74fa17424c7d1997e9a41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/step-24.04.80.tar.xz">step-24.04.80</a></td>
   <td align="right">960kB</td>
   <td><tt>18ef30a50e975e526ccb252cbf0d2ceb50c1b38848c8bd00d20dff80d4bfba4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/svgpart-24.04.80.tar.xz">svgpart-24.04.80</a></td>
   <td align="right">29kB</td>
   <td><tt>dea0ff908d1a860ce30ba1d0ff6a4695c08f496fec47ac4859d2c3257e9d88c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/sweeper-24.04.80.tar.xz">sweeper-24.04.80</a></td>
   <td align="right">373kB</td>
   <td><tt>d4feaad6c1137c7ca4a6c967b1bab0a49db6cb91e1a7448d49fd5fd708dd9c24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/telly-skout-24.04.80.tar.xz">telly-skout-24.04.80</a></td>
   <td align="right">99kB</td>
   <td><tt>10fe88b4a6cf5fe1449711782525990140d3cc45968029d38fa4a95f2572d754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/tokodon-24.04.80.tar.xz">tokodon-24.04.80</a></td>
   <td align="right">522kB</td>
   <td><tt>e35a80b980a85f0cd470a817940a43f4e6259e6566ae56f6a45970dc4b445429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/umbrello-24.04.80.tar.xz">umbrello-24.04.80</a></td>
   <td align="right">5484kB</td>
   <td><tt>eba13693039c250bfed184876ed263693f51969e8d4b4e323325dd3b518fd965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/yakuake-24.04.80.tar.xz">yakuake-24.04.80</a></td>
   <td align="right">369kB</td>
   <td><tt>b17e4943b2408cce7aaf191a3a94f0276da7b148207774e2b12b4b209fd80dff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/24.04.80/src/zanshin-24.04.80.tar.xz">zanshin-24.04.80</a></td>
   <td align="right">365kB</td>
   <td><tt>90089af960771012f9b651a580da07c45280ad562cd8828b728d2a1e5214adc3</tt></td>
</tr>

</table>
