<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/bluedevil-6.0.2.tar.xz">bluedevil-6.0.2</a></td>
   <td align="right">360kB</td>
   <td><tt>815e0e110ef39503ec05a46bd75fbd225552b9e85050a9b43f2d8a7803e1db60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/breeze-6.0.2.tar.xz">breeze-6.0.2</a></td>
   <td align="right">55MB</td>
   <td><tt>4c67f5a59a9a37c96754552c7a5076d29ea7864ac50fa9766719764ed94fb4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/breeze-grub-6.0.2.tar.xz">breeze-grub-6.0.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5c167c17268bbc3e3651af12a55f9bb38508a618a0f881e6329cd170e08d9446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/breeze-gtk-6.0.2.tar.xz">breeze-gtk-6.0.2</a></td>
   <td align="right">39kB</td>
   <td><tt>a612990937e0c0c6ce386c20f33bf7b6a59c321b6b6f9d2a705163ffdeae7dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/breeze-plymouth-6.0.2.tar.xz">breeze-plymouth-6.0.2</a></td>
   <td align="right">108kB</td>
   <td><tt>48456d9a719dc6b33ab6274ec4c56f78e42f1272c259e0064e6a5ce6a2e874e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/discover-6.0.2.tar.xz">discover-6.0.2</a></td>
   <td align="right">977kB</td>
   <td><tt>8c3b964188ee37249aa1bd4acd52967d8803bc40b75f3b7718593c1cd6ccf4f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/drkonqi-6.0.2.tar.xz">drkonqi-6.0.2</a></td>
   <td align="right">853kB</td>
   <td><tt>4b81c794319e04c570a9487f09dda02f18881e248547ba856aa84a6ede70c314</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/flatpak-kcm-6.0.2.tar.xz">flatpak-kcm-6.0.2</a></td>
   <td align="right">233kB</td>
   <td><tt>73110e1260aaabd0258fadf6fd63e0d669c6d65cc16374f28cd88c664bac258d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kactivitymanagerd-6.0.2.tar.xz">kactivitymanagerd-6.0.2</a></td>
   <td align="right">107kB</td>
   <td><tt>e95ea29f8b6fb882bec51d9464912a74354ef5396bb3eab78830dae34aa4dfb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kde-cli-tools-6.0.2.tar.xz">kde-cli-tools-6.0.2</a></td>
   <td align="right">613kB</td>
   <td><tt>4abec932b4b479a4224e0ef256305598655d3389b369a61fe48637e2b5ce8e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kde-gtk-config-6.0.2.tar.xz">kde-gtk-config-6.0.2</a></td>
   <td align="right">76kB</td>
   <td><tt>884570500ced842f1e1c545edf6fdd5036673f83a7188644f8b9f761e2682f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kdecoration-6.0.2.tar.xz">kdecoration-6.0.2</a></td>
   <td align="right">53kB</td>
   <td><tt>b993616cc5d78fce787b2dbd04aafe540e929c2ecccde14bce0c61903514bec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kdeplasma-addons-6.0.2.tar.xz">kdeplasma-addons-6.0.2</a></td>
   <td align="right">845kB</td>
   <td><tt>5a5e0bfcfb40d57a5ebb9fed5d238c642d18e7ed2d6ddbb1240b61c598bb0200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kgamma-6.0.2.tar.xz">kgamma-6.0.2</a></td>
   <td align="right">84kB</td>
   <td><tt>f80db1a6e89504040d51c6b14fa8ba06ac6787dc37c05bc41ec6cbcdb4639990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kglobalacceld-6.0.2.tar.xz">kglobalacceld-6.0.2</a></td>
   <td align="right">51kB</td>
   <td><tt>a4f3c6d8c08636e8c0238c5b9455a0c975d57225c66127326d1dd4dda1a3268b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kinfocenter-6.0.2.tar.xz">kinfocenter-6.0.2</a></td>
   <td align="right">813kB</td>
   <td><tt>5d7d42990b7bdcaee776510fdbdf27e44b5bbe168c4e4e4d549f561e8fe2cb20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kmenuedit-6.0.2.tar.xz">kmenuedit-6.0.2</a></td>
   <td align="right">908kB</td>
   <td><tt>d0aec4ca74c5a5578ca7b934175a9ec7e21324bbda55cce96f4a0dd5326dc197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kpipewire-6.0.2.tar.xz">kpipewire-6.0.2</a></td>
   <td align="right">141kB</td>
   <td><tt>00f986b6296032461a35871dbe8a12fc24c2f93b6239d3098c97b76dcbd46cc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kscreen-6.0.2.tar.xz">kscreen-6.0.2</a></td>
   <td align="right">197kB</td>
   <td><tt>f1f56e3e5c70e5db75a5fc01b4f081edc811cbb368022bb70c4afabe255a0285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kscreenlocker-6.0.2.tar.xz">kscreenlocker-6.0.2</a></td>
   <td align="right">160kB</td>
   <td><tt>451c69a2356c545c118e32c9f8b4586272b299f8d9ddc4c9c884b19db427b53f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/ksshaskpass-6.0.2.tar.xz">ksshaskpass-6.0.2</a></td>
   <td align="right">28kB</td>
   <td><tt>0bea76d31ca06f742442ace693e2dc489612309b5aa567d16978ac26ee20fac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/ksystemstats-6.0.2.tar.xz">ksystemstats-6.0.2</a></td>
   <td align="right">121kB</td>
   <td><tt>975ffcfe89101ce55cf1c0c56c666e02e5dc3d1fa9245e315b0d2303034ca840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kwallet-pam-6.0.2.tar.xz">kwallet-pam-6.0.2</a></td>
   <td align="right">22kB</td>
   <td><tt>41321bea82add23f86b6bcbe6d388bc8c35923bd1d7f8a66d08c3f2ab1ab0273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kwayland-6.0.2.tar.xz">kwayland-6.0.2</a></td>
   <td align="right">130kB</td>
   <td><tt>bdc2e78f575ab5a8d5a2bd3108a3cc30467a334958b3cffdac04839db835d833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kwayland-integration-6.0.2.tar.xz">kwayland-integration-6.0.2</a></td>
   <td align="right">25kB</td>
   <td><tt>25c51181ecb8f4fc685f7df69665f0056346a7a96311287c7eb0fdcfc36314fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kwin-6.0.2.tar.xz">kwin-6.0.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>65340620154fede598daa76cc624739a9824685aa1aa94224efdd5f1b9b076bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/kwrited-6.0.2.tar.xz">kwrited-6.0.2</a></td>
   <td align="right">23kB</td>
   <td><tt>fb52194d5e559a56967af1c8a1a08085ec77b7d6510ab486a0f10c93fae8d928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/layer-shell-qt-6.0.2.tar.xz">layer-shell-qt-6.0.2</a></td>
   <td align="right">20kB</td>
   <td><tt>aad682c13062868b94970cb60de4001fa8d1a4bdd827c63756e215d0453de550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/libkscreen-6.0.2.tar.xz">libkscreen-6.0.2</a></td>
   <td align="right">115kB</td>
   <td><tt>2f865c9589b60ae7395b18a531b1e6fbfea8e2ce5c147811b0ef1f8c05e30537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/libksysguard-6.0.2.tar.xz">libksysguard-6.0.2</a></td>
   <td align="right">287kB</td>
   <td><tt>969faebdf997ca097e94dd877df27ec5bff496714f66789fe62cd4557bec6dd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/libplasma-6.0.2.tar.xz">libplasma-6.0.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>35a02104bdc7dc1347113219768a65366503a7df5faf98bf00d01ab6034d11bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/milou-6.0.2.tar.xz">milou-6.0.2</a></td>
   <td align="right">48kB</td>
   <td><tt>58a3db1eff597cb203959ea30aa49688e2f428adad388c54e2cbae810af41a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/ocean-sound-theme-6.0.2.tar.xz">ocean-sound-theme-6.0.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fa01e15b8a997e5dd34e7dea67a827129876582e6b0fdd4432352f16b6745577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/oxygen-6.0.2.tar.xz">oxygen-6.0.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>661aa9dc10cd1b33ce8f56a02450f461485384ac9ec7dbdac7c7c684f92220e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/oxygen-sounds-6.0.2.tar.xz">oxygen-sounds-6.0.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>35da28e52652be9b1a6c3b26919d5247d41aa68b572fb10c4583a0f5ccb70b61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-activities-6.0.2.tar.xz">plasma-activities-6.0.2</a></td>
   <td align="right">69kB</td>
   <td><tt>0a877d0b6715fb1e5848e402e102bd06ebb891ed851cbad7eff8faf164ef31a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-activities-stats-6.0.2.tar.xz">plasma-activities-stats-6.0.2</a></td>
   <td align="right">81kB</td>
   <td><tt>d7e492d07c957b5ea6c4530b1f19d38a2abdec66bca5346e08e7efc9ae15906c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-browser-integration-6.0.2.tar.xz">plasma-browser-integration-6.0.2</a></td>
   <td align="right">214kB</td>
   <td><tt>6c0efa5a5d5c4faef8db3129d345752a6affe5b4a1c1109e73f9802a54dfbf32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-desktop-6.0.2.tar.xz">plasma-desktop-6.0.2</a></td>
   <td align="right">14MB</td>
   <td><tt>0410e575e0f17caaaf16132aa3fccbba6431dd61ba746f3e2e202d294f54360a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-disks-6.0.2.tar.xz">plasma-disks-6.0.2</a></td>
   <td align="right">97kB</td>
   <td><tt>3d67869bbe46a82b983b1f6dc08626d0d361740446c7000575d735456522f0b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-firewall-6.0.2.tar.xz">plasma-firewall-6.0.2</a></td>
   <td align="right">360kB</td>
   <td><tt>20ee33e804ec75df7137d6b473cf5d46a779ab6645dd09494f67f7d10ed4a928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-integration-6.0.2.tar.xz">plasma-integration-6.0.2</a></td>
   <td align="right">90kB</td>
   <td><tt>26a7db6b0eb7548b400ebfacb4d53fe1bbbc3c0c7b3e0ebf76e5552bcc02a0fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-mobile-6.0.2.tar.xz">plasma-mobile-6.0.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>2d080cab40af60e6ca3eb03c13a5f0b6dad1102c6c0941193a64f24c37957f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-nano-6.0.2.tar.xz">plasma-nano-6.0.2</a></td>
   <td align="right">75kB</td>
   <td><tt>c43c428f93a3c703a47de3834aeafa7ed8c711a9b0132c2cd7b669fedfed729c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-nm-6.0.2.tar.xz">plasma-nm-6.0.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>42e6f31b3ec6de51ee3cefdb52299e655cdd20a5c8b4d7880429184e2f92d0c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-pa-6.0.2.tar.xz">plasma-pa-6.0.2</a></td>
   <td align="right">166kB</td>
   <td><tt>998da8f7831e16004315bcb488d05d1d539713406e235155bdbfbb80d301e5ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-sdk-6.0.2.tar.xz">plasma-sdk-6.0.2</a></td>
   <td align="right">320kB</td>
   <td><tt>b70bd17d636b26f837459b1f72eb29fd0ba225711c8caef7a762dd60bff46405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-systemmonitor-6.0.2.tar.xz">plasma-systemmonitor-6.0.2</a></td>
   <td align="right">177kB</td>
   <td><tt>bc3573797b99de96e399a29362ebcf6e1bb989ced4a1c419f2322048426c938b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-thunderbolt-6.0.2.tar.xz">plasma-thunderbolt-6.0.2</a></td>
   <td align="right">73kB</td>
   <td><tt>0a458d9893518813ff749799d1caf4ebca0501b1796a42d4e3debe1774ad1b60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-vault-6.0.2.tar.xz">plasma-vault-6.0.2</a></td>
   <td align="right">188kB</td>
   <td><tt>5f806a46b640b7ea8ad9f18d939ca13434cecbe29eaf463493ee6f9c197c1c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-welcome-6.0.2.tar.xz">plasma-welcome-6.0.2</a></td>
   <td align="right">886kB</td>
   <td><tt>3d98ae45905c84cea458d62680a1c2471d44d19bb61ce931e3b20d05f0f0f74f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-workspace-6.0.2.tar.xz">plasma-workspace-6.0.2</a></td>
   <td align="right">19MB</td>
   <td><tt>9cceb4e2bce045970fc177bf2847ffae58bd397806b8ccf44da5820a3bd600ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma-workspace-wallpapers-6.0.2.tar.xz">plasma-workspace-wallpapers-6.0.2</a></td>
   <td align="right">104MB</td>
   <td><tt>d330ef6f17a896dbddfe387b4121aec057372c029c3cc1d2d2248842bbb4bf00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plasma5support-6.0.2.tar.xz">plasma5support-6.0.2</a></td>
   <td align="right">54kB</td>
   <td><tt>18b1de3461f5f3721c5d3cbb084113a0ceea5bf3e376f21b24fe98ca56d54a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/plymouth-kcm-6.0.2.tar.xz">plymouth-kcm-6.0.2</a></td>
   <td align="right">45kB</td>
   <td><tt>95952e2d3c10a17532532f724e75a853464eec12e54e1c3c4f2128100b57a130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/polkit-kde-agent-1-6.0.2.tar.xz">polkit-kde-agent-1-6.0.2</a></td>
   <td align="right">54kB</td>
   <td><tt>3e2dec7f7f2f4342c7cf8cdc64972be573509a83564ffc1af7e0d91bf57462bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/powerdevil-6.0.2.tar.xz">powerdevil-6.0.2</a></td>
   <td align="right">775kB</td>
   <td><tt>3188d3c8cadddf68955efc96e9e4e1292eb3d167e4da59029adc993e2151f548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/print-manager-6.0.2.tar.xz">print-manager-6.0.2</a></td>
   <td align="right">328kB</td>
   <td><tt>66ce0738158380eeec2c259cc2d3f259d53e29dbff2dfd853e55a09d3aca46ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/qqc2-breeze-style-6.0.2.tar.xz">qqc2-breeze-style-6.0.2</a></td>
   <td align="right">64kB</td>
   <td><tt>904e6398aee2ad31291c027ab096a197c942eb4a73eef7f4de4282cbca6b325d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/sddm-kcm-6.0.2.tar.xz">sddm-kcm-6.0.2</a></td>
   <td align="right">95kB</td>
   <td><tt>1a3176aaa4ed4b6b8214e37446ebd5b4ae0b9e2823b9641f1ef7e8b6723b24cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/systemsettings-6.0.2.tar.xz">systemsettings-6.0.2</a></td>
   <td align="right">214kB</td>
   <td><tt>de5950beef63444984fa61e3874c6013a4ffeebfce6d819cf7bab7c82402b606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/wacomtablet-6.0.2.tar.xz">wacomtablet-6.0.2</a></td>
   <td align="right">806kB</td>
   <td><tt>b35567e8e2ad281d5cb222517413dab0a44afe255b59264f3077be7bd7140799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.0.2/xdg-desktop-portal-kde-6.0.2.tar.xz">xdg-desktop-portal-kde-6.0.2</a></td>
   <td align="right">160kB</td>
   <td><tt>2d7e63fcb02bfa357f325d900387456aee0193ea414b2ede98b1a159b520e765</tt></td>
</tr>

</table>
