<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/akonadi-23.08.5.tar.xz">akonadi-23.08.5</a></td>
   <td align="right">1623kB</td>
   <td><tt>abdbdb28c1084a6ad119d7292175ad31efb4a7898a32cc32a35aa1485d9c4f38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/akonadi-calendar-23.08.5.tar.xz">akonadi-calendar-23.08.5</a></td>
   <td align="right">464kB</td>
   <td><tt>cf8da9409412ed3348ee4a8ab9e2df8ecf844070f84c8cdbf0b6f4c8269339ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/akonadi-calendar-tools-23.08.5.tar.xz">akonadi-calendar-tools-23.08.5</a></td>
   <td align="right">249kB</td>
   <td><tt>83bb42484096a86922dae11381bd19ffec71b4a5906ce806ec2a59ca425880aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/akonadiconsole-23.08.5.tar.xz">akonadiconsole-23.08.5</a></td>
   <td align="right">279kB</td>
   <td><tt>61c84dfa88bb81380df1645ee65672646b96c7b2ac544540228ff2b609bb2a9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/akonadi-contacts-23.08.5.tar.xz">akonadi-contacts-23.08.5</a></td>
   <td align="right">411kB</td>
   <td><tt>e7a4b37c6bb4dbdb074398a48050b3ea63b1ffd8b576f3efa9cef56759cf4251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/akonadi-import-wizard-23.08.5.tar.xz">akonadi-import-wizard-23.08.5</a></td>
   <td align="right">502kB</td>
   <td><tt>3cc996bc0436eaa61cac4730624ce5096efdbd0dd57d4e91689e81c5d6994da6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/akonadi-mime-23.08.5.tar.xz">akonadi-mime-23.08.5</a></td>
   <td align="right">163kB</td>
   <td><tt>fd40e599ea73fe8107d195673ae721461edfedf1bf56b2bef13fab940de5c833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/akonadi-notes-23.08.5.tar.xz">akonadi-notes-23.08.5</a></td>
   <td align="right">27kB</td>
   <td><tt>fe3a8eccc987d9a84bd01235ac02b78ed432e43b9323757b0042dfb8aae5838e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/akonadi-search-23.08.5.tar.xz">akonadi-search-23.08.5</a></td>
   <td align="right">107kB</td>
   <td><tt>ef21350b7468eea740b949f9f450f07a48b8585e6a83a5000ff4a8606581adb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/akregator-23.08.5.tar.xz">akregator-23.08.5</a></td>
   <td align="right">2270kB</td>
   <td><tt>52371f872a56d4fb98b54f80ee5659c59ba6ab6ca8ffa5e8fbd54c49f868028b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/alligator-23.08.5.tar.xz">alligator-23.08.5</a></td>
   <td align="right">187kB</td>
   <td><tt>4abd7baa1b868725779b6e5835f390dbac1fcfaf610749ade56af9419f80009e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/analitza-23.08.5.tar.xz">analitza-23.08.5</a></td>
   <td align="right">344kB</td>
   <td><tt>46ff3e93387cd8e341fc8c24a165127b0d60572c84b78b92337752e64ab606c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/angelfish-23.08.5.tar.xz">angelfish-23.08.5</a></td>
   <td align="right">236kB</td>
   <td><tt>2c2a217d3da8af5a9d61c13fd9ca14c77d78071822c9b5471abdf6baf124ec66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/arianna-23.08.5.tar.xz">arianna-23.08.5</a></td>
   <td align="right">794kB</td>
   <td><tt>effdbba596582f90a74174e9245b49284c3081829f8ca8dd9bfd0392d028c365</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ark-23.08.5.tar.xz">ark-23.08.5</a></td>
   <td align="right">2947kB</td>
   <td><tt>6081c564e2d4e25113691483d2cf3843461a9db6c726e1e547fa9a9697aecfeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/artikulate-23.08.5.tar.xz">artikulate-23.08.5</a></td>
   <td align="right">1069kB</td>
   <td><tt>a7099ba6d8524ffde77155476c72a5d87762456aeef2c8baf2954e08e8316ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/audiocd-kio-23.08.5.tar.xz">audiocd-kio-23.08.5</a></td>
   <td align="right">551kB</td>
   <td><tt>55c8bce983456532b799ad785525fbf36e3381e90388d1016b4b31c7f14023c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/audiotube-23.08.5.tar.xz">audiotube-23.08.5</a></td>
   <td align="right">144kB</td>
   <td><tt>21258bedaf876cb80323177001553fd35deadb10c7ed33520a9fa0f3f5427d19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/baloo-widgets-23.08.5.tar.xz">baloo-widgets-23.08.5</a></td>
   <td align="right">270kB</td>
   <td><tt>49196c7f74dfeb38b90ab388b35ee3542302ab89fc7b6ded4a3bfaa7f03938d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/blinken-23.08.5.tar.xz">blinken-23.08.5</a></td>
   <td align="right">2661kB</td>
   <td><tt>4ad04b9973c97b1dd12f2b263b6fb8accdd6af68c97907681cb0ad80227ba3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/bomber-23.08.5.tar.xz">bomber-23.08.5</a></td>
   <td align="right">820kB</td>
   <td><tt>769eb15c4a0f1ae2b6cd89c9d76d260873d3594f365c52b3b106003ffc48b38a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/bovo-23.08.5.tar.xz">bovo-23.08.5</a></td>
   <td align="right">211kB</td>
   <td><tt>db79b3cc909f1348b2fdf57705085ff9684c35f377c0cb962854e284a51f1e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/calendarsupport-23.08.5.tar.xz">calendarsupport-23.08.5</a></td>
   <td align="right">974kB</td>
   <td><tt>65fa5ca77e19515dad579cf96e7cf16025d64a6a9a39c63772691a6bc16f3ef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/calindori-23.08.5.tar.xz">calindori-23.08.5</a></td>
   <td align="right">376kB</td>
   <td><tt>6a04abbd7ca9df6e93ce9770ec6c76a8eba327a19027a23b1eb1249277489a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/cantor-23.08.5.tar.xz">cantor-23.08.5</a></td>
   <td align="right">9069kB</td>
   <td><tt>bf960b96f854cc25d4f13ec8ef52273e8b82f83baa1a75437c1d8ec6dc1fd81d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/cervisia-23.08.5.tar.xz">cervisia-23.08.5</a></td>
   <td align="right">1901kB</td>
   <td><tt>608946f590f2b6efb994c0809fecbcbab03574d318a3d5973de3d4839eb17f1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/colord-kde-23.08.5.tar.xz">colord-kde-23.08.5</a></td>
   <td align="right">110kB</td>
   <td><tt>466b27bc6131a7c0263cb4e9350702c96d2123050d0312487a6472d0156e00b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/dolphin-23.08.5.tar.xz">dolphin-23.08.5</a></td>
   <td align="right">5634kB</td>
   <td><tt>6309abda566dfe890f6a3790f101198ed0f274728896054f21e24bdfc3e1f1f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/dolphin-plugins-23.08.5.tar.xz">dolphin-plugins-23.08.5</a></td>
   <td align="right">267kB</td>
   <td><tt>2f448eea478dc178b2bb92071ad1a5fe85404879519be6534914fd865e6bc05d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/dragon-23.08.5.tar.xz">dragon-23.08.5</a></td>
   <td align="right">1632kB</td>
   <td><tt>410621fbda859cabf6ef156506a6fce4f65f4565065691ee8c9bfc83c0a11571</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/elisa-23.08.5.tar.xz">elisa-23.08.5</a></td>
   <td align="right">1772kB</td>
   <td><tt>872cc4f1be3177c92906bf1b47d7f36729e3c4a741099c7a62d8b170eb02b4c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/eventviews-23.08.5.tar.xz">eventviews-23.08.5</a></td>
   <td align="right">458kB</td>
   <td><tt>29a9359940e6ba775c9e1dccfd9eb7de68b799ef4182f4eaf7ba3baffaaf1c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/falkon-23.08.5.tar.xz">falkon-23.08.5</a></td>
   <td align="right">2514kB</td>
   <td><tt>800a5f1432a6e50f64265eb4bbd8982f445ddd436b5e072f3e49bb4e7183b077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ffmpegthumbs-23.08.5.tar.xz">ffmpegthumbs-23.08.5</a></td>
   <td align="right">32kB</td>
   <td><tt>dad83ce22fccf141bb19fd6192c73dc0cab6365c86251e68f393962f0a5be5df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/filelight-23.08.5.tar.xz">filelight-23.08.5</a></td>
   <td align="right">684kB</td>
   <td><tt>b7fc4daefc0985dc4b0deeb3c25e09a1b85ff896560340e79cca5093d3f07522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ghostwriter-23.08.5.tar.xz">ghostwriter-23.08.5</a></td>
   <td align="right">3541kB</td>
   <td><tt>a0b75649441f3ee2ef6746b30231d85be1dd125836f8aadcc3e31e619cb4d0d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/granatier-23.08.5.tar.xz">granatier-23.08.5</a></td>
   <td align="right">2065kB</td>
   <td><tt>f0074a621df9960d62ba0d4b8f817a592f3d02fdd243328549e9a544346729ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/grantlee-editor-23.08.5.tar.xz">grantlee-editor-23.08.5</a></td>
   <td align="right">114kB</td>
   <td><tt>32cdd5850eaf60f612a7c289afa3ce371847631a31082b8164cd9b57d7290a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/grantleetheme-23.08.5.tar.xz">grantleetheme-23.08.5</a></td>
   <td align="right">61kB</td>
   <td><tt>686381b3a0fb0d28e415f9fc9a66633d3c17e75fc2696bf486491bdb3ff242f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/gwenview-23.08.5.tar.xz">gwenview-23.08.5</a></td>
   <td align="right">6742kB</td>
   <td><tt>a4fcd1c053b750d26ea8a9183208ecb5ed1d9b281625de3393e14f8bdc169038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/incidenceeditor-23.08.5.tar.xz">incidenceeditor-23.08.5</a></td>
   <td align="right">567kB</td>
   <td><tt>df60cf57b12d559a68767557933e355fd34a862e0443279d3e6613ee35807394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/itinerary-23.08.5.tar.xz">itinerary-23.08.5</a></td>
   <td align="right">625kB</td>
   <td><tt>42e38c9b0e147eb5223212470055c7dd3283ae7052c8537b565435a2889927a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/juk-23.08.5.tar.xz">juk-23.08.5</a></td>
   <td align="right">2039kB</td>
   <td><tt>c774267da46c80f36dd4bf5b247831cb34b16f9c11e7be114371697175a1ad71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/k3b-23.08.5.tar.xz">k3b-23.08.5</a></td>
   <td align="right">10710kB</td>
   <td><tt>c789518b45c8505710fd2b66706c4826f251c5487d9b381df76cc96ffb59309a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kaccounts-integration-23.08.5.tar.xz">kaccounts-integration-23.08.5</a></td>
   <td align="right">86kB</td>
   <td><tt>c02ee25495c387dfc9c7581babd4756e04d7c3dae68bffd1652cf418e1d129b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kaccounts-providers-23.08.5.tar.xz">kaccounts-providers-23.08.5</a></td>
   <td align="right">64kB</td>
   <td><tt>083d80039e817906e5349aef3bd8024ac84f427ad37820a5349861aa1499e5c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kaddressbook-23.08.5.tar.xz">kaddressbook-23.08.5</a></td>
   <td align="right">3377kB</td>
   <td><tt>a8417ee3dd57bd33950b56b10c9048e74510ff29c42f3b4f8e4529ccf49a8b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kajongg-23.08.5.tar.xz">kajongg-23.08.5</a></td>
   <td align="right">4485kB</td>
   <td><tt>17380a4b2cd36a430016ab980d1927929c05cbce3c4f23ab06c88f4629125116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kalarm-23.08.5.tar.xz">kalarm-23.08.5</a></td>
   <td align="right">2568kB</td>
   <td><tt>09dff0fe2dc201377950a6dcc5e47989459b2ffa9a4e102e0c4df24241bd05bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kalgebra-23.08.5.tar.xz">kalgebra-23.08.5</a></td>
   <td align="right">1015kB</td>
   <td><tt>042f17211de75c7e65cf2e7b07718e882eae08c56fc9aa52538f63326ae9533a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kalk-23.08.5.tar.xz">kalk-23.08.5</a></td>
   <td align="right">83kB</td>
   <td><tt>d9e5e9534e64b670e20171f397601b2278aa8bf962e216388ee3b4dc893397e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kalzium-23.08.5.tar.xz">kalzium-23.08.5</a></td>
   <td align="right">24063kB</td>
   <td><tt>9bfc5574d6d324e71d16521c058acf82244e6dff1acdfc081117f56dbec06484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kamera-23.08.5.tar.xz">kamera-23.08.5</a></td>
   <td align="right">128kB</td>
   <td><tt>46968631214314a05c7706547d173c5ecd2166ff740926da56322b4afc6d0db2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kamoso-23.08.5.tar.xz">kamoso-23.08.5</a></td>
   <td align="right">227kB</td>
   <td><tt>84cc4538da2906c1503de97e6fb6f1ef790f0e7b9f3c08f6367770e5bdf08d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kanagram-23.08.5.tar.xz">kanagram-23.08.5</a></td>
   <td align="right">7879kB</td>
   <td><tt>9290fc0b47c347ab31fc2b779894d8d5758806c1e6e0f581b7da4f6094d4c304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kapman-23.08.5.tar.xz">kapman-23.08.5</a></td>
   <td align="right">2425kB</td>
   <td><tt>e3755f000532bae7cb41e521d7ac7b9d2cb43eb2b1cf705af1249ba366cea1e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kapptemplate-23.08.5.tar.xz">kapptemplate-23.08.5</a></td>
   <td align="right">332kB</td>
   <td><tt>9b78d6997761b10ad19f6d8ec05379896ade2c64f63272d26b3b099a82485651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kasts-23.08.5.tar.xz">kasts-23.08.5</a></td>
   <td align="right">567kB</td>
   <td><tt>90677828acc841c455d7d6abd22a4270f8c754dd9a55ddc9b08e5ced6816b6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kate-23.08.5.tar.xz">kate-23.08.5</a></td>
   <td align="right">7854kB</td>
   <td><tt>683c49d9c4b2abd4b4660b607b65249a2adfdc48418b0d18ab90810d1a8f4e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/katomic-23.08.5.tar.xz">katomic-23.08.5</a></td>
   <td align="right">1420kB</td>
   <td><tt>0db2db3d1ab4e69e5ae0223001792615af12a3c2a37ca8c1cfef373fc741ac42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kbackup-23.08.5.tar.xz">kbackup-23.08.5</a></td>
   <td align="right">390kB</td>
   <td><tt>a16c4d5a67ea6c4cb7c7580f0b3551a34879f5e9db94700ec406a72aecc6be5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kblackbox-23.08.5.tar.xz">kblackbox-23.08.5</a></td>
   <td align="right">543kB</td>
   <td><tt>00082e57480bcb943f477072559373a3a98b6557f06a83a088d71912c2432159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kblocks-23.08.5.tar.xz">kblocks-23.08.5</a></td>
   <td align="right">2060kB</td>
   <td><tt>8f4997683e1bbe551bf1b5e63565d83c5d8dd36b90a802d052f37626b56faa27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kbounce-23.08.5.tar.xz">kbounce-23.08.5</a></td>
   <td align="right">3462kB</td>
   <td><tt>f101c0bbf6ad2250b436473aaf8f65ea64512d792a69df10917cfcb940f0acfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kbreakout-23.08.5.tar.xz">kbreakout-23.08.5</a></td>
   <td align="right">2501kB</td>
   <td><tt>d02f386b08e38f8519103e2757fa602b1316d90554f73fd73829e5bb3666af48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kbruch-23.08.5.tar.xz">kbruch-23.08.5</a></td>
   <td align="right">5530kB</td>
   <td><tt>db7d47e7823bc9ff5824a86e690638bdc8ae7507ff32ad772a80c63b87e01182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kcachegrind-23.08.5.tar.xz">kcachegrind-23.08.5</a></td>
   <td align="right">916kB</td>
   <td><tt>056687b7adb0049db0503738cf95a7051f3b889b3313fa8b78dc7d03c3dbb7b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kcalc-23.08.5.tar.xz">kcalc-23.08.5</a></td>
   <td align="right">430kB</td>
   <td><tt>e545d67389f25b480b4eff2c40617b4e97172717d297d86e5c07ff7a6317437e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kcalutils-23.08.5.tar.xz">kcalutils-23.08.5</a></td>
   <td align="right">345kB</td>
   <td><tt>9db6c7ddfaa94de33dce5caa2fd5a8a935a33774bddfc96706ed93d03f846a3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kcharselect-23.08.5.tar.xz">kcharselect-23.08.5</a></td>
   <td align="right">375kB</td>
   <td><tt>bf22326c021188261031219c95b507524e3c1f0875de2ca87cf2dc940de86386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kclock-23.08.5.tar.xz">kclock-23.08.5</a></td>
   <td align="right">627kB</td>
   <td><tt>dd1372f096dcab3d824f18ce0aaff53d67bad20596007c5edc2681f72cbbb8b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kcolorchooser-23.08.5.tar.xz">kcolorchooser-23.08.5</a></td>
   <td align="right">34kB</td>
   <td><tt>c62a78191f423b7774930165424165e8866c16189b941323da1321f79992bb21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kcron-23.08.5.tar.xz">kcron-23.08.5</a></td>
   <td align="right">920kB</td>
   <td><tt>02e9e34137fd5425948d87dfa47f1c09a979038f7c41e6304bbdd67d859ddc42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdebugsettings-23.08.5.tar.xz">kdebugsettings-23.08.5</a></td>
   <td align="right">106kB</td>
   <td><tt>98b1001cfae74749fe4099c06b5b17d99dc6be47cf13b13b872abd5665e14b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdeconnect-kde-23.08.5.tar.xz">kdeconnect-kde-23.08.5</a></td>
   <td align="right">642kB</td>
   <td><tt>4b42cd66f824b9ba2ddd09c7147b2abe6107ac866104033a78c0c46909300d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kde-dev-scripts-23.08.5.tar.xz">kde-dev-scripts-23.08.5</a></td>
   <td align="right">365kB</td>
   <td><tt>0cb182454bd4627cb2eed796fea35bdb645f08744077c1098350f0fe347ac1f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kde-dev-utils-23.08.5.tar.xz">kde-dev-utils-23.08.5</a></td>
   <td align="right">73kB</td>
   <td><tt>26ddf53f81b3988d81a09e7a4541a80088fe261b16db8451c0a758e0ec6fee83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdeedu-data-23.08.5.tar.xz">kdeedu-data-23.08.5</a></td>
   <td align="right">325kB</td>
   <td><tt>91da65c109c81ca65b502aa4e4005adbfa3c6aef8f9fa2ed8165c751714f2334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdegraphics-mobipocket-23.08.5.tar.xz">kdegraphics-mobipocket-23.08.5</a></td>
   <td align="right">12kB</td>
   <td><tt>714fa91bc7b004145fbba02e302dde0faa14bc652e4672c507fc507ac508a3fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdegraphics-thumbnailers-23.08.5.tar.xz">kdegraphics-thumbnailers-23.08.5</a></td>
   <td align="right">48kB</td>
   <td><tt>b05a040039fa079da026de8c296219e3718c4e142da823c6cfeaaea6d6986f30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kde-inotify-survey-23.08.5.tar.xz">kde-inotify-survey-23.08.5</a></td>
   <td align="right">225kB</td>
   <td><tt>38c892e35b19ce5c0e8064f08a26929a820977ab02af1174547bc322fae78c63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdenetwork-filesharing-23.08.5.tar.xz">kdenetwork-filesharing-23.08.5</a></td>
   <td align="right">471kB</td>
   <td><tt>3f856122780b8b42d275c30ab8e642fd375447046f9d525520c83d605b0878de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdenlive-23.08.5.tar.xz">kdenlive-23.08.5</a></td>
   <td align="right">12429kB</td>
   <td><tt>9ae96458e6a257c323f9845341410a140740260f3f8971ce35004de5161a83db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdepim-addons-23.08.5.tar.xz">kdepim-addons-23.08.5</a></td>
   <td align="right">2590kB</td>
   <td><tt>58d3e9af2666fe971b5230fed61114c555c9bddc35fd8397cb60ba8d37dd44b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdepim-runtime-23.08.5.tar.xz">kdepim-runtime-23.08.5</a></td>
   <td align="right">1826kB</td>
   <td><tt>fe1b07d62f167bc168fc3a3590db0a7f7383687803a7d0da8b0c0e1b3ac577f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdesdk-kio-23.08.5.tar.xz">kdesdk-kio-23.08.5</a></td>
   <td align="right">39kB</td>
   <td><tt>7e37d9aee2e1e06bf7bd834108a893a48e3f5f28e6a1c1b8645e658251fdcf35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdesdk-thumbnailers-23.08.5.tar.xz">kdesdk-thumbnailers-23.08.5</a></td>
   <td align="right">26kB</td>
   <td><tt>259e444cf10b03b858967f729f643be7912f6f8c4d62eca250f2543d9c24e4fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdevelop-23.08.5.tar.xz">kdevelop-23.08.5</a></td>
   <td align="right">8505kB</td>
   <td><tt>d634f287f72c6e1097f2de1ea2f8bab41899952adcf879b0fe6daa14fecee1f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdev-php-23.08.5.tar.xz">kdev-php-23.08.5</a></td>
   <td align="right">1063kB</td>
   <td><tt>2663298ffaa479791d3600e82046069867d8fbcc1aa449f86c075712747e2e77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdev-python-23.08.5.tar.xz">kdev-python-23.08.5</a></td>
   <td align="right">1073kB</td>
   <td><tt>7abf49e1bb30875599ab46731294edb3314583c0e17baf6b37472f7f6fde760a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdf-23.08.5.tar.xz">kdf-23.08.5</a></td>
   <td align="right">483kB</td>
   <td><tt>aa8eb884096ba1671ffc7ab10bfabed873ad72229d3486c0e6426832aaea177f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdialog-23.08.5.tar.xz">kdialog-23.08.5</a></td>
   <td align="right">141kB</td>
   <td><tt>12c32014f396c9a347c89b1bf174e2e5922cc92c7142c36baa0babdd6c6da6dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kdiamond-23.08.5.tar.xz">kdiamond-23.08.5</a></td>
   <td align="right">4600kB</td>
   <td><tt>31bfdcbe64c8d7210837f69ac294a895dc434a5ca115fa488d191801727972a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/keditbookmarks-23.08.5.tar.xz">keditbookmarks-23.08.5</a></td>
   <td align="right">234kB</td>
   <td><tt>6d6ae29e9b7fc550b17bd2e375abf2b5642b8e05af7755883ad56d9fa7a00ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/keysmith-23.08.5.tar.xz">keysmith-23.08.5</a></td>
   <td align="right">159kB</td>
   <td><tt>2f8c73ec4a73ae56508d1014957a7083788fa8b5eaa8c467f86d0ebf3b0a3d5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kfind-23.08.5.tar.xz">kfind-23.08.5</a></td>
   <td align="right">336kB</td>
   <td><tt>ba14e9ec9f79ff8b7a8a434e9b3d2545a6297e3fe53bafe82b3dbc061d8c2ec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kfourinline-23.08.5.tar.xz">kfourinline-23.08.5</a></td>
   <td align="right">723kB</td>
   <td><tt>6d08110ab4af50f96bf996f5baf7f863736d0696024bfe27a0ed4a532fcbd7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kgeography-23.08.5.tar.xz">kgeography-23.08.5</a></td>
   <td align="right">12258kB</td>
   <td><tt>b5f1a0b853a2473c0f0fc036c2fb84f5adecbf91ab033b90507a1c99bb139ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kget-23.08.5.tar.xz">kget-23.08.5</a></td>
   <td align="right">5442kB</td>
   <td><tt>2eaa2b7bf0726ea7fcdf7fef5ce6798ca306107dd9724a061d823a8d2edbf38e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kgoldrunner-23.08.5.tar.xz">kgoldrunner-23.08.5</a></td>
   <td align="right">4864kB</td>
   <td><tt>ec621250b3ac510ce1a752cc405ee6ff38a7e832cbaf05fd30a31581be005b0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kgpg-23.08.5.tar.xz">kgpg-23.08.5</a></td>
   <td align="right">2991kB</td>
   <td><tt>382c912394ee05409eb5bdf8961fc47a90dea45976e2a164fddced54c90b8592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/khangman-23.08.5.tar.xz">khangman-23.08.5</a></td>
   <td align="right">7274kB</td>
   <td><tt>4307017c1ada08a1cda5a38b45aebdd250520adcc773c580938fb1cb1fcd56f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/khelpcenter-23.08.5.tar.xz">khelpcenter-23.08.5</a></td>
   <td align="right">4268kB</td>
   <td><tt>4c0f69fb55a80e4c863b9edd2bc6ea5441d18d8369aba0ce7cfb3e1c21757fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kidentitymanagement-23.08.5.tar.xz">kidentitymanagement-23.08.5</a></td>
   <td align="right">160kB</td>
   <td><tt>bcd7f7ef26a24b2d198a7739bdc8b4f3868d42e05355173fbc91a95220d77201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kig-23.08.5.tar.xz">kig-23.08.5</a></td>
   <td align="right">3221kB</td>
   <td><tt>af60bd4d9440dd404ebd2be0d6799a8e571307b16034ca5c790a1c6b0b2d705e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kigo-23.08.5.tar.xz">kigo-23.08.5</a></td>
   <td align="right">5145kB</td>
   <td><tt>0ac07c74c98214606a588af2753b4db7e21d1e9d81b9cad258f2b4c77ab58af4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/killbots-23.08.5.tar.xz">killbots-23.08.5</a></td>
   <td align="right">1179kB</td>
   <td><tt>316d9edaed7129952185fc0e119769eeb0e1f27678a778483d73eafa87433548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kimagemapeditor-23.08.5.tar.xz">kimagemapeditor-23.08.5</a></td>
   <td align="right">1081kB</td>
   <td><tt>0f268fec6d1bf052f65891316cfbecc198b39e647c6300cb80d6dd8a8e90df0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kimap-23.08.5.tar.xz">kimap-23.08.5</a></td>
   <td align="right">128kB</td>
   <td><tt>42fd2019aca7da1a35c0fcf52d956be2bf4fe2eda496f23c982aa890d845783d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kio-admin-23.08.5.tar.xz">kio-admin-23.08.5</a></td>
   <td align="right">34kB</td>
   <td><tt>886046c89294a366ecf21aceca2a8586b8ace618755de5b9c3e0727c37b27a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kio-extras-23.08.5.tar.xz">kio-extras-23.08.5</a></td>
   <td align="right">1456kB</td>
   <td><tt>1ae0ec1cc7239fd4fa46d8cb2629ceb364d4a70e7e56075d2ebfef68eb1b263f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kio-gdrive-23.08.5.tar.xz">kio-gdrive-23.08.5</a></td>
   <td align="right">77kB</td>
   <td><tt>d5983ea15284431e83561bbf0b10ed39790a879cb465fc132aa96b0fe2d5eda6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kio-zeroconf-23.08.5.tar.xz">kio-zeroconf-23.08.5</a></td>
   <td align="right">43kB</td>
   <td><tt>09a69166bb11f7c05a4ac233f8364f5bf17fdb6fddc4db9fc879be61a2b10a34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kipi-plugins-23.08.5.tar.xz">kipi-plugins-23.08.5</a></td>
   <td align="right">1533kB</td>
   <td><tt>20e03e35950f8428095b3bfd72ccf0236bff3bfcf49b618368405bd895ee536a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kirigami-gallery-23.08.5.tar.xz">kirigami-gallery-23.08.5</a></td>
   <td align="right">353kB</td>
   <td><tt>c4e37041633586fc63db7bf749fb3d4ff56a7d33320e19ea0aa5d8272b24c457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kiriki-23.08.5.tar.xz">kiriki-23.08.5</a></td>
   <td align="right">362kB</td>
   <td><tt>c6b347264033dcfe0f44535828578595e7cec283ce3c872aa91a3856786aded6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kiten-23.08.5.tar.xz">kiten-23.08.5</a></td>
   <td align="right">11071kB</td>
   <td><tt>1ee8516beb7c9bf3accf5ee32a08e47609d897476a5f9967e4d179533531623a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kitinerary-23.08.5.tar.xz">kitinerary-23.08.5</a></td>
   <td align="right">1894kB</td>
   <td><tt>aebd2002fe8198cc95884af261882cce8fe0818ebcc34b1ce9a4715cf4e178a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kjournald-23.08.5.tar.xz">kjournald-23.08.5</a></td>
   <td align="right">503kB</td>
   <td><tt>f7970283da6466697fa7e06d4d4aefda2cc46be8a163bdbd6062aaaef127edd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kjumpingcube-23.08.5.tar.xz">kjumpingcube-23.08.5</a></td>
   <td align="right">331kB</td>
   <td><tt>8deea1baf63b2cb8cb0cc10a75dd601f3bc60c970b373947459f626303d39c70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kldap-23.08.5.tar.xz">kldap-23.08.5</a></td>
   <td align="right">179kB</td>
   <td><tt>9d29dc2fc8763ade3b392ddaf7ba1efe8718b187dc1ee78bdb0d3b2440186cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kleopatra-23.08.5.tar.xz">kleopatra-23.08.5</a></td>
   <td align="right">2661kB</td>
   <td><tt>a9c416599ed3763148fe8305d220b5950043b3c7ae12ffd2a960196c65dbf1a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/klettres-23.08.5.tar.xz">klettres-23.08.5</a></td>
   <td align="right">46722kB</td>
   <td><tt>eac927a2fc798370e3bffda7872d0e7408c41d378a2e3a52c1be288216c9817e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/klickety-23.08.5.tar.xz">klickety-23.08.5</a></td>
   <td align="right">1467kB</td>
   <td><tt>69dc52d78d35659de5cef81f4bdacb2fd5d2625d980449aad0a497c806c89187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/klines-23.08.5.tar.xz">klines-23.08.5</a></td>
   <td align="right">1698kB</td>
   <td><tt>fd7a44945d9402b4e1e601392c09255d82b86a0e0f7989a28b5fbb2bab8b371e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmag-23.08.5.tar.xz">kmag-23.08.5</a></td>
   <td align="right">708kB</td>
   <td><tt>256f63781c7aebcd10a83953446a5c974deae78e21a84d6b6d8c22e6db494ec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmahjongg-23.08.5.tar.xz">kmahjongg-23.08.5</a></td>
   <td align="right">4004kB</td>
   <td><tt>8743ffa02b82d8a62d405dfc1ec6f05f16df8f0a9ca4c7e961f7f6723e1aa845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmail-23.08.5.tar.xz">kmail-23.08.5</a></td>
   <td align="right">7489kB</td>
   <td><tt>7138ac647b82208c2d93f142ca1bac2cd080c2bd9a81145d1dbd0471ba2ab755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmail-account-wizard-23.08.5.tar.xz">kmail-account-wizard-23.08.5</a></td>
   <td align="right">181kB</td>
   <td><tt>2789e52cbb4d6a081875c390cf49ad75904071373c635b509b262c8d9eff5dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmailtransport-23.08.5.tar.xz">kmailtransport-23.08.5</a></td>
   <td align="right">170kB</td>
   <td><tt>c3b42bcfd8aeb5cbbadf9a93948aa8ea47b628fd5891ad049a942c9ec99dc415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmbox-23.08.5.tar.xz">kmbox-23.08.5</a></td>
   <td align="right">28kB</td>
   <td><tt>e583b87b0eb995ebfafa67817748c23cbd872108451e6bc8cd9590ba7ecdf400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmime-23.08.5.tar.xz">kmime-23.08.5</a></td>
   <td align="right">159kB</td>
   <td><tt>b6894e733abf3a8fb4fc7de37b7cbf15cbebdc737b80f7fe632bdf61e5da3fda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmines-23.08.5.tar.xz">kmines-23.08.5</a></td>
   <td align="right">987kB</td>
   <td><tt>cbb32428ff922b0e6361e44ab4c6d50dbe8b62966469bc29822070b60b8e9353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmix-23.08.5.tar.xz">kmix-23.08.5</a></td>
   <td align="right">1180kB</td>
   <td><tt>8671aca9dbe50c82885c2b346461488dc491645eb09728fa75c33492e42c8180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmousetool-23.08.5.tar.xz">kmousetool-23.08.5</a></td>
   <td align="right">127kB</td>
   <td><tt>df3b9295de1df284fd4dcd154ca92d3187992d926b834ccbf3ab833541839507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmouth-23.08.5.tar.xz">kmouth-23.08.5</a></td>
   <td align="right">2042kB</td>
   <td><tt>96d499fa0983f0189fcddbea419a872878ed5a3ffc34742a12223577062e4a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kmplot-23.08.5.tar.xz">kmplot-23.08.5</a></td>
   <td align="right">3028kB</td>
   <td><tt>84e9047935e4497a05bc3c8ca9fd5525bc71b094cb6f48a78093537898bc2d17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/knavalbattle-23.08.5.tar.xz">knavalbattle-23.08.5</a></td>
   <td align="right">1370kB</td>
   <td><tt>cbfe8b0ee711be88da2d989e1aae17ab94e2ff06a42471b3e99b343fbaa24727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/knetwalk-23.08.5.tar.xz">knetwalk-23.08.5</a></td>
   <td align="right">1080kB</td>
   <td><tt>0b3bb9af3ce4ce4f439a9aebc815b17aad95d7376c411a995f8a11c640318734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/knights-23.08.5.tar.xz">knights-23.08.5</a></td>
   <td align="right">3256kB</td>
   <td><tt>5633236fca8183614f148f3995c6ff71719234dab35c27ee3714842f321bbe83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/knotes-23.08.5.tar.xz">knotes-23.08.5</a></td>
   <td align="right">370kB</td>
   <td><tt>a63fba06f0a2897d95e40c7085658e3333a2c1e399369dcf715b36f1417002ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/koko-23.08.5.tar.xz">koko-23.08.5</a></td>
   <td align="right">135kB</td>
   <td><tt>b89dff3a2f6931301182036a7cfc43935ab63febb178d1853915977ca4073a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kolf-23.08.5.tar.xz">kolf-23.08.5</a></td>
   <td align="right">1051kB</td>
   <td><tt>98218c37fb98d514de6457c5981132351b122e705902fd85f96a2948ef6ad5b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kollision-23.08.5.tar.xz">kollision-23.08.5</a></td>
   <td align="right">301kB</td>
   <td><tt>ff079313fae5d86afd6dfe22cd5f324472604d8f7ef40ef07de006557d755595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kolourpaint-23.08.5.tar.xz">kolourpaint-23.08.5</a></td>
   <td align="right">5654kB</td>
   <td><tt>942f6b588f24aba4f135de842e489bb94f2b16a405bb7fecfb5aab9896ea4ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kompare-23.08.5.tar.xz">kompare-23.08.5</a></td>
   <td align="right">961kB</td>
   <td><tt>2cfa39708f596172ea3fb8b72a1f7ead1591fecf2e8b4b49101a6794eadf5279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kongress-23.08.5.tar.xz">kongress-23.08.5</a></td>
   <td align="right">575kB</td>
   <td><tt>82d0844f8e870a779ef960db74a6eea94dbac9d80c99e5997c45fd1da326ab12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/konqueror-23.08.5.tar.xz">konqueror-23.08.5</a></td>
   <td align="right">9856kB</td>
   <td><tt>84ab449f354bf76582a511a23717671c9c1b94c4199ca955c58914c4bd370cfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/konquest-23.08.5.tar.xz">konquest-23.08.5</a></td>
   <td align="right">856kB</td>
   <td><tt>a980e70a425516723798eafaafb01866fb0d3a17b66bae0a64a557a6eaa70430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/konsole-23.08.5.tar.xz">konsole-23.08.5</a></td>
   <td align="right">1796kB</td>
   <td><tt>c6fb20753ac27a46bce62e31f7b105b6b99497035830b34a7bba1bc60260c1ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kontact-23.08.5.tar.xz">kontact-23.08.5</a></td>
   <td align="right">855kB</td>
   <td><tt>a6eb22b7b5de6541a45a487a94e8b5fb9a1fa84f9826baee86f378f0932f40dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kontactinterface-23.08.5.tar.xz">kontactinterface-23.08.5</a></td>
   <td align="right">39kB</td>
   <td><tt>edf16d32fe8167b52943178dc02d8b713699ea06283913675cf90a35de58b2bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kontrast-23.08.5.tar.xz">kontrast-23.08.5</a></td>
   <td align="right">207kB</td>
   <td><tt>7e131a0e89773e88afdb17740998731b3d44d31485e736dcc7e29b11460ffdab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/konversation-23.08.5.tar.xz">konversation-23.08.5</a></td>
   <td align="right">4385kB</td>
   <td><tt>60576f16773789596b612969bbbf3a2762ef1cbab21bc19565483310e63d25be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kopeninghours-23.08.5.tar.xz">kopeninghours-23.08.5</a></td>
   <td align="right">70kB</td>
   <td><tt>262c4cf75e99c3989ce2150c467196ed0c5ae803d674e9372faa70d57d931946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kopete-23.08.5.tar.xz">kopete-23.08.5</a></td>
   <td align="right">9943kB</td>
   <td><tt>0af87805f0c256ec3e5615e3ec70720ee09d0dbdc0a36b53813f3078a91b8e31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/korganizer-23.08.5.tar.xz">korganizer-23.08.5</a></td>
   <td align="right">2506kB</td>
   <td><tt>c4a6be6aa61301e8d72187feb94ce98d0dac44eeba338ca07cb6d4d395cdedc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kosmindoormap-23.08.5.tar.xz">kosmindoormap-23.08.5</a></td>
   <td align="right">375kB</td>
   <td><tt>647bd4e37536502543494c8db8fcaa2f0a485c396920ee69e5238f367a48ab03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kpat-23.08.5.tar.xz">kpat-23.08.5</a></td>
   <td align="right">3667kB</td>
   <td><tt>d5ccd09a228faa63fe5fff55fd95f85aa01d0346751e384c74cfab26c9a431bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kpimtextedit-23.08.5.tar.xz">kpimtextedit-23.08.5</a></td>
   <td align="right">296kB</td>
   <td><tt>4edc962b0c8202c192b3c9c6faaba0996e88df99609500abb54f55b768e727c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kpkpass-23.08.5.tar.xz">kpkpass-23.08.5</a></td>
   <td align="right">28kB</td>
   <td><tt>d69e60bbb85aca3de1036735a17ef52abcd54470b21f1a97f45f7f40fc7cdab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kpmcore-23.08.5.tar.xz">kpmcore-23.08.5</a></td>
   <td align="right">615kB</td>
   <td><tt>b44a40712de593ddfe4cc5799912eb53f9c3e383544306a17279f051de85417a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kpublictransport-23.08.5.tar.xz">kpublictransport-23.08.5</a></td>
   <td align="right">559kB</td>
   <td><tt>e3f7e56e9e8b26310d26184e8b2a2b6f308c98cc98457181f4d5eabc0b255a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kqtquickcharts-23.08.5.tar.xz">kqtquickcharts-23.08.5</a></td>
   <td align="right">30kB</td>
   <td><tt>62f630715acf88598c7f144387195d261691994aa007d6b1d078a23df2f533fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/krdc-23.08.5.tar.xz">krdc-23.08.5</a></td>
   <td align="right">1592kB</td>
   <td><tt>c2c57cebb22a9201ce5d6c305654e485df1d0deaa17496a8d85fe19a80f059f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/krecorder-23.08.5.tar.xz">krecorder-23.08.5</a></td>
   <td align="right">158kB</td>
   <td><tt>c8eebd51ecfd8ede258d089037ef48e65aa1aaefee6be2290dcc26758de72805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kreversi-23.08.5.tar.xz">kreversi-23.08.5</a></td>
   <td align="right">1054kB</td>
   <td><tt>c0fb6b03a798e82ec01e236e6a0f1e788a004080598ab336bff27bc955ecadd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/krfb-23.08.5.tar.xz">krfb-23.08.5</a></td>
   <td align="right">1291kB</td>
   <td><tt>86e40aa758683bc15cc637c68052dd46b70edf9d13919d6d580a23405efeb376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kross-interpreters-23.08.5.tar.xz">kross-interpreters-23.08.5</a></td>
   <td align="right">148kB</td>
   <td><tt>357810737c680036ca244d1f93c1a38c6183c54855c4f4a200bda52a8837fa7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kruler-23.08.5.tar.xz">kruler-23.08.5</a></td>
   <td align="right">281kB</td>
   <td><tt>1a6babd1175943a4fbb5d57a2eb7094d94b2aa7f82e88d92e9b8456fd2cf343e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ksanecore-23.08.5.tar.xz">ksanecore-23.08.5</a></td>
   <td align="right">48kB</td>
   <td><tt>3d19c4caf13799b4bc835d18d77668ebb86771ba5128de3497a43302371d9ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kshisen-23.08.5.tar.xz">kshisen-23.08.5</a></td>
   <td align="right">986kB</td>
   <td><tt>f2e7e804c720a1e89401e656204c2b1b9b4cff7458be0878d4bd6fc55eb546f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ksirk-23.08.5.tar.xz">ksirk-23.08.5</a></td>
   <td align="right">6916kB</td>
   <td><tt>6a34035c59f7710e291990b90d4c6e9612bb5c6fd46468cdc24ba969f6b7ef65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ksmtp-23.08.5.tar.xz">ksmtp-23.08.5</a></td>
   <td align="right">49kB</td>
   <td><tt>dd0698955b1ec0455246df69d2ff1a12643119702a60fab24294c6cac2ac1bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ksnakeduel-23.08.5.tar.xz">ksnakeduel-23.08.5</a></td>
   <td align="right">590kB</td>
   <td><tt>8b4c71cd590a343743da77e9b89910666223112011881b37877fa2770be918f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kspaceduel-23.08.5.tar.xz">kspaceduel-23.08.5</a></td>
   <td align="right">646kB</td>
   <td><tt>564bcbc0b8504ee1115739212763f43fad2ef1f3a6a271d12d40035a40f4c131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ksquares-23.08.5.tar.xz">ksquares-23.08.5</a></td>
   <td align="right">307kB</td>
   <td><tt>a0d7da6752b9d92c1a18b6f57511b756bf4fa227a3a2bff0ff94437b329fbc14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ksudoku-23.08.5.tar.xz">ksudoku-23.08.5</a></td>
   <td align="right">1669kB</td>
   <td><tt>9296becfdd9a120e09ed957afd6a450b290dbf3f1b5011bb64b093892b941766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ksystemlog-23.08.5.tar.xz">ksystemlog-23.08.5</a></td>
   <td align="right">1967kB</td>
   <td><tt>80e6036510a76f7521cd01cebe67e4b7d7f7d251c18b2c388cfabcf28635c356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kteatime-23.08.5.tar.xz">kteatime-23.08.5</a></td>
   <td align="right">308kB</td>
   <td><tt>4e855767dd50d09a394f249a97417ba35ed4754b4cc0597a96f9256b291cc2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ktimer-23.08.5.tar.xz">ktimer-23.08.5</a></td>
   <td align="right">396kB</td>
   <td><tt>55fa5416f9ad9f1da9db636181c1c1ef6e20e9a9bc040c88431ca849e05fdd16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ktnef-23.08.5.tar.xz">ktnef-23.08.5</a></td>
   <td align="right">305kB</td>
   <td><tt>379fc87cc555d9d55c2edfa4cf8d33a95ad2bb1066e96b966668a6af4669b428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ktorrent-23.08.5.tar.xz">ktorrent-23.08.5</a></td>
   <td align="right">2120kB</td>
   <td><tt>16b8ad2d9bac0680d5203a5cda139aafecd81d824e80d065bf7fc5864588d782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ktouch-23.08.5.tar.xz">ktouch-23.08.5</a></td>
   <td align="right">4922kB</td>
   <td><tt>2d102a73560da4676628bb138eeec2d847dd35db0224b9fd0a7016ebfef59c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ktrip-23.08.5.tar.xz">ktrip-23.08.5</a></td>
   <td align="right">248kB</td>
   <td><tt>d4977016f2d12d1ed7217f6bbb3c1e5df26e36d990a220ad2ab7ab0cb104769e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/ktuberling-23.08.5.tar.xz">ktuberling-23.08.5</a></td>
   <td align="right">69731kB</td>
   <td><tt>9593c5c66cb84ce64b4cb6efc7e94b44e09aea3e04f19373660dbcb5e5c4c388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kturtle-23.08.5.tar.xz">kturtle-23.08.5</a></td>
   <td align="right">2195kB</td>
   <td><tt>e423b61140eab5bf75b1ba3d3d68fb5b8937bd19799f0125db5bfb96c9420dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kubrick-23.08.5.tar.xz">kubrick-23.08.5</a></td>
   <td align="right">347kB</td>
   <td><tt>75f527aca221e32e87236e867307bab23422766f77faff419dc20fe332620c00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kwalletmanager-23.08.5.tar.xz">kwalletmanager-23.08.5</a></td>
   <td align="right">833kB</td>
   <td><tt>391f8ac850719a60aac492b528de14c42e3a9121ff5cb47a5343c8623f9685b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kwave-23.08.5.tar.xz">kwave-23.08.5</a></td>
   <td align="right">6819kB</td>
   <td><tt>c6183a93e9e545265035c589ec7d059772507e493546d9b25117a520d2cfc408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kweather-23.08.5.tar.xz">kweather-23.08.5</a></td>
   <td align="right">924kB</td>
   <td><tt>87a614f9b9f15366a8c49c444a2f8830d66681603ebef0ecf9b4124f4a5a0a13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/kwordquiz-23.08.5.tar.xz">kwordquiz-23.08.5</a></td>
   <td align="right">3978kB</td>
   <td><tt>5e4a243269a0492336b10aafd372d777cec078d501cfa213ca673360e167b0f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libgravatar-23.08.5.tar.xz">libgravatar-23.08.5</a></td>
   <td align="right">35kB</td>
   <td><tt>ac25fa24444642d3c227e2a272d6f59b637896a051381c7344e0672aac5cd697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkcddb-23.08.5.tar.xz">libkcddb-23.08.5</a></td>
   <td align="right">440kB</td>
   <td><tt>43d29b785a7217ac27bc94ce1b1827eaaf0191a13c56162eb23b07bd3fccf9c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkcompactdisc-23.08.5.tar.xz">libkcompactdisc-23.08.5</a></td>
   <td align="right">97kB</td>
   <td><tt>6f524a40c8b0ceef8420d5abc37696864909b0d71ab106fde4a23ac3a24d96ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkdcraw-23.08.5.tar.xz">libkdcraw-23.08.5</a></td>
   <td align="right">36kB</td>
   <td><tt>ab1080e449ff468032b7ba5f203fba1cdca3ab9958c4f9b5451ba0e2c0978f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkdegames-23.08.5.tar.xz">libkdegames-23.08.5</a></td>
   <td align="right">5875kB</td>
   <td><tt>0ac583f4327d6003782054a9ee3d51c922bcdf04577a3f7f12b3840cabf2efed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkdepim-23.08.5.tar.xz">libkdepim-23.08.5</a></td>
   <td align="right">278kB</td>
   <td><tt>6e1e2e7416a3cb1d9fdc41257ba034c40a55bf1d870d15c71a22f29adfb5db9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkeduvocdocument-23.08.5.tar.xz">libkeduvocdocument-23.08.5</a></td>
   <td align="right">224kB</td>
   <td><tt>bdae89c39f063874115235cc69938fbcd3ff83a3d521f4c1ebe67bd32ff39e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkexiv2-23.08.5.tar.xz">libkexiv2-23.08.5</a></td>
   <td align="right">59kB</td>
   <td><tt>31413030799065faf17ecbe46e6a4ce4c11758f5c1d590eb296c52f4fc1a9bf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkgapi-23.08.5.tar.xz">libkgapi-23.08.5</a></td>
   <td align="right">327kB</td>
   <td><tt>10249f32a3a8a26a73e251d0415d42b69827ad354b451f62bdbb01bc6a40d7a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkipi-23.08.5.tar.xz">libkipi-23.08.5</a></td>
   <td align="right">86kB</td>
   <td><tt>724014ae75c6b5c39b92368a63d38b94353e41610c12804f96f190c5f1606285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkleo-23.08.5.tar.xz">libkleo-23.08.5</a></td>
   <td align="right">552kB</td>
   <td><tt>4330d3e4b70cf5f8d7b341b665a63b47f02e12270946ce6991971315298c4625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkmahjongg-23.08.5.tar.xz">libkmahjongg-23.08.5</a></td>
   <td align="right">1649kB</td>
   <td><tt>7a88b40b6cc5c23451da3b736d4e4be3d67f0a745421f9daa1a29adc973dc365</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libkomparediff2-23.08.5.tar.xz">libkomparediff2-23.08.5</a></td>
   <td align="right">183kB</td>
   <td><tt>d90d411dab811a84953680f08bd2408439593a98c74871d49ac1cd08aae64ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libksane-23.08.5.tar.xz">libksane-23.08.5</a></td>
   <td align="right">152kB</td>
   <td><tt>deddff992193fdd5644c4b7b5ac60be34b775e7ad1bd444ea033b0a179242f6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libksieve-23.08.5.tar.xz">libksieve-23.08.5</a></td>
   <td align="right">568kB</td>
   <td><tt>5a06482dd05b430ea745b72b7cb495444ab84223c27152375035d4fd3615825c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/libktorrent-23.08.5.tar.xz">libktorrent-23.08.5</a></td>
   <td align="right">590kB</td>
   <td><tt>0fa23c3f5a8e6aeaf76e1c3f1ff7c10046d4ad925798907cf5b28c9788d297bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/lokalize-23.08.5.tar.xz">lokalize-23.08.5</a></td>
   <td align="right">2092kB</td>
   <td><tt>8539a3c0bd5c89f42b81276a1d4fd4468f70976987ad329f2495fe2529833e6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/lskat-23.08.5.tar.xz">lskat-23.08.5</a></td>
   <td align="right">1222kB</td>
   <td><tt>4d53fb9f9d1021d75fe149d00890adda9ece1641cce8cfdf38a5a70969f2e1e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/mailcommon-23.08.5.tar.xz">mailcommon-23.08.5</a></td>
   <td align="right">745kB</td>
   <td><tt>65dd3b8c9f8233fbdbde5a6f6f65539c061920e34140bd8f97d0efde5fd60fc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/mailimporter-23.08.5.tar.xz">mailimporter-23.08.5</a></td>
   <td align="right">579kB</td>
   <td><tt>94972bdd03c9707cb5b3638c12b1c9c9c149762d6984ab8d0de29ba78ee0535a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/marble-23.08.5.tar.xz">marble-23.08.5</a></td>
   <td align="right">52525kB</td>
   <td><tt>856cff312725f9644b05cc92d3e437712311d96927e6aa008a44df1c0f4a0b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/markdownpart-23.08.5.tar.xz">markdownpart-23.08.5</a></td>
   <td align="right">30kB</td>
   <td><tt>32905b77e393f625c388c414b9e350d8152856e6931566d5f2b8c35ed6d5ebf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/mbox-importer-23.08.5.tar.xz">mbox-importer-23.08.5</a></td>
   <td align="right">29kB</td>
   <td><tt>5fda29665fdaaf2bb704859f21cfa018a441243ec78ab6cc0c48e3717e3420ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/merkuro-23.08.5.tar.xz">merkuro-23.08.5</a></td>
   <td align="right">958kB</td>
   <td><tt>9a5d0ed11985e0fbfdd58d538b8d0fa1c7fd34a5679baa427092ac0439874297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/messagelib-23.08.5.tar.xz">messagelib-23.08.5</a></td>
   <td align="right">11107kB</td>
   <td><tt>da37af29e9a1a8d5947cbdc7ccfbdd749d3ef5257e4cc778eb8f0069fe50ddf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/minuet-23.08.5.tar.xz">minuet-23.08.5</a></td>
   <td align="right">27034kB</td>
   <td><tt>75346d4a6a7b9533aa1c1319544699d644ecb97b666e449cdf1587f552f265ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/neochat-23.08.5.tar.xz">neochat-23.08.5</a></td>
   <td align="right">776kB</td>
   <td><tt>d300c6d8eb1dcc96b853c61a43e058ae923b939e3991755ddce1d9f210904632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/okular-23.08.5.tar.xz">okular-23.08.5</a></td>
   <td align="right">8316kB</td>
   <td><tt>d5d51f69b176a250907ee70e8f97143fc9d705cee3ef7ff448626c8a529ce364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/palapeli-23.08.5.tar.xz">palapeli-23.08.5</a></td>
   <td align="right">2071kB</td>
   <td><tt>faea7b9a18a4fc8fa4af2cca7994609bdb79039a9bd319cdc74fad55046b89d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/parley-23.08.5.tar.xz">parley-23.08.5</a></td>
   <td align="right">8408kB</td>
   <td><tt>5695758664d17cbaa023ac0f373041cc3b40036aba52a0dacb194e128e6d2067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/partitionmanager-23.08.5.tar.xz">partitionmanager-23.08.5</a></td>
   <td align="right">2097kB</td>
   <td><tt>983adee6730f49bf17904129b5152d1092d3cc8f16cde045b6b18244ebd30834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/picmi-23.08.5.tar.xz">picmi-23.08.5</a></td>
   <td align="right">1505kB</td>
   <td><tt>3dc4a0b335142a4fb4ba8515401e4794104dc07938f7917ce0eab6a80fdd3f38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/pimcommon-23.08.5.tar.xz">pimcommon-23.08.5</a></td>
   <td align="right">341kB</td>
   <td><tt>5f5b1cc3cc2a0f204089d55ff8dae5236da147878fb0925080399090d05f4d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/pim-data-exporter-23.08.5.tar.xz">pim-data-exporter-23.08.5</a></td>
   <td align="right">417kB</td>
   <td><tt>6c06e27af8db8dc12c23d6539d27a5b9b02529a723b1860c02870954d5a7bf2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/pim-sieve-editor-23.08.5.tar.xz">pim-sieve-editor-23.08.5</a></td>
   <td align="right">455kB</td>
   <td><tt>5ddaa148b36bc871dc4921ef1e38153533a4b89860e9c6ea11f4737a5032e5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/plasmatube-23.08.5.tar.xz">plasmatube-23.08.5</a></td>
   <td align="right">82kB</td>
   <td><tt>66ca4fdc2059d72651d6be5264860ba66af90e0be10af80c2ea30859727c1b9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/poxml-23.08.5.tar.xz">poxml-23.08.5</a></td>
   <td align="right">43kB</td>
   <td><tt>7a5c72517cc93b8ba9c9ff61adb7c5e7fd2f157cfcb2d8e98c2c28d2c90a67c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/print-manager-23.08.5.tar.xz">print-manager-23.08.5</a></td>
   <td align="right">283kB</td>
   <td><tt>f7ed99b3afaf8ea1faa5c0649f3a704197ac992fcfa5dfc24622e5cf2cb85a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/qmlkonsole-23.08.5.tar.xz">qmlkonsole-23.08.5</a></td>
   <td align="right">59kB</td>
   <td><tt>d4b934275170c8d716ba8cca0aef48c7e940dbf86eb3aae6721f1715d0395c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/rocs-23.08.5.tar.xz">rocs-23.08.5</a></td>
   <td align="right">1534kB</td>
   <td><tt>f9bcc1ab8222ea48e45b58dd70449b7e02f4cd1e2bd6f62d2879e82588cd3eb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/signon-kwallet-extension-23.08.5.tar.xz">signon-kwallet-extension-23.08.5</a></td>
   <td align="right">10kB</td>
   <td><tt>e556caad3efde683c6a626c2aaec5ec2cb157aba1a10c7d4ea5280005fe59bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/skanlite-23.08.5.tar.xz">skanlite-23.08.5</a></td>
   <td align="right">2394kB</td>
   <td><tt>667aca4dc89798f5a76c62c8f781d21102381b61d433942802cadf931f080dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/skanpage-23.08.5.tar.xz">skanpage-23.08.5</a></td>
   <td align="right">1286kB</td>
   <td><tt>38e2300e1466c43bb531989c29d11221ebcaa2e3e8bb062a814c1f03270b72bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/spectacle-23.08.5.tar.xz">spectacle-23.08.5</a></td>
   <td align="right">1321kB</td>
   <td><tt>54f830ef6db284a7f482575f7793eb4a98915c4612b5b165885b5c29881d763c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/step-23.08.5.tar.xz">step-23.08.5</a></td>
   <td align="right">972kB</td>
   <td><tt>b5db4e31c9c5d50d61c6c5664e73e902851de1b3867926c99f1b47252dfd4e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/svgpart-23.08.5.tar.xz">svgpart-23.08.5</a></td>
   <td align="right">28kB</td>
   <td><tt>941a378dd84006e92bddad2d83e8f0e93b361347a0aa3d43e9fb5e9bec7778b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/sweeper-23.08.5.tar.xz">sweeper-23.08.5</a></td>
   <td align="right">390kB</td>
   <td><tt>5adf7746a4ad04d8ce7a7cca46132d7482d94cac9650663481cbdd220ed2c1d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/telly-skout-23.08.5.tar.xz">telly-skout-23.08.5</a></td>
   <td align="right">94kB</td>
   <td><tt>7d91a6c687002a8c943e45b432ec65287df8e7b776503c4b0d33200e993729a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/tokodon-23.08.5.tar.xz">tokodon-23.08.5</a></td>
   <td align="right">328kB</td>
   <td><tt>4b887aa586712a771aa4a72dc4421b7e82839ecd406bcb47bc66db5fa6e81265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/umbrello-23.08.5.tar.xz">umbrello-23.08.5</a></td>
   <td align="right">5639kB</td>
   <td><tt>4c404222ee5a41976f2c561220c6f74867e9828a0d09a36a8166b9ee1b64c780</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/yakuake-23.08.5.tar.xz">yakuake-23.08.5</a></td>
   <td align="right">425kB</td>
   <td><tt>4c595894530a2c5248311e44fa50733245891667b6b2ebb33af2162db3a1eb24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.5/src/zanshin-23.08.5.tar.xz">zanshin-23.08.5</a></td>
   <td align="right">357kB</td>
   <td><tt>c0f95e1c07d0d23bfac05474129740b8f0928c038d2b3144344b98316365f56e</tt></td>
</tr>

</table>
