// SPDX-FileCopyrightText: 2023 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: LGPL-3.0-or-later

.hero-image {
  background-position: 0 50% !important;
}

#main {
  h1, .h1 {
    font-weight: bold;
    margin-top: 0rem;
  }
  h2, .h2 {
    font-weight: bold;
  }
  h3, .h3 {
    font-weight: bold;
  }
  p, li {
    max-width: 1200px;
  }

  @media (max-width: 800px) {
    .btn-lg {
       font-size: 1rem;
    }
  }

  img {
    min-height: 168px;
    min-width: 168px;

    @media (max-width: 1200px) {
      min-height: 96px;
      min-width: 96px;
    }
  }
}

.elisa {
  background-color: #66C8AF33;
}

.kalendar {
  background-color: #0098EE33;
}

.tokodon, .itinerary, .kate {
  background-color: #91CCE833;
}

.audiotube {
  background-color: #F2654533;
}

.kate img {
   max-width: 168px;
}

.itinerary {
  &-img {
    max-width: 400px;
    width: 100%;
  }

  img.fdroid {
    max-width: 300px;
    min-height: 100px !important;
  }
}

.itinerary h2 {
  text-align:center;
  margin-bottom: 4rem;
}

.tokodon, .kalendar, .itinerary, .audiotube, .elisa, .kate {
  p {
    max-width: 1200px;
  }
}

.intro p:first-child {
  @media (min-width: 1200px) {
    max-width: 700px !important;
  }
  @media (min-width: 1400px) {
    max-width: 900px !important;
  }
  @media (min-width: 1750px) {
    max-width: 1100px !important;
  }
}
