{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" }}</h1>
        {{ .Content }}
        <img
          class="d-none d-lg-block"
          style="width: 100%; max-width: 1500px"
          alt=""
          src="/fundraisers/konqi-katie-donation.jpg"
        />
      </div>
      <div class="col-lg-4">
        <script
          src="https://donorbox.org/widget.js"
          paypalExpress="true"
        ></script>
        <div class="donorbox">
          <iframe
            style="border-radius: 8px"
            src="https://donorbox.org/embed/kde-become-a-member"
            name="donorbox"
            width="100%"
            height="600px"
            frameborder="0"
            scrolling="no"
            seamless="seamless"
          ></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
          <br />
          <br />
        </div>
        <div class="hof mt-5 p-4">
          <h2 class="mt-0">{{ i18n "hall-of-fame" }}</h2>
          <p>
            Alejandro Cholaquidis ⭐ Wolfgang Kerschbaumer ⭐ Pascal Schmidt ⭐
            Dominik Riedl ⭐ Rob Hasselbaum ⭐ André Barata ⭐ Renārs Ceļapīters
            ⭐ Igor Stojkovic ⭐ Christian Moesgaard ⭐ Herbert Feiler ⭐
            Christian Hartmann ⭐ Community Compute LLC ⭐ Lorenzo Bicci ⭐
            Stanislas Leduc ⭐ Marko Hehl ⭐ Mateusz Brdoń ⭐ Jeroen Huijsman ⭐
            Nick Severino ⭐ Kristian Kriehl ⭐ Janis Bundschu ⭐ Àlex Magaz
            Graça ⭐ Sebastian Goth ⭐ Riho Kalbus ⭐ Paul Merryfellow ⭐ Petri
            Koskimaa ⭐ Jimmy Lindsey ⭐ Benjamin Terrier ⭐ Benjamin Xiao ⭐
            Lukas Kucerik ⭐ Carlos Gonzalez Cortes ⭐ Fco Javier Bolívar ⭐
            Raphael Pretot ⭐ Matheus Ferreira Messias Guedes ⭐ Martin Bednar
            ⭐ JIMI ROSS ⭐ Eric NGUYEN ⭐ Archie Lamb ⭐ Skye Van Valkenburgh
            ⭐ Marijo Mustač ⭐ Christian Gmeiner ⭐ Jan De Luyck ⭐ Joan Aluja
            Oraá ⭐ Florentin Rack ⭐ Lukas Neubert ⭐ Mehrad Mahmoudian ⭐ Jon
            Stelly ⭐ Davor Grubisa ⭐ Aman Chhabra ⭐ Vojtěch Indrák ⭐ Marco
            Götze ⭐ Jeff Cain ⭐ Artem Puzikov ⭐ Robert Levine ⭐ Marcin
            Mikołajczak ⭐ Arne Keller ⭐ Iulian Baciu ⭐ Zhangzhi Hu ⭐ Yishu
            Wang ⭐ George Pchelkin ⭐ Emanuele Cannizzaro ⭐ David Chocholatý
            ⭐ edwin vervliet ⭐ AoNeko Yachiyo ⭐ Semen Sobolev ⭐ Christopher
            Clarke ⭐ Andre Ramnitz ⭐ Andrei Zhatkin ⭐ Nina Wanca ⭐ Grégoire
            Duvauchelle ⭐ Tomás Duarte ⭐ Torsten Fratzke ⭐ Christian McHugh
            ⭐ David Gow ⭐ Marcus Harrison ⭐ Christian Hofstede-Kuhn ⭐ May
            Doušak ⭐ Ivo Marciniak ⭐ snow flurry ⭐ Gabriel Malo ⭐ Shawn Dunn
            ⭐ Florian Dazinger ⭐ Moritz Niesen ⭐ Michael Singer ⭐ Karl Ove
            Hufthammer ⭐ Hunor Czaka ⭐xMax Buchholz ⭐ Jan Iversen ⭐ Cass
            Midkiff ⭐ Pablo Caballero ⭐ Luis Büchi ⭐ Nathan Misner ⭐ Julian
            Borrero ⭐ Nicola Feltrin ⭐ Régis GUYOMARCH ⭐ Vincent Delor ⭐ Ian
            Boll ⭐ Timo Büttner ⭐ Richard BEOLET ⭐ Simon Finlay ⭐ Coty
            Ternes ⭐ Owen Sessiecq ⭐ Marco Nelles ⭐ Ingo Klöcker ⭐ Marcel
            Pierre Simon ⭐ Daniel Lloyd-Miller ⭐ Peter Permenter ⭐ Achim
            Königs ⭐ ali xyz ⭐ Éric Gillet ⭐ Ralf Hein ⭐ Aaron Bockelie ⭐
            Zach B ⭐ your mom ⭐ Rob Goris ⭐ Achim Bohnet ⭐ Marco Julian
            Solanki ⭐ Federico Dossena ⭐ Bob Richter ⭐ Trey Boyer ⭐ Peter
            Crasta ⭐ Bjørnar Hausken ⭐ Witold Sosnowski ⭐ Hennie Marais ⭐
            Michael Stemle ⭐ Conny Magnusson ⭐ Batuhan Taskaya ⭐ Milas Bowman
            ⭐ Linus Fell ⭐ Rocky Cardwell ⭐ Andrew Keenan Richardson ⭐ Ralf
            E ⭐ Guillaume GAY ⭐ Radek Nováček ⭐ Stefan Neacsu ⭐ Max Schwarz
            ⭐ Miku Hatsune ⭐ Rahul Ramesh ⭐ Dominik Viskovic ⭐ Tim Blomme ⭐
            Yann Nux ⭐ Jed Baldwin ⭐ Rob Hyndman ⭐ Steven Naumov ⭐ Christian
            Strebel ⭐ Nicholas Harper ⭐ Nikita Malgin ⭐ Jeroen Tor ⭐ Ethan
            Hussong ⭐ Pierre-Alexandre Hamel-Bussières ⭐ Berker Şal ⭐
            Alistair Bain ⭐ Ryein Goddard ⭐ Amritpal Gill ⭐ Monica
            Ayhens-Madon ⭐ Shingo Ishida ⭐ Alejandro Muñoz Fernández ⭐ Nate
            Coffey ⭐ Paul Birkholtz ⭐ Adam Szopa ⭐ Yves Soete ⭐ Thibaud
            Franchetti ⭐ D Ennis ⭐ Anthony (anthr76) Rabbito ⭐ Fabian Niepelt
            ⭐ Florian RICHER ⭐ Merry Mello ⭐ Julian Wefers ⭐ Frank Mankel ⭐
            Christoph Hümbert ⭐ Lenno Nagel ⭐ Chad McCullough ⭐ Joey Eamigh
            ⭐ Andreas Heinkelein ⭐ Mateusz Albecki ⭐ Kolja Kauer ⭐ Felix
            Knecht ⭐ Ulrich Schreiner ⭐ Robert Wolniak ⭐ Alexey Toklovich ⭐
            Ryan Chambers ⭐ Brian Aberts ⭐ Kjetil Fjellheim ⭐ MD RIDOWAN ⭐
            Patrick Gianelli ⭐ Hendrik Richter ⭐ Alexey Andreyev ⭐ Quentin
            Guyot ⭐ Michael Lelli ⭐ Kieren Roberts ⭐ OC Blanco ⭐ Jan Braun
            ⭐ Evan Chang ⭐ Mark Woltman ⭐ Eddie Carswell ⭐ Marcin Panic ⭐
            Severin Hamader ⭐ Kormos Krisztián ⭐ Laust Lund Kristensen ⭐
            Luciano Barea ⭐ Artur Pieniążek ⭐ Jarsto van Santen ⭐ Nicola
            Mingotti ⭐ Gerardus Franciscus Maria van Iersel ⭐ Sebastian Fohler
            ⭐ Steffen Jasper ⭐ Lucas Ji ⭐ Jens Churchill ⭐ Justin Geigley ⭐
            Sahan Fernando ⭐ Logan Rogers-Follis ⭐ Teemu Vartiainen ⭐
            TIMOPHEY TSITAVETS ⭐ Alexander Schmitt ⭐ Chrismettal Binary-6 ⭐
            Mustafa Muhammad ⭐ Nicolas Rojas ⭐ Alishams Hassam ⭐ Simon
            Österle ⭐ Chris Niewiarowski ⭐ Bel Lord-Williams ⭐ Jacopo
            Schiavon ⭐ Dennis Malmin ⭐ Angus Kelsey ⭐ Gregor Burgeff ⭐ Tony
            James ⭐ Ryan McCullough ⭐ Andrea Panontin ⭐ Lino Moser ⭐ Tasuku
            Suzuki ⭐ Vladimir Baskakov ⭐ Paul Riley ⭐ Alan Gresly ⭐ Wouter
            Eerdekens ⭐ Baptiste Rajaut ⭐ E. Mau. ⭐ Dennis Dalstrøm ⭐ Tommy
            Beauclair-Mariotti ⭐ Flori G ⭐ Arian Wichmann ⭐ Antoni Aloy
            Torrens ⭐ Aroun Clément Baudouin-van Os ⭐ Łukasz Plich ⭐ Linghai
            Yan ⭐ William Wojciechowski ⭐ Ivan Nack ⭐ Olivier Morneau ⭐
            Sebastian Krönert ⭐ Moritz Lammerich ⭐ Turritopsis Dohrnii Teo En
            Ming ⭐ Ethan Li ⭐ Kiril Vladimirov ⭐ Luke Renaud ⭐ Tom Schwarz
            ⭐ Michel van Son ⭐ Christoph Singer ⭐ Robin Slot ⭐ Rainier Ramos
            ⭐ scaine uk ⭐ Julio Moya ⭐ Pierre van Niekerk ⭐ Mark Hiles ⭐
            Dirk Ziegelmeier ⭐ Xuanyu Yu ⭐ Tamas Kornman ⭐ Jaroslav Reznik ⭐
            Mikołaj Świątek ⭐ Andreas Paul ⭐ Alicja Michalska ⭐ Lukas Skala
            ⭐ Eduard Nikoleisen ⭐ Joshua Phelps ⭐ Tristan Remy ⭐ Helge
            Bahmann ⭐ Anthony Beninati ⭐ Victor Castillo ⭐ Aurélien COUDERC
            ⭐ Denis Doria ⭐ Ondřej Vodáček ⭐ Samuel Pelz ⭐ Chris Davis ⭐
            Mike Dawson ⭐ Paul Worrall ⭐ Łukasz Konieczny ⭐ Bernie Innocenti
            ⭐ Nathan Westerman ⭐ Dave Lewis ⭐ David Roth ⭐ Techin
            Eamrurksiri ⭐ Vincent Wilms ⭐ Jure Repinc ⭐ Jeremy Winter ⭐
            Moritz Schulte ⭐ Cody Harrison ⭐ Dino Čobo ⭐ Dan Heneise ⭐ Simon
            Hötten ⭐ Dennis Körner ⭐ Maarten Bijster ⭐ Odin Vex ⭐ Teague
            Millette ⭐ Brendan Foote ⭐ Anael González Paz ⭐ Andrea Scartazza
            ⭐ Jim Crawford ⭐ Dylan Taylor ⭐ Philipp Slusallek ⭐ Lars Jose ⭐
            Zane Godden ⭐ Mateusz Dytkowski ⭐ Blair Thiessen ⭐ Shayne Johnson
            ⭐ Matija Šuklje ⭐ Peter Simonsson ⭐ Warren Krettek ⭐ Harald Gall
            ⭐ Leif-Jöran Olsson ⭐ Mukilan Thiyagarajan ⭐ Timothy Carr ⭐
            Sergi Navas ⭐ Bart Otten ⭐ Markus Meier ⭐ Jérémy Friche ⭐ Markus
            Banfi ⭐ James North ⭐ Joshua Mohr ⭐ Oliver Rasche ⭐ Sander
            Smid-Merlijn ⭐ Jack Case ⭐ Nils Martens ⭐ Leander Nachreiner ⭐
            Marcos Gutiérrez Alonso ⭐ Jonas Büttner ⭐ Paxriel Pax ⭐ Paul
            Porubsky ⭐ Nick Beaton ⭐ Fred Dickens ⭐ Yoann LE TOUCHE ⭐ Dean
            Bradley ⭐ Sacha Schutz ⭐ Harry A ⭐ Andrew Rosenwinkel ⭐ Daniel
            Zalar ⭐ José Guardado ⭐ Lisardo Sobrino ⭐ Tim van Osch ⭐ Martín
            Cigorraga ⭐ Jonas Hucklenbroich ⭐ Brandon Jones ⭐ Lizoblyud Lika
            ⭐ Cory Adkins ⭐ Nostre NZ ⭐ Zacharie Monnet ⭐ Julius Binder ⭐
            Titouan Forgeard ⭐ Guruprasad L ⭐ Lukas Langrock ⭐ Sergei
            Golimbievsky ⭐ Reid Wiggins ⭐ Bentleigh Beugelaar ⭐ Florian
            Dittmer ⭐ Alexandre BROUET ⭐ Tubo Shi ⭐ Matthew Cazaly ⭐
            Petronio Coelho ⭐ Sebastian Turzanski ⭐ Jakob Rath ⭐ Petr Kadlec
            ⭐ Kim Hayo ⭐ Dmytro Nezhevenko ⭐ Lukas Hannawald ⭐ Francesco
            Sardara ⭐ Mitchel Bone ⭐ Alexander Ypema ⭐ Adrian Friedli ⭐
            harry loh ⭐ Nathaniel Housman ⭐ Dyllan Kobal ⭐ Rodney Lorimor ⭐
            Malte Jürgens ⭐ Aleksei Liudskoi ⭐ Michel Filipe ⭐ Loïc Bersier
            ⭐ Jason Seville ⭐ Matt Milliman ⭐ Jennifer Radtke ⭐ Jacob Perron
            ⭐ Jaspal Chauhan ⭐ Nicola Jelmorini ⭐ Dominik Lux ⭐ Corey
            Schroeder ⭐ Samuel Jordan Kleinman ⭐ Alma Gottlieb ⭐ Zoran
            Dimovski ⭐ Jacob Childersmith ⭐ Daniel Bagge ⭐ Grider Li ⭐ Brett
            Hagen ⭐ Denis Jovic ⭐ Robert McCarter ⭐ Christopher Mandlbaur ⭐
            Björn Bauer ⭐ Michael Winters ⭐ Marcel Siggelsten ⭐ Travis Suel
            ⭐ Long Vu ⭐ Sam Smucny ⭐ Neal Gompa ⭐ Asim Shrestha ⭐ Erik
            Naprstek ⭐ Jordi Ferrando ⭐ Frédéric LAURENT ⭐ Paul Elliott ⭐
            Andrija Jovanovic ⭐ Bryan Zaffino ⭐ ADAM K BIERMAN ⭐ Nicolai
            Manique ⭐ Lauren Howe ⭐ Daniel Olson ⭐ Stefan Hellwig ⭐ Michael
            Bolleininger ⭐ Patrick David ⭐ Chris Killingsworth ⭐ Mario Loik
            ⭐ Norbert Spina ⭐ Aljosha Papsch ⭐ Tone Milazzo ⭐ Andy Meier ⭐
            Douglas Shaw ⭐ ILIOPOULOS IOANNIS ⭐ Brian Marsh ⭐ Jonathan Verner
            ⭐ Cristian Le ⭐ Christoffer Jansson ⭐ Störm Poorun ⭐ sergei
            pavlov ⭐ Allen Hazen ⭐ Wyatt Childers ⭐ Florian Stadler ⭐ Jonas
            Gamao ⭐ Xuetian Weng ⭐ Gerhard Dittes ⭐ Andrei Ioachim ⭐ Byron
            Fröhlich ⭐ Brian Lemons ⭐ David Germain ⭐ Roger Granrud ⭐
            Costin-Tiberiu Vasilescu ⭐ Jan Válek ⭐ Zhaosi Qu ⭐ Dmitry Sobolev
            ⭐ zzidun bourbaki ⭐ Willow Aran ⭐ John Chufar ⭐ Jarkko Torvinen
            ⭐ Cameron Bosch ⭐ Marius Hergel ⭐ Grzegorz Wierzowiecki ⭐ Samuel
            Allen ⭐ Andrew Munkres ⭐ Batuhan Cinar ⭐ Titouan Fuchs ⭐ Diego
            Miguel Lozano ⭐ Will Styler ⭐ Florian Klamer ⭐ Shuyuan Liu ⭐
            Tapio Metsälä ⭐ Calin Cerghedean ⭐ Philipp Lohnes ⭐ Sébastien
            Monassa ⭐ Christoph Vollmer ⭐ Pjol . ⭐ Boji Tony ⭐ Steven
            Barrett ⭐ Dirk Holsopple ⭐ Jason Logue ⭐ Matthew Brunelle ⭐
            Jakub Judas ⭐ Alexander Gurenko ⭐ Wesley Schroth ⭐ Przemysław
            Romanik ⭐ Jay Tuckey ⭐ bill morin ⭐ Melissa Autumn ⭐ Mikle Kerim
            ⭐ Michael Schaffner ⭐ Arthur Tadier ⭐ Mischa Zschokke-Gohl ⭐
            Dmitry Misharov ⭐ Alessio Adamo ⭐ Nikolai Eugen Sandvik ⭐ Jasmijn
            Knoope ⭐ Björn Aili ⭐ Paulo Dias ⭐ Klaus Wagner ⭐ Étienne Pain
            ⭐ Regina Abendroth ⭐ Thomas Ludwig ⭐ Kevin McCarthy ⭐ Robert
            Riemann ⭐ Albert Goncharov ⭐ Will Butler ⭐ Szymon Łągiewka ⭐
            Bruno Rocha ⭐ Sebastian Paul ⭐ Mikko Mensonen ⭐ Ole Solbakken ⭐
            Huw McNamara ⭐ Markus Ebner ⭐ Jacob Becker ⭐ Thai Flowers ⭐
            Michael Alexsander ⭐ Paul Fleischer ⭐ Benjamin Tzschoppe ⭐
            Valentin Petzel ⭐ William Z ⭐ Mihail Morosan ⭐ François-Xavier
            Thomas ⭐ Henning Sextro ⭐ Akseli Lahtinen ⭐ Matthew Henry ⭐ Petr
            Tesarik ⭐ Lennart Kroll ⭐ Gernot Schiller ⭐ Márton Lente ⭐ Benny
            Fields ⭐ Bailey Hollis ⭐ Dennis Schumann ⭐ Lasse Danegod ⭐ Simon
            Berz ⭐ Johann Jacobsohn ⭐ John Huckle ⭐ Peter Strick ⭐ Niklas
            Kämper ⭐ Rodrigo Lourenço ⭐ Jonatan Rosenius ⭐ Ami Chayun ⭐
            Matthew Orr ⭐ Nathan Pennington ⭐ Achilleas Koutsou ⭐ Michael
            Niehoff ⭐ Stefan Zurucker-Burda ⭐ Martin Beck ⭐ Mohammad
            Rawashdeh ⭐ David Döring ⭐ Kai-Uwe Uhlitzsch ⭐ Ján Trenčanský ⭐
            Paul McAuley ⭐ Sarat Chandra ⭐ Justus Tartz ⭐ Julian Braha ⭐
            Thomas Eckart ⭐ Malin Stanescu ⭐ Brandon Clark ⭐ Isaac Patton ⭐
            Piotr Gliźniewicz ⭐ Kevin Messer ⭐ Sebastian Löw ⭐ Antti Luoma ⭐
            Keelan Jones ⭐ Bernhard Breinbauer ⭐ Alonso Mendoza ⭐ Jim Helm ⭐
            Stephen Crocker ⭐ Max R ⭐ Vojtech Kuchar ⭐ Rebecca Müller ⭐ Luis
            Garcia ⭐ Lee Courington ⭐ Nathan Wolf ⭐ Rhys Jones ⭐ Galin
            Yordanov ⭐ Arjan van Griethuijsen ⭐ Stephen Rider ⭐ Gleb
            Sinyavskiy ⭐ Michal Walach ⭐ David Walluscheck ⭐ Ramón Cahenzli
            ⭐ Dima T ⭐ Roberto Michán Sánchez ⭐ Peter König ⭐ Milton Hagler
            ⭐ Yu Te Wang ⭐ Kylie Leach ⭐ Joost Cassee ⭐ Mark Marsh ⭐
            Michael Brunner ⭐ Emil Larsson ⭐ Pascal Mages ⭐ Martín Libedinsky
            ⭐ Frailing Sosa ⭐ Andrey Melentyev ⭐ Zdenek Zikan ⭐ Elijah Helms
            ⭐ Jens Reimann ⭐ Antonio Teixeira ⭐ Julien Enselme ⭐ José Couto
            ⭐ Ivan Sabourin ⭐ Jeremy Linton ⭐ Samega 7Cattac ⭐ Stewart Webb
            ⭐ Philipp Reichmuth ⭐ Tobias Brunner ⭐ Richard Acton ⭐ Jonas
            Mutke ⭐ Henri Michael ⭐ Alexander Verweinen ⭐ Florian Edelmann ⭐
            R.A. Bijl ⭐ Arthur Galiullin ⭐ Jacob Ludvigsen ⭐ Patrick Nagel ⭐
            Curtis Bullock ⭐ Matthias Born ⭐ Adam Dymitruk ⭐ John McKinney ⭐
            Klemen Košir ⭐ Daan Boerlage ⭐ Jörg große Schlarmann ⭐ Diego
            Saavedra Aguirre ⭐ Linus Karl ⭐ Muthanna K. ⭐ James Fryman ⭐
            Marián Polťák ⭐ Herbie Hopkins ⭐ John Kizer ⭐ Thomas Karpiniec ⭐
            Cornelius Kluge ⭐ Solomatin Vladimir ⭐ Daniel Noga ⭐ Moritz
            Füssel ⭐ Srikar Gottipati ⭐ Dennis Zellner ⭐ Andres Betts ⭐
            Burgess Chang ⭐ Teodor Calin Sirbu ⭐ Gabriel Morell ⭐ Manuel
            Bödder ⭐ Dougie Beney ⭐ Sandy F ⭐ Johannes Wolf ⭐ Peter Nunn ⭐
            Luis Alvarado ⭐ Daniel Hurtado ⭐ Edoardo Regni ⭐ Linda Polman ⭐
            Julian Raschke ⭐ Angelos Skembris ⭐ Eve Carletti ⭐ Gaurav
            Dasharathe ⭐ Thomas ROBIN ⭐ Carl Schwan ⭐ Dave X ⭐ Valerio Pilo
            ⭐ Samir Nassar ⭐ Quentin Stuchlik ⭐ Sergio Rodríguez Sansano ⭐
            Martin Supan ⭐ Michal Hlaváč ⭐ Romain Fleurette ⭐ Gerbrand van
            Dieyen ⭐ Ismar Kunic ⭐ Alexander Reimelt ⭐ Spencer Sawyer ⭐
            David Martinez ⭐ Stephane Perrin ⭐ Michael Meister ⭐ Jens Erdmann
            ⭐ Iain Cuthbertson
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
