<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/amor-15.03.80.tar.xz">amor-15.03.80</a></td>
   <td align="right">171kB</td>
   <td><tt>e7e9d909cd47032aa4800c83ebe41f8a79e0f647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/analitza-15.03.80.tar.xz">analitza-15.03.80</a></td>
   <td align="right">222kB</td>
   <td><tt>b9863dccd027bd6855eca6a7334549f822bf50cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ark-15.03.80.tar.xz">ark-15.03.80</a></td>
   <td align="right">232kB</td>
   <td><tt>53a8e0221ed43544298a2f64f5f6fd2cdbac6dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/artikulate-15.03.80.tar.xz">artikulate-15.03.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>4741ba57cc6a3c54eda2023d440c580b4f916500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/audiocd-kio-15.03.80.tar.xz">audiocd-kio-15.03.80</a></td>
   <td align="right">50kB</td>
   <td><tt>ea413c363185a1070dcc083441bf7e6f4e5d8f57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/blinken-15.03.80.tar.xz">blinken-15.03.80</a></td>
   <td align="right">553kB</td>
   <td><tt>0039f451f2520ddf24bad67cff01894ac6f631c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/bomber-15.03.80.tar.xz">bomber-15.03.80</a></td>
   <td align="right">383kB</td>
   <td><tt>c0c9f97d3db3a4371843e4ab18c24148e5ed60c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/bovo-15.03.80.tar.xz">bovo-15.03.80</a></td>
   <td align="right">102kB</td>
   <td><tt>f7111edd7901deb3ea46067888da29c0cd5242c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/cantor-15.03.80.tar.xz">cantor-15.03.80</a></td>
   <td align="right">347kB</td>
   <td><tt>fc5f8fe3e758c1f22fa56a53f0aa1af9bc619cda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/cervisia-15.03.80.tar.xz">cervisia-15.03.80</a></td>
   <td align="right">364kB</td>
   <td><tt>52ff60de4c5731b3910be13ef4785a3c8172d0e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/dolphin-plugins-15.03.80.tar.xz">dolphin-plugins-15.03.80</a></td>
   <td align="right">57kB</td>
   <td><tt>9c64ff37792a56c29f2c529262a74a38db1225ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/dragon-15.03.80.tar.xz">dragon-15.03.80</a></td>
   <td align="right">390kB</td>
   <td><tt>fcfdf1d9e61c69c2b8c9d7eddc2c4d675895b6f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ffmpegthumbs-15.03.80.tar.xz">ffmpegthumbs-15.03.80</a></td>
   <td align="right">19kB</td>
   <td><tt>a1ab32a5a662f7ade35c121e0991a52555b72508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/filelight-15.03.80.tar.xz">filelight-15.03.80</a></td>
   <td align="right">280kB</td>
   <td><tt>f43dbbe6f5f9262da977a368184770afb3d503ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/granatier-15.03.80.tar.xz">granatier-15.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4570fb304a2daf3e4aa5ead72ee08ba20e9755a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/gwenview-15.03.80.tar.xz">gwenview-15.03.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>0306f06c949816960880d72e95362025d557c8c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/jovie-15.03.80.tar.xz">jovie-15.03.80</a></td>
   <td align="right">380kB</td>
   <td><tt>273748b0cea7b53a3222682a137e9986bfb0eaea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/juk-15.03.80.tar.xz">juk-15.03.80</a></td>
   <td align="right">433kB</td>
   <td><tt>fdce4cc46731186c961f878e4e11757108e55f8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kaccessible-15.03.80.tar.xz">kaccessible-15.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>07fb9750ec016160773c4112a81bffdc5afbc1f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kaccounts-integration-15.03.80.tar.xz">kaccounts-integration-15.03.80</a></td>
   <td align="right">67kB</td>
   <td><tt>43bdff003997781d9b37023f39732724a2622b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kaccounts-providers-15.03.80.tar.xz">kaccounts-providers-15.03.80</a></td>
   <td align="right">11kB</td>
   <td><tt>4a112080f99373572836e44698417b1314ff3f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kajongg-15.03.80.tar.xz">kajongg-15.03.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>881c085b2dc4714b785a53c0621c4273d2b236dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kalgebra-15.03.80.tar.xz">kalgebra-15.03.80</a></td>
   <td align="right">263kB</td>
   <td><tt>d2712c770568d025cb8f5faceb28d2fb4d0e38b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kalzium-15.03.80.tar.xz">kalzium-15.03.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>aa21c05dd14d7b3e256983d95fe147c3c3dd92f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kamera-15.03.80.tar.xz">kamera-15.03.80</a></td>
   <td align="right">34kB</td>
   <td><tt>ab4d7ab7ca2ff5a691e54a702c9dbea4b3b86983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kanagram-15.03.80.tar.xz">kanagram-15.03.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>976b4202c15bd61e1d0b4e4bbe7152d31bc73f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kapman-15.03.80.tar.xz">kapman-15.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9278e48520b95eee1243257ffb8056d5a657afbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kapptemplate-15.03.80.tar.xz">kapptemplate-15.03.80</a></td>
   <td align="right">689kB</td>
   <td><tt>3aae794b2022042f598aef2bd82b8e0236f1c480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kate-15.03.80.tar.xz">kate-15.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ea785dfd3c4e522aa0f2114ccc0c95801450f927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/katomic-15.03.80.tar.xz">katomic-15.03.80</a></td>
   <td align="right">645kB</td>
   <td><tt>5246d7ddf91ddb2673014ec1c97627630739397f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kblackbox-15.03.80.tar.xz">kblackbox-15.03.80</a></td>
   <td align="right">254kB</td>
   <td><tt>fde2c8a1b6d7ae1f77bec5c12c6f4b8b247927a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kblocks-15.03.80.tar.xz">kblocks-15.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a3cf511205088a8bd6fe269d8934ebd0d56a9fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kbounce-15.03.80.tar.xz">kbounce-15.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5f964854930885e09a06fe7fbb4759d612f043af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kbreakout-15.03.80.tar.xz">kbreakout-15.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e96ff3b1afcff05ffe560dbee54871e2f2cb6f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kbruch-15.03.80.tar.xz">kbruch-15.03.80</a></td>
   <td align="right">883kB</td>
   <td><tt>5c23baf1c7df0632d92e5bee4a9e0f38e3b3f63d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kcachegrind-15.03.80.tar.xz">kcachegrind-15.03.80</a></td>
   <td align="right">230kB</td>
   <td><tt>92c5ef76c96bcfcf2e9366748565d5f2a901dd5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kcalc-15.03.80.tar.xz">kcalc-15.03.80</a></td>
   <td align="right">81kB</td>
   <td><tt>f363688b481b2c6c36116b2cf2095c3713c45486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kcharselect-15.03.80.tar.xz">kcharselect-15.03.80</a></td>
   <td align="right">82kB</td>
   <td><tt>5880433fbf9263f864b4c82c18423a5616c357af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kcolorchooser-15.03.80.tar.xz">kcolorchooser-15.03.80</a></td>
   <td align="right">4kB</td>
   <td><tt>3424c1ef617e758b722133cc2c901024398d84a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kcron-15.03.80.tar.xz">kcron-15.03.80</a></td>
   <td align="right">170kB</td>
   <td><tt>18bdcfcd5260a394a04abee34f53d8caf30e1095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdeartwork-15.03.80.tar.xz">kdeartwork-15.03.80</a></td>
   <td align="right">134MB</td>
   <td><tt>9a7a9530af33d76acfc1e8d6fbe510e82242abcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-baseapps-15.03.80.tar.xz">kde-baseapps-15.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>188988376f021fa8e0853f39700cec1aceaae16f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-base-artwork-15.03.80.tar.xz">kde-base-artwork-15.03.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>b5d38f96057d7e3185dfc839fe305918aa276a0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-dev-scripts-15.03.80.tar.xz">kde-dev-scripts-15.03.80</a></td>
   <td align="right">299kB</td>
   <td><tt>c250deef8e1e455a8817917c0a4c6cebc8116fc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-dev-utils-15.03.80.tar.xz">kde-dev-utils-15.03.80</a></td>
   <td align="right">50kB</td>
   <td><tt>4fa95bb31dc8e7530fbe002b08e9b9cba72cb738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdeedu-data-15.03.80.tar.xz">kdeedu-data-15.03.80</a></td>
   <td align="right">94kB</td>
   <td><tt>1439ea9d0f423debcac38b20ef713f04cc4aa6ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdegraphics-mobipocket-15.03.80.tar.xz">kdegraphics-mobipocket-15.03.80</a></td>
   <td align="right">14kB</td>
   <td><tt>e75e49a032d696aae26230da442f354f9b1a651f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdegraphics-strigi-analyzer-15.03.80.tar.xz">kdegraphics-strigi-analyzer-15.03.80</a></td>
   <td align="right">39kB</td>
   <td><tt>1451514ba241f2c7393b2b9b74ff4888a48fd326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdegraphics-thumbnailers-15.03.80.tar.xz">kdegraphics-thumbnailers-15.03.80</a></td>
   <td align="right">40kB</td>
   <td><tt>37028ddca432ba0e6bd5843da9bc93593609d84c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdenetwork-filesharing-15.03.80.tar.xz">kdenetwork-filesharing-15.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>854f3495f718a794d014fc8dfd63128dc9e55d03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdenetwork-strigi-analyzers-15.03.80.tar.xz">kdenetwork-strigi-analyzers-15.03.80</a></td>
   <td align="right">14kB</td>
   <td><tt>c5de4916f0527cec8ab3dad7c7614663f4038e25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdenlive-15.03.80.tar.xz">kdenlive-15.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c3dfa564d4553f7c242e56111b7a07e45f0d9f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-runtime-15.03.80.tar.xz">kde-runtime-15.03.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>3ed767296273bf1aecc6e5a6b1f062653a6d1ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdesdk-kioslaves-15.03.80.tar.xz">kdesdk-kioslaves-15.03.80</a></td>
   <td align="right">353kB</td>
   <td><tt>f418f32c29bdf59d620c92b9b5c5c4c726a3eaca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdesdk-strigi-analyzers-15.03.80.tar.xz">kdesdk-strigi-analyzers-15.03.80</a></td>
   <td align="right">17kB</td>
   <td><tt>071f8e28eb972c95489462079b74c9893c0a574b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdesdk-thumbnailers-15.03.80.tar.xz">kdesdk-thumbnailers-15.03.80</a></td>
   <td align="right">11kB</td>
   <td><tt>4b4c7955ac36f975d0ef205e956ce4269707a5b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-wallpapers-15.03.80.tar.xz">kde-wallpapers-15.03.80</a></td>
   <td align="right">86MB</td>
   <td><tt>4ef48363baed764cf01a0b0456341660d4dcba20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdewebdev-15.03.80.tar.xz">kdewebdev-15.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>45e57cc5dc8fe702c2967d8e5c6a9b2977f37be2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdf-15.03.80.tar.xz">kdf-15.03.80</a></td>
   <td align="right">145kB</td>
   <td><tt>30efc576c02e4192101eb6e3defdbed636b924da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kdiamond-15.03.80.tar.xz">kdiamond-15.03.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>3b28dfcf8ea7545d699e1e9e993cf8c73cf0169d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kfloppy-15.03.80.tar.xz">kfloppy-15.03.80</a></td>
   <td align="right">52kB</td>
   <td><tt>8e22d65e45ad0111c44331a8ce53bf1b22e0e8af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kfourinline-15.03.80.tar.xz">kfourinline-15.03.80</a></td>
   <td align="right">274kB</td>
   <td><tt>374760216cb3371b3691edea76aa205c42d49cf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kgamma-15.03.80.tar.xz">kgamma-15.03.80</a></td>
   <td align="right">22kB</td>
   <td><tt>c9c70ed60fa1dd3e37859b6a9300ecb360633322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kgeography-15.03.80.tar.xz">kgeography-15.03.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>d6fb35de2760978382dbc4ca2fdc98417e76f99d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kget-15.03.80.tar.xz">kget-15.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>43675f3a14133a5c222b45c4178e71d70f528531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kgoldrunner-15.03.80.tar.xz">kgoldrunner-15.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2a8eb80bb6cc187870a6c6d0360bbc06cc1d3c37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kgpg-15.03.80.tar.xz">kgpg-15.03.80</a></td>
   <td align="right">790kB</td>
   <td><tt>486e8b918c42e1dac0daaaada28929e30331fd6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/khangman-15.03.80.tar.xz">khangman-15.03.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>9b816a4f81b66b940e1765c494b1024ba171f3ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kig-15.03.80.tar.xz">kig-15.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9644446495c6329b2d393a7d4f5ab324d82e881a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kigo-15.03.80.tar.xz">kigo-15.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3de9c8751613a50d8f4a81cb4a3fb53818226379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/killbots-15.03.80.tar.xz">killbots-15.03.80</a></td>
   <td align="right">940kB</td>
   <td><tt>68b24e970f14bca140a72a7935baf44ef9cff028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kiriki-15.03.80.tar.xz">kiriki-15.03.80</a></td>
   <td align="right">114kB</td>
   <td><tt>6787b9c3d75fda50ff18665adbc75a3ad607d2f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kiten-15.03.80.tar.xz">kiten-15.03.80</a></td>
   <td align="right">11MB</td>
   <td><tt>ef25740633119af8509927e2d1f034b1e53cd63f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kjumpingcube-15.03.80.tar.xz">kjumpingcube-15.03.80</a></td>
   <td align="right">161kB</td>
   <td><tt>a43c55dca273242a88028a792af37728f67c79d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/klettres-15.03.80.tar.xz">klettres-15.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a0413fb7db0622270f00709661f2c14e705c9845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/klickety-15.03.80.tar.xz">klickety-15.03.80</a></td>
   <td align="right">765kB</td>
   <td><tt>b5b83b63f7e93447431c0fbfd207c1da5be16d32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/klines-15.03.80.tar.xz">klines-15.03.80</a></td>
   <td align="right">928kB</td>
   <td><tt>c35d7f70df065f38c6d011ba0d561c2b4e17dd2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kmag-15.03.80.tar.xz">kmag-15.03.80</a></td>
   <td align="right">84kB</td>
   <td><tt>991e2c184982242391460e7a0aa1804c5c0f1f58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kmahjongg-15.03.80.tar.xz">kmahjongg-15.03.80</a></td>
   <td align="right">984kB</td>
   <td><tt>5590078bfb73fc80c6a684b409578b2df09f0200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kmines-15.03.80.tar.xz">kmines-15.03.80</a></td>
   <td align="right">609kB</td>
   <td><tt>a563b20b4cf49c7135b865a7b2448b8a7655ed6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kmix-15.03.80.tar.xz">kmix-15.03.80</a></td>
   <td align="right">379kB</td>
   <td><tt>b0a95ed1be11bb262ce5793d3f69da8e5963ff5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kmousetool-15.03.80.tar.xz">kmousetool-15.03.80</a></td>
   <td align="right">34kB</td>
   <td><tt>88193a082281af6f7840c8da5f291f943ef04cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kmouth-15.03.80.tar.xz">kmouth-15.03.80</a></td>
   <td align="right">301kB</td>
   <td><tt>2ddca66ef7b393136fb3cbea8a16b9baf38bbbac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kmplot-15.03.80.tar.xz">kmplot-15.03.80</a></td>
   <td align="right">646kB</td>
   <td><tt>8c9f426af2503a4665ae11b3d64569e61bfd6db3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/knavalbattle-15.03.80.tar.xz">knavalbattle-15.03.80</a></td>
   <td align="right">834kB</td>
   <td><tt>e2c94bb0684103fc953d929904bba49d1cb038bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/knetwalk-15.03.80.tar.xz">knetwalk-15.03.80</a></td>
   <td align="right">764kB</td>
   <td><tt>7e7d590ebb79f3c3eaaa22a371d86bcb4a7c0739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kolf-15.03.80.tar.xz">kolf-15.03.80</a></td>
   <td align="right">750kB</td>
   <td><tt>1e5b66bce083fb633daf21244953749d7d83085b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kollision-15.03.80.tar.xz">kollision-15.03.80</a></td>
   <td align="right">202kB</td>
   <td><tt>478e7356bd5722403cb92b82b0516fda85431ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kolourpaint-15.03.80.tar.xz">kolourpaint-15.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b044f6a5d68d5d9a2c6f37cd86ed1b1ddec217db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kompare-15.03.80.tar.xz">kompare-15.03.80</a></td>
   <td align="right">336kB</td>
   <td><tt>0bae1a6b2fde59136a9d1ded906cab81392f9743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/konquest-15.03.80.tar.xz">konquest-15.03.80</a></td>
   <td align="right">396kB</td>
   <td><tt>6fbf1263ddd83339bc9626c3d99a81e63e255282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/konsole-15.03.80.tar.xz">konsole-15.03.80</a></td>
   <td align="right">450kB</td>
   <td><tt>eb82dcff694f7b8e6b8174148f66d115ed1dcc7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kopete-15.03.80.tar.xz">kopete-15.03.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>51aa02df85846a31a98c96a65d782bd37321a0da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kpat-15.03.80.tar.xz">kpat-15.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4989b6d0438869d91b393bc2c217008efbb5311c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kppp-15.03.80.tar.xz">kppp-15.03.80</a></td>
   <td align="right">683kB</td>
   <td><tt>da32ffb5dd687d944891462fec33fe8fcf3aa7d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kqtquickcharts-15.03.80.tar.xz">kqtquickcharts-15.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>ea3bfb45a76b56d07316bc08f89a831fa205c6f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/krdc-15.03.80.tar.xz">krdc-15.03.80</a></td>
   <td align="right">389kB</td>
   <td><tt>5d273148fc4d706e4de904dd3f09f32187540257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kremotecontrol-15.03.80.tar.xz">kremotecontrol-15.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>99e18f25ca1903128fc4e17f6946c5a9b3aff212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kreversi-15.03.80.tar.xz">kreversi-15.03.80</a></td>
   <td align="right">464kB</td>
   <td><tt>5655bcc261b236bf31734c8806d5713b6cb50d83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/krfb-15.03.80.tar.xz">krfb-15.03.80</a></td>
   <td align="right">319kB</td>
   <td><tt>cff77ae45f5c80a434bf2c9621ce7976a285e15f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kruler-15.03.80.tar.xz">kruler-15.03.80</a></td>
   <td align="right">126kB</td>
   <td><tt>5fef094c24e9d22fd718c19229126a9e18a96e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ksaneplugin-15.03.80.tar.xz">ksaneplugin-15.03.80</a></td>
   <td align="right">12kB</td>
   <td><tt>9ed0c7a2430dc31be439531eb512aa05b04a1826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kscd-15.03.80.tar.xz">kscd-15.03.80</a></td>
   <td align="right">90kB</td>
   <td><tt>4176e6f3344c8e314e07266f3b701b8c8fb1fcdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kshisen-15.03.80.tar.xz">kshisen-15.03.80</a></td>
   <td align="right">133kB</td>
   <td><tt>50cb30495d5a51648bef13cd59d8d88b176aa953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ksirk-15.03.80.tar.xz">ksirk-15.03.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>279fdd46a4e096b663f1fa5117bdd82ed173aedd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ksnakeduel-15.03.80.tar.xz">ksnakeduel-15.03.80</a></td>
   <td align="right">290kB</td>
   <td><tt>1ed2ec009018a8ffb1d401adb786975913fef18a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ksnapshot-15.03.80.tar.xz">ksnapshot-15.03.80</a></td>
   <td align="right">252kB</td>
   <td><tt>5a8d0e2e1e37cc3d09ddbed4f69da5f8e1651e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kspaceduel-15.03.80.tar.xz">kspaceduel-15.03.80</a></td>
   <td align="right">247kB</td>
   <td><tt>ba3001851d2a0de573561b088e54b63aed5dff3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ksquares-15.03.80.tar.xz">ksquares-15.03.80</a></td>
   <td align="right">78kB</td>
   <td><tt>8a3e4121a9481132066c86c549ca22f89274e546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kstars-15.03.80.tar.xz">kstars-15.03.80</a></td>
   <td align="right">12MB</td>
   <td><tt>5500774e7ba5b8f288c0d8b57dc52646975fa774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ksudoku-15.03.80.tar.xz">ksudoku-15.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6e5d4941bef790a04241323ccbc9ba2f4c53fa23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ksystemlog-15.03.80.tar.xz">ksystemlog-15.03.80</a></td>
   <td align="right">372kB</td>
   <td><tt>8609d689f9e72283dfa7ccc45b038f29f49cd4dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kteatime-15.03.80.tar.xz">kteatime-15.03.80</a></td>
   <td align="right">101kB</td>
   <td><tt>cbcc251188e9006c1136fda950a5352d4a24094b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktimer-15.03.80.tar.xz">ktimer-15.03.80</a></td>
   <td align="right">143kB</td>
   <td><tt>f6db72a6fc869263f2be4688b503480f9cf3163b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktouch-15.03.80.tar.xz">ktouch-15.03.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b52849d96a97cf41d005ac12dd875b6448dc5dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-accounts-kcm-15.03.80.tar.xz">ktp-accounts-kcm-15.03.80</a></td>
   <td align="right">86kB</td>
   <td><tt>620d74eea98df3c79f280d29ec5515860af4af09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-approver-15.03.80.tar.xz">ktp-approver-15.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>a6d04ef66c0f9e00d75bc442ed5d7af3c3488d80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-auth-handler-15.03.80.tar.xz">ktp-auth-handler-15.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>7182d8a5a42c230a77aa1b806b7b5bac4ece0f9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-common-internals-15.03.80.tar.xz">ktp-common-internals-15.03.80</a></td>
   <td align="right">305kB</td>
   <td><tt>7e2546a8c932fcaabc2ad7c10e6ddcbcf4fa54df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-contact-list-15.03.80.tar.xz">ktp-contact-list-15.03.80</a></td>
   <td align="right">47kB</td>
   <td><tt>afc950f12456ea1e27fd0adfcefa10bae2e81d2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-contact-runner-15.03.80.tar.xz">ktp-contact-runner-15.03.80</a></td>
   <td align="right">16kB</td>
   <td><tt>00866c734038d0c6b3d0bd0a9f6b92f4be1b2318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-desktop-applets-15.03.80.tar.xz">ktp-desktop-applets-15.03.80</a></td>
   <td align="right">24kB</td>
   <td><tt>a38cde2d87f75f006be6d3220c0038107192dc92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-filetransfer-handler-15.03.80.tar.xz">ktp-filetransfer-handler-15.03.80</a></td>
   <td align="right">22kB</td>
   <td><tt>99002d1bc27603b102e33b4bd9290b4705600396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-kded-module-15.03.80.tar.xz">ktp-kded-module-15.03.80</a></td>
   <td align="right">37kB</td>
   <td><tt>9de762a22802cbd4d376290c3897b2012131162a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-send-file-15.03.80.tar.xz">ktp-send-file-15.03.80</a></td>
   <td align="right">14kB</td>
   <td><tt>40641981b6ae58c3ce48a1a9958fd6082fa99598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktp-text-ui-15.03.80.tar.xz">ktp-text-ui-15.03.80</a></td>
   <td align="right">290kB</td>
   <td><tt>4d6ad79677969a713b49f8fd5dfdd69705770bd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktuberling-15.03.80.tar.xz">ktuberling-15.03.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>284d6d738bccf02d777d7b95670df445d520fcab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kturtle-15.03.80.tar.xz">kturtle-15.03.80</a></td>
   <td align="right">189kB</td>
   <td><tt>42e6711c056ebd789d46811fa9c37538876617b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/ktux-15.03.80.tar.xz">ktux-15.03.80</a></td>
   <td align="right">105kB</td>
   <td><tt>891ad9c2fe67c9400f0e99d9ea52381dad0f6290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kubrick-15.03.80.tar.xz">kubrick-15.03.80</a></td>
   <td align="right">104kB</td>
   <td><tt>09cd6cf28515664b20bab463c0d6bead6f5a3efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kuser-15.03.80.tar.xz">kuser-15.03.80</a></td>
   <td align="right">132kB</td>
   <td><tt>bf30222f2a13a9b390762c35e995e5c7b3d8f2f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kwalletmanager-15.03.80.tar.xz">kwalletmanager-15.03.80</a></td>
   <td align="right">445kB</td>
   <td><tt>906aa9847fcd351f79d5b105fe804470aed2ffde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kwordquiz-15.03.80.tar.xz">kwordquiz-15.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d86f86e0516c9261dbf65bcf6d0c013a3f80533f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkcddb-15.03.80.tar.xz">libkcddb-15.03.80</a></td>
   <td align="right">154kB</td>
   <td><tt>184f1fc0dfe9baee4390b3ee318d5f9d0907a463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkcompactdisc-15.03.80.tar.xz">libkcompactdisc-15.03.80</a></td>
   <td align="right">74kB</td>
   <td><tt>d668136bfe35441aae653f5706eb46e6c2591be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkdcraw-15.03.80.tar.xz">libkdcraw-15.03.80</a></td>
   <td align="right">99kB</td>
   <td><tt>a45487dc2a1f977e27bfdc480ccdcd3b8fcaa20e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkdeedu-15.03.80.tar.xz">libkdeedu-15.03.80</a></td>
   <td align="right">128kB</td>
   <td><tt>7135a8d29d8dd65bb3a8da83b037e00b84ccc6bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkdegames-15.03.80.tar.xz">libkdegames-15.03.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>67478ecb7a1fc41e5657d10c991f219d04408eac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkeduvocdocument-15.03.80.tar.xz">libkeduvocdocument-15.03.80</a></td>
   <td align="right">96kB</td>
   <td><tt>1b4bb37f9096789c360519df6e5ea0ceb924936c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkexiv2-15.03.80.tar.xz">libkexiv2-15.03.80</a></td>
   <td align="right">134kB</td>
   <td><tt>eef08277869737f9eb538f72822cddc16c6b893c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkface-15.03.80.tar.xz">libkface-15.03.80</a></td>
   <td align="right">8.5MB</td>
   <td><tt>dccdee1c6aa0bb2806d9460cc5142ef4f7e43dfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkgeomap-15.03.80.tar.xz">libkgeomap-15.03.80</a></td>
   <td align="right">121kB</td>
   <td><tt>e0970f9dd12c97807e99e5dd685af181dbd8fdcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkipi-15.03.80.tar.xz">libkipi-15.03.80</a></td>
   <td align="right">92kB</td>
   <td><tt>9227de6bb597095e3ea0c4c1a16150e14ec29e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkmahjongg-15.03.80.tar.xz">libkmahjongg-15.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>45769e604fd384ef3999e7a7e3d431218dd4e392</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libkomparediff2-15.03.80.tar.xz">libkomparediff2-15.03.80</a></td>
   <td align="right">55kB</td>
   <td><tt>eb8744f8ffac7cf715e53d75b617e0cd461258d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/libksane-15.03.80.tar.xz">libksane-15.03.80</a></td>
   <td align="right">79kB</td>
   <td><tt>55bd993d01e8e4703104f32376e8ad92638dd833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/lokalize-15.03.80.tar.xz">lokalize-15.03.80</a></td>
   <td align="right">929kB</td>
   <td><tt>69ca55a94a89ac15a9fd55a0e80cf092a86d3c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/lskat-15.03.80.tar.xz">lskat-15.03.80</a></td>
   <td align="right">907kB</td>
   <td><tt>a115689a352d2f621278e3809ecda20e14668d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/marble-15.03.80.tar.xz">marble-15.03.80</a></td>
   <td align="right">21MB</td>
   <td><tt>bdaad04a56d17c126c14b690034e90534647a9dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/mplayerthumbs-15.03.80.tar.xz">mplayerthumbs-15.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>7c606173f5268dc93dd92c8d9e0bdf24335629ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/okteta-15.03.80.tar.xz">okteta-15.03.80</a></td>
   <td align="right">491kB</td>
   <td><tt>e180106986cc8da6dd29d6de993da1ddcadc119a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/okular-15.03.80.tar.xz">okular-15.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>0a227550c0d34525448668376e196d0903d62381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/oxygen-icons-15.03.80.tar.xz">oxygen-icons-15.03.80</a></td>
   <td align="right">219MB</td>
   <td><tt>f27ed7d3657a960c715cde452318e083137395eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/pairs-15.03.80.tar.xz">pairs-15.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4cf91fcb5882e37c39b1f72505a7a050aa39184f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/palapeli-15.03.80.tar.xz">palapeli-15.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>13fcbe6cff75780ab836cf8253424330808a7813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/parley-15.03.80.tar.xz">parley-15.03.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d57d1dc95d51fb98556e8a6d4eed5199e123fca7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/picmi-15.03.80.tar.xz">picmi-15.03.80</a></td>
   <td align="right">714kB</td>
   <td><tt>62d82232a90a74596f232a9e720193994680abbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/poxml-15.03.80.tar.xz">poxml-15.03.80</a></td>
   <td align="right">30kB</td>
   <td><tt>757666d1ca981393425d4a54613afa1360f8d9a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/print-manager-15.03.80.tar.xz">print-manager-15.03.80</a></td>
   <td align="right">90kB</td>
   <td><tt>7f12562c5d299f0735ee09606be0e49c28f7b783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/rocs-15.03.80.tar.xz">rocs-15.03.80</a></td>
   <td align="right">864kB</td>
   <td><tt>a09c6ec3e4b5758e4839c9b4cb1677abe851240c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/signon-kwallet-extension-15.03.80.tar.xz">signon-kwallet-extension-15.03.80</a></td>
   <td align="right">10kB</td>
   <td><tt>ecfe81dfdb042901ec6e0c9ecc5e920465f071d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/step-15.03.80.tar.xz">step-15.03.80</a></td>
   <td align="right">376kB</td>
   <td><tt>a9a45d46da43475c7100cca655844345e419dc5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/superkaramba-15.03.80.tar.xz">superkaramba-15.03.80</a></td>
   <td align="right">372kB</td>
   <td><tt>c3a66c64ad64a2147ee31437bc59bd9cbab290ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/svgpart-15.03.80.tar.xz">svgpart-15.03.80</a></td>
   <td align="right">8kB</td>
   <td><tt>acae602c545e7b63aa71d3b9afaeb63ba11fad84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/sweeper-15.03.80.tar.xz">sweeper-15.03.80</a></td>
   <td align="right">80kB</td>
   <td><tt>336e47e314e85dd29d83a3fe291464623364189f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/umbrello-15.03.80.tar.xz">umbrello-15.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d4441ac15744f1d9d8b4eb744bc9b3ad6f253b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/zeroconf-ioslave-15.03.80.tar.xz">zeroconf-ioslave-15.03.80</a></td>
   <td align="right">25kB</td>
   <td><tt>1b0c28e404fffbcc4350550975fda14d57ec7e55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-ar-15.03.80.tar.xz">kde-l10n-ar-15.03.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>5966bb556df010bc5b4c946c94d559ebe5e262bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-bg-15.03.80.tar.xz">kde-l10n-bg-15.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3f90ad4d3d1215d3b6aadf8f563d9f3ae77e3b16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-bs-15.03.80.tar.xz">kde-l10n-bs-15.03.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8e35ae7cd9e66df6c666455da9b3118b8436749d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-ca-15.03.80.tar.xz">kde-l10n-ca-15.03.80</a></td>
   <td align="right">11MB</td>
   <td><tt>184225d72af850c8d6b8ea84a4d84413444dc2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-ca@valencia-15.03.80.tar.xz">kde-l10n-ca@valencia-15.03.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>82587de450564e7b2bff6e62c84a2a56f366206f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-cs-15.03.80.tar.xz">kde-l10n-cs-15.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5f7954dc085e59616341cb29fc68e233be74c1ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-da-15.03.80.tar.xz">kde-l10n-da-15.03.80</a></td>
   <td align="right">12MB</td>
   <td><tt>70df0ec414eb34d47484ba8235372cb0600ab3c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-de-15.03.80.tar.xz">kde-l10n-de-15.03.80</a></td>
   <td align="right">35MB</td>
   <td><tt>518b4c296fdda16993b376744d2fbcf6c5b48ef6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-el-15.03.80.tar.xz">kde-l10n-el-15.03.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>ae680b077ea1649401925344cb0c02da428f910b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-en_GB-15.03.80.tar.xz">kde-l10n-en_GB-15.03.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>803b6de66adf3369378e3f158b43a052d75d244f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-es-15.03.80.tar.xz">kde-l10n-es-15.03.80</a></td>
   <td align="right">20MB</td>
   <td><tt>bd778c963b7b7e438bd3e45dec08147fb0b9b238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-et-15.03.80.tar.xz">kde-l10n-et-15.03.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>02e196eb2ac8aba1c0cdc4ad202adc6698ee4a04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-eu-15.03.80.tar.xz">kde-l10n-eu-15.03.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>9260ade9154865fa7dd4250c0b3f0d81c83bf9a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-fa-15.03.80.tar.xz">kde-l10n-fa-15.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ec409124b1870912b6138b73603f805d83a63086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-fi-15.03.80.tar.xz">kde-l10n-fi-15.03.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c23da5e25cd09541ab421d440939426309b121b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-fr-15.03.80.tar.xz">kde-l10n-fr-15.03.80</a></td>
   <td align="right">45MB</td>
   <td><tt>fb55dfb26ff0f318cbfbe5b03244ef8e50b48f4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-ga-15.03.80.tar.xz">kde-l10n-ga-15.03.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>38cad834ee0e2f690615d55f78a6defa0d8e82d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-gl-15.03.80.tar.xz">kde-l10n-gl-15.03.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>ff638185e23cbc428063f95b60db8f5a58edb7c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-he-15.03.80.tar.xz">kde-l10n-he-15.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>fff8c1ed9029c74dc3e43f500ec5c8935687f096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-hi-15.03.80.tar.xz">kde-l10n-hi-15.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>3f2f1ea0c9f05476b971165fe0a8a111237edc35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-hr-15.03.80.tar.xz">kde-l10n-hr-15.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1ef1358380cce420beaed7f1bde91e758b70f7bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-hu-15.03.80.tar.xz">kde-l10n-hu-15.03.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>7af9beb235de4d474da0559be7484bddd89a9634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-ia-15.03.80.tar.xz">kde-l10n-ia-15.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7f2c46d2b2c85dfa1ed56e0fc4962e8e3000119c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-id-15.03.80.tar.xz">kde-l10n-id-15.03.80</a></td>
   <td align="right">551kB</td>
   <td><tt>b8ad3001ed2322d427cc3cf8f0da2f3492afe1c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-is-15.03.80.tar.xz">kde-l10n-is-15.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>40a2486e4a213d8400eb1069df4d04bc8c1dd33e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-it-15.03.80.tar.xz">kde-l10n-it-15.03.80</a></td>
   <td align="right">8.5MB</td>
   <td><tt>c97d0d16f54bc828c71662809f74e626e3d6ab3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-ja-15.03.80.tar.xz">kde-l10n-ja-15.03.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>6fcf1ebfaec706e7b92b4b10d807ebda617041c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-kk-15.03.80.tar.xz">kde-l10n-kk-15.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b1b335ddc3948f615de17e3a1e5fd342e3cbbead</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-km-15.03.80.tar.xz">kde-l10n-km-15.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c921262b330488d7b7bfd425fb13d83b297dc7ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-ko-15.03.80.tar.xz">kde-l10n-ko-15.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f2cec2264ef6eb2495b1a2a6a9932b81bfe6f1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-lt-15.03.80.tar.xz">kde-l10n-lt-15.03.80</a></td>
   <td align="right">12MB</td>
   <td><tt>0db02c35ffae9b9f6b0a3a4ce87ff8272c8bb5cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-lv-15.03.80.tar.xz">kde-l10n-lv-15.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>eefefbc77b622ecf8a347f210ddf283a9d5dbff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-mr-15.03.80.tar.xz">kde-l10n-mr-15.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>99eb311a9e406fecff58d1fad508ec025ba748bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-nb-15.03.80.tar.xz">kde-l10n-nb-15.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3780dd9b5b827c45c091850140ae541b519282c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-nds-15.03.80.tar.xz">kde-l10n-nds-15.03.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>dc78c6f71744c9c94119a9f43ed9021bd3fc5e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-nl-15.03.80.tar.xz">kde-l10n-nl-15.03.80</a></td>
   <td align="right">13MB</td>
   <td><tt>47ed78a49015833d5e00c8dcc507e3b0a71651de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-nn-15.03.80.tar.xz">kde-l10n-nn-15.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bb0df1081b1d6c1ecc0a8809fa14fed00a4b04a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-pa-15.03.80.tar.xz">kde-l10n-pa-15.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>79656affa26418e219c43bb83d9ecb04b3a2e713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-pl-15.03.80.tar.xz">kde-l10n-pl-15.03.80</a></td>
   <td align="right">18MB</td>
   <td><tt>97e590c503de2c0939db6b86b986a85ca4b3a0c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-pt-15.03.80.tar.xz">kde-l10n-pt-15.03.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>c2a0da048ed6585a698d270cdb0b0eaf47d7a2f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-pt_BR-15.03.80.tar.xz">kde-l10n-pt_BR-15.03.80</a></td>
   <td align="right">24MB</td>
   <td><tt>be28d8afbe4028401cf7535afc5e7c9a31c46d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-ro-15.03.80.tar.xz">kde-l10n-ro-15.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>82c594b462673c5af784ffd08b76cb7c2d79d9c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-ru-15.03.80.tar.xz">kde-l10n-ru-15.03.80</a></td>
   <td align="right">22MB</td>
   <td><tt>6f3af70effa59ad2264fddd72af04c9fd3b1682d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-sk-15.03.80.tar.xz">kde-l10n-sk-15.03.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>2b15d830d68e726ee14126973c10f1010909d1c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-sl-15.03.80.tar.xz">kde-l10n-sl-15.03.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>401f9292c557cf7061256be225b00cb256ca3cb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-sr-15.03.80.tar.xz">kde-l10n-sr-15.03.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>1c83fc44148caf0085db4eb8a8779f19b5b18f3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-sv-15.03.80.tar.xz">kde-l10n-sv-15.03.80</a></td>
   <td align="right">14MB</td>
   <td><tt>26d1f1d84dd63797df84ab8a7f0a17041082a2df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-tr-15.03.80.tar.xz">kde-l10n-tr-15.03.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>23eeec86f1d4627274cfbe89dc1df33a5fba6ec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-ug-15.03.80.tar.xz">kde-l10n-ug-15.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f8d2915ef371e0f1cbc762fbb84b3810cf949365</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-uk-15.03.80.tar.xz">kde-l10n-uk-15.03.80</a></td>
   <td align="right">26MB</td>
   <td><tt>b5a570b095e1899cea00369bc435498e1800e6b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-wa-15.03.80.tar.xz">kde-l10n-wa-15.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>54465813dc75cb5f691b75bc0c3b8eb8f4f459e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-zh_CN-15.03.80.tar.xz">kde-l10n-zh_CN-15.03.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>2c7e7d94b6638cc897c67e30f6f735adc6f09507</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.80/src/kde-l10n/kde-l10n-zh_TW-15.03.80.tar.xz">kde-l10n-zh_TW-15.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fe2a9b253ac7a2018cfd0a5ffd7519fa1ffbceac</tt></td>
</tr>

</table>
