<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/akonadi-17.04.2.tar.xz">akonadi-17.04.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8e93fbed183a72a8538a82972c0572013d611167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/akonadi-calendar-17.04.2.tar.xz">akonadi-calendar-17.04.2</a></td>
   <td align="right">273kB</td>
   <td><tt>b95b98594965cc979e67af6c518c994c06de6667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/akonadi-calendar-tools-17.04.2.tar.xz">akonadi-calendar-tools-17.04.2</a></td>
   <td align="right">216kB</td>
   <td><tt>547ea78a927c851edb5f1f84f6c35c5bbcee3dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/akonadiconsole-17.04.2.tar.xz">akonadiconsole-17.04.2</a></td>
   <td align="right">181kB</td>
   <td><tt>7f18d9ad80ac7c1b84b9332658d6ae3a5e6495e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/akonadi-contacts-17.04.2.tar.xz">akonadi-contacts-17.04.2</a></td>
   <td align="right">339kB</td>
   <td><tt>a20784b80066008c706cc4a8edc8ec1248e6c132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/akonadi-import-wizard-17.04.2.tar.xz">akonadi-import-wizard-17.04.2</a></td>
   <td align="right">422kB</td>
   <td><tt>a0937d5cfcc6e9529f490c2dde9399319ebea348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/akonadi-mime-17.04.2.tar.xz">akonadi-mime-17.04.2</a></td>
   <td align="right">127kB</td>
   <td><tt>7739b1014ea8ff143ff4d7b5786b0ec4a7f7fda4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/akonadi-notes-17.04.2.tar.xz">akonadi-notes-17.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>fb1446e77d42b37dbdc346a04c06b1eaa3d89711</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/akonadi-search-17.04.2.tar.xz">akonadi-search-17.04.2</a></td>
   <td align="right">78kB</td>
   <td><tt>04798761ebec7d1a61ee407d6d3c0916eba88bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/akregator-17.04.2.tar.xz">akregator-17.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>57b3d478d215c0cf352c304e88b5e0da40680866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/analitza-17.04.2.tar.xz">analitza-17.04.2</a></td>
   <td align="right">320kB</td>
   <td><tt>763b8bf6cde5c741bc22486b0d5e25e5176be844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ark-17.04.2.tar.xz">ark-17.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b906cf5a4bbc1432db3012a4a1b59b6ee05d9f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/artikulate-17.04.2.tar.xz">artikulate-17.04.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>4935e1501d6d47a42d3f906fd673944626131020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/audiocd-kio-17.04.2.tar.xz">audiocd-kio-17.04.2</a></td>
   <td align="right">242kB</td>
   <td><tt>6be0d88088267690755a44d153265776458f2e07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/baloo-widgets-17.04.2.tar.xz">baloo-widgets-17.04.2</a></td>
   <td align="right">146kB</td>
   <td><tt>55f6c26fdf3bdd6d1deef58164bae1dbf4e35c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/blinken-17.04.2.tar.xz">blinken-17.04.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>554422040aefddca47b9f08461f2ab733885834f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/blogilo-17.04.2.tar.xz">blogilo-17.04.2</a></td>
   <td align="right">784kB</td>
   <td><tt>6708eb71bbb4fb3b7a74fcbe0424a5d0710f653a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/bomber-17.04.2.tar.xz">bomber-17.04.2</a></td>
   <td align="right">736kB</td>
   <td><tt>2c06ddf66f0935b5e2204cabf2a7fafa1998730e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/bovo-17.04.2.tar.xz">bovo-17.04.2</a></td>
   <td align="right">181kB</td>
   <td><tt>aefcd714b7d957d811a558b7c4cc43755205b26b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/calendarsupport-17.04.2.tar.xz">calendarsupport-17.04.2</a></td>
   <td align="right">652kB</td>
   <td><tt>d5bab3c6f2a0a91659b680aec4eb407f95629ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/cantor-17.04.2.tar.xz">cantor-17.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>74534582d225a48c27f6948aa6607b11e8c982a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/cervisia-17.04.2.tar.xz">cervisia-17.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a9bf450c044175911e4251491fb4da45a4ecb10e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/dolphin-17.04.2.tar.xz">dolphin-17.04.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>6e7cc3e3293df708a9fd19811f360f0260b041b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/dolphin-plugins-17.04.2.tar.xz">dolphin-plugins-17.04.2</a></td>
   <td align="right">182kB</td>
   <td><tt>825be98fe5564448e4f4624d6ebc632dc0e69949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/dragon-17.04.2.tar.xz">dragon-17.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>50479795c890b1bc101911a9b26d85824716d560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/eventviews-17.04.2.tar.xz">eventviews-17.04.2</a></td>
   <td align="right">425kB</td>
   <td><tt>7aea334bee5385683bf3456918e68de2f19cdbdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ffmpegthumbs-17.04.2.tar.xz">ffmpegthumbs-17.04.2</a></td>
   <td align="right">20kB</td>
   <td><tt>f738058b180cc3e7da13c4a8f81be01432ead8c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/filelight-17.04.2.tar.xz">filelight-17.04.2</a></td>
   <td align="right">637kB</td>
   <td><tt>a28bd879633203f62468dca4443a3a207ed78910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/granatier-17.04.2.tar.xz">granatier-17.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>34cceb2521cc367f213334496a9b8456caf0652c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/grantlee-editor-17.04.2.tar.xz">grantlee-editor-17.04.2</a></td>
   <td align="right">108kB</td>
   <td><tt>3e4a0b3c607f45d736aee580063ea200cb71ede0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/grantleetheme-17.04.2.tar.xz">grantleetheme-17.04.2</a></td>
   <td align="right">49kB</td>
   <td><tt>9ac2aeb8b4a644bb7cf27e399edbd2073a15653e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/gwenview-17.04.2.tar.xz">gwenview-17.04.2</a></td>
   <td align="right">5.6MB</td>
   <td><tt>38a867a3f93abd8fc8fad39cd5276b064fde2691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/incidenceeditor-17.04.2.tar.xz">incidenceeditor-17.04.2</a></td>
   <td align="right">509kB</td>
   <td><tt>a3867469294f06cc94c9d5df859eaa2188b424ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/jovie-17.04.2.tar.xz">jovie-17.04.2</a></td>
   <td align="right">385kB</td>
   <td><tt>860230d60bc685f7a402e91009922d9992ee0c4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/juk-17.04.2.tar.xz">juk-17.04.2</a></td>
   <td align="right">435kB</td>
   <td><tt>10965ecba5be119a914a7fbdea0c1346840637c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/k3b-17.04.2.tar.xz">k3b-17.04.2</a></td>
   <td align="right">10MB</td>
   <td><tt>6ebbde2badc55445da527684a9033bebe0385e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kaccessible-17.04.2.tar.xz">kaccessible-17.04.2</a></td>
   <td align="right">19kB</td>
   <td><tt>39a4c0f61bad9e395a99317e238d7df61726881d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kaccounts-integration-17.04.2.tar.xz">kaccounts-integration-17.04.2</a></td>
   <td align="right">66kB</td>
   <td><tt>30c41e5d76c6340576286dc2faaecfa2489f29b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kaccounts-providers-17.04.2.tar.xz">kaccounts-providers-17.04.2</a></td>
   <td align="right">30kB</td>
   <td><tt>1e585c6b96c3553235adc60257040453b601f863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kaddressbook-17.04.2.tar.xz">kaddressbook-17.04.2</a></td>
   <td align="right">546kB</td>
   <td><tt>4a609e8235cb00e97ac3169599eaeb53551e213b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kajongg-17.04.2.tar.xz">kajongg-17.04.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>61ad2f9cbb594e27acca61e21b366e985e48939e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kalarm-17.04.2.tar.xz">kalarm-17.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2fb562c75f6dd6426e4f83789a2ec80d0d8f0344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kalarmcal-17.04.2.tar.xz">kalarmcal-17.04.2</a></td>
   <td align="right">490kB</td>
   <td><tt>a85d0fc6cb7d818478e6a72f3ae32a8af76614d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kalgebra-17.04.2.tar.xz">kalgebra-17.04.2</a></td>
   <td align="right">673kB</td>
   <td><tt>9aae9f3b8f6380b0702250ca58833b5cfbd69114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kalzium-17.04.2.tar.xz">kalzium-17.04.2</a></td>
   <td align="right">23MB</td>
   <td><tt>a60bc8fc11de04e18bc1924cbf34de4660adac10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kamera-17.04.2.tar.xz">kamera-17.04.2</a></td>
   <td align="right">94kB</td>
   <td><tt>37f22e8ae6c107c28b27022a7679ccf8f80c5c87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kanagram-17.04.2.tar.xz">kanagram-17.04.2</a></td>
   <td align="right">7.2MB</td>
   <td><tt>3aa950504444c06857cfa2ed2df145564c6146d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kapman-17.04.2.tar.xz">kapman-17.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2db249aca06114a6ff5713bafaf47d5d55937040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kapptemplate-17.04.2.tar.xz">kapptemplate-17.04.2</a></td>
   <td align="right">480kB</td>
   <td><tt>b97717eeece1f27edea181f82546569832798d30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kate-17.04.2.tar.xz">kate-17.04.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>e4a79ab7aeec2b83404cea74c6f1d7f8d4807935</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/katomic-17.04.2.tar.xz">katomic-17.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0ab2a543be846be06c72aa6f371a715b8aa26c38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kblackbox-17.04.2.tar.xz">kblackbox-17.04.2</a></td>
   <td align="right">391kB</td>
   <td><tt>9ef800546217635e19ba64bd4cb182906845be44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kblocks-17.04.2.tar.xz">kblocks-17.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e218c823c179cf9a8ed1e00e7f3fcf4a82af624f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kblog-17.04.2.tar.xz">kblog-17.04.2</a></td>
   <td align="right">70kB</td>
   <td><tt>98634f680d9d3dc4e56add29ff268ff4049af662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kbounce-17.04.2.tar.xz">kbounce-17.04.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>18ff49c494a22b39d9fffc66a3f2ec13bd7e559a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kbreakout-17.04.2.tar.xz">kbreakout-17.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d9664872ff58f28c5572861bf2a95c0465cdcea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kbruch-17.04.2.tar.xz">kbruch-17.04.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>d5b74c81eb3b16dd1ba26ceea79fd16a06b5428b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kcachegrind-17.04.2.tar.xz">kcachegrind-17.04.2</a></td>
   <td align="right">784kB</td>
   <td><tt>2c01941a7c30835a12e02d262b3bf42f1706c833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kcalc-17.04.2.tar.xz">kcalc-17.04.2</a></td>
   <td align="right">351kB</td>
   <td><tt>61a3ce2f7fc098f38bae1054dbcd300d8e391460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kcalcore-17.04.2.tar.xz">kcalcore-17.04.2</a></td>
   <td align="right">289kB</td>
   <td><tt>ae706337cdcd093aff64284852574c5661e77739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kcalutils-17.04.2.tar.xz">kcalutils-17.04.2</a></td>
   <td align="right">318kB</td>
   <td><tt>a720bdfddc898c830639413f2a813b1c96475589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kcharselect-17.04.2.tar.xz">kcharselect-17.04.2</a></td>
   <td align="right">341kB</td>
   <td><tt>405e1030c6cff21cf57e4266c389130cdfe1ce67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kcolorchooser-17.04.2.tar.xz">kcolorchooser-17.04.2</a></td>
   <td align="right">15kB</td>
   <td><tt>fb33149c32d963544f129f588d498f9d6cf28d86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kcontacts-17.04.2.tar.xz">kcontacts-17.04.2</a></td>
   <td align="right">202kB</td>
   <td><tt>535944629081d5345551a80004e1931fe50d4cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kcron-17.04.2.tar.xz">kcron-17.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>be49fefb2c16a237a7ad6a436336f494c4086434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdav-17.04.2.tar.xz">kdav-17.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>1dbe7960484dd898abcb0a5688c631c36a7683ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdebugsettings-17.04.2.tar.xz">kdebugsettings-17.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>0bcbbcafc4bb7a633375eb3673266a647b91d401</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-dev-scripts-17.04.2.tar.xz">kde-dev-scripts-17.04.2</a></td>
   <td align="right">307kB</td>
   <td><tt>70d8006729060916c41cbc8bd0cbf54930df99cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-dev-utils-17.04.2.tar.xz">kde-dev-utils-17.04.2</a></td>
   <td align="right">51kB</td>
   <td><tt>ce321c9171b9197b007277cf54c10ba85d908d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdeedu-data-17.04.2.tar.xz">kdeedu-data-17.04.2</a></td>
   <td align="right">779kB</td>
   <td><tt>e57833d53044507bbb689f3f31f931e6703f75d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdegraphics-mobipocket-17.04.2.tar.xz">kdegraphics-mobipocket-17.04.2</a></td>
   <td align="right">13kB</td>
   <td><tt>c9d1e129bd1d0829657d0f679d712dfa8867e2d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdegraphics-thumbnailers-17.04.2.tar.xz">kdegraphics-thumbnailers-17.04.2</a></td>
   <td align="right">40kB</td>
   <td><tt>d94df675c92931c4e03bf019818a14aac20406c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdelibs-4.14.33.tar.xz">kdelibs-4.14.33</a></td>
   <td align="right">11MB</td>
   <td><tt>3de60f18c07cd0962be51f8027fb70dc4a64f87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdenetwork-filesharing-17.04.2.tar.xz">kdenetwork-filesharing-17.04.2</a></td>
   <td align="right">327kB</td>
   <td><tt>a8039f108d84630d7f4f8c57a6a575a374f881f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdenlive-17.04.2.tar.xz">kdenlive-17.04.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>1633865f6dba12ebd2012aef91d3d5ad7c4ff798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdepim-addons-17.04.2.tar.xz">kdepim-addons-17.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>43d8c19941ae6ba665f8d73f374ffd62a0450f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdepim-apps-libs-17.04.2.tar.xz">kdepim-apps-libs-17.04.2</a></td>
   <td align="right">70kB</td>
   <td><tt>93fce66766069215b26593413ed5e4c981fcb580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdepim-runtime-17.04.2.tar.xz">kdepim-runtime-17.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9e66c76aa87c5526dc6c2b2aa20b194a4b7f7ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-runtime-17.04.2.tar.xz">kde-runtime-17.04.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>b67c8a1b98e10ce9bb6b1e92a52bb03b8d84e0b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdesdk-kioslaves-17.04.2.tar.xz">kdesdk-kioslaves-17.04.2</a></td>
   <td align="right">39kB</td>
   <td><tt>5fb15297c6dc98a42abb4d2278605efc0eea72b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdesdk-thumbnailers-17.04.2.tar.xz">kdesdk-thumbnailers-17.04.2</a></td>
   <td align="right">16kB</td>
   <td><tt>cff348d777ad32889c9c808a77fb3a7be2351796</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdf-17.04.2.tar.xz">kdf-17.04.2</a></td>
   <td align="right">517kB</td>
   <td><tt>3591110e6baf018d9f879a941d56e7ea3b065ad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdialog-17.04.2.tar.xz">kdialog-17.04.2</a></td>
   <td align="right">90kB</td>
   <td><tt>0d9ffe7307f6ea50b7adf2394f3b53db25c414f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kdiamond-17.04.2.tar.xz">kdiamond-17.04.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>52cebd06ca044ea41630e6dea7e24b373e4ea3c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/keditbookmarks-17.04.2.tar.xz">keditbookmarks-17.04.2</a></td>
   <td align="right">177kB</td>
   <td><tt>951935e3316daf4e3011c0f9396d715f047bc53b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kfilereplace-17.04.2.tar.xz">kfilereplace-17.04.2</a></td>
   <td align="right">745kB</td>
   <td><tt>51647ea7c207431749f6686f4b94d4baf2bd6de3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kfind-17.04.2.tar.xz">kfind-17.04.2</a></td>
   <td align="right">204kB</td>
   <td><tt>f2f3b790221f7dca33736f86aa5f404ae9426cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kfloppy-17.04.2.tar.xz">kfloppy-17.04.2</a></td>
   <td align="right">193kB</td>
   <td><tt>c3ba7e90fe2a4dd36229d2bb2fcf5a31866d73b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kfourinline-17.04.2.tar.xz">kfourinline-17.04.2</a></td>
   <td align="right">559kB</td>
   <td><tt>a53996d7e011ffdd93f1bc3c9eaec4cf380883ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kgeography-17.04.2.tar.xz">kgeography-17.04.2</a></td>
   <td align="right">10MB</td>
   <td><tt>197be31c93bd5ddfffdeca27a92d843cc13d018f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kget-17.04.2.tar.xz">kget-17.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b2767521b473f03f5732edcd326f7bac6650c7b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kgoldrunner-17.04.2.tar.xz">kgoldrunner-17.04.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>38dfd606cd0820ccf210948ef7fc798168b6704c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kgpg-17.04.2.tar.xz">kgpg-17.04.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>be665201a8f48693466ecff61ae10fc9eeca4398</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/khangman-17.04.2.tar.xz">khangman-17.04.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>f35fea44b9d7c35dc8fac3a51f2588c4fcb16af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/khelpcenter-17.04.2.tar.xz">khelpcenter-17.04.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>233d71f0c669eeb51e29081c70225ecef5324a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kholidays-17.04.2.tar.xz">kholidays-17.04.2</a></td>
   <td align="right">196kB</td>
   <td><tt>ca9beb487660e7857ec20303b738ccc9edc21e7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kidentitymanagement-17.04.2.tar.xz">kidentitymanagement-17.04.2</a></td>
   <td align="right">144kB</td>
   <td><tt>a4299ba1c20a14352655c0f623494421c85fa8e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kig-17.04.2.tar.xz">kig-17.04.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>20c51d80043c241bec66964a643035526f14ead1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kigo-17.04.2.tar.xz">kigo-17.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>53cffaee8bcc79b091b4f7a4eaf7169aa547be19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/killbots-17.04.2.tar.xz">killbots-17.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>57af6ff4dd748cb60b37bc2ecdf520981a426f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kimagemapeditor-17.04.2.tar.xz">kimagemapeditor-17.04.2</a></td>
   <td align="right">397kB</td>
   <td><tt>5302041cce336e18aba6fee651263a24cfdad641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kimap-17.04.2.tar.xz">kimap-17.04.2</a></td>
   <td align="right">116kB</td>
   <td><tt>00e1f11497155c7e6f6ef3634b0ebc47c2c49f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kio-extras-17.04.2.tar.xz">kio-extras-17.04.2</a></td>
   <td align="right">539kB</td>
   <td><tt>3b29d157f97369e407fd5606d68f82fea441e9d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kiriki-17.04.2.tar.xz">kiriki-17.04.2</a></td>
   <td align="right">317kB</td>
   <td><tt>312943fc7c4685f0c5c4eda4dc8f5c091b281ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kiten-17.04.2.tar.xz">kiten-17.04.2</a></td>
   <td align="right">11MB</td>
   <td><tt>9318c3ea3be35872b54275676eaa5da0b3c9b2ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kjumpingcube-17.04.2.tar.xz">kjumpingcube-17.04.2</a></td>
   <td align="right">285kB</td>
   <td><tt>e3112bfde0af050f02a3315c50d945f047f4d617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kldap-17.04.2.tar.xz">kldap-17.04.2</a></td>
   <td align="right">150kB</td>
   <td><tt>3d5cda2deb96f3c1f75b776540df1e61f9280c43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kleopatra-17.04.2.tar.xz">kleopatra-17.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>719f4eb42e5c532cffc9248227dfcedc2fc6730b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/klettres-17.04.2.tar.xz">klettres-17.04.2</a></td>
   <td align="right">20MB</td>
   <td><tt>86c2afb73ad72155bf73e036872b5c75ab71b8c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/klickety-17.04.2.tar.xz">klickety-17.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2ac66ef1301b3dcae399f87ba94268933d0fda0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/klines-17.04.2.tar.xz">klines-17.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e8659a698d0dbc2ed0108f7f0b77cc88993954e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/klinkstatus-17.04.2.tar.xz">klinkstatus-17.04.2</a></td>
   <td align="right">439kB</td>
   <td><tt>5fe784eeee6daecea19f26a1b53a9849f99cc599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmag-17.04.2.tar.xz">kmag-17.04.2</a></td>
   <td align="right">84kB</td>
   <td><tt>0ffdfd4ffe54964a08d9fce8010b77f67723e668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmahjongg-17.04.2.tar.xz">kmahjongg-17.04.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>96529244ae747410c2da64a6451a5b103459eb2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmail-17.04.2.tar.xz">kmail-17.04.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>65ed51545b0764e9942dfa043c686da7fb543ae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmail-account-wizard-17.04.2.tar.xz">kmail-account-wizard-17.04.2</a></td>
   <td align="right">145kB</td>
   <td><tt>0e43baa242387a50b735298f2a8df6a49b3a5380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmailtransport-17.04.2.tar.xz">kmailtransport-17.04.2</a></td>
   <td align="right">221kB</td>
   <td><tt>a69503113ce3ed8140b485cf85744d3984465b5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmbox-17.04.2.tar.xz">kmbox-17.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>1023c12484f4620814e4b5177d35999008690f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmime-17.04.2.tar.xz">kmime-17.04.2</a></td>
   <td align="right">141kB</td>
   <td><tt>7feee6b0283ddfa53683429c97aacce76507e09d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmines-17.04.2.tar.xz">kmines-17.04.2</a></td>
   <td align="right">862kB</td>
   <td><tt>afd8534f4ceebc21c6072447ea52663f31935b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmix-17.04.2.tar.xz">kmix-17.04.2</a></td>
   <td align="right">379kB</td>
   <td><tt>650f79d0d7dabf524affca5caefecb51fe0432d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmousetool-17.04.2.tar.xz">kmousetool-17.04.2</a></td>
   <td align="right">35kB</td>
   <td><tt>7201cc7f187a9b03e4006687ed4247c7441b539f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmouth-17.04.2.tar.xz">kmouth-17.04.2</a></td>
   <td align="right">271kB</td>
   <td><tt>d879433545f98d38a9e943d5cddd0e39cd6db6b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kmplot-17.04.2.tar.xz">kmplot-17.04.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>1d9d19d0ae2fa1d0f85a5aff724122fb0aa6f85f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/knavalbattle-17.04.2.tar.xz">knavalbattle-17.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7242b3a3e3bd5c9cd144b3e514e982e6baac06fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/knetwalk-17.04.2.tar.xz">knetwalk-17.04.2</a></td>
   <td align="right">958kB</td>
   <td><tt>7e779d7b94cfb0f0425e3f6c40d68f5725323a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/knotes-17.04.2.tar.xz">knotes-17.04.2</a></td>
   <td align="right">325kB</td>
   <td><tt>53351a28f5b9fc0bdcf80c8fbd7c28011609d8f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kolf-17.04.2.tar.xz">kolf-17.04.2</a></td>
   <td align="right">749kB</td>
   <td><tt>425e0aac9e004bc835723d1fe44863f64d49a13a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kollision-17.04.2.tar.xz">kollision-17.04.2</a></td>
   <td align="right">265kB</td>
   <td><tt>58744f3faf9323b6ff7548e4a2d68d516541c16d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kolourpaint-17.04.2.tar.xz">kolourpaint-17.04.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>9ce21bd9d24e5b7887b17dddcb323daa079d422e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kompare-17.04.2.tar.xz">kompare-17.04.2</a></td>
   <td align="right">690kB</td>
   <td><tt>0719f6d2c49c4fb1a6fdb69b056a0b8c6010ab5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/konqueror-17.04.2.tar.xz">konqueror-17.04.2</a></td>
   <td align="right">7.4MB</td>
   <td><tt>1a8adb6a314a7afc560dcd978d4728804fc658a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/konquest-17.04.2.tar.xz">konquest-17.04.2</a></td>
   <td align="right">396kB</td>
   <td><tt>ca94a4a6f8522ee5044d9626cbf4ddd4b6b93bc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/konsole-17.04.2.tar.xz">konsole-17.04.2</a></td>
   <td align="right">984kB</td>
   <td><tt>5ed072c8edfd947f735f6a1db6d534916ccca942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kontact-17.04.2.tar.xz">kontact-17.04.2</a></td>
   <td align="right">842kB</td>
   <td><tt>46c69b2bc42f10960386c4fcc43c3fff19a72a82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kontactinterface-17.04.2.tar.xz">kontactinterface-17.04.2</a></td>
   <td align="right">31kB</td>
   <td><tt>f1563d1d2cfdc11f7ffeef78b6ac9fb9166dc59e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kopete-17.04.2.tar.xz">kopete-17.04.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>e192a2bc0954c25fa52ad0b8e01d0248ed92d415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/korganizer-17.04.2.tar.xz">korganizer-17.04.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>25978cf554cbff4cb8dca4d09780ec96847676fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kpat-17.04.2.tar.xz">kpat-17.04.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>bfe2cc5d7a521299619ca627693260e22625f15b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kpimtextedit-17.04.2.tar.xz">kpimtextedit-17.04.2</a></td>
   <td align="right">135kB</td>
   <td><tt>4e0b86caf8acf7a39e753c45e40be270f70e5e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kppp-17.04.2.tar.xz">kppp-17.04.2</a></td>
   <td align="right">684kB</td>
   <td><tt>75113e18873999a5a55ba72ed623112ae99fb742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kqtquickcharts-17.04.2.tar.xz">kqtquickcharts-17.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>6f2e5ed5c003aa6021fd138a03a739ad7faf9083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/krdc-17.04.2.tar.xz">krdc-17.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7d8c9215baf118a8567cd46ea4533a7dab8ed3cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kremotecontrol-17.04.2.tar.xz">kremotecontrol-17.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ebb15403cd88962ee2b6a66d0cbd4430826366d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kreversi-17.04.2.tar.xz">kreversi-17.04.2</a></td>
   <td align="right">464kB</td>
   <td><tt>8e9199fac77f974230d19aa7280458676eb2ca70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/krfb-17.04.2.tar.xz">krfb-17.04.2</a></td>
   <td align="right">960kB</td>
   <td><tt>14c2f38872a56b9dbeb9a60dc36e9eecb83ceb32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kross-interpreters-17.04.2.tar.xz">kross-interpreters-17.04.2</a></td>
   <td align="right">141kB</td>
   <td><tt>2606387bd969a489fd12cbf451727b9b098b63a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kruler-17.04.2.tar.xz">kruler-17.04.2</a></td>
   <td align="right">263kB</td>
   <td><tt>e37f85cde223fc4f4109d510b89ec1ae8059d9b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ksaneplugin-17.04.2.tar.xz">ksaneplugin-17.04.2</a></td>
   <td align="right">12kB</td>
   <td><tt>b4f085179c4511cfd1c946f5d4890998a1f80db7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kscd-17.04.2.tar.xz">kscd-17.04.2</a></td>
   <td align="right">90kB</td>
   <td><tt>376e8ed1a311348f4014f80546fa4754636cf3b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kshisen-17.04.2.tar.xz">kshisen-17.04.2</a></td>
   <td align="right">692kB</td>
   <td><tt>c34f21fc6ac1568cd30af4b1790149117f81d279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ksirk-17.04.2.tar.xz">ksirk-17.04.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>528ada5bcca480c0db724e08a4483bebfb33a952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ksnakeduel-17.04.2.tar.xz">ksnakeduel-17.04.2</a></td>
   <td align="right">291kB</td>
   <td><tt>51148f2b6bed08e22207403aadcc30ec1723a643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kspaceduel-17.04.2.tar.xz">kspaceduel-17.04.2</a></td>
   <td align="right">247kB</td>
   <td><tt>f384ee4ec1ac5b1a4db0426721eb45bdbed3a904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ksquares-17.04.2.tar.xz">ksquares-17.04.2</a></td>
   <td align="right">210kB</td>
   <td><tt>a0b36d3a2993712df5375922c3241d1356a7971f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kstars-17.04.2.tar.xz">kstars-17.04.2</a></td>
   <td align="right">61MB</td>
   <td><tt>1edd84933fd14a2ad86c62d48d6f15ae951faff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ksudoku-17.04.2.tar.xz">ksudoku-17.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>744cdde03e1a7004c094b26248a1608da3f68196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ksystemlog-17.04.2.tar.xz">ksystemlog-17.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5a017105fff7068d044fcb06a0d173e3d11862de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kteatime-17.04.2.tar.xz">kteatime-17.04.2</a></td>
   <td align="right">289kB</td>
   <td><tt>0a892cf1b599f8dbcc2e7f087c56b238e006d934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktimer-17.04.2.tar.xz">ktimer-17.04.2</a></td>
   <td align="right">440kB</td>
   <td><tt>824ca8568ac67864eaa898376398b515394aa7e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktnef-17.04.2.tar.xz">ktnef-17.04.2</a></td>
   <td align="right">292kB</td>
   <td><tt>14e9bb8e1abb443ffc633e51bb38592d9633d820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktouch-17.04.2.tar.xz">ktouch-17.04.2</a></td>
   <td align="right">4.8MB</td>
   <td><tt>2cb90b008ade775be3ae1a79a5876ef8184a5cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-accounts-kcm-17.04.2.tar.xz">ktp-accounts-kcm-17.04.2</a></td>
   <td align="right">256kB</td>
   <td><tt>279209b96a5f433d0c2bf92cc6d9df56ab7ad63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-approver-17.04.2.tar.xz">ktp-approver-17.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>64e9aa5e95751ca9629c28df4f30ab8f792d67c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-auth-handler-17.04.2.tar.xz">ktp-auth-handler-17.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>db3d2ff5353e7d0d6fe30c3f5a8eb4be34074448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-call-ui-17.04.2.tar.xz">ktp-call-ui-17.04.2</a></td>
   <td align="right">94kB</td>
   <td><tt>ab7a1d22ac37ff8da340ec34e1ddec4e1cda444f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-common-internals-17.04.2.tar.xz">ktp-common-internals-17.04.2</a></td>
   <td align="right">431kB</td>
   <td><tt>da45fde3593c2f2c55d88b91de9202d898d8e78c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-contact-list-17.04.2.tar.xz">ktp-contact-list-17.04.2</a></td>
   <td align="right">129kB</td>
   <td><tt>2eb3c6548fc77b746d6b83db5c7f37078ddf0cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-contact-runner-17.04.2.tar.xz">ktp-contact-runner-17.04.2</a></td>
   <td align="right">39kB</td>
   <td><tt>0c88826b03dc79d143226ce50b71c418b587025d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-desktop-applets-17.04.2.tar.xz">ktp-desktop-applets-17.04.2</a></td>
   <td align="right">40kB</td>
   <td><tt>00ec8cd1b6ad70234b484f29731d8d21e7749652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-filetransfer-handler-17.04.2.tar.xz">ktp-filetransfer-handler-17.04.2</a></td>
   <td align="right">44kB</td>
   <td><tt>fc913f054c6013d1ccaf417cf3db2317e6b42040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-kded-module-17.04.2.tar.xz">ktp-kded-module-17.04.2</a></td>
   <td align="right">79kB</td>
   <td><tt>ff5df0a4d129dbf61cf96a8e1e02f513ffa2851c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-send-file-17.04.2.tar.xz">ktp-send-file-17.04.2</a></td>
   <td align="right">28kB</td>
   <td><tt>68b87700a492ceb2081ebab70e10abf2a9873c15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktp-text-ui-17.04.2.tar.xz">ktp-text-ui-17.04.2</a></td>
   <td align="right">455kB</td>
   <td><tt>1c8dff2f9be905625195c896f0e2ab8323e3efcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/ktuberling-17.04.2.tar.xz">ktuberling-17.04.2</a></td>
   <td align="right">31MB</td>
   <td><tt>ab3f6d6b2c9436f2842678d2c5715e98ee5c7feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kturtle-17.04.2.tar.xz">kturtle-17.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9e282e6f30d57e334a7f057e33ff80612923a44d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kubrick-17.04.2.tar.xz">kubrick-17.04.2</a></td>
   <td align="right">104kB</td>
   <td><tt>c6e5d93456147bbd389f4d198ada3a1ac94c45e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kwalletmanager-17.04.2.tar.xz">kwalletmanager-17.04.2</a></td>
   <td align="right">728kB</td>
   <td><tt>c77a6527f28649c70d56f7f8a77dcb6f1e54a7c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kwave-17.04.2.tar.xz">kwave-17.04.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>a35725e9bad4f6dddb05c29382b8dd7d8fcff925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kwordquiz-17.04.2.tar.xz">kwordquiz-17.04.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>f5c4a94e434183e50fafb360cc3e3c134b2cb82b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libgravatar-17.04.2.tar.xz">libgravatar-17.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>04cdae417d89d6723b5d883d392758e12addc17a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkcddb-17.04.2.tar.xz">libkcddb-17.04.2</a></td>
   <td align="right">414kB</td>
   <td><tt>c4c6b5b6ba604c5baeb77c598594e71185d3478a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkcompactdisc-17.04.2.tar.xz">libkcompactdisc-17.04.2</a></td>
   <td align="right">86kB</td>
   <td><tt>a9ba429a52534187d39add0e32b88ad6edf66233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkdcraw-17.04.2.tar.xz">libkdcraw-17.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>048361d68cdc78d6a46ad7cd3b25bc8c6263b7c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkdegames-17.04.2.tar.xz">libkdegames-17.04.2</a></td>
   <td align="right">5.6MB</td>
   <td><tt>9c4ecf28cd051e8627047063d56137044244c01f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkdepim-17.04.2.tar.xz">libkdepim-17.04.2</a></td>
   <td align="right">332kB</td>
   <td><tt>5968ef68a7f15d3226faadd8379471db519ebb85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkeduvocdocument-17.04.2.tar.xz">libkeduvocdocument-17.04.2</a></td>
   <td align="right">207kB</td>
   <td><tt>4a10e900223a2ec76be061cd102c7dd55528ef80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkexiv2-17.04.2.tar.xz">libkexiv2-17.04.2</a></td>
   <td align="right">63kB</td>
   <td><tt>02033553021447b1ba445595e5198ac79a804337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkface-17.04.2.tar.xz">libkface-17.04.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>a86b7684c08872b03619c0c470ac9cf0f9b66ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkgapi-17.04.2.tar.xz">libkgapi-17.04.2</a></td>
   <td align="right">171kB</td>
   <td><tt>f6d1eafd56fef530ce1448f87043119782d6b3d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkgeomap-17.04.2.tar.xz">libkgeomap-17.04.2</a></td>
   <td align="right">146kB</td>
   <td><tt>6f326e2fc98bbf91487c9d8fd456aab8e01e93ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkipi-17.04.2.tar.xz">libkipi-17.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>583ea32d55bef47ff2f013c943dd3c4833ecc1f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkleo-17.04.2.tar.xz">libkleo-17.04.2</a></td>
   <td align="right">283kB</td>
   <td><tt>c541db50a5f697cf7f18fdb9ed0a47da6cfed616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkmahjongg-17.04.2.tar.xz">libkmahjongg-17.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e33c505bfd40f41b2c44de7ce8d5b2857b2708df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libkomparediff2-17.04.2.tar.xz">libkomparediff2-17.04.2</a></td>
   <td align="right">175kB</td>
   <td><tt>32747271f74bc6c757962052e88e97e652317977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libksane-17.04.2.tar.xz">libksane-17.04.2</a></td>
   <td align="right">134kB</td>
   <td><tt>aa69e5bd7e82df70cec1c96664a7b8b03d342947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/libksieve-17.04.2.tar.xz">libksieve-17.04.2</a></td>
   <td align="right">511kB</td>
   <td><tt>7125ca8746cdb7a9dcb9c4e8c9df0226bb720bca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/lokalize-17.04.2.tar.xz">lokalize-17.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4b3009e056b2b51fbf1d11ed99a1e5120347dfb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/lskat-17.04.2.tar.xz">lskat-17.04.2</a></td>
   <td align="right">905kB</td>
   <td><tt>a37459df27764a6c351ea897f893470c49476d9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/mailcommon-17.04.2.tar.xz">mailcommon-17.04.2</a></td>
   <td align="right">643kB</td>
   <td><tt>e6cf750a391fca5736d77c9393be7ea5c38b51f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/mailimporter-17.04.2.tar.xz">mailimporter-17.04.2</a></td>
   <td align="right">524kB</td>
   <td><tt>041354c53b946884e92794dd33e15aa3f508cf17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/marble-17.04.2.tar.xz">marble-17.04.2</a></td>
   <td align="right">49MB</td>
   <td><tt>d2fbccdbeb6e095719f408832640f37da589a19a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/mbox-importer-17.04.2.tar.xz">mbox-importer-17.04.2</a></td>
   <td align="right">32kB</td>
   <td><tt>f264659a58c6b644dc1b49784ff37e47d68a86f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/messagelib-17.04.2.tar.xz">messagelib-17.04.2</a></td>
   <td align="right">10MB</td>
   <td><tt>0a5094eaa505d2d633c8633e6624a840f3704490</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/minuet-17.04.2.tar.xz">minuet-17.04.2</a></td>
   <td align="right">26MB</td>
   <td><tt>42057b88419f6fe37db025157169efdfc514eb39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/okteta-17.04.2.tar.xz">okteta-17.04.2</a></td>
   <td align="right">936kB</td>
   <td><tt>62104d36c39d88dc5d142f88f124a422f693eaff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/okular-17.04.2.tar.xz">okular-17.04.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>78e713f36d7459a334bf02d4f82c6bf91d7da713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/palapeli-17.04.2.tar.xz">palapeli-17.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>51de16fe85e6db5da9b4b2930c4b56a49face80a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/parley-17.04.2.tar.xz">parley-17.04.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>d8349bb1f36e8f18e2f7964a069a61f8f58c904d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/picmi-17.04.2.tar.xz">picmi-17.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3af4393b8e1d22e005f908f3c92ac19bfebbc525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/pimcommon-17.04.2.tar.xz">pimcommon-17.04.2</a></td>
   <td align="right">265kB</td>
   <td><tt>2cd67250913af091ec7779a15ae57514a8b06e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/pim-data-exporter-17.04.2.tar.xz">pim-data-exporter-17.04.2</a></td>
   <td align="right">259kB</td>
   <td><tt>3998ff5c96312bfa9b9b238dfb75901f9cc2efe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/pim-sieve-editor-17.04.2.tar.xz">pim-sieve-editor-17.04.2</a></td>
   <td align="right">428kB</td>
   <td><tt>979b4a4147514320827171e45f0e39554f637d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/poxml-17.04.2.tar.xz">poxml-17.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>c1b58a8f86e37445596297229aab45b24ea5b2fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/print-manager-17.04.2.tar.xz">print-manager-17.04.2</a></td>
   <td align="right">230kB</td>
   <td><tt>d267f81f38a33edb6af6c348cdb6db4dfacbee0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/rocs-17.04.2.tar.xz">rocs-17.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>eb1430bbf35a240711502d6d682cf5d46bb2e3b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/signon-kwallet-extension-17.04.2.tar.xz">signon-kwallet-extension-17.04.2</a></td>
   <td align="right">10kB</td>
   <td><tt>7c1fc2b6f6e37d98bb5d4f27accb100a76bb591a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/spectacle-17.04.2.tar.xz">spectacle-17.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>222346dd9dbb58c6445dd45b5de5ee0034c2f843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/step-17.04.2.tar.xz">step-17.04.2</a></td>
   <td align="right">841kB</td>
   <td><tt>7fb2acb7c9175f4b9e8679926dd656b9bc723d6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/svgpart-17.04.2.tar.xz">svgpart-17.04.2</a></td>
   <td align="right">18kB</td>
   <td><tt>3bede092efcdad263dad15258aff77a944fe597f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/sweeper-17.04.2.tar.xz">sweeper-17.04.2</a></td>
   <td align="right">80kB</td>
   <td><tt>f3afc3cca6e032825bba80ac1b9fb3dca0e32a19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/syndication-17.04.2.tar.xz">syndication-17.04.2</a></td>
   <td align="right">155kB</td>
   <td><tt>fce7f3e962331f961655e534168f611a4e152927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/umbrello-17.04.2.tar.xz">umbrello-17.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f7ee5dcd020b3bcd284068b833a6ad2bd7f45e8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/zeroconf-ioslave-17.04.2.tar.xz">zeroconf-ioslave-17.04.2</a></td>
   <td align="right">25kB</td>
   <td><tt>ffd5ae09f4bf8d396ff27acbd3829fb7d06dc509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ar-17.04.2.tar.xz">kde-l10n-ar-17.04.2</a></td>
   <td align="right">630kB</td>
   <td><tt>c3ae1ee14b9078c2a3eba212d04097df8acce94f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ast-17.04.2.tar.xz">kde-l10n-ast-17.04.2</a></td>
   <td align="right">461kB</td>
   <td><tt>3f23ca8dbdb9f0b85a168f461e9225467d6075a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-bg-17.04.2.tar.xz">kde-l10n-bg-17.04.2</a></td>
   <td align="right">557kB</td>
   <td><tt>6534d994a7c2281c61567485bc90888e6c996bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-bs-17.04.2.tar.xz">kde-l10n-bs-17.04.2</a></td>
   <td align="right">678kB</td>
   <td><tt>5367a3e1943c158fbfa90daf66c793607dd7cd4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ca-17.04.2.tar.xz">kde-l10n-ca-17.04.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>eaa3e8af3a1d297efbfada33cd936be1adb74e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ca@valencia-17.04.2.tar.xz">kde-l10n-ca@valencia-17.04.2</a></td>
   <td align="right">656kB</td>
   <td><tt>44118b3a0680bbe422b7d26503c71aee5a77f763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-cs-17.04.2.tar.xz">kde-l10n-cs-17.04.2</a></td>
   <td align="right">626kB</td>
   <td><tt>44f51515ba5538e17c6c09bf044fdf199ff1d7d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-da-17.04.2.tar.xz">kde-l10n-da-17.04.2</a></td>
   <td align="right">1010kB</td>
   <td><tt>c32041cff7d62d1233f29ec4b695ea0cb0f12e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-de-17.04.2.tar.xz">kde-l10n-de-17.04.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>cee640a9dd72fcc797618cfee1dfaeaca9e93f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-el-17.04.2.tar.xz">kde-l10n-el-17.04.2</a></td>
   <td align="right">841kB</td>
   <td><tt>77cd924363524dcaae423a7eb94b40c796922692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-en_GB-17.04.2.tar.xz">kde-l10n-en_GB-17.04.2</a></td>
   <td align="right">584kB</td>
   <td><tt>72c60f8d1aa05c90802eb349564f2ce98b7b2038</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-eo-17.04.2.tar.xz">kde-l10n-eo-17.04.2</a></td>
   <td align="right">568kB</td>
   <td><tt>c30d285827ac70b1a8b3b6032788e3cfa519428e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-es-17.04.2.tar.xz">kde-l10n-es-17.04.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>ecb69576848e1b172b0788ad2ead527c41fe7126</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-et-17.04.2.tar.xz">kde-l10n-et-17.04.2</a></td>
   <td align="right">995kB</td>
   <td><tt>058136144f7f73a8218fefef7dcf3f9469cd9f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-eu-17.04.2.tar.xz">kde-l10n-eu-17.04.2</a></td>
   <td align="right">650kB</td>
   <td><tt>0c6072fe425e18cfc70394c4533912f1f516e438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-fa-17.04.2.tar.xz">kde-l10n-fa-17.04.2</a></td>
   <td align="right">588kB</td>
   <td><tt>b554ddb6f732cc2eb536ec2c0a4129589cae1851</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-fi-17.04.2.tar.xz">kde-l10n-fi-17.04.2</a></td>
   <td align="right">713kB</td>
   <td><tt>ffcdc0cf1f500031484707f4b6cd5712a6568852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-fr-17.04.2.tar.xz">kde-l10n-fr-17.04.2</a></td>
   <td align="right">6.2MB</td>
   <td><tt>1c402d4b710db4f5d14aae4bff1bda7d289bc78c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ga-17.04.2.tar.xz">kde-l10n-ga-17.04.2</a></td>
   <td align="right">617kB</td>
   <td><tt>198cb4bbe19aa0cf544512c012605a695e14e0b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-gl-17.04.2.tar.xz">kde-l10n-gl-17.04.2</a></td>
   <td align="right">809kB</td>
   <td><tt>19ffbbd5c792c855331c4a4502d8024083649ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-he-17.04.2.tar.xz">kde-l10n-he-17.04.2</a></td>
   <td align="right">493kB</td>
   <td><tt>8b4e5d7a2a46954607b218056f26b27ff27a0941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-hi-17.04.2.tar.xz">kde-l10n-hi-17.04.2</a></td>
   <td align="right">542kB</td>
   <td><tt>69a3ba1559d76124bcff4a382cbe12249f0eecf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-hr-17.04.2.tar.xz">kde-l10n-hr-17.04.2</a></td>
   <td align="right">550kB</td>
   <td><tt>c92d540347863f64ad37be0d895194018bf3c3bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-hu-17.04.2.tar.xz">kde-l10n-hu-17.04.2</a></td>
   <td align="right">706kB</td>
   <td><tt>472cf03923a01a54a57073121441a76a7f570b73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ia-17.04.2.tar.xz">kde-l10n-ia-17.04.2</a></td>
   <td align="right">469kB</td>
   <td><tt>ebfa570988f999b779be8da5cefcee12b19516fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-id-17.04.2.tar.xz">kde-l10n-id-17.04.2</a></td>
   <td align="right">184kB</td>
   <td><tt>dc22ff9d4d73f09b338205a2ea013ce1dded8d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-is-17.04.2.tar.xz">kde-l10n-is-17.04.2</a></td>
   <td align="right">534kB</td>
   <td><tt>3d6c686eb3e4ed65cae35f6092f0f1ed0a6b6fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-it-17.04.2.tar.xz">kde-l10n-it-17.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e08f173c440a7bfe1c7889a8b7fc23b5b1928c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ja-17.04.2.tar.xz">kde-l10n-ja-17.04.2</a></td>
   <td align="right">605kB</td>
   <td><tt>7a286acaa721d7e8d5bac50409d7391f51ee69e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-kk-17.04.2.tar.xz">kde-l10n-kk-17.04.2</a></td>
   <td align="right">700kB</td>
   <td><tt>0e44ae43138ad1151b3c50736b8fa6f606b59549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-km-17.04.2.tar.xz">kde-l10n-km-17.04.2</a></td>
   <td align="right">641kB</td>
   <td><tt>573165c8eb50a2886b263399d5e27635a58c698a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ko-17.04.2.tar.xz">kde-l10n-ko-17.04.2</a></td>
   <td align="right">533kB</td>
   <td><tt>fee633dba90b4d36579531feb4ab2edb2b9bab3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-lt-17.04.2.tar.xz">kde-l10n-lt-17.04.2</a></td>
   <td align="right">600kB</td>
   <td><tt>2fa336d841664ac07a2ffe3d8b8be2acf3db6512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-lv-17.04.2.tar.xz">kde-l10n-lv-17.04.2</a></td>
   <td align="right">625kB</td>
   <td><tt>f4f07ae7dcb9529c5adb2b72990df7479b4197ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-mr-17.04.2.tar.xz">kde-l10n-mr-17.04.2</a></td>
   <td align="right">512kB</td>
   <td><tt>9e0484622ec011a4515cf524638e4974af29101c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-nb-17.04.2.tar.xz">kde-l10n-nb-17.04.2</a></td>
   <td align="right">672kB</td>
   <td><tt>9488bc7b255204bf92cef40b851efaeb13da77b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-nds-17.04.2.tar.xz">kde-l10n-nds-17.04.2</a></td>
   <td align="right">733kB</td>
   <td><tt>3a4c464c4cdff7db11a6637dcfd629560959fc26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-nl-17.04.2.tar.xz">kde-l10n-nl-17.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f1bcf0ebdb80407b76945c9fc9b57516bceeb59b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-nn-17.04.2.tar.xz">kde-l10n-nn-17.04.2</a></td>
   <td align="right">619kB</td>
   <td><tt>08959eba9b00f793b5d64d08029f6d38ed95184f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-pa-17.04.2.tar.xz">kde-l10n-pa-17.04.2</a></td>
   <td align="right">505kB</td>
   <td><tt>03a7270ce2d1881fe8bc528f32221a8a978ba260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-pl-17.04.2.tar.xz">kde-l10n-pl-17.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>642142b679dc34a586d20eff0ffcdfaaadd2fe7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-pt-17.04.2.tar.xz">kde-l10n-pt-17.04.2</a></td>
   <td align="right">1016kB</td>
   <td><tt>a53d569ab2e03b36e4084cf460dc9a7c2f8789c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-pt_BR-17.04.2.tar.xz">kde-l10n-pt_BR-17.04.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>edb294f1a3ef278323c0b4effaa9cefb53aaf53d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ro-17.04.2.tar.xz">kde-l10n-ro-17.04.2</a></td>
   <td align="right">696kB</td>
   <td><tt>86dc96652c1fccca7d9243eb1e879079dcd0a777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ru-17.04.2.tar.xz">kde-l10n-ru-17.04.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>50269f80c6b8b474e1c3872cbc47fd9af61de24a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-sk-17.04.2.tar.xz">kde-l10n-sk-17.04.2</a></td>
   <td align="right">661kB</td>
   <td><tt>10105451002f39f03342be3cecf4246637d29a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-sl-17.04.2.tar.xz">kde-l10n-sl-17.04.2</a></td>
   <td align="right">710kB</td>
   <td><tt>cbcda61fa28ee077bb38fe3cd045ac0b83abdeee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-sr-17.04.2.tar.xz">kde-l10n-sr-17.04.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>9bd7ac29b58f3382b7f33b009cd3e76db3d3b32e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-sv-17.04.2.tar.xz">kde-l10n-sv-17.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3f6c1e3f1a413923bc199cdee79c982b564c5277</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-tr-17.04.2.tar.xz">kde-l10n-tr-17.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5fcc02df53c5ab47a7be1af81d7acd31005e8bee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-ug-17.04.2.tar.xz">kde-l10n-ug-17.04.2</a></td>
   <td align="right">529kB</td>
   <td><tt>3212e7a3c5b0a933a62b29569a609d7bb5f6914e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-uk-17.04.2.tar.xz">kde-l10n-uk-17.04.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>d8554bd8a1315188f3d6480ddb5ab952e51a2f3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-wa-17.04.2.tar.xz">kde-l10n-wa-17.04.2</a></td>
   <td align="right">403kB</td>
   <td><tt>e924082c8d7437ca4fcdca046f18352155550ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-zh_CN-17.04.2.tar.xz">kde-l10n-zh_CN-17.04.2</a></td>
   <td align="right">652kB</td>
   <td><tt>23edaad9148ea908abb19a052c970cb3dc562813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.04.2/src/kde-l10n/kde-l10n-zh_TW-17.04.2.tar.xz">kde-l10n-zh_TW-17.04.2</a></td>
   <td align="right">714kB</td>
   <td><tt>6863fb604cc8fb638c46ab799e54ae1060370c50</tt></td>
</tr>

</table>
