{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2021-2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/frameworks.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<header class="release-framework-heading pt-5 mb-5">
  <div class="container text-center">
    <span class="kde-logo-big">K</span>
    <h2 class="mt-0"><a href="/announcements/">{{ i18n "release-announcements" }}</a></h2>
    <h1>{{ partial "fn/i18n_args" (slice "kde-framework" .File.TranslationBaseName) }}</h1>
  </div>
</header>
<main class="releaseAnnouncment container">
  {{ partial "rss_content.html" . }}

  {{ partial "announcements/frameworks_footer.html" . }}
</main>
{{ end }}
